extends ../../../../templates/admin
block prepend main
	#wrap
	div(style='clear:both')
	.content
		.container-fluid
			.row
				.col-lg-12.col-md-12
						.card
								.card-header.card-header-primary
										h4.card-title Document Requests
										
								.card-body.table-responsive
										table.table.table-hover
												thead.text-primary
														th ReqID
														th Document Name
														th Document type
														th Date Requested
														th Status
														th.text-center(style=" width:120px") Actions
												tbody
														each request in requests
															tr
																td=request.int_requestID
																td=request.var_doclastname + ", " + request.var_docfirstname
																td=request.var_documenttype
																td=request.date_docurequested
																td=request.char_docustatus
																td.td-actions.text-center
																	button.btn.btn-info.viewButton(type='button',rel='tooltip',value=`${request.int_requestID}`)
																		i.ti-user
		#append.container
			| Hi
	#viewModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
			.modal-dialog.modal-lg(role="document")
				.modal-content
					.modal-header
						h5.modal-title Modal Title
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') ×
						//- h4.modal-title Warning
					.modal-body#documentAppend
					.modal-footer
						button.btn.btn-outline.pull-left#cancelButton(type='button', data-dismiss='modal') Cancel
						button.btn.btn-outline.pull-right#generateButton Generate
block addjs
	script.
		$(document).ready(function(){
			$('.viewButton').click(function(){
				var idNow = $(this).val();
				console.log(idNow)
				$.post('/admin/transaction-documentrequest/query',{id:idNow})
					.done(data =>{
					var date_requested = moment(data.date_requested, 'YYYY-MM-DD').format('YYYY-MM-DD');
					$('#documentAppend').append(`
					<div class="form-group">
						<label class="label-control">Name of tenant</label>
						<p>${data.var_docfirstname} ${data.var_docfirstname}</p>
					</div>
					<div class="form-group">
						<label class="label-control">Date</label>
						<p>${data.date_docurequested}</p>
					</div>
					<div class="form-group">
						<label class="label-control">Document</label>
						<img id=imageid src=${data.var_doctemplatepath}>
					</div>
					`)
					$('#viewModal').modal('show');	
					$('#cancelButton').css('display', 'block');
					$('#generateButton').css('display', 'block');
					$('#generateButton').click(function(){
						function toDataURL(url, callback) {
							var xhr = new XMLHttpRequest();
							xhr.onload = function() {
								var reader = new FileReader();
								reader.onloadend = function() {
								callback(reader.result);
								}
								reader.readAsDataURL(xhr.response);
							};
							xhr.open('GET', url);
							xhr.responseType = 'blob';
							xhr.send();
						}
						toDataURL(data.var_doctemplatepath, function(dataUrl) {
							var docDefinition = { 
								content: [
									{
										image: dataUrl,
										width: 500,
										height: 500,
									}
								]
							}
							pdfMake.createPdf(docDefinition).open();
						})
					})
				})
			})
		})
		
