extends ../../../templates/secretariat
block prepend main
	#wrap
	div(style='clear:both')

	#mainContent
			.content
				.container-fluid
					.row
						.col-lg-12.col-md-12
							// Tab panes
							.tab-content
								#nonwedding.tab-pane.active.mx-3
								
									// Tab panes
									.tab-content
										
										#regularbaptism.tab-pane.active
											.card.shadow
												.card-header.card-header-primary(style='background:#367587; color:white')
													.row
														.col-md-6
															h4.card-title(style='background:#367587; color:white') Receipts
														
												.card-body.table-responsive
													table.table.dataTable.table-hover
														thead.text-primary
															//- th ID
															th OR ID
															th Payment ID
															th Payment Received on
															th Payer
															th Payment Amount
															//- th.text-right(style=" width:120px") Actions
														tbody#filesappend
															each or in ors
																tr
																	td=or.int_ORnumber
																	td=or.int_paymentID
																	td=or.date_paymentdate
																	td=or.var_paidby
																	td=or.dbl_paymentamount
block addjs
	
	script(type='text/javascript').

	