extends ../../../../templates/admin
block prepend main
	#wrap
	div(style='clear:both')
	.content
		.container-fluid
			.row
				.col-lg-12.col-md-12
					.form-control
						select#selectedtype.form-control(onchange='changescheduledisplayed();')
							option(selected='', value='Monthly') Monthly
							option(value='Weekly') Weekly
							option(value='Daily') Daily
			.row
			.row
				.col-lg-12.col-md-12
						.card.shadow
								.card-header.card-header-primary(style='background:#367587; color:white')
									.row
										.col-md-6
											h3.card-title(style='background:#367587; color:white') Services

								.card-body.table-responsive
										table.table.table-hover.dt-responsive.example(style="width:100%;")
												thead.text-primary
														th Service Name
														th Total of new applications
														th Total of applications
														th Total of collection
														
												tbody#tablebody
													tr
														td Anointing of the sick
														td=anointingcount.anointingcount
														td=anointingappcount.anointingappcount
														-if(anointingcollection !=null)
															td=anointingcollection.anointingcollection
														-else
															td 0
														//- td=anointingcollection
													tr
														td Baptism
														td=baptismcount.baptismcount
														td=baptismappcount.baptismappcount
														-if(baptismcollection.baptismcollection !=null)
															td=baptismcollection.baptismcollection
														-else
															td 0
													tr
														td Special Baptism
														td=specialbaptismcount.specialbaptismcount
														td=specialbaptismappcount.specialbaptismappcount
														-if(specialbaptismcollection.specialbaptismcollection !=null)
															td=specialbaptismcollection.specialbaptismcollection
														-else
															td 0
													tr
														td Funeral Mass
														td=funeralmasscount.funeralmasscount
														td=funeralmassappcount.funeralmassappcount
														-if(funeralmasscollection.funeralmasscollection !=null)
															td=funeralmasscollection.funeralmasscollection
														-else
															td 0
													tr
														td Funeral Service
														td=funeralservicecount.funeralservicecount
														td=funeralserviceappcount.funeralserviceappcount
														-if(funeralservicecollection !=null)
															td=funeralservicecollection.funeralservicecollection
														-else
															td 0
														//- td=funeralservicecollection
													tr
														td House Blessing
														td=houseblessingcount.houseblessingcount
														td=houseblessingappcount.houseblessingappcount
														-if(houseblessingcollection !=null)
															td=houseblessingcollection.houseblessingcollection
														-else
															td 0
														//- td=houseblessingcollection
													tr
														td Marriage
														td=marriagecount.marriagecount
														td=marriageappcount.marriageappcount
														-if(marriagecollection.marriagecollection !=null)
															td=marriagecollection.marriagecollection
														-else
															td 0
			.row
				.col-lg-12.col-md-12
						.card.shadow
								.card-header.card-header-primary(style='background:#367587; color:white')
									.row
										.col-md-6
											h3.card-title(style='background:#367587; color:white') Special  Services

								.card-body.table-responsive
										table.table.table-hover.dt-responsive.example(style="width:100%;")
												thead.text-primary
														th Service Name
														th Total of new requests
														th Total of document released
														th Total of collection
														
												tbody#tabledocureq


													tr
														td Document Request
														td=docureqcount.docureqcount
														-if(docureqreqcount.docureqreqcount !=null)
															td=docureqreqcount.docureqreqcount
														-else
															td 0
														
														-if(docureqcollection.docureqcollection !=null)
															td=docureqcollection.docureqcollection
														-else
															td 0
														
												

																
	
block addjs
	script.
		function changescheduledisplayed(){
		    var type = $('#selectedtype').val()
		   
		    console.log(type)

			if(type=='Monthly'){
				console.log('==Monthly==')

				$('#tablebody').empty()
				$.post('/admin/reports-allreports').done(data=>{
					console.log(data)

						if(data.marriagecollection.marriagecollection==null){
							var marriagecollection=0
						}
						else{
							var marriagecollection = data.marriagecollection.marriagecollection
						}
						if(data.baptismcollection.baptismcollection==null){
							var baptismcollection=0
						}
						else{
							var baptismcollection = data.baptismcollection.baptismcollection
						}
						if(data.specialbaptismcollection.specialbaptismcollection==null){
							var specialbaptismcollection=0
						}
						else{
							var specialbaptismcollection = data.specialbaptismcollection.specialbaptismcollection
						}
						if(data.funeralmasscollection.funeralmasscollection==null){
							var funeralmasscollection=0
						}
						else{
							var funeralmasscollection = data.funeralmasscollection.funeralmasscollection
						}

						if(data.docureqreqcount.docureqreqcount==null){
							var docureqreqcount=0
						}
						else{
							var docureqreqcount = data.docureqreqcount.docureqreqcount
						}
						if(data.docureqcollection.docureqcollection==null){
							var docureqcollection=0
						}
						else{
							var docureqcollection = data.docureqcollection.docureqcollection
						}
				$('#tabledocureq').empty()
				$('#tabledocureq').append(`
					<tr>
						<td>Document Request</td>
						<td>${data.docureqcount.docureqcount}</td>
						<td>${docureqreqcount}</td>
						<td>${docureqcollection}</td>
					</tr>
				`)
				
					

				$('#tablebody').append(`
					<tr>
						<td>Anointing of the sick</td>
						<td>${data.anointingcount.anointingcount}</td>
						<td>${data.anointingappcount.anointingappcount}</td>
						<td>0</td>
					</tr>
					<tr>
						<td>Baptism</td>
						<td>${data.baptismcount.baptismcount}</td>
						<td>${data.baptismappcount.baptismappcount}</td>
						<td>${baptismcollection}</td>
					</tr>
					<tr>
						<td>Special Baptism</td>
						<td>${data.specialbaptismcount.specialbaptismcount}</td>
						<td>${data.specialbaptismappcount.specialbaptismappcount}</td>
						<td>${specialbaptismcollection}</td>
					</tr>
					<tr>
						<td>Funeral Mass</td>
						<td>${data.funeralmasscount.funeralmasscount}</td>
						<td>${data.funeralmassappcount.funeralmassappcount}</td>
						<td>${funeralmasscollection}</td>
					</tr>
					<tr>
						<td>Funeral Service</td>
						<td>${data.funeralservicecount.funeralservicecount}</td>
						<td>${data.funeralserviceappcount.funeralserviceappcount}</td>
						<td>0</td>
					</tr>
					<tr>
						<td>House Blessing</td>
						<td>${data.houseblessingcount.houseblessingcount}</td>
						<td>${data.houseblessingappcount.houseblessingappcount}</td>
						<td>0</td>
					</tr>
					<tr>
						<td>Marriage</td>
						<td>${data.marriagecount.marriagecount}</td>
						<td>${data.marriageappcount.marriageappcount}</td>
						<td>${marriagecollection}</td>
					</tr>
				`)	

			

			})
			}
			if(type=='Weekly'){
				$('#tablebody').empty()
				console.log('==Weekly==')
				$.post('/admin/reports-weekreports').done(data=>{
					console.log(data)

					if(data.marriagecollection.marriagecollection==null){
						var marriagecollection=0
					}
					else{
						var marriagecollection = data.marriagecollection.marriagecollection
					}
					if(data.baptismcollection.baptismcollection==null){
						var baptismcollection=0
					}
					else{
						var baptismcollection = data.baptismcollection.baptismcollection
					}
					if(data.specialbaptismcollection.specialbaptismcollection==null){
						var specialbaptismcollection=0
					}
					else{
						var specialbaptismcollection = data.specialbaptismcollection.specialbaptismcollection
					}
					if(data.funeralmasscollection.funeralmasscollection==null){
						var funeralmasscollection=0
					}
					else{
						var funeralmasscollection = data.funeralmasscollection.funeralmasscollection
					}
					

						if(data.docureqreqcount.docureqreqcount==null){
							var docureqreqcount=0
						}
						else{
							var docureqreqcount = data.docureqreqcount.docureqreqcount
						}
						if(data.docureqcollection.docureqcollection==null){
							var docureqcollection=0
						}
						else{
							var docureqcollection = data.docureqcollection.docureqcollection
						}
				$('#tabledocureq').empty()
				$('#tabledocureq').append(`
					<tr>
						<td>Document Request</td>
						<td>${data.docureqcount.docureqcount}</td>
						<td>${docureqreqcount}</td>
						<td>${docureqcollection}</td>
					</tr>
				`)
					

				$('#tablebody').append(`
				<tr>
					<td>Anointing of the sick</td>
					<td>${data.anointingcount.anointingcount}</td>
					<td>${data.anointingappcount.anointingappcount}</td>
					<td>0</td>
				</tr>
				<tr>
					<td>Baptism</td>
					<td>${data.baptismcount.baptismcount}</td>
					<td>${data.baptismappcount.baptismappcount}</td>
					<td>${baptismcollection}</td>
				</tr>
				<tr>
					<td>Special Baptism</td>
					<td>${data.specialbaptismcount.specialbaptismcount}</td>
					<td>${data.specialbaptismappcount.specialbaptismappcount}</td>
					<td>${specialbaptismcollection}</td>
				</tr>
				<tr>
					<td>Funeral Mass</td>
					<td>${data.funeralmasscount.funeralmasscount}</td>
					<td>${data.funeralmassappcount.funeralmassappcount}</td>
					<td>${funeralmasscollection}</td>
				</tr>
				<tr>
					<td>Funeral Service</td>
					<td>${data.funeralservicecount.funeralservicecount}</td>
					<td>${data.funeralserviceappcount.funeralserviceappcount}</td>
					<td>0</td>
				</tr>
				<tr>
					<td>House Blessing</td>
					<td>${data.houseblessingcount.houseblessingcount}</td>
					<td>${data.houseblessingappcount.houseblessingappcount}</td>
					<td>0</td>
				</tr>
				<tr>
					<td>Marriage</td>
					<td>${data.marriagecount.marriagecount}</td>
					<td>${data.marriageappcount.marriageappcount}</td>
					<td>${marriagecollection}</td>
				</tr>
				`)		
			})
			}
			if(type=='Daily'){
				$('#tablebody').empty()
				console.log('==Daily==')
				$.post('/admin/reports-dayreports').done(data=>{
					console.log(data)

					if(data.marriagecollection.marriagecollection==null){
						var marriagecollection=0
					}
					else{
						var marriagecollection = data.marriagecollection.marriagecollection
					}
					if(data.baptismcollection.baptismcollection==null){
						var baptismcollection=0
					}
					else{
						var baptismcollection = data.baptismcollection.baptismcollection
					}
					if(data.specialbaptismcollection.specialbaptismcollection==null){
						var specialbaptismcollection=0
					}
					else{
						var specialbaptismcollection = data.specialbaptismcollection.specialbaptismcollection
					}
					if(data.funeralmasscollection.funeralmasscollection==null){
						var funeralmasscollection=0
					}
					else{
						var funeralmasscollection = data.funeralmasscollection.funeralmasscollection
					}
					
						if(data.docureqreqcount.docureqreqcount==null){
							var docureqreqcount=0
						}
						else{
							var docureqreqcount = data.docureqreqcount.docureqreqcount
						}
						if(data.docureqcollection.docureqcollection==null){
							var docureqcollection=0
						}
						else{
							var docureqcollection = data.docureqcollection.docureqcollection
						}
				$('#tabledocureq').empty()
				$('#tabledocureq').append(`
					<tr>
						<td>Document Request</td>
						<td>${data.docureqcount.docureqcount}</td>
						<td>${docureqreqcount}</td>
						<td>${docureqcollection}</td>
					</tr>
				`)
					

				$('#tablebody').append(`
				<tr>
					<td>Anointing of the sick</td>
					<td>${data.anointingcount.anointingcount}</td>
					<td>${data.anointingappcount.anointingappcount}</td>
					<td>0</td>
				</tr>
				<tr>
					<td>Baptism</td>
					<td>${data.baptismcount.baptismcount}</td>
					<td>${data.baptismappcount.baptismappcount}</td>
					<td>${baptismcollection}</td>
				</tr>
				<tr>
					<td>Special Baptism</td>
					<td>${data.specialbaptismcount.specialbaptismcount}</td>
					<td>${data.specialbaptismappcount.specialbaptismappcount}</td>
					<td>${specialbaptismcollection}</td>
				</tr>
				<tr>
					<td>Funeral Mass</td>
					<td>${data.funeralmasscount.funeralmasscount}</td>
					<td>${data.funeralmassappcount.funeralmassappcount}</td>
					<td>${funeralmasscollection}</td>
				</tr>
				<tr>
					<td>Funeral Service</td>
					<td>${data.funeralservicecount.funeralservicecount}</td>
					<td>${data.funeralserviceappcount.funeralserviceappcount}</td>
					<td>0</td>
				</tr>
				<tr>
					<td>House Blessing</td>
					<td>${data.houseblessingcount.houseblessingcount}</td>
					<td>${data.houseblessingappcount.houseblessingappcount}</td>
					<td>0</td>
				</tr>
				<tr>
					<td>Marriage</td>
					<td>${data.marriagecount.marriagecount}</td>
					<td>${data.marriageappcount.marriageappcount}</td>
					<td>${marriagecollection}</td>
				</tr>
				`)	

				
			})
				//- $.post('/secretariat/selectedchedule',{type: type, priestID:priestID}).done(data=>{
				//- 	console.log(data.scheduleoutput)
				//- })
			}
				
		
		}
		
			$(document).ready(function() {
				// itong datatable ay hindi galing sa template as in inimport siya beshy kasi hindi lumalabas yung
				// mga export button kapag sa datatable na template
				$('.example').DataTable( {
						dom: 'Bfrtip',
						buttons: [
								'copy', 'csv', 'excel', 'pdf', 'print'
						],
						initComplete: function () {
						this.api().columns().every( function () {
								var column = this;
								var select = $('<select><option value=""></option></select>')
										.appendTo( $(column.footer()).empty() )
										.on( 'change', function () {
												var val = $.fn.dataTable.util.escapeRegex(
														$(this).val()
												);
 
												column
														.search( val ? '^'+val+'$' : '', true, false )
														.draw();
										} );
 
								column.data().unique().sort().each( function ( d, j ) {
										select.append( '<option value="'+d+'">'+d+'</option>' )
								} );
						} );
					}
				} );
			} );
		// ampanget kasi ng itsura ng pagination kaya dito tinanggal ko yung css niya kaya tatawagin lang to
		// pag gumamit ng datatable na hindi from template. Kapag niremove mo yung css diyan tapos cinall mo yung datatable
		// na nasa template, walang design yung pagination ng template kaya ampanget
block filter
	script(src='/admin/bundlesomecssremoved.js')