extends ../../../../templates/secretariat
block prepend main
	style.
			.fa {
				font-size: 25px !important;
			}
			.fa-check::before {
				color: #28a745 !important;
			}
			.fa-times::before {
				color: red !important;
			}
			small {
				font-size: 90% !important;
			}
	main.bgc-grey-100
		#mainContent
			.row.masonry.pos-r
				.masonry-sizer.col-md-12
				.masonry-item.col-md-12
					.bgc-white.p-20.bd
						h6.c-grey-900 Funeral Mass
						.mT-30
							form
								h5.label-control Contact Details
								.row
									.col-md-6
										.row
											.col-md-12
												.form-group
													label Last Name
														.text-danger.d-inline *
													input.form-control#templastname(type='text' placeholder="Ex. Dela Cruz" name='lastname' required)
											.col-md-12
												.form-group
													label First Name
														.text-danger.d-inline *
													input.form-control#tempfirstname(type='text' placeholder="Ex. Juan" name='firstname' required)
											.col-md-12
												.form-group
													label Address
														.text-danger.d-inline *
													input.form-control#tempaddress(type='text' placeholder="Ex. Dela Cruz" name='lastname' required)
											.col-md-12
												.form-group
													label Contact Number
														.text-danger.d-inline *
													input.form-control#tempcontactnumber(type='text' placeholder="Ex. Dela Cruz" name='lastname' required)
											.col-md-12
												.form-group
													label Email Address
														.text-danger.d-inline *
													input.form-control#tempemailaddress(type='text' placeholder="Ex. Juan" name='firstname' required)
									.col-md-6
										label Schedule Date
											.text-danger.d-inline  *
											#calendarFuneral
								hr
								h5.label-control Request Details
								.row
									.col-md-6
										.form-group
								.row
									.col-md-4
										.form-group
											label Name of the Ill
												.text-danger.d-inline  *
											input.form-control(id='lname' name='lname' type='text' placeholder='Last Name *')
									.col-md-4
										.form-group
											label(style='visibility:hidden;') First Name
											input.form-control(id='fname' name='fname' type='text' placeholder='First Name *')
									.col-md-4
										.form-group
											label(style='visibility:hidden;') Middle Name
											input.form-control(id='mname' name='mname' type='text' placeholder='Middle Name')
								.row
									
									.col-md-3.px-lg-3.px-md-3.px-sm-0
											.form-group.m-0.p-0
												h6.label-control Gender
													.text-danger.d-inline  *
												.custom-control.custom-radio
													input#gendermale.custom-control-input(type='radio', name='gender' value="Male"  checked)
													label.custom-control-label(for='gendermale') 
														label Male
												.custom-control.custom-radio
													input#genderfemale.custom-control-input(type='radio', name='gender' value="Female")
													label.custom-control-label(for='genderfemale') 
														label Female
									.col-md-3
										.form-group
											label Birthday
												.text-danger.d-inline  *
											input.form-control.start-date(id='bday' name='bday' type='text', data-provide='datepicker' placeholder='Enter Your Birthday')
									.col-md-6
										.form-group
											label Birthplace
											.text-danger.d-inline  *
											input.form-control(id='bplace' name='bplace' type='text' placeholder='Ex. Payatas, Quezon City')
								.row
									
									.col-md-12
										.form-group
											label Address
												.text-danger.d-inline  *
											input.form-control(id='address' name='address' type='textarea' placeholder='Ex. Urban, Bgy. Payatas B 1119 QC')
									
								.row
									.col-md-6
										.form-group
											label Place where the blessing will happen
												.text-danger.d-inline  *
											.form-check
												label.form-check-label
													input.form-check-input(id='place1' name='place' type='radio' value='Male' checked='') 
													| Same as his/her address
											.form-check
												label.form-check-label
													input.form-check-input(id='place2' name='place' type='radio' value='Male') 
													| Ina ng Lupang Pangako Parish
										
											.form-check
												label.form-check-label
													input.form-check-input(id='place3' name='place' type='radio' value='Male') 
													| Other
												input.form-control(id='othervenue' name='othervenue' type='text' placeholder="Please enter complete address")
									.col-md-6
										.form-group
											label Cause of Death
												.text-danger.d-inline  *
											input.form-control(id='details' name='cause' type='textarea' placeholder='Please enter cause of death')
								.row
									.col-md-6
										.form-group
											label File Details
												.text-danger.d-inline  *
											.form-check
												label.form-check-label
													input.form-check-input(id='nofile' name='file' type='radio' value='Male' checked='') 
													| No file submitted
											.form-check
												label.form-check-label
													input.form-check-input(id='withfile' name='file' type='radio' value='Male') 
													| File(s) submitted
									.col-md-6#withfiledrpdwn
										
										label File Location
										.row
											.col-md-6
												#cabinetdiv.form-group
												label
													| Cabinet
													select#cabinets.form-control(onchange='setcabinet(value);')
													
											.col-md-6
												.form-group
												label
													| Division
													select#divisions.form-control
								.row
									.col-md-3
										.form-group
											label Payment Details
											.form-group
												input.checkbox#paid(type="checkbox" disabled )
												| Paid
									.col-md-9#paymentdetails
										.form-group
											.row
												.col-md-2
													.form-group
														h6.label-control OR Number:
														input#ornumber.form-control(type='text', disabled='')
														.help-block.with-errors
												.col-md-3
													.form-group
														h6.label-control Date:
														input#paymentdate.form-control(type='text',disabled='')
														.help-block.with-errors
												.col-md-5
													.form-group
														h6.label-control Paid By:
														input#payer.form-control(type='text', placeholder='Name of the payer')
														.help-block.with-errors
												.col-md-2.px-lg-3.px-md-0.px-sm-0
													.form-group
														h6.label-control Amount:
														input#payment.form-control(type='number')
														.help-block.with-errors


									
								.text-center
									button.btn.btn-primary#submitApplication(type='button') Submit
							input#errChecker(type='text' hidden)
block addjs
	script.
		var dateNow2
		var eventDate ='';
		var timeStart ='';
		var timeEnd2 ='';
		var dateNow = new Date()
		var dateNow2;
		var gender;
		// Place where the blessing will happen logic
		$('#hospitalname').hide();
		$('#othervenue').hide();

		$('#place1').click(function() {
			if($(this).prop("checked") == true){
			$('#hospitalname').slideUp();
			$('#othervenue').slideUp();
			$("#paid").prop('disabled', true);
			}
		});
		$('#place2').click(function() {
			if($(this).prop("checked") == true){
			$('#hospitalname').slideDown();
			$('#othervenue').slideUp();
			$("#paid").prop('disabled', false);
			}
		});
		$('#place3').click(function() {
			if($(this).prop("checked") == true){
			$('#hospitalname').slideUp();
			$('#othervenue').slideDown();
			$("#paid").prop('disabled', true);
			}
		});
		
		$('#desiredtime').datetimepicker({
				format: 'LT',
				icons: {
					time: "fa fa-clock-o",
					date: "fa fa-calendar",
					up: "fa fa-chevron-up",
					down: "fa fa-chevron-down",
					previous: 'fa fa-chevron-left',
					next: 'fa fa-chevron-right',
					today: 'fa fa-screenshot',
					clear: 'fa fa-trash',
					close: 'fa fa-remove'
				}
		});

		//Realtime Validation
		function validateForm(){
			$('form').formValidation({
				framework: 'bootstrap',
				icon: {
					valid: 'fa fa-check',
					invalid: 'fa fa-times',
					validating: 'fa fa-spinner'
				},
				fields: {
					scheduledate: {
						validators: {
								notEmpty: {
										message: `Please Enter Your Desired Date`
								}
						}
					},
					lname: {
						validators: {
								notEmpty: {
										message: `Please Enter Your Last Name`
								}
						}
					},
					fname: {
						validators: {
								notEmpty: {
										message: `Please Enter Your First Name`
								}
						}
					},
					relationship: {
						validators: {
								notEmpty: {
										message: `Please Enter Your Relation With the Ill`
								}
						}
					},
					bday: {
						validators: {
								notEmpty: {
										message: `Please Enter Your Birthday`
								}
						}
					},
					bplace: {
						validators: {
								notEmpty: {
										message: `Please Enter Your Birthplace`
								}
						}
					},
					address: {
						validators: {
								notEmpty: {
										message: `Please Enter Your Address`
								}
						}
					},
					cause: {
						validators: {
								notEmpty: {
										message: `Please Enter Cause of Death`
								}
						}
					},
					birthcertificate: {
						validators: {
								notEmpty: {
										message: `Please Enter Your Birth Certificate`
								}
						}
					},
				},
			})
			.on('err.field.fv', function(e, data) {
				// Get the first invalid field
				var invalidFields = data.fv.getInvalidFields().length;
				$('#errChecker').val(invalidFields)
			})
			.on('success.field.fv', function(e, data) {
				// Get the first invalid field
				var invalidFields = data.fv.getInvalidFields().length;
				$('#errChecker').val(invalidFields)
			});
		}

		$(document).ready(function() {
			validateForm()

			$('#submitApplication').click(function(){
				console.log('SUBMIT BUTTON CLICKED')
				swal({
				title:'Are you sure?', 
				text:'This record will be considered as an approved request, and will then be added to the schedule of the priest. We will wait for the confirmation of the priest.',
				type:'warning',
				showCancelButton: false,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Confirm'
				}).then((result)=>{
					if(result.value){
						if($('#withfile').prop("checked")){
							var boolfile=1
						}
						if($('#nofile').prop("checked")){
							var boolfile=0
						}
						if($('#paid').prop("checked")){
							var boolpaid=1
						}
						else{
							var boolpaid=0
						}
						if($('#nofile').prop("checked")){
							gender= $('#gendermale').val()
						}
						if($('#gendermale').prop("checked")){
							gender= $('#gendermale').val()
						}
						if($('#genderfemale').prop("checked")){
							gender= $('#genderfemale').val()
						}
						if($('#place1').prop("checked")){
							venue= $('#address').val()
							var funeraltype='Funeral Service'
							$.get('/secretariat/walkin-funeralblessing/query/checksched').done(data=>{
							//- console.log("schedule length: " + data.schedules.length)
							//- console.log("priest length: "+ data.priestLength.length)
							let total = 0;
							for(let i=0;i<data.schedules.length;i++){
								for(let j=0;j<data.priestLength.length;j++){
									let x = data.priestLength.length - 1
									console.log("schedule: " + data.schedules[i].date_eventdate + " " + data.schedules[i].time_eventstart)
									console.log("priest number: " + data.priestLength[j].int_priestID)
									let currentDate = data.schedules[i].date_eventdate
									let currentTime = data.schedules[i].time_eventstart
									$.post('/secretariat/walkin-funeralblessing/query/checksched2',{
										priestid:data.priestLength[j].int_priestID,
										eventdate:data.schedules[i].date_eventdate,
										eventtime:data.schedules[i].time_eventstart
									}).done(data=>{
										console.log(data.shit)
										if(data.shit == 1){
											total+=1;
											console.log("priest not avail")
										}
										if(total == x){
											
										}
										if(x == j){
											console.log(total,'total')
											total = 0
										}
									})
								}
							}
						})
						}
						if($("#place2").prop("checked")){
							venue= 'Ina ng Lupang Pangako Parish'
							var funeraltype='Funeral Mass'
							$.post('/secretariat/walkin-funeralblessing/query').done(data=>{
							console.log(data.queries)
							for(i=0;i<data.queries.length;i++){
							var dateEvent = moment(data.queries[i].date_eventdate).format('MM/DD/YYYY');
							var time_start = data.queries[i].time_eventstart = moment(data.queries[i].time_eventstart,'hh:mm:ss').format('hh:mm a');
							var time_end = moment(data.queries[i].time_eventstart,'hh:mm:ss').add(1,'hour').format('hh:mm a');
							//- console.log(time_end)
							//- console.log(dateEvent)
							//- console.log(data.queries[i].time_eventstart)
							//- console.log(data.queries[i].char_approvalstatus)
								$('#calendarFuneral').fullCalendar('renderEvent', {
								title: 'OCCUPIED',
								start: `${dateEvent} ${time_start}`,
								end: `${dateEvent} ${time_end}`,
								allDay: false,
								color:'#4c2508',
								textColor: "white",
								});
							}
							})
						}
						if($("#place3").prop("checked")){
							venue= $('#othervenue').val()
							var funeraltype='Funeral Service'
							$.get('/secretariat/walkin-funeralblessing/query/checksched').done(data=>{
							//- console.log("schedule length: " + data.schedules.length)
							//- console.log("priest length: "+ data.priestLength.length)
							let total = 0;
							for(let i=0;i<data.schedules.length;i++){
								for(let j=0;j<data.priestLength.length;j++){
									let x = data.priestLength.length - 1
									console.log("schedule: " + data.schedules[i].date_eventdate + " " + data.schedules[i].time_eventstart)
									console.log("priest number: " + data.priestLength[j].int_priestID)
									let currentDate = data.schedules[i].date_eventdate
									let currentTime = data.schedules[i].time_eventstart
									$.post('/secretariat/walkin-funeralblessing/query/checksched2',{
										priestid:data.priestLength[j].int_priestID,
										eventdate:data.schedules[i].date_eventdate,
										eventtime:data.schedules[i].time_eventstart
									}).done(data=>{
										console.log(data.shit)
										if(data.shit == 1){
											total+=1;
											console.log("priest not avail")
										}
										if(total == x){
											
										}
										if(x == j){
											console.log(total,'total')
											total = 0
										}
									})
								}
							}
						})
						}
						$.post('/secretariat/walkin-funeralblessing', {
							desireddate:eventDate,
							desiredtime:timeStart,
							lastname: $('#lname').val(),
							firstname: $('#fname').val(),
							middlename: $('#mname').val(),
							birthday: $('#bday').val(),
							gender:gender,
							birthplace: $('#bplace').val(),
							address: $('#address').val(),
							venue: venue,
							details: $('#details').val(),
							cabinet: $('#cabinets').val(),
							division: $('#divisions').val(),
							boolfile: boolfile,
							funeraltype:funeraltype,
							boolpaid:boolpaid,
							ornumber:$('#ornumber').val(),
							paymentdate:$('#paymentdate').val(),
							payer:$('#payer').val(),
							payment:$('#payment').val(),
							templastname:$('#templastname').val(),
							tempfirstname:$('#tempfirstname').val(),
							tempaddress:$('#tempaddress').val(),
							tempemailaddress:$('#tempemailaddress').val(),
							tempcontactnumber:$('#tempcontactnumber').val(),
						}).done(data =>{
							swal({
							title:'Success',
							text:'Request added', 
							type:'success'
							}).then(function(){
								if(funeraltype=='Funeral Mass') window.location=`/secretariat/transaction-funeralmass`
								if(funeraltype=='Funeral Service') window.location=`/secretariat/transaction-funeralservice`
							})
							$('#updateModal').modal('hide');
							$('#updateAppend').empty();
							
						})//done
					}
				})
			})

				
		$.get('/secretariat/walkin-funeral/utilities/query').done(data=>{
			console.log(data[0].int_reservationmindays)
			dateNow2 = moment(dateNow,'YYYY-MM-DD hh:mm a').add(data[0].int_reservationmindays,'days').format('YYYY-MM-DD')
			$('#calendarFuneral').fullCalendar({
				header: {
				left: 'title',
				center: 'agendaDay,month',
				right: 'prev,next today'
				},
				editable: false,
				firstDay: 0,
				selectable: true,
				defaultView: 'month',
				allDaySlot: false,
				selectHelper: true,
				minTime:data[0].time_availablestart,
				maxTime:data[0].time_availableend,
				validRange: {
					start: dateNow2
				},
				businessHours: { dow: [0,1,2,3,4,5,6] },
				selectConstraint:"businessHours",
				select:function(date,jsEvent,view){
				var view = $('#calendarFuneral').fullCalendar('getView');
				console.log(view.name)
				if(view.name == 'agendaDay'){
					eventDate = date.format('YYYY-MM-DD')
					timeStart = date.format('hh:mm a')
					timeEnd1 = date.add(1,'hour').format('YYYY-MM-DD hh:mm a')
					timeEnd2 = moment(timeEnd1).format('hh:mm a')
					console.log(eventDate)
					console.log(timeStart)
					console.log(timeEnd2)
					swal({
						title: 'You have selected this date, are you sure?',
						html: `Date: ${eventDate}  <br>` +
						`Time Start: ${timeStart} <br>` +
						`Time End: ${timeEnd2} <br>`,
						showCancelButton: true,
						confirmButtonColor: '#3085d6',
						cancelButtonColor: '#d33',
						confirmButtonClass: 'btn btn-success',
						cancelButtonClass: 'btn btn-danger',
						buttonsStyling: true,   
					}).then((value) => {
						if(value.value) {
							$("#calendarFuneral").fullCalendar('removeEvents',[1])
							swal(
								'Sucess!',
								'Event Date has been set.',
								'success'
							).then((value)=>{
							console.log('DESIRED TIME')
							$('#calendarFuneral').fullCalendar('renderEvent', {
								title: 'DESIRED TIME',
								start: `${moment(eventDate,'YYYY-MM-DD').format('MM/DD/YYYY')} ${timeStart}`,
								end: `${moment(eventDate,'YYYY-MM-DD').format('MM/DD/YYYY')} ${timeEnd2}`,
								allDay: false,
								id:1,
								overlap: false,
								droppable:true
							});
							return value
							console.log(eventDate)
							})
						} else if (
							value.dismiss === swal.DismissReason.cancel
						) {
							eventDate = '';
							timeStart = '';
							timeEnd2 = '';
						}
					})
				}
				else if(view.name == 'month'){
					$('#calendarFuneral').fullCalendar('changeView', 'agendaDay')
					$('#calendarFuneral').fullCalendar('gotoDate', date);
				}
				else{
					return  
				}
				}
			})
		})







		});
		$('#withfiledrpdwn').hide();

		$('#nofile').click(function() {
			$('#withfiledrpdwn').slideUp();
			$('#cabinets').val();
			$('#divisions').val();
			$('#folderID').val();
		});
		$(document).on('click','#withfile',function(){
			$('#withfiledrpdwn').slideDown();
			$.post('/secretariat/getcabinets').done(data =>{
				$('#cabinets').append(`
						<option>No division selected</option>
					`)
				$('#divisions').append(`
						<option>No division selected</option>
					`)
				for(i=0;i<data.cabinets.length;i++){
					$('#cabinets').append(`
						<option value=${data.cabinets[i].int_cabinetID}>${data.cabinets[i].var_cabinetname}</option>
					`)
				}
			})
		});

		function setcabinet($i){
				console.log($i)
				$("#divisions").empty();
				$('#divisions').append(`
						<option>No division selected</option>
					`)
				$.post('/secretariat/transaction-marriage/getdivisions',{ cabinetID:$i}).done(data=>{
					console.log(data)
					for(i=0;i<data.divisions.length;i++){
					$('#divisions').append(`
						<option value='${$i}-${data.divisions[i].int_divisionID}'>${data.divisions[i].var_divisionname}</option>
					`)
					}//for		
				})//donedatacabinets
			}//function cabinets
		function setdivision($i){

			console.log($i)
				$("#folders").empty();

				$.post('/secretariat/transaction-marriage/getfolders',{ location:$i}).done(data=>{
					console.log(data)
					var newID= data.folders.max +1
					$('#folderID').val(`${newID}`)

					//- $('#folders').append(`
					//- 	<option value=${data.folders.max}>${data.folders.max}</option>
					//- `)
						
				})//donedatacabinets
		}//function cabinets
		$('#paymentdetails').hide();
		$(document).on('click','#paid',function(){
			if($(this).prop("checked") == true){
				$('#paymentdetails').slideDown();
				$.post('/secretariat/getOR').done(data =>{
					var ornumber = data.ornumber.max+1
					var nowDate = new Date(); 
					var date = nowDate.getFullYear()+'/'+(nowDate.getMonth()+1)+'-'+nowDate.getDate() +" "+ nowDate.getHours() +":" + nowDate.getMinutes() +":" +nowDate.getSeconds(); 
					console.log(data)
					var datelang = nowDate.getFullYear()+'-'+(nowDate.getMonth()+1)+'-'+nowDate.getDate()
					$('#ornumber').val(ornumber)
					$('#paymentdate').val(datelang)	
			})
			}

			if($(this).prop("checked") == false){
				$('#ornumber').val();
				$('#paymentdate').val();
				$('#payer').val();
				$('#payment').val();
				$('#paymentdetails').slideUp();
			}

			
		});

