extends ../../../templates/admin
block prepend main
	#mainContent
		.row.masonry.pos-r
			.masonry-sizer.col-md-6
			.masonry-item.w-100
				//- .row.gap-20
					// #Toatl Visits ====================
					.col-md-3
						.layers.bd.bgc-white.p-20.shadow
							.layer.w-100.mB-10
								h6.lh-1 Facility Reservations
							.layer.w-100
								.peers.ai-sb.fxw-nw
									.peer.peer-greed
										span#sparklinedash
									.peer
										span.d-ib.lh-0.va-m.fw-600.bdrs-10em.pX-15.pY-15.bgc-green-50.c-green-500=reservation.reservationcount
					// #Total Page Views ====================
					.col-md-3
						.layers.bd.bgc-white.p-20.shadow
							.layer.w-100.mB-10
								h6.lh-1 Document Requests
							.layer.w-100
								.peers.ai-sb.fxw-nw
									.peer.peer-greed
										span#sparklinedash2
									.peer
										span.d-ib.lh-0.va-m.fw-600.bdrs-10em.pX-15.pY-15.bgc-red-50.c-red-500=request.requestcount
					// #Unique Visitors ====================
					.col-md-3
						.layers.bd.bgc-white.p-20.shadow
							.layer.w-100.mB-10
								h6.lh-1 Baptisms
							.layer.w-100
								.peers.ai-sb.fxw-nw
									.peer.peer-greed
										span#sparklinedash3
									.peer
										span.d-ib.lh-0.va-m.fw-600.bdrs-10em.pX-15.pY-15.bgc-purple-50.c-purple-500=baptism.baptismcount
					// #Bounce Rate ====================
					.col-md-3
						.layers.bd.bgc-white.p-20.shadow
							.layer.w-100.mB-10
								h6.lh-1 Other Event Application
							.layer.w-100
								.peers.ai-sb.fxw-nw
									.peer.peer-greed
										span#sparklinedash4
									.peer
										span.d-ib.lh-0.va-m.fw-600.bdrs-10em.pX-15.pY-15.bgc-blue-50.c-blue-500=application.applicationcount
			
			// line charts
		.row.gap-20.masonry.pos-r
			.masonry-item.col-md-6
				// #Monthly Stats ====================
				.bd.bgc-white
					.layers.shadow
						.layer.w-100.pX-20.pT-20
							h5.lh-1 Baptism
						.layer.w-100.p-20
							canvas#canvas(height='150')
			.masonry-item.col-md-6
				// #Monthly Stats ====================
				.bd.bgc-white
					.layers.shadow
						.layer.w-100.pX-20.pT-20
							h5.lh-1 Blessing
						.layer.w-100.p-20
							canvas#canvas2(height='150')
			.masonry-item.col-md-6
				// #Monthly Stats ====================
				.bd.bgc-white
					.layers.shadow
						.layer.w-100.pX-20.pT-20
							h5.lh-1 Marriage
						.layer.w-100.p-20
							canvas#canvas3(height='150')
			.masonry-item.col-md-6
				// #Monthly Stats ====================
				.bd.bgc-white
					.layers.shadow
						.layer.w-100.pX-20.pT-20
							h5.lh-1 Special Services
						.layer.w-100.p-20
							canvas#canvas4(height='150')
			
			
			
			

															p(hidden)#anointingCount #{anointingCount}
															p(hidden)#baptismCount #{baptismCount}
															p(hidden)#specialbaptismCount #{specialbaptismCount}
															p(hidden)#funeralmassCount #{funeralmassCount}
															p(hidden)#funeralserviceCount #{funeralserviceCount}
															p(hidden)#marriageCount #{marriageCount}
															p(hidden)#facilityCount #{facilityCount}
															p(hidden)#docuCount #{docuCount}
															p(hidden)#houseCount #{houseCount}

block addjs
	
	script(type='text/javascript').
			window.onload = function() {
			var anointing= document.getElementById('anointingCount').innerHTML;
			var baptismm= document.getElementById('baptismCount').innerHTML;
			var spcbaptism= document.getElementById('specialbaptismCount').innerHTML;
			var funeralmass= document.getElementById('funeralmassCount').innerHTML;
			var funeralservice= document.getElementById('funeralserviceCount').innerHTML;
			var marriage= document.getElementById('marriageCount').innerHTML;
			var facility= document.getElementById('facilityCount').innerHTML;
			var docu= document.getElementById('docuCount').innerHTML;
			var house= document.getElementById('houseCount').innerHTML;

			anointing = anointing.split(',')
			baptismm = baptismm.split(',')
			spcbaptism = spcbaptism.split(',')
			funeralmass = funeralmass.split(',')
			funeralservice = funeralservice.split(',')
			marriage = marriage.split(',')
			facility = facility.split(',')
			docu = docu.split(',')
			house = house.split(',')

				
		
			var baptism = {
				
				labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
				datasets: [{
						label: "Regular Baptism",
						fill: false,
						borderColor: "#f2af3e",
						backgroundColor: "#f2af3e",
						pointBackgroundColor: "#f2af3e",
						pointHoverBackgroundColor: "#FFF",
						pointHoverBorderColor: "#f2af3e",
						data:[baptismm[0], baptismm[1], baptismm[2], baptismm[3], baptismm[4], baptismm[5], baptismm[6], baptismm[7], baptismm[8], baptismm[9], baptismm[10], baptismm[11]]
				}, {

						label: "Special Baptism",
						fill: false,
						borderColor: "#ec533e",
						backgroundColor: "#ec533e",
						pointBackgroundColor: "#ec533e",
						pointHoverBackgroundColor: "#FFF",
						pointHoverBorderColor: "#ec533e",
						data: [spcbaptism[0], spcbaptism[1], spcbaptism[2], spcbaptism[3], spcbaptism[4], spcbaptism[5], spcbaptism[6], spcbaptism[7], spcbaptism[8], spcbaptism[9], spcbaptism[10], spcbaptism[11]]
				}]
			}
			var blessing = {
				labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
				datasets: [{
						label: "Funeral Mass",
						fill: false,
						borderColor: "#108587",
						backgroundColor: "#108587",
						pointBackgroundColor: "#108587",
						pointHoverBackgroundColor: "#FFF",
						pointHoverBorderColor: "#108587",
						data: [funeralmass[0], funeralmass[1], funeralmass[2], funeralmass[3], funeralmass[4], funeralmass[5], funeralmass[6], funeralmass[7], funeralmass[8], funeralmass[9], funeralmass[10], funeralmass[11]]
				},  {
						label: "Funeral Service",
						fill: false,
						borderColor: "#f2af3e",
						backgroundColor: "#f2af3e",
						pointBackgroundColor: "#f2af3e",
						pointHoverBackgroundColor: "#FFF",
						pointHoverBorderColor: "#f2af3e",
						data:[funeralservice[0], funeralservice[1], funeralservice[2], funeralservice[3], funeralservice[4], funeralservice[5], funeralservice[6], funeralservice[7], funeralservice[8], funeralservice[9], funeralservice[10], funeralservice[11]]
				}, {
						label: "Anointing of the sick",
						fill: false,
						borderColor: "#ec533e",
						backgroundColor: "#ec533e",
						pointBackgroundColor: "#ec533e",
						pointHoverBackgroundColor: "#FFF",
						pointHoverBorderColor: "#ec533e",
						data:  [anointing[0], anointing[1], anointing[2], anointing[3], anointing[4], anointing[5], anointing[6], anointing[7], anointing[8], anointing[9], anointing[10], anointing[11]]
						

				}]

			}

			var marriage = {
				labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
				datasets: [{
						label: "Marriage",
						fill: false,
						borderColor: "#52b99f",
						backgroundColor: "#52b99f",
						pointBackgroundColor: "#52b99f",
						pointHoverBackgroundColor: "#FFF",
						pointHoverBorderColor: "#52b99f",
						data: [marriage[0], marriage[1], marriage[2], marriage[3], marriage[4], marriage[5], marriage[6], marriage[7], marriage[8], marriage[9], marriage[10], marriage[11]]
				}]

			}

			var specialServices = {
				labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
				datasets: [{
						label: "Facility Reservation",
						fill: false,
						borderColor: "#52b99f",
						backgroundColor: "#52b99f",
						pointBackgroundColor: "#52b99f",
						pointHoverBackgroundColor: "#FFF",
						pointHoverBorderColor: "#52b99f",
						data: [facility[0], facility[1], facility[2], facility[3], facility[4], facility[5], facility[6], facility[7], facility[8], facility[9], facility[10], facility[11]]
				}, {
						label: "Document Request",
						fill: false,
						borderColor: "#f2af3e",
						backgroundColor: "#f2af3e",
						pointBackgroundColor: "#f2af3e",
						pointHoverBackgroundColor: "#FFF",
						pointHoverBorderColor: "#f2af3e",
						data: [docu[0], docu[1], docu[2], docu[3], docu[4], docu[5], docu[6], docu[7], docu[8], docu[9], docu[10], docu[11]]
				}, {
						label: "House Blessing",
						fill: false,
						borderColor: "#ec533e",
						backgroundColor: "#ec533e",
						pointBackgroundColor: "#ec533e",
						pointHoverBackgroundColor: "#FFF",
						pointHoverBorderColor: "#ec533e",
						data: [house[0], house[1], house[2], house[3], house[4], house[5], house[6], house[7], house[8], house[9], house[10], house[11]]
				}]

			}

			
					// first
					var canvas = document.getElementById("canvas");
					var ctx = canvas.getContext("2d");	
					var myNewChart = new Chart(ctx , {
							type: "line",
							data: baptism,
							responsive: true,
					});
					//second
					var canvas = document.getElementById("canvas2");
					var ctx2 = canvas.getContext("2d");	
					var myNewChart = new Chart(ctx2 , {
							type: "line",
							data: blessing,
							responsive: true,
					});
					//third
					var canvas = document.getElementById("canvas3");
					var ctx3 = canvas.getContext("2d");	
					var myNewChart = new Chart(ctx3 , {
							type: "line",
							data: marriage,
							responsive: true,
					});
					//fourth
					var canvas = document.getElementById("canvas4");
					var ctx4 = canvas.getContext("2d");	
					var myNewChart = new Chart(ctx4 , {
							type: "line",
							data: specialServices,
							responsive: true,
					});
			
			}