extends ../../../../../templates/admin
block prepend main
	#wrap
	div(style='clear:both')
	.content
		.container-fluid

			.row
				.col-lg-12.col-md-12
						.card.shadow
								.card-header.card-header-primary(style='background:#367587; color:white')
									.row
										.col-md-6
											h3.card-title(style='background:#367587; color:white') Guests' Accounts
										.col-md-6.text-right
											.row.text-right
												
														
								.card-body.table-responsive
										table.table.table-hover.dt-responsive#example2(style="width:100%;")
												thead.text-primary
														th ID
														th Name 
														th Username
														th Email
														th Contact Number
														//- th Status
														
												tbody
													each query in queries
														tr
															td=query.int_userID
															td=query.var_userlname +", "+ query.var_userfname
															td=query.var_username
															td=query.var_useremail
															td=query.var_usercontactnum
															
															//- td=query.vr_userstatus
												tfoot
														th ID
														th Name 
														th Username
														th Email
														th Contact Number


block addjs
	script.
		
		$(document).ready(function() {
				// itong datatable ay hindi galing sa template as in inimport siya beshy kasi hindi lumalabas yung
				// mga export button kapag sa datatable na template
				$('#example2').DataTable( {
						dom: 'Bfrtip',
						buttons: [
								'copy', 'csv', 'excel', 'pdf', 'print'
						],
						initComplete: function () {
						this.api().columns().every( function () {
								var column = this;
								var select = $('<select><option value=""></option></select>')
										.appendTo( $(column.footer()).empty() )
										.on( 'change', function () {
												var val = $.fn.dataTable.util.escapeRegex(
														$(this).val()
												);
 
												column
														.search( val ? '^'+val+'$' : '', true, false )
														.draw();
										} );
 
								column.data().unique().sort().each( function ( d, j ) {
										select.append( '<option value="'+d+'">'+d+'</option>' )
								} );
						} );
					}
				} );
			} );
		// ampanget kasi ng itsura ng pagination kaya dito tinanggal ko yung css niya kaya tatawagin lang to
		// pag gumamit ng datatable na hindi from template. Kapag niremove mo yung css diyan tapos cinall mo yung datatable
		// na nasa template, walang design yung pagination ng template kaya ampanget
block filter
	script(src='/admin/bundlesomecssremoved.js')