extends ../../../../templates/guests
block main
	style.
		@media screen and (max-width: 576px) {
			.col-md-4, .col-md-6 {
				padding-left: 0;
				padding-right: 0;
			}
			.extra-small-balance {
				padding-left: 1rem;
			}

			.form-wizard-step {
				padding-bottom: 10px !important;
			}
		}
		#header-style-1 {
			background-image: url(/imgchurch/bg2.png)
		}
		.form-control {
			margin-bottom: 0;
		}
		.hidden {
				display:none;
		}
	#headers
		#header-style-1
			.container
				.header-caption
					.row
						.col-md-12.header-content
							h3.header-title.animated.fadeInDown.invisible
								span.text-primary Helium - 
								| Bootstrap 4 UI Kit
							h5.header-text.animated.fadeIn.invisible
								| Lorem ipsum dolor sit amet, consectetuer adipiscing elit<br>Lorem ipsum dolor sit amet, consectetuer.</h5>
							//- a.page-scroll.btn.btn-lg.btn-default-filled.animated.fadeInUp.invisible(href="#") Download Now
							//- a.page-scroll.btn.btn-lg.btn-success.animated.fadeInUp.invisible(href="#") Explore
	#raised-section.main.main-raised
		section.form-box
			.container
				.row
					.col-md-12.form-wizard.shadow3
						form#form(action="/guest/marriage/form" method="post" enctype="multipart/form-data")
								h3 Marriage Application Request
								p Fill all form field to go next step
								// Form progress FORM WIZARD HEADERS
								.form-wizard-steps.form-wizard-tolal-steps-5
									.form-wizard-progress
										.form-wizard-progress-line(data-now-value='12.25' data-number-of-steps='3' style='width: 12.25%;')
									// Step 1
									.form-wizard-step.active
										.form-wizard-step-icon
											i.fa.fa-calendar(aria-hidden='true')
										p.d-none.d-sm-block Schedule
									// Step 1
									// Step 2
									.form-wizard-step
										.form-wizard-step-icon
											i.fa.fa-male(aria-hidden='true')
										p.d-none.d-sm-block Groom
									// Step 2
									// Step 3
									.form-wizard-step
										.form-wizard-step-icon
											i.fa.fa-female(aria-hidden='true')
										p.d-none.d-sm-block Bride
									// Step 3
									// Step 4
									.form-wizard-step
										.form-wizard-step-icon
											i.fa.fa-venus-mars(aria-hidden='true')
										p.d-none.d-sm-block Couple
									// Step 4
									// Step 4
									.form-wizard-step
										.form-wizard-step-icon
											i.fa.fa-briefcase(aria-hidden='true')
										p.d-none.d-sm-block Sponsors
									// Step 4
								// Form progress
								// Form Step 1 STEPS
								fieldset
									h4
										.d-none.d-sm-inline Schedule Date: 
										span Step 1 - 5
										h6.label-control Desired Date
											.text-danger.d-inline  *
										.row
											.col-md-8.mx-lg-auto.mx-sm-left.my-lg-auto.my-sm-left.text-lg-center.text-sm-left
												h5
													#special
														.form-group
															.container
																#calendarMarriage
										.learn-more.pull-right
											button.btn#nextButton1(type='button') Next
								// Form Step 1
								// Form Step 2 GROOM
								fieldset
									h4
										.d-none.d-sm-inline Groom's Form: 
										span Step 2 - 5
									.form-group
										br
										.container
											h6.label-control Name
												.text-danger.d-inline  *
											.row
												.col-md-4.px-lg-3.px-md-0.px-sm-0
													.form-group
														input.form-control#glastname(type='text' placeholder="Last Name *" name='lastname' )
												.col-md-4.p-lg-0.px-md-3.px-sm-0
													.form-group
														input.form-control#gfirstname(type='text' placeholder="First Name *" name='firstname' )
												.col-md-4.px-lg-3.px-md-0.px-sm-0
													.form-group
														input.form-control#gmiddlename(type='text' placeholder="Middle Name" name='middlename' )
											.row.scrollbday
												.col-md-4.px-lg-3.px-md-0.px-sm-0
													.form-group
														h6.label-control Birthday
															.text-danger.d-inline  *
														input.birthday.form-control#gbirthday(type='date' name='birthday')
														p
															span.gemsg.hidden
																i.fa.fa-times.text-danger(style="font-size:20px" aria-hidden="true")
																|  Please Enter Your Birthday.
															span.gemsgcorrect.hidden
																i.fa.fa-check.text-success(style="font-size:20px" aria-hidden="true")
												.col-md-4.p-lg-0.px-md-3.px-sm-0
													.form-group
														h6.label-control Birthplace:
															.text-danger.d-inline  *
														input.form-control#gbirthplace(type='text' name='birthplace' placeholder="Ex. Payatas, Quezon City" )
												.col-md-4.px-lg-3.px-md-0.px-sm-0
													.form-group
														h6.label-control Nationality:
															.text-danger.d-inline  *
														//- input.form-control#gnationality(type='text' name='gnationality' value='Filipino')
														//- .help-block.with-errors
														select#gnationality(type="text" name='gnationality')
															option Afghan
															option Albanian
															option Algerian
															option American
															option Argentina
															option Argentine
															option Argentinian
															option Australian
															option Austrian
															option Bangladeshi
															option Belgian
															option Bolivian
															option Botswanan
															option Brazilian
															option Brit
															option Bulgarian
															option Cambodian
															option Cameroonian
															option Canadian
															option Chilean
															option Chinese
															option Colombian
															option Costa Rican
															option Croat
															option Cuban
															option Czech
															option Dane
															option Dominican
															option Dutchman
															option Dutchwoman
															option Ecuadorian
															option Egyptian
															option Emirati
															option Englishman
															option Englishwoman
															option Estonian
															option Ethiopian
															option Fijian
															option(selected) Filipino
															option Finn
															option Frenchman
															option Frenchwoman
															option German
															option Ghanaian
															option Greek
															option Guatemalan
															option Haitian
															option Honduran
															option Hungarian
															option Icelander
															option Indian
															option Indonesian
															option Iranian
															option Iraqi
															option Irishman
															option Irishwoman
															option Israeli
															option Italian
															option Jamaican
															option Japanese
															option Jordanian
															option Kenyan
															option Korean
															option Kuwaiti
															option Laotain
															option Latvian
															option Lebanese
															option Libyan
															option Lithuanian
															option Malaysian
															option Malian
															option Maltese
															option Mexican
															option Mongolian
															option Moroccan
															option Mozambican
															option Nambian
															option Nepalese
															option New Zealander
															option Nicaraguan
															option Nigerian
															option Norwegian
															option Pakistani
															option Panamanian
															option Paraguayan
															option Peruvian
															option Pole
															option Portuguese
															option Romanian
															option Russian
															option Salvadoran
															option Saudi (Arabian)
															option Scot
															option Senegalese
															option Serbian
															option Singaporean
															option Slovak
															option South African
															option Spaniard
															option Sri Lankan
															option Sudanese
															option Swede
															option Swiss
															option Syrian
															option Taiwanese
															option Tajikistani
															option Thai
															option Tongan
															option Tunisian
															option Turk
															option Ukranian
															option Uruguayan
															option Venezuelan
															option Vietnamese
															option Welshman
															option Welshwoman
															option Zambian
															option Zimbabwean
											.row
												.col-md-6.px-lg-3.px-md-0.px-sm-3
													.row
														.col-md-6.px-lg-3.px-md-0.px-sm-0.pl-sm-3
															.form-group
																h6.label-control Civil Status
																	.text-danger.d-inline  *
																select#gcivilstatus(type="text" name='gcivilstatus')
																	option Single
																	option Married
																	option Divorced
																	option Widower
														.col-md-6.px-lg-3.px-md-0.px-sm-0
															.form-group
																h6.label-control Occupation:
																	.text-danger.d-inline  *
																input.form-control#goccupation(type='text' name='goccupation' placeholder="Ex. Driver")
											
												.col-md-6.px-lg-3.px-md-0.px-sm-0.pl-sm-3
													.form-group
														h6(for='exampleFormControlTextarea1') Address:
															.text-danger.d-inline  *
														textarea#gaddress.form-control(rows='1' name='address' placeholder="Ex. Urban, Bgy. Payatas B 1119 QC" )
											.row
												.col-md-3.px-lg-3.px-md-0.px-sm-0.pl-sm-3
													.form-group
														h6.label-control Religion
															.text-danger.d-inline  *
														select#greligion(type="text" name='greligion' )
															option Catholic
															option Non-Catholic
															option Non-Christion
															option No religion            
												.col-md-9.px-lg-3.px-md-0.px-sm-0
													.form-group
														h6.label-control Current Parish:
															.text-danger.d-inline  *
													.row
														.col-md-2
															.form-check
																label.form-check-label
																	input.form-check-input#ginlpp(type="radio" name="gcurrentparishbool" value="1" checked)
																	| INLPP
																	span.circle
																		span.check
															.form-check
																label.form-check-label
																	input.form-check-input#gothers(type="radio" name="gcurrentparishbool" value="0")
																	| Others
																	span.circle
																		span.check
														.col-md-10
															input.form-control#gcurrentparish(type='text' name='gcurrentparish' value='Ina ng Lupang Pangako Parish' disabled)
															p
																span.gemsginvalidcurrentparish.hidden
																	i.fa.fa-times.text-danger(style="font-size:20px" aria-hidden="true")
																	|  Please Enter Your Current Parish.
																span.gemsgcorrectcurrentparish.hidden
																	i.fa.fa-check.text-success(style="font-size:20px" aria-hidden="true")
											.row
												.col-md-4.px-lg-3.px-md-0.px-sm-0
													.form-group
														h6.label-control Father's Full Name:
															.text-danger.d-inline  *
														input.form-control#gfathername(type='text' name='gfathername' placeholder="Ex. Juan Dela Cruz" )
												.col-md-4.p-lg-0.px-md-3.px-sm-0
													.form-group
														h6.label-control Father's Birthplace:
															.text-danger.d-inline  *
														input.form-control#gfatherbirthplace(type='text' name='gfatherbplace' placeholder="Ex. Caloocan, Quezon City" )
												.col-md-4.px-lg-3.px-md-0.px-sm-0
													.form-group
														h6.label-control Father's Religion
															.text-danger.d-inline  *
														select#gfatherreligion(type="text" name='gfatherreligion')
															option Catholic
															option Non-Catholic
															option Non-Christion
															option No religion
											.row
												.col-md-4.px-lg-3.px-md-0.px-sm-0
													.form-group
														h6.label-control Mother's Full Name:
															.text-danger.d-inline  *
														input.form-control#gmothername(type='text' name='gmothername' placeholder="Ex. Maria Dela Cruz" )
												.col-md-4.p-lg-0.px-md-3.px-sm-0
													.form-group
														h6.label-control Mother's Birthplace:
															.text-danger.d-inline  *
														input.form-control#gmotherbirthplace(type='text' name='gmotherbplace' placeholder="Ex. San Isidro, Quezon City" )
												.col-md-4.px-lg-3.px-md-0.px-sm-0
													.form-group
														h6.label-control Mother's Religion
															.text-danger.d-inline  *
														select#gmotherreligion(type="text" name='gmotherreligion')
															option Catholic
															option Non-Catholic
															option Non-Christion
															option No religion
											.row
												.col-md-6.px-lg-3.pr-md-3.px-sm-0
													.form-group
														h6.label-control Baptized?
															.text-danger.d-inline  *
														.ml-4
															.row
																.col-md-2
																	.form-check
																		label.form-check-label
																			input.exampleRadios1.form-check-input#gbapyes(type="radio" name="gbaptized" value="1" checked)
																			| Yes
																			span.circle
																				span.check
																.col-md-10
																	.form-check
																		label.form-check-label
																			input.radioup.form-check-input#gbapno(type="radio" name="gbaptized" value="0" )
																			| No
																			span.circle
																				span.check
															.textarea1.form-group
																.form-group
																	h6.label-control Parish where you were baptized:
																		.text-danger.d-inline  *
																	input.form-control#gbapplace(type='text' name='gbapplace' placeholder="Ex. Ina ng Lupang Pangako Parish"  )
																	p
																		span.gemsginvalidbaptized.hidden
																			i.fa.fa-times.text-danger(style="font-size:20px" aria-hidden="true")
																			|  Please Enter Place Where You Were Baptized.
																		span.gemsgcorrectbaptized.hidden
																			i.fa.fa-check.text-success(style="font-size:20px" aria-hidden="true")
																.form-group
																	h6.label-control Date when you were baptized:
																		.text-danger.d-inline  *
																	input.marriage.form-control#gbapdate(type='date' name='gbapdate')
																	p
																		span.gemsginvalidbaptizeddate.hidden
																			i.fa.fa-times.text-danger(style="font-size:20px" aria-hidden="true")
																			|  Please Enter Your Baptism Date.
																		span.gemsgcorrectbaptizeddate.hidden
																			i.fa.fa-check.text-success(style="font-size:20px" aria-hidden="true")
												.col-md-6.px-lg-3.pr-md-3.px-sm-0
													.form-group
														h6.label-control Confirmed?
															.text-danger.d-inline  *
														.row
															.col-md-2
																.form-check
																	label.form-check-label
																		input.exampleRadios2.form-check-input#gconyes(type="radio" name="gconfirmed" value="1" checked)
																		| Yes
																		span.circle
																			span.check
															.col-md-10
																.form-check
																	label.form-check-label
																		input.radioup2.form-check-input#gconno(type="radio" name="gconfirmed" value="0" )
																		| No
																		span.circle
																			span.check
														.textarea2.form-group
															.form-group
																h6.label-control Parish Where You Were Confirmed:
																	.text-danger.d-inline  *
																input.form-control#gconplace(type='text' name='gconplace' placeholder=" Ex. Ina ng Lupang Pangako Parish" )
																p
																	span.gemsginvalidconfirmed.hidden
																		i.fa.fa-times.text-danger(style="font-size:20px" aria-hidden="true")
																		|  Please Enter Place Where You Were Confirmed.
																	span.gemsgcorrectconfirmed.hidden
																		i.fa.fa-check.text-success(style="font-size:20px" aria-hidden="true")
															.form-group
																h6.label-control Date When You Were Confirmed:
																	.text-danger.d-inline  *
																input.marriage.form-control#gcondate(type='date' name='gcondate')
																p
																	span.gemsginvalidconfirmeddate.hidden
																		i.fa.fa-times.text-danger(style="font-size:20px" aria-hidden="true")
																		|  Please Enter Date of Confirmation.
																	span.gemsgcorrectconfirmeddate.hidden
																		i.fa.fa-check.text-success(style="font-size:20px" aria-hidden="true")
											.row
												.col-md-6.px-lg-3.pr-md-3.px-sm-0
													.form-group
														h6.label-control Valid ID
															.text-danger.d-inline  *
														input#file-0b.file.valid1.groomid(type='file',accept='image/*' name="validIDGroom" onchange="validateFileType1()")
												.col-md-6.px-lg-3.pr-md-3.px-sm-0
													.form-group
														h6.label-control Birth Certificate
															.text-danger.d-inline  *
														input#file-0b.file.valid2.groombirthcertificate(type='file',accept='image/*' name="birthCertGroom" onchange="validateFileType2()")
									.learn-more.pull-right
										button.btn.std-btn.btn-secondary.btn-previous.m-0(type='button') Prev
										button.btn#nextGroom(type='button') Next
								// Form Step 2
								// Form Step 3 BRIDE
								fieldset
									h4
										.d-none.d-sm-inline Bride's Form: 
										span Step 3 - 5
									.form-group
										br
										.container
											h6.label-control Name:
												.text-danger.d-inline  *
											.row
												.col-md-4.px-lg-3.px-md-0.px-sm-0
													.form-group
														input.form-control#blastname(type='text' placeholder="Last Name *" name='blastname' )
												.col-md-4.p-lg-0.px-md-3.px-sm-0
													.form-group
														input.form-control#bfirstname(type='text' placeholder="First Name *" name='bfirstname' )
												.col-md-4.px-lg-3.px-md-0.px-sm-0
													.form-group
														input.form-control#bmiddlename(type='text' placeholder="Middle Name" name='bmiddlename' )
											.row.bscrollbday
												.col-md-4.px-lg-3.px-md-0.px-sm-0
													.form-group
														h6.label-control Birthday:
															.text-danger.d-inline  *
														input.birthday.bridebday.form-control#bbirthday(type='date' name='bbirthday')
														p
															span.bemsg.hidden
																i.fa.fa-times.text-danger(style="font-size:20px" aria-hidden="true")
																|  Please Enter Your Birthday.
															span.bemsgcorrect.hidden
																i.fa.fa-check.text-success(style="font-size:20px" aria-hidden="true")
												.col-md-4.p-lg-0.px-md-3.px-sm-0
													.form-group
														h6.label-control Birthplace:
															.text-danger.d-inline  *
														input.form-control#bbirthplace(type='text' name='bbirthplace' placeholder="Ex. Payatas, Quezon City" )
												.col-md-4.px-lg-3.px-md-0.px-sm-0
													.form-group
														h6.label-control Nationality:
															.text-danger.d-inline  *
														select#bnationality(type="text" name='bnationality')
															option Afghan
															option Albanian
															option Algerian
															option American
															option Argentina
															option Argentine
															option Argentinian
															option Australian
															option Austrian
															option Bangladeshi
															option Belgian
															option Bolivian
															option Botswanan
															option Brazilian
															option Brit
															option Bulgarian
															option Cambodian
															option Cameroonian
															option Canadian
															option Chilean
															option Chinese
															option Colombian
															option Costa Rican
															option Croat
															option Cuban
															option Czech
															option Dane
															option Dominican
															option Dutchman
															option Dutchwoman
															option Ecuadorian
															option Egyptian
															option Emirati
															option Englishman
															option Englishwoman
															option Estonian
															option Ethiopian
															option Fijian
															option(selected) Filipino
															option Finn
															option Frenchman
															option Frenchwoman
															option German
															option Ghanaian
															option Greek
															option Guatemalan
															option Haitian
															option Honduran
															option Hungarian
															option Icelander
															option Indian
															option Indonesian
															option Iranian
															option Iraqi
															option Irishman
															option Irishwoman
															option Israeli
															option Italian
															option Jamaican
															option Japanese
															option Jordanian
															option Kenyan
															option Korean
															option Kuwaiti
															option Laotain
															option Latvian
															option Lebanese
															option Libyan
															option Lithuanian
															option Malaysian
															option Malian
															option Maltese
															option Mexican
															option Mongolian
															option Moroccan
															option Mozambican
															option Nambian
															option Nepalese
															option New Zealander
															option Nicaraguan
															option Nigerian
															option Norwegian
															option Pakistani
															option Panamanian
															option Paraguayan
															option Peruvian
															option Pole
															option Portuguese
															option Romanian
															option Russian
															option Salvadoran
															option Saudi (Arabian)
															option Scot
															option Senegalese
															option Serbian
															option Singaporean
															option Slovak
															option South African
															option Spaniard
															option Sri Lankan
															option Sudanese
															option Swede
															option Swiss
															option Syrian
															option Taiwanese
															option Tajikistani
															option Thai
															option Tongan
															option Tunisian
															option Turk
															option Ukranian
															option Uruguayan
															option Venezuelan
															option Vietnamese
															option Welshman
															option Welshwoman
															option Zambian
															option Zimbabwean
											.row
												.col-md-12.px-lg-3.px-md-0.px-sm-3
													.row
														.col-md-4.px-lg-3.px-md-0.px-sm-0.pl-sm-3
															.form-group
																h6.label-control Civil Status
																	.text-danger.d-inline  *
																select#bcivilstatus(type="text" name='bcivilstatus')
																	option Single
																	option Married
																	option Divorced
																	option Widower
																	input.datepicker.form-control#eventdate(type='hidden' name='eventDate' placeholder="Ex. Ina ng Lupang Pangako Parish")
																	input.datepicker.form-control#timestart(type='hidden' name='timeStart' placeholder="Ex. Ina ng Lupang Pangako Parish")
																	input.datepicker.form-control#timeEnd2(type='hidden' name='timeEnd2' placeholder="Ex. Ina ng Lupang Pangako Parish")
																	
														.col-md-4.px-lg-3.px-md-0.px-sm-0
															.form-group
																h6.label-control Occupation:
																	.text-danger.d-inline  *
																input.form-control#boccupation(type='text' name='boccupation' placeholder="Ex. Driver")
														.col-md-4.px-lg-3.px-md-0.px-sm-0
															.form-group
																h6.label-control 5 months pregnant?:
																	.text-danger.d-inline  *
																.row
																	.col-md-6.px-lg-3.px-md-0.px-sm-0
																		//- h2.main--header.font-italic For the couple
																		.form-group.m-0
																			.form-check
																				h6.form-check-label
																					input.form-check-input#boolpregnantyes(type="radio" name="boolpregnant"  value="1")
																					| Yes
																					span.circle
																						span.check
																			.form-check
																				h6.form-check-label
																					input.form-check-input#boolpregnantno(type="radio" name="boolpregnant" value="0" checked)
																					| No
																					span.circle
																						span.check

											.textarea3.form-group
												.row
													.col-md-4
														.form-group
															h6.label-control Previous Wedding Date:
																.text-danger.d-inline  *
															input.birthday.form-control#cpreviousweddingdate(type='date' name='cprevweddingdate')
															p
																span.bemsginvalidpreviousweddingdate.hidden
																	i.fa.fa-times.text-danger(style="font-size:20px" aria-hidden="true")
																	|  Please Enter Previous Wedding Date
																span.bemsgcorrectpreviousweddingdate.hidden
																	i.fa.fa-check.text-success(style="font-size:20px" aria-hidden="true")
													.col-md-8
														.form-group
															h6.label-control Previous Wedding Place/Parish:
																.text-danger.d-inline  *
														input.form-control#cpreviousweddingplace(type='text' name='cprevweddingplace' placeholder="Ex. Ina ng Lupang Pangako Parish")
														p
															span.bemsginvalidpreviousweddingplace.hidden
																i.fa.fa-times.text-danger(style="font-size:20px" aria-hidden="true")
																|  Please Enter Previous Wedding Place/Parish
															span.bemsgcorrectpreviousweddingplace.hidden
																i.fa.fa-check.text-success(style="font-size:20px" aria-hidden="true")
											.row
												.col-md-12.px-lg-3.px-md-0.px-sm-0.pl-sm-3
													.form-group
														h6(for='exampleFormControlTextarea1') Address:
															.text-danger.d-inline  *
														input.form-control#baddress(name='baddress' placeholder="Ex. Urban, Bgy. Payatas B 1119 QC" )
											.row
												.col-md-3.px-lg-3.px-md-0.px-sm-0.pl-sm-3
													.form-group
														h6.label-control Religion
															.text-danger.d-inline  *
														select#breligion(type="text" name='breligion' )
															option Catholic
															option Non-Catholic
															option Non-Christion
															option No religion            
												.col-md-9.px-lg-3.px-md-0.px-sm-0
													.form-group
														h6.label-control Current Parish:
															.text-danger.d-inline  *
													.row
														.col-md-2
															.form-check
																label.form-check-label
																	input.exampleRadios1.form-check-input#binlpp(type="radio" name="bcurrentparishbool" value="1" checked)
																	| INLPP
																	span.circle
																		span.check
															.form-check
																label.form-check-label
																	input.exampleRadios1.form-check-input#bothers(type="radio" name="bcurrentparishbool" value="0")
																	| Others
																	span.circle
																		span.check
														.col-md-10
															input.form-control#bcurrentparish(type='text' name='bcurrentparish' value="Ina ng Lupang Pangako Parish" disabled)
															p
																span.bemsginvalidcurrentparish.hidden
																	i.fa.fa-times.text-danger(style="font-size:20px" aria-hidden="true")
																	|  Please Enter Your Current Parish.
																span.bemsgcorrectcurrentparish.hidden
																	i.fa.fa-check.text-success(style="font-size:20px" aria-hidden="true")
											.row
												.col-md-4.px-lg-3.px-md-0.px-sm-0
													.form-group
														h6.label-control Father's Full Name:
															.text-danger.d-inline  *
														input.form-control#bfathername(type='text' name='bfathername' placeholder="Ex. Juan Dela Cruz" )
												.col-md-4.p-lg-0.px-md-3.px-sm-0
													.form-group
														h6.label-control Father's Birthplace:
															.text-danger.d-inline  *
														input.form-control#bfatherbirthplace(type'text' name='bfatherbplace' placeholder="Ex. Caloocan, Quezon City" )
												.col-md-4.px-lg-3.px-md-0.px-sm-0
													.form-group
														h6.label-control Father's Religion:
															.text-danger.d-inline  *
														select#bfatherreligion(type="text" name='bfatherreligion')
															option Catholic
															option Non-Catholic
															option Non-Christion
															option No religion
											
											.row
												.col-md-4.px-lg-3.px-md-0.px-sm-0
													.form-group
														h6.label-control Mother's Full Name:
														input.form-control#bmothername(type='text' name='bmothername' placeholder="Ex. Maria Dela Cruz" )
												.col-md-4.p-lg-0.px-md-3.px-sm-0
													.form-group
														h6.label-control Mother's Birthplace:
														input.form-control#bmotherbirthplace(type'text' name='bmotherbplace' placeholder="Ex. San Isidro, Quezon City" )
												.col-md-4.px-lg-3.px-md-0.px-sm-0
													.form-group
														h6.label-control Mother's Religion:
															.text-danger.d-inline  *
														select#bmotherreligion(type="text" name='bmotherreligion')
															option Catholic
															option Non-Catholic
															option Non-Christion
															option No religion
											.row
												.col-md-6.px-lg-3.pr-md-3.px-sm-0
													.form-group
														h6.label-control Baptized?
															.text-danger.d-inline  *
														.ml-4
															.row
																.col-md-2
																	.form-check
																		label.form-check-label
																			input.exampleRadios4.form-check-input#bbapyes(type="radio" name="bbaptized" value="1" checked)
																			| Yes
																			span.circle
																				span.check
																.col-md-10
																	.form-check
																		label.form-check-label
																			input.radioup4.form-check-input#bbapno(type="radio" name="bbaptized" value="0" )
																			| No
																			span.circle
																				span.check
															.textarea4.form-group
																.form-group
																	h6.label-control Parish Where You Were Baptized:
																		.text-danger.d-inline  *
																	input.form-control#bbapplace(type='text' name='bbapplace' placeholder="Ex. Ina ng Lupang Pangako Parish")
																	p
																		span.bemsginvalidbaptized.hidden
																			i.fa.fa-times.text-danger(style="font-size:20px" aria-hidden="true")
																			|  Please Enter Place Where You Were Baptized.
																		span.bemsgcorrectbaptized.hidden
																			i.fa.fa-check.text-success(style="font-size:20px" aria-hidden="true")
																.form-group
																	h6.label-control Date When You Were Baptized:
																		.text-danger.d-inline  *
																	input.marriage.form-control#bbapdate(type='date' name='bbapdate')
																	p
																		span.bemsginvalidbaptizeddate.hidden
																			i.fa.fa-times.text-danger(style="font-size:20px" aria-hidden="true")
																			|  Please Enter Your Baptism Date.
																		span.bemsgcorrectbaptizeddate.hidden
																			i.fa.fa-check.text-success(style="font-size:20px" aria-hidden="true")
												.col-md-6.px-lg-3.pr-md-3.px-sm-0
													.form-group
														h6.label-control Confirmed?
															.text-danger.d-inline  *
														.ml-4
															.row
																.col-md-2
																	.form-check
																		label.form-check-label
																			input.exampleRadios5.form-check-input#bconyes(type="radio" name="bconfirmed" value="1" checked)
																			| Yes
																			span.circle
																				span.check
																.col-md-10
																	.form-check
																		label.form-check-label
																			input.radioup5.form-check-input#bconno(type="radio" name="bconfirmed" value="0" )
																			| No
																			span.circle
																				span.check
															.textarea5.form-group
																.form-group
																	h6.label-control Parish where you were Confirmed:
																		.text-danger.d-inline  *
																	input.form-control#bconplace(type='text' name='bconplace' placeholder="Ex. Ina ng Lupang Pangako Parish" )
																	p
																		span.bemsginvalidconfirmed.hidden
																			i.fa.fa-times.text-danger(style="font-size:20px" aria-hidden="true")
																			|  Please Enter Place Where You Were Confirmed.
																		span.bemsgcorrectconfirmed.hidden
																			i.fa.fa-check.text-success(style="font-size:20px" aria-hidden="true")
																.form-group
																	h6.label-control Date when you were Confirmed:
																		.text-danger.d-inline  *
																	input.marriage.form-control#bcondate(type='date' name='bcondate')
																	p
																		span.bemsginvalidconfirmeddate.hidden
																			i.fa.fa-times.text-danger(style="font-size:20px" aria-hidden="true")
																			|  Please Enter Date of Confirmation.
																		span.bemsgcorrectconfirmeddate.hidden
																			i.fa.fa-check.text-success(style="font-size:20px" aria-hidden="true")
											.row
												.col-md-6.px-lg-3.pr-md-3.px-sm-0
													.form-group
														h6.label-control Valid ID:
															.text-danger.d-inline  *
														input#file-0b.file.valid3.brideid(type='file',accept='image/*' name="validIDBride" onchange="validateFileType3()")
												.col-md-6.px-lg-3.pr-md-3.px-sm-0
													.form-group
														h6.label-control Birth Certificate:
															.text-danger.d-inline  *
														input#file-0b.file.valid4.bridebirthcertificate(type='file',accept='image/*' name="birthCertBride" onchange="validateFileType4()")
									.learn-more.pull-right
										button.btn.std-btn.btn-secondary.btn-previous.m-0(type='button') Prev
										button.btn#nextBride(type='button') Next
								// Form Step 3
								// Form Step 4 COUPLE
								fieldset
									h4
										.d-none.d-sm-inline Couple's Form: 
										span Step 4 - 5
										h6.label-control Living Together?
											.text-danger.d-inline  *
										.row
											.col-md-6.px-lg-3.px-md-0.px-sm-0
												//- h2.main--header.font-italic For the couple
												.form-group.m-0
													.form-check
														h6.form-check-label
															input.form-check-input#boollivinginyes(type="radio" name="boollivingin"  value="1")
															| Yes
															span.circle
																span.check
													.form-check
														h6.form-check-label
															input.form-check-input#boollivinginno(type="radio" name="boollivingin" value="0" checked)
															| No
															span.circle
																span.check
												
									br
									.learn-more.pull-right
										button.btn.std-btn.btn-secondary.btn-previous.m-0(type='button') Prev
										button.btn.btn-next#nextCouple(type='button') Next
								// Form Step 4
								// Form Step 5 SPONSOR
								fieldset 
									h4
										.d-none.d-sm-inline Sponsors Information	
										span Step 5 - 5
										h6.label-control Principal Sponsors
										.row#principalSponsor
											.col-md-6.px-lg-3.px-md-3.px-sm-0
												.form-group.m-0
													input.form-control#firstsponsor(type='text' name='sponsorname' placeholder="Enter Full Name *" required)
											.col-md-6.px-lg-3.px-md-3.px-sm-0
												.form-group.m-0
													input.form-control.balance#secondsponsor(type='text' name='sponsorname' placeholder="Enter Full Name *" required)
											button#addAdditionalSponsor.btn.btn-sm-round.btn-common.btn-fab.btn-fab-mini.btn-round.ml-2.rounded-circle(type="button")
												i.fa.fa-plus
										h6.label-control Secondary Sponsors
										.row#additionalSponsor
									br
									.learn-more.pull-right#finaleSubmit
										button.btn.std-btn.btn-secondary.btn-previous.m-0(type='button') Prev
										button.btn#proceedButton(type='button') Proceed
						input#errChecker(type='text' hidden)
	//MODAL
	#confirmationModal.modal.fade(tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
			.modal-dialog.modal-lg(role="document")
				.modal-content
					.modal-header#headerAppend(style='background:#367587; color:white')
						h5.modal-title(style='background:#367587; color:white') Confirmation 
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true' style='background:#367587; color:white; margin-right: 5px') ×
					.modal-body#bodyAppend
					.modal-footer
						button#confirmButton.filter.btn.btn-success(type="button") Yes, these are correct. 
						button#cancelButton.filter.btn.btn-danger(type="button") Cancel
	#summaryModal.modal.fade(tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
			.modal-dialog.modal-lg(role="document")
				.modal-content
					.modal-header#headerAppend1(style='background:#367587; color:white')
						h5.modal-title(style='background:#367587; color:white') Summary 
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true' style='background:#367587; color:white; margin-right: 5px') ×
					.modal-body#bodyAppend1
					.modal-footer
						button#submitButton.filter.btn.btn-success(type="button") FINALIZE
						button#cancelappButton.filter.btn.btn-danger(type="button") CANCEL APPLICATION
block addjs
	script.
		validateForm()
		function validateFileType1(){
			var fileName = $('.valid1').val()
			console.log(fileName)
			var idxDot = fileName.lastIndexOf(".") + 1;
			var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
			if (extFile=="jpg" || extFile=="jpeg" || extFile=="png"){
				//TO DO
			}else{
				alert("Only jpg/jpeg and png files are allowed!");
				$(".file").val(null)
			}  
		}
		function validateFileType2(){
			var fileName = $('.valid2').val()
			console.log(fileName)
			var idxDot = fileName.lastIndexOf(".") + 1;
			var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
			if (extFile=="jpg" || extFile=="jpeg" || extFile=="png"){
				//TO DO
			}else{
				alert("Only jpg/jpeg and png files are allowed!");
				$(".file").val(null)
			}  
		}
		function validateFileType3(){
			var fileName = $('.valid3').val()
			console.log(fileName)
			var idxDot = fileName.lastIndexOf(".") + 1;
			var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
			if (extFile=="jpg" || extFile=="jpeg" || extFile=="png"){
				//TO DO
			}else{
				alert("Only jpg/jpeg and png files are allowed!");
				$(".file").val(null)
			}  
		}
		function validateFileType4(){
			var fileName = $('.valid4').val()
			console.log(fileName)
			var idxDot = fileName.lastIndexOf(".") + 1;
			var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
			if (extFile=="jpg" || extFile=="jpeg" || extFile=="png"){
				//TO DO
			}else{
				alert("Only jpg/jpeg and png files are allowed!");
				$(".file").val(null)
			}  
		}

		var numsponsors;
		//slides
		$('.radioup').click(function() {
				$('.textarea1').slideUp();
			});
			$('.exampleRadios1').click(function() {
				$('.textarea1').slideDown();
			});

			//- $('.textarea2').hide();
			$('.radioup2').click(function() {
				$('.textarea2').slideUp();
			});
			$('.exampleRadios2').click(function() {
				$('.textarea2').slideDown();
			});

			$('.textarea3').hide();
			$('.radioup3').click(function() {
				$('.textarea3').slideUp();
			});
			$('.exampleRadios3').click(function() {
				$('.textarea3').slideDown();
			});

			//- $('.textarea4').hide();
			$('.radioup4').click(function() {
				$('.textarea4').slideUp();
			});
			$('.exampleRadios4').click(function() {
				$('.textarea4').slideDown();
			});

			//- $('.textarea5').hide();
			$('.radioup5').click(function() {
				$('.textarea5').slideUp();
			});
			$('.exampleRadios5').click(function() {
				$('.textarea5').slideDown();
			});
			$("#addPrincipalSponsor").click(function(event){
					var principal = "<div class='col-md-6 mb-4 pb-3'><div class='input-group'><input type='text' name='sponsorname' class='form-control'/><div class='input-group-prepend'><span class='btnDelete p-1 input-group-text rounded'><i class='fa fa-trash'></i></span></div></div></div>"
					$(principal).hide().appendTo("#principalSponsor").fadeIn(500);
			});

			$("#principalSponsor").on("click", ".btnDelete", function(event){
				$(this).parent().parent().parent().fadeOut(500, function(){
					$(this).remove();
				});
				event.stopPropagation();

			});
			$("#addAdditionalSponsor").click(function(event){
				
				var item2 = `
					<div class="col-md-6 px-lg-3 px-md-3 px-sm-0 mt-3">
						<div class="input-group m-0">
							<input class="form-control" class= 'sponsorclass' type="text" name="sponsorname" id="additionalsponsor" placeholder="Enter Full Name" required/>
							<div class="input-group-prepend"><span class="btnDelete p-1 input-group-text rounded"><i class="fa fa-trash"></i></span></div>
						</div>
					</div>`

				$(item2).hide().appendTo("#additionalSponsor").fadeIn(500);
				
				//- for(i=0;i<$('.sponsorclass').length;i++){

				//- }
			});

			$("#additionalSponsor").on("click", ".btnDelete", function(event){
				$(this).parent().parent().parent().fadeOut(500, function(){
					$(this).remove();
				});
				event.stopPropagation();
			});

			$('#bcivilstatus').change(function(){
			if( $(this).val() == "Married" && $('#gcivilstatus').val()=='Married'){
				$('.textarea3').slideDown();
			}
			else{
				$('.textarea3').slideUp();
			}
		
		});
		// IF THE GROOM IS NOT CATHOLIC
		$('#greligion').change(function(){
				if( $(this).val() != "Catholic"){
					$('.textarea2').slideUp();
					$('.textarea1').slideUp();
					$('#gcurrentparish').prop('disabled', $(this).val() != "Catholic");
					$('#gbapno').prop('disabled', $(this).val() != "Catholic");
					$('#gbapyes').prop('disabled', $(this).val() != "Catholic");
					$('#gconno').prop('disabled', $(this).val() != "Catholic");
					$('#gconyes').prop('disabled', $(this).val() != "Catholic");
					$('#ginlpp').prop('disabled', $(this).val() != "Catholic");
					$('#gothers').prop('disabled', $(this).val() != "Catholic");
					$("#ginlpp").prop('checked', false)
					$("#gothers").prop('checked', false)
					$("#gbapyes").prop('checked', false)
					$("#gbapno").prop('checked', false)
					$("#gconyes").prop('checked', false)
					$("#gconno").prop('checked', false)
					$('#bcurrentparish').val('');
					$('#gbapplace').val('');
					$('#gbapdate').val('');
					$('#gconplace').val('');
					$('#gcondate').val('');
				}
				else{
					$('#gcurrentparish').prop('disabled', true);
					$('#gbapno').prop('disabled', false);
					$('#gbapyes').prop('disabled', false);
					$('#gconno').prop('disabled', false);
					$('#gconyes').prop('disabled', false);
					$('#ginlpp').prop('disabled', false);
					$('#gothers').prop('disabled', false);
					$("#ginlpp").prop('checked', true)
					$("#gbapyes").prop('checked', true)
					$("#gconyes").prop('checked', true)
					$('#gbapplace').val('');
					$('#gbapdate').val('');
					$('#gconplace').val('');
					$('#gcondate').val('');
					$('.textarea2').slideDown();
					$('.textarea1').slideDown();
				}
			});
			// if THE GROOM IS BAPTIZED
			$("#gbapyes").click(function(){
				if($(this).prop("checked") == false){
					$("#gconno").prop('disabled', true);
					$("#gconyes").prop('disabled', true);
					$('#gconplace').val('');
					$('#gcondate').val('');
					$('.textarea1').slideUp();
				}
				else if($(this).prop("checked") == true){
				$("#gconno").prop('disabled', false);
				$("#gconyes").prop('disabled', false);
				$("#gconno").prop('checked', true);
				}
			});
			// IF THE GROOM IS NOT BAPTIZED
			$("#gbapno").click(function(){
				if($(this).prop("checked") == true){
					$("#gconno").prop('disabled', true);
					$("#gconyes").prop('disabled', true);
					$('#gconplace').val('');
					$('#gcondate').val('');
					$("#gconyes").prop('checked', false)
					$("#gconno").prop('checked', true)
					$('.textarea2').slideUp();
					}
				else if($(this).prop("checked") == false){
					$("#gconno").prop('disabled', false);
					$("#gconyes").prop('disabled', false);
					}
			});
			
			// bride
			$('#breligion').change(function(){


				if( $(this).val() != "Catholic"){
					$('.textarea4').slideUp();
					$('.textarea5').slideUp();
					$('#bcurrentparish').prop('disabled', $(this).val() != "Catholic");
					$('#bbapno').prop('disabled', $(this).val() != "Catholic");
					$('#bbapyes').prop('disabled', $(this).val() != "Catholic");
					$('#bconno').prop('disabled', $(this).val() != "Catholic");
					$('#bconyes').prop('disabled', $(this).val() != "Catholic");
					$('#binlpp').prop('disabled', $(this).val() != "Catholic");
					$('#bothers').prop('disabled', $(this).val() != "Catholic");
					$("#binlpp").prop('checked', false)
					$("#bothers").prop('checked', false)
					$("#bbapyes").prop('checked', false)
					$("#bbapno").prop('checked', false)
					$("#bconyes").prop('checked', false)
					$("#bconno").prop('checked', false)
					$('#bbapplace').val('');
					$('#bbapdate').val('');
					$('#bconplace').val('');
					$('#bcondate').val('');
					$('#bcurrentparish').val('');
				}
				else{
					$('#bcurrentparish').prop('disabled', true);
					$('#bbapno').prop('disabled', false);
					$('#bbapyes').prop('disabled', false);
					$('#bconno').prop('disabled', false);
					$('#bconyes').prop('disabled', false);
					$('#binlpp').prop('disabled', false);
					$('#bothers').prop('disabled', false);
					$("#binlpp").prop('checked', true)
					$("#bbapyes").prop('checked', true)
					$("#bconyes").prop('checked', true)
					$('#bbapplace').val('');
					$('#bbapdate').val('');
					$('#bconplace').val('');
					$('#bcondate').val('');
					$('.textarea4').slideDown();
					$('.textarea5').slideDown();
				}
			});
			// if THE BRIDE IS BAPTIZED
			$("#bbapyes").click(function(){
				if($(this).prop("checked") == false){
					$("#bconno").prop('disabled', true);
					$("#bconyes").prop('disabled', true);
					$('#bconplace').val('');
					$('#bcondate').val('');
					$('.textarea4').slideUp();
					}
				else if($(this).prop("checked") == true){
					$("#bconno").prop('disabled', false);
					$("#bconyes").prop('disabled', false);
					$("#bconno").prop('checked', true);
					}
			});
			// IF THE BRIDE IS NOT BAPTIZED
			$("#bbapno").click(function(){
				if($(this).prop("checked") == true){
					$("#bconno").prop('disabled', true);
					$("#bconyes").prop('disabled', true);
					$('#bconplace').val('');
					$('#bcondate').val('');
					$("#bconyes").prop('checked', false)
					$("#bconno").prop('checked', true)
					$('.textarea5').slideUp();
					}
				else if($(this).prop("checked") == false){
					$("#bconno").prop('disabled', false);
					$("#bconyes").prop('disabled', false);
					
					}
			});

			$("#gothers").click(function(){
				if($(this).prop("checked") == true){
					$("#gcurrentparish").prop('disabled', false);
					$("#gcurrentparish").val("")
					$("#ginlpp").prop('checked', false)
					}
				else if($(this).prop("checked") == false){
					$("#gcurrentparish").prop('disabled', true);
					}
			});
			$("#ginlpp").click(function(){
				if($(this).prop("checked") == true){
					$("#gcurrentparish").prop('disabled', true);
					$("#gcurrentparish").val("Ina ng Lupang Pangako Parish")
					$("#gothers").prop('checked', false)
					}
				else if($(this).prop("checked") == false){
					$("#gcurrentparish").prop('disabled', false);
					$("#ginlpp").prop('checked', false)
					}
			});
			$("#bothers").click(function(){
				if($(this).prop("checked") == true){
					$("#bcurrentparish").prop('disabled', false);
					$("#bcurrentparish").val("")
					$("#binlpp").prop('checked', false)
					}
				else if($(this).prop("checked") == false){
					$("#bcurrentparish").prop('disabled', true);
					}
			});
			$("#binlpp").click(function(){
				if($(this).prop("checked") == true){
					$("#bcurrentparish").prop('disabled', true);
					$("#bcurrentparish").val("Ina ng Lupang Pangako Parish")
					$("#bothers").prop('checked', false)
					}
				else if($(this).prop("checked") == false){
					$("#bcurrentparish").prop('disabled', false);
					$("#binlpp").prop('checked', false)
					}
			});
		
		$(document).ready(function(){
			var dateNow2
			var eventDate ='';
			var timeStart ='';
			var timeEnd2 ='';
			var dateNow = new Date()
			var dateNow2;
			var gender;
			var numsponsors;
			$.get('/guest/marriage/utilities/query').done(data=>{
				console.log("reservation min days: "+data.int_reservationmindays)
				var downpaymentdeadline = moment(dateNow).add(data.int_downpaymentdays,'days')
				var fullpaymentdeadline = moment(dateNow).add(data.int_fullpaymentdays,'days')
				dateNow2 = moment(dateNow,'YYYY-MM-DD hh:mm a').add(data.int_reservationmindays,'days').format('YYYY-MM-DD')
				$('#calendarMarriage').fullCalendar({
					header: {
					left: 'title',
					center: 'agendaDay,month',
					right: 'prev,next today'
					},
					editable: false,
					firstDay: 0,
					selectable: true,
					defaultView: 'month',
					allDaySlot: false,
					selectHelper: true,
					minTime:data.time_availablestart,
					maxTime:data.time_availableend,
					validRange: {
						start: dateNow2
					},
					businessHours: { dow: [0,1,2,3,4,5,6] },
					selectConstraint:"businessHours",
					select:function(date,jsEvent,view){
					var view = $('#calendarMarriage').fullCalendar('getView');
					console.log(view.name)
					if(view.name == 'agendaDay'){
						eventDate = date.format('YYYY-MM-DD')
						timeStart = date.format('hh:mm a')
						timeEnd1 = date.add(1,'hour').format('YYYY-MM-DD hh:mm a')
						timeEnd2 = moment(timeEnd1).format('hh:mm a')
						console.log(eventDate)
						console.log(timeStart)
						console.log(timeEnd2)
						swal({
							title: 'You have selected this date, are you sure?',
							html: `Date: ${eventDate}  <br>` +
							`Time: ${timeStart} - ${timeEnd2} <br>`,
							showCancelButton: true,
							confirmButtonColor: '#3085d6',
							cancelButtonColor: '#d33',
							confirmButtonClass: 'btn btn-success',
							cancelButtonClass: 'btn btn-danger',
							buttonsStyling: true,   
						}).then((value) => {
							if(value.value) {
								$('#eventdate').val(`${eventDate}`)
								$('#timestart').val(`${timeStart}`)
								$('#timeEnd2').val(`${timeEnd2}`)
								$("#calendarMarriage").fullCalendar('removeEvents',[1])
								swal(
									'Sucess!',
									'Event Date has been set.',
									'success'
								).then((value)=>{
								console.log('DESIRED TIME')
								$('#calendarMarriage').fullCalendar('renderEvent', {
									title: 'DESIRED TIME',
									start: `${moment(eventDate,'YYYY-MM-DD').format('MM/DD/YYYY')} ${timeStart}`,
									end: `${moment(eventDate,'YYYY-MM-DD').format('MM/DD/YYYY')} ${timeEnd2}`,
									allDay: false,
									id:1,
									overlap: false,
									droppable:true
								});
								return value
								console.log(eventDate)
								})
							} else if (
								value.dismiss === swal.DismissReason.cancel
							) {
								eventDate = '';
								timeStart = '';
								timeEnd2 = '';
							}
						})
					}
					else if(view.name == 'month'){
						$('#calendarMarriage').fullCalendar('changeView', 'agendaDay')
						$('#calendarMarriage').fullCalendar('gotoDate', date);
					}
					else{
						return 
					}
					}	
					})
				$('#nextButton1').click(function(){
					if(eventDate == '' && timeStart == ''){
						swal({
							title: "Please schedule your date",
							text: "You haven't chosen your desired schedule yet",
							type: 'warning',
							confirmButtonColor: '#3085d6',
							confirmButtonText: 'OK'
						})
					}
					else{
						$('html, body').animate({
							scrollTop:$('.header-text').position().top},600);
						var parent_fieldset = $(this).parents('fieldset');
						var next_step = true;
						// navigation steps / progress steps
						var current_active_step = $(this).parents('.form-wizard').find('.form-wizard-step.active');
						var progress_line = $(this).parents('.form-wizard').find('.form-wizard-progress-line');

						if( next_step ) {
							parent_fieldset.fadeOut(400, function() {
								// change icons
								current_active_step.removeClass('active').addClass('activated').next().addClass('active');
								// progress bar
								bar_progress(progress_line, 'right');
								// show next step
								$(this).next().fadeIn();
								// scroll window to beginning of the form
								scroll_to_class( $('.form-wizard'), 20 );
							});
						}
					}
					})
				$('#nextGroom').click(function(){
						//- $.get('/guest/marriage/utilities/query').done(data=>{
						var age = moment().diff($('#gbirthday').val(),'years')
						console.log(age)

						//BLANK
						// required only alphabetical characters, minimum of 2
						var $regexvalidation1 = /^([a-zs ]{2,})+$/i;
						//only alphabetical characters, minimum of 2
						var $regexvalidation2 = /^([a-zs ]{2,})*$/i;
						// required only alphabetical characters, minimum of 6
						var $regexvalidation3 = /^([a-zs ]{6,})+$/i;
						// required only alphabetical characters, minimum of 3
						var $regexvalidation4 = /^([a-zs ]{3,})+$/i;
						//contact number validation
						var $addressvalidation = /^([a-zs0-9-,. ]{8,})+$/i;
						//contact number validation
						var $contactnumber = /^(09|\+639)\d{9}$/;
						if(
							!$('#gfirstname').val().match($regexvalidation1) ||
							!$('#glastname').val().match($regexvalidation1)  ||
							!$('#gmiddlename').val().match($regexvalidation2)  ||
							$('#gbirthday').val() == ''  ||
							!$('#gbirthplace').val().match($regexvalidation1)  ||
							!$('#gfathername').val().match($regexvalidation3)  ||
							$('#gfatherreligion').val() == ''  ||
							!$('#gfatherbirthplace').val().match($regexvalidation1)  ||
							!$('#gmothername').val().match($regexvalidation3)  ||
							$('#gmotherreligion').val() == ''  ||
							!$('#gmotherbirthplace').val().match($regexvalidation1)  ||
							!$('#gaddress').val().match($addressvalidation)  ||
							$('#gcivilstatus').val() =='' ||
							!$('#goccupation').val().match($regexvalidation4) ||
							$('#greligion').val() == '' ||
							$('.groomid').val() == '' ||
							$('.groomid').val() == undefined ||
							$('.groombirthcertificate').val() == '' ||
							$('.groombirthcertificate').val() == undefined ||
							$('#gothers').prop("checked") && !$('#gcurrentparish').val().match($regexvalidation4) ||
							$('#gbapyes').prop("checked") && !$('#gbapplace').val().match($regexvalidation4) || 
							$('#gbapyes').prop("checked") && $('#gbapdate').val() == ''  || 
							$('#gconyes').prop("checked") && !$('#gconplace').val().match($regexvalidation4) ||
							$('#gconyes').prop("checked") && $('#gcondate').val() == ''
						){
							swal({
								title: "Form is incomplete/invalid",
								text: "Please fill out and validate all the required fields",
								type: 'warning',
								confirmButtonColor: '#3085d6',
								confirmButtonText: 'Okay'
							})
						}

						else{
							if(age < data.int_agemin){
									swal({
										title: `Age not valid.`,
										text: "We are very sorry, but you didn't pass the minimum age requirement to be married. Please check if you have entered your correct birthdate. Thank you.",
										showCancelButton: true,
										confirmButtonColor: '#d33' ,
										cancelButtonColor: '#3085d6',
										confirmButtonClass: 'btn btn-success',
										cancelButtonClass: 'btn btn-danger',
										buttonsStyling: true,
										cancelButtonText:'Re-enter birthdate',
										confirmButtonText:'Cancel Application',
									}).then((result)=>{
										if (result.value) {
											window.location='/guest/marriagedetails'
										}else{
											$('html, body').animate({
											scrollTop:$('.scrollbday').position().top},600);
											$('.birthday').val("")
											$('.birthday').css("border", "1px solid red")
											$('.birthday').focus()
										}
									})
								}
								
							else{
								$('.birthday').css("border", "1px solid #c8c2c2")
								$('html, body').animate({
									scrollTop:$('.header-text').position().top},600);
								var parent_fieldset = $(this).parents('fieldset');
								var next_step = true;
								// navigation steps / progress steps
								var current_active_step = $(this).parents('.form-wizard').find('.form-wizard-step.active');
								var progress_line = $(this).parents('.form-wizard').find('.form-wizard-progress-line');

								if( next_step ) {
									parent_fieldset.fadeOut(400, function() {
										// change icons
										current_active_step.removeClass('active').addClass('activated').next().addClass('active');
										// progress bar
										bar_progress(progress_line, 'right');
										// show next step
										$(this).next().fadeIn();
										// scroll window to beginning of the form
										scroll_to_class( $('.form-wizard'), 20 );
									});
								}
							}
						}	
					//- })//get
					})//nextgroom 
				$('#nextBride').click(function(){
				
					var age = moment().diff($('#bbirthday').val(),'years')
					console.log(age)
					//lagay ka dito self ng array para sa mga di nasagutan
					//BLANK
					console.log($('#bcivilstatus').val())
					console.log($('#gcivilstatus').val())
					var $regexvalidation1 = /^([a-zs ]{2,})+$/i;
					//only alphabetical characters, minimum of 2
					var $regexvalidation2 = /^([a-zs ]{2,})*$/i;
					// required only alphabetical characters, minimum of 6
					var $regexvalidation3 = /^([a-zs ]{6,})+$/i;
					// required only alphabetical characters, minimum of 3
					var $regexvalidation4 = /^([a-zs ]{3,})+$/i;
					//contact number validation
					var $addressvalidation = /^([a-zs0-9-,. ]{8,})+$/i;
					//contact number validation
					var $contactnumber = /^(09|\+639)\d{9}$/;
					if(
						!$('#bfirstname').val().match($regexvalidation1)   ||
						!$('#blastname').val().match($regexvalidation1)  ||
						!$('#gmiddlename').val().match($regexvalidation2)  ||
						$('#bbirthday').val() == ''  ||
						!$('#bbirthplace').val().match($regexvalidation1)  ||
						!$('#bfathername').val().match($regexvalidation3)  ||
						$('#bfatherreligion').val() == ''  ||
						!$('#bfatherbirthplace').val().match($regexvalidation1)  ||
						!$('#bmothername').val().match($regexvalidation3)  ||
						$('#bmotherreligion').val() == ''  ||
						!$('#bmotherbirthplace').val().match($regexvalidation1)  ||
						!$('#baddress').val().match($addressvalidation)  ||
						$('#bcivilstatus').val() =='' ||
						!$('#boccupation').val().match($regexvalidation4)  ||
						$('#breligion').val() =='' ||
						$('.brideid').val() == '' ||
						$('.brideid').val() == undefined ||
						$('.bridebirthcertificate').val() == '' ||
						$('.bridebirthcertificate').val() == undefined ||
						$('#bothers').prop("checked") && !$('#bcurrentparish').val().match($regexvalidation4) ||
						$('#bbapyes').prop("checked") && !$('#bbapplace').val().match($regexvalidation4) || 
						$('#bbapyes').prop("checked") && $('#bbapdate').val() == ''|| 
						$('#bconyes').prop("checked") && !$('#bconplace').val().match($regexvalidation4) ||
						$('#bconyes').prop("checked") && $('#bcondate').val() == '' ||
						$('#bcivilstatus').val() == 'Married' && $('#gcivilstatus').val()=='Married' && !$('#cpreviousweddingplace').val().match($regexvalidation4) ||
						$('#bcivilstatus').val() == 'Married' && $('#gcivilstatus').val()=='Married' && $('#cpreviousweddingdate').val() == ''

						
						){
						swal({
							title: "Form is incomplete",
							text: "Please fill out all the required fields",
							type: 'warning',
							confirmButtonColor: '#3085d6',
							confirmButtonText: 'Okay'
						})
					}
					else{
						if(age < data.int_agemin){
								swal({
									title: `Age not valid.`,
									text: "We are very sorry, but you didn't pass the minimum age requirement to be married. Please check if you have entered your correct birthdate. Thank you.",
									showCancelButton: true,
									confirmButtonColor: '#d33' ,
									cancelButtonColor: '#3085d6',
									confirmButtonClass: 'btn btn-success',
									cancelButtonClass: 'btn btn-danger',
									buttonsStyling: true,
									cancelButtonText:'Re-enter birthdate',
									confirmButtonText:'Cancel Application',
								}).then((result)=>{
									if (result.value) {
										window.location='/guest/marriagedetails'
									}else{
										$('html, body').animate({
										scrollTop:$('.bscrollbday').position().top},600);
										$('.bridebday').val("")
										$('.bridebday').css("border", "1px solid red")
										$('.bridebday').focus()
									}
								})
						}
						else if( $('#breligion').val() !='Catholic'  && $('#greligion').val() !='Catholic' ){
								swal({
										title: `The couple is non-catholic.`,
										text: "Please check the religions you have entered.",
										showCancelButton: true,
										confirmButtonColor: '#d33' ,
										cancelButtonColor: '#3085d6',
										confirmButtonClass: 'btn btn-success',
										cancelButtonClass: 'btn btn-danger',
										buttonsStyling: true,
										cancelButtonText:'Re-enter Religions',
										confirmButtonText:'Cancel Application',
									}).then((result)=>{
										if (result.value) {
										window.location='/guest/marriagedetails'
										}
									})
						}
						else if($('#bcivilstatus').val() == "Married" && $('#gcivilstatus').val() !='Married'){
							swal({
								title: "Was the couple married to each other before?",
								text: "It seems like you have entered the wrong civil status for the bride/groom. Please make sure that both status are 'Married' if you were married before. If not, and one is stil married to another person, you cannot marry your partner yet.",
								showCancelButton: true,
								confirmButtonColor: '#d33' ,
								cancelButtonColor: '#3085d6',
								confirmButtonClass: 'btn btn-success',
								cancelButtonClass: 'btn btn-danger',
								buttonsStyling: true,
								cancelButtonText:'Re-enter Civil Status',
								confirmButtonText:'Cancel Application',
							}).then((result)=>{
								if (result.value) {
								window.location='/guest/marriagedetails'
								}
							})	
						}
						else if($('#gcivilstatus').val() == "Married" && $('#bcivilstatus').val() !='Married'){
							swal({
								title: "Was the couple married to each other before?",
								text: "It seems like you have entered the wrong civil status for the bride/groom. Please make sure that both status are 'Married' if you were married before. If not, and one is stil married to another person, you cannot marry your partner yet.",
								showCancelButton: true,
								confirmButtonColor: '#d33' ,
								cancelButtonColor: '#3085d6',
								confirmButtonClass: 'btn btn-success',
								cancelButtonClass: 'btn btn-danger',
								buttonsStyling: true,
								cancelButtonText:'Re-enter Civil Status',
								confirmButtonText:'Cancel Application',
							}).then((result)=>{
								if (result.value) {
								window.location='/guest/marriagedetails'
								}
							})	
						}
						else{
							$('.bbirthday').css("border", "1px solid #c8c2c2")
							$('html, body').animate({
								scrollTop:$('.header-text').position().top},600);
							var parent_fieldset = $(this).parents('fieldset');
							var next_step = true;
							// navigation steps / progress steps
							var current_active_step = $(this).parents('.form-wizard').find('.form-wizard-step.active');
							var progress_line = $(this).parents('.form-wizard').find('.form-wizard-progress-line');

							if( next_step ) {
								parent_fieldset.fadeOut(400, function() {
									// change icons
									current_active_step.removeClass('active').addClass('activated').next().addClass('active');
									// progress bar
									bar_progress(progress_line, 'right');
									// show next step
									$(this).next().fadeIn();
									// scroll window to beginning of the form
									scroll_to_class( $('.form-wizard'), 20 );
								});
							}
						}
					}
					
					})//nextbride		

				$("#confirmButton").click(function(){
						var ctrSponsor = $('.sponsorclass').length + 1;
						console.log($('.sponsorclass'))
						$('#bodyAppend1').append(`You fell under the category of Non-ordinary marriage, it must be because: `)
						$('#bodyAppend1').append(`<li>- The groom or the bride is not a Roman Catholic`)
						$('#bodyAppend1').append(`<li>- The groom or the bride is divorced/widowed/widower`)
						$('#bodyAppend1').append(`<li>- The groom or the bride is not a Filipino citizen`)
						$('#bodyAppend1').append(`<li>- The groom and/or the bride is/are part of the militar`)
						$('#bodyAppend1').append(`<li>- The bride is 5 months or above pregnant`)
						$('#bodyAppend1').append(`<li>- The couple is living together`)
						$('#bodyAppend1').append(`<li>- The couple was married before (renewal of vows)`)
						
						$('#bodyAppend1').append(`<br><br>There will be additional requirements for the cases stated; therefore, the wedding schedule won't be finalized until you submitted them all. You will learn more about this after your Canonical Interview with the priest, if you wish to continue your application.`)
						$('#bodyAppend1').append(`<br><br>Note that the Canonical Interview will be scheduled after the payment process.`)

						$('#bodyAppend1').append(`<br><br><strong><h6>Payment Summary:</h6>Service Fee: </strong>`+ data.double_fee)
						$('#bodyAppend1').append(`<br> <strong>Additional Rate per secondary sponsors:</strong> `+ data.double_addrate*ctrSponsor)
						$('#bodyAppend1').append(`<br><strong> Total Amount: </strong>(not yet computed)`+ data.double_fee)
						$('#bodyAppend1').append(`<br><br> You have to pay at least the half of the total amount within ` +data.int_downpaymentdays + ` days and pay the rest after `+  data.int_fullpaymentdays +' days.')
						

						

						$('#submitButton').click(function(){
							$('#summaryModal').modal('hide')
							Swal.fire({
								title: '<strong>Finalize all preceding fields and then press submit.</strong>',
								type: 'info',
								//- html:
								//- 	'You can use <b>bold text</b>, ' +
								//- 	'<a href="//github.com">links</a> ' +
								//- 	'and other HTML tags',
								showCloseButton: true,
								focusConfirm: false,
								confirmButtonText: 'Okay'
							}).then((result) => {
								if (result.value) {
									$('#proceedButton').addClass('d-none')
									$('#finaleSubmit').append("<button id='proceedButton' class='btn' type='submit'>Submit</button>")
								}
							})
							//- $(this).attr('disabled', 'disabled');
							//- $('#form').submit()
						})
						$('#confirmationModal').modal('hide')
						$('#cancelButton').click(function(){
							$('#summaryModal').modal('hide')
							$('#confirmationModal').modal('show')
						})
						$('#summaryModal').modal('show')
						$('#summaryModal').on('hidden.bs.modal',function(){
							$('#bodyAppend1').empty()
							$('#headerAppend1').empty()
						})
						
					});//confirm
				$("#proceedButton").click(function(){
					if(
						$('#firstsponsor').val() == '' ||
						$('#secondsponsor').val() == '' ||
						$('.sponsorclass').val() == ''
					){
						swal({
								title: "Form is incomplete",
								text: "Please fill out all the fields or delete them by clicking the delete button on its right",
								type: 'warning',
								confirmButtonColor: '#3085d6',
								confirmButtonText: 'Okay'
							})
					}
					else{
						var gcivilstatus = $('#gcivilstatus').val();
						var bcivilstatus = $('#bcivilstatus').val();
						var greligion = $('#greligion').val();
						var breligion = $('#breligion').val();
						var gothers = $('#gothers').val();
						var bothers = $('#bothers').val();
						var gnationality = $('#gnationality').val();
						var bnationality = $('#bnationality').val();
						
						if(
							gcivilstatus != 'Single' || bcivilstatus !="Single" ||
							gnationality != 'Filipino' || bnationality !="Filipino" ||
							goccupation == 'Military' || boccupation =="Military" ||
							$('#boollivinginyes').prop("checked") == true||
							$('#boolpregnantyes').prop("checked") == true|| 
							greligion != 'Catholic' || breligion != 'Catholic'||
							greligion == 'Catholic' && $('#gbapno').prop("checked") == true||
							breligion == 'Catholic' && $('#bbapno').prop("checked") == true||
							greligion == 'Catholic' && $('#gbapyes').prop("checked") == true && $('#gconno').prop("checked") == true ||
							breligion == 'Catholic' && $('#bbapyes').prop("checked") == true && $('#bconno').prop("checked") == true 
							

							
						){
							$('#bodyAppend').append(`<p>We would like to confirm first the following:<ul>`)
							//CIVILSTATUS
							if( gcivilstatus != 'Single' && bcivilstatus !="Single" && gcivilstatus != 'Married' && bcivilstatus !="Married"){
								$('#bodyAppend').append(`<li>-  The groom is ${gcivilstatus} and the bride is ${bcivilstatus}. </li>`)
							}
							if( gcivilstatus != 'Single' && bcivilstatus =="Single"){
								$('#bodyAppend').append(`<li>-  The groom is ${gcivilstatus}.</li>`)
							}
							if( gcivilstatus == 'Single' && bcivilstatus !="Single"){
								$('#bodyAppend').append(`<li>-  The bride is ${bcivilstatus}.</li>`)
							}
							if( gcivilstatus == 'Married' && bcivilstatus =="Married"){
								$('#bodyAppend').append(`<li>-  The couple was married to each other before.</li>`)
							}
							//NATIONALITY
							if( gnationality != 'Filipino' && bnationality !="Filipino"){
								$('#bodyAppend').append(`<li>-  The groom is ${gnationality} and the bride is ${bnationality}. </li>`)
							}
							if( gnationality != 'Filipino' && bnationality =="Filipino"){
								$('#bodyAppend').append(`<li>-  The groom is ${gnationality}.</li>`)
							}
							if( gnationality == 'Filipino' && bnationality !="Filipino"){
								$('#bodyAppend').append(`<li>-  The bride is ${bnationality}.</li>`)
							}
							//OCCUPATION
							if( goccupation == 'Military' && boccupation =="Military"){
								$('#bodyAppend').append(`<li>-  The groom is ${goccupation} and the bride is ${boccupation}. </li>`)
							}
							if( goccupation == 'Military' && boccupation !="Military"){
								$('#bodyAppend').append(`<li>-  The groom is ${goccupation}.</li>`)
							}
							if( goccupation != 'Military' && boccupation =="Military"){
								$('#bodyAppend').append(`<li>-  The bride is ${boccupation}.</li>`)
							}
							//PREGNANT
							if( $('#boolpregnantyes').prop("checked") == true){
								$('#bodyAppend').append(`<li>-  The bride is 5 months or above pregnant.</li>`)
							}
							//LIVING IN
							if($('#boollivinginyes').prop("checked") == true){
								$('#bodyAppend').append(`<li>-  The couple is living in the same house.</li>`)
							}
							//RELIGION
							if( greligion != 'Catholic' && greligion != 'No Religion'){
								$('#bodyAppend').append(`<li>-  The groom is a ${greligion}</li>`)
							}
							if( breligion != 'Catholic' && breligion != 'No Religion'){
								$('#bodyAppend').append(`<li>-  The bride is a ${breligion}</li>`)
							}
							if( breligion == 'No Religion'){
								$('#bodyAppend').append(`<li>-  The bride has no religion</li>`)
							}
							if( greligion == 'No Religion'){
								$('#bodyAppend').append(`<li>-  The groom has no religion</li>`)
							}
							//BAPTIZED
							if( greligion == 'Catholic' && $('#gbapno').prop("checked") == true){
								$('#bodyAppend').append(`<li>-  The groom is Catholic but not yet baptized or confirmed</li>`)
							}
							if( breligion == 'Catholic' && $('#bbapno').prop("checked") == true){
								$('#bodyAppend').append(`<li>-  The bride is Catholic but not yet baptized or confirmed</li>`)
							}
							if( greligion == 'Catholic' && $('#gbapyes').prop("checked") == true && $('#gconno').prop("checked") == true ){
								$('#bodyAppend').append(`<li>-  The groom is Catholic and baptized but not yet confirmed</li>`)
							}
							if( breligion == 'Catholic' && $('#bbapyes').prop("checked") == true && $('#bconno').prop("checked") == true ){
								$('#bodyAppend').append(`<li>-  The bride is Catholic and baptized but not yet confirmed</li>`)
							}
							if( $('bcivilstatus').val() == "Married" && $('#gcivilstatus').val()=='Married'){
								$('#bodyAppend').append(`<li>-  The couple was married before.`)
							}
							if($('#ginlpp').checked == false && $('#binlpp').checked == false ) {
								$('#bodyAppend').append(`<li>-  The groom was from ${gothers} and the bride was from ${bothers}.`)
							}
							if($('#ginlpp').checked == true && $('#binlpp').checked == false ) {
								$('#bodyAppend').append(`<li>-  Thebride is from ${bothers}.`)
							}
							if($('#ginlpp').checked == false && $('#binlpp').checked == true ) {
								$('#bodyAppend').append(`<li>-  The groom is from ${gothers}.`)
							}
							$('#cancelButton').click(function(){
								$('#confirmationModal').modal('hide')
							})
							$('#confirmationModal').modal('show')
							$('#confirmationModal').on('hidden.bs.modal',function(){
								$('#bodyAppend').empty()
								
							})
						}
						else{
							$('#bodyAppend1').append(`<strong><h6>Payment Summary:</h6>Service Fee: </strong>`+ data.double_fee)
							$('#bodyAppend1').append(`<br> <strong>Additional Rate:</strong> `+ data.double_addrate+`/secondary sponsor`)
							$('#bodyAppend1').append(`<br><strong> Total Amount: </strong>(not yet computed)`+ data.double_fee)
							$('#bodyAppend1').append(`<br><br> You have to pay at least the half of the total amount within ` +data.int_downpaymentdays + ` days and pay the rest after `+  data.int_fullpaymentdays +' days.')
							
							

							$('#submitButton').click(function(){
								$('#finaleSubmit').empty().append("<button id='proceedButton' class='btn' type='submit'>Proceed</button>")
								//- $('#form').submit()
							})
							$('#confirmationModal').modal('hide')
							$('#cancelButton').click(function(){
								$('#summaryModal').modal('hide')
								$('#confirmationModal').modal('show')
							})
							$('#summaryModal').modal('show')
							$('#summaryModal').on('hidden.bs.modal',function(){
								$('#bodyAppend1').empty()
								$('#headerAppend1').empty()
							})
							
						
					}
					}
					})//proceed

				
			$.get('/guest/marriage/query').done(data=>{
					for(i=0;i<data.length;i++){
					var dateEvent = moment(data[i].date_eventdate).format('MM/DD/YYYY');
					var time_start = data[i].time_eventstart = moment(data[i].time_eventstart,'hh:mm:ss').format('hh:mm a');
					var time_end = moment(data[i].time_eventstart,'hh:mm:ss').add(1,'hour').format('hh:mm a');
					//- console.log(time_end)
					//- console.log(dateEvent)
					//- console.log(data[i].time_eventstart)
					//- console.log(data[i].char_approvalstatus)
						$('#calendarSpecial').fullCalendar('renderEvent', {
						title: 'OCCUPIED EVENT',
						start: `${dateEvent} ${time_start}`,
						end: `${dateEvent} ${time_end}`,
						allDay: false,
						color:'#4c2508',
						textColor: "white",
						});
					}
			})	//get marriage query
		})//get
		
		});//docu
		//GROOM
		$('#gbirthday').on('keypress keydown keyup focus focusout',function(e){
			if ($(this).val().length == 0) {
				// there is a mismatch, hence show the error message
					$('.gemsgcorrect').addClass('hidden');
					$('.gemsg').removeClass('hidden');
					$('.gemsg').show();
				}
			else{
				// else, do not display message
				$('.gemsg').addClass('hidden');
				$('.gemsgcorrect').removeClass('hidden');
				$('.gemsgcorrect').show();
			}
			e.stopPropagation();
		});

		// required only alphabetical characters, minimum of 3
		var $regexvalidation4 = /^([a-zs ]{3,})+$/i;
		$('#gcurrentparish').on('keypress keydown keyup focus focusout',function(e){
			if (!$(this).val().match($regexvalidation4)) {
				// there is a mismatch, hence show the error message
					$('.gemsgcorrectcurrentparish').addClass('hidden');
					$('.gemsginvalidcurrentparish').removeClass('hidden');
					$('.gemsginvalidcurrentparish').show();
				}
			else{
				// else, do not display message
				$('.gemsginvalidcurrentparish').addClass('hidden');
				$('.gemsgcorrectcurrentparish').removeClass('hidden');
				$('.gemsgcorrectcurrentparish').show();
			}
			e.stopPropagation();
		});

		$('#gbapdate').on('keypress keydown keyup focus focusout',function(e){
			if ($(this).val().length == 0) {
				// there is a mismatch, hence show the error message
					$('.gemsgcorrectbaptizeddate').addClass('hidden');
					$('.gemsginvalidbaptizeddate').removeClass('hidden');
					$('.gemsginvalidbaptizeddate').show();
				}
			else{
				// else, do not display message
				$('.gemsginvalidbaptizeddate').addClass('hidden');
				$('.gemsgcorrectbaptizeddate').removeClass('hidden');
				$('.gemsgcorrectbaptizeddate').show();
			}
			e.stopPropagation();
		});

		$('#gconplace').on('keypress keydown keyup focus focusout',function(e){
			if (!$(this).val().match($regexvalidation4)) {
				// there is a mismatch, hence show the error message
					$('.gemsgcorrectconfirmed').addClass('hidden');
					$('.gemsginvalidconfirmed').removeClass('hidden');
					$('.gemsginvalidconfirmed').show();
				}
			else{
				// else, do not display message
				$('.gemsginvalidconfirmed').addClass('hidden');
				$('.gemsgcorrectconfirmed').removeClass('hidden');
				$('.gemsgcorrectconfirmed').show();
			}
			e.stopPropagation();
		});

		$('#gbapplace').on('keypress keydown keyup focus focusout',function(e){
			if (!$(this).val().match($regexvalidation4)) {
				// there is a mismatch, hence show the error message
					$('.gemsgcorrectbaptized').addClass('hidden');
					$('.gemsginvalidbaptized').removeClass('hidden');
					$('.gemsginvalidbaptized').show();
				}
			else{
				// else, do not display message
				$('.gemsginvalidbaptized').addClass('hidden');
				$('.gemsgcorrectbaptized').removeClass('hidden');
				$('.gemsgcorrectbaptized').show();
			}
			e.stopPropagation();
		});

		$('#gcondate').on('keypress keydown keyup focus focusout',function(e){
			if ($(this).val().length == 0) {
				// there is a mismatch, hence show the error message
					$('.gemsgcorrectconfirmeddate').addClass('hidden');
					$('.gemsginvalidconfirmeddate').removeClass('hidden');
					$('.gemsginvalidconfirmeddate').show();
				}
			else{
				// else, do not display message
				$('.gemsginvalidconfirmeddate').addClass('hidden');
				$('.gemsgcorrectconfirmeddate').removeClass('hidden');
				$('.gemsgcorrectconfirmeddate').show();
			}
			e.stopPropagation();
		});
		//BRIDE
		$('#bbirthday').on('keypress keydown keyup focus focusout',function(e){
			if ($(this).val().length == 0) {
				// there is a mismatch, hence show the error message
					$('.bemsgcorrect').addClass('hidden');
					$('.bemsg').removeClass('hidden');
					$('.bemsg').show();
				}
			else{
				// else, do not display message
				$('.bemsg').addClass('hidden');
				$('.bemsgcorrect').removeClass('hidden');
				$('.bemsgcorrect').show();
			}
			e.stopPropagation();
		});

		$('#cpreviousweddingdate').on('keypress keydown keyup focus focusout',function(e){
			if ($(this).val().length == 0) {
				// there is a mismatch, hence show the error message
					$('.bemsgcorrectpreviousweddingdate').addClass('hidden');
					$('.bemsginvalidpreviousweddingdate').removeClass('hidden');
					$('.bemsginvalidpreviousweddingdate').show();
				}
			else{
				// else, do not display message
				$('.bemsginvalidpreviousweddingdate').addClass('hidden');
				$('.bemsgcorrectpreviousweddingdate').removeClass('hidden');
				$('.bemsgcorrectpreviousweddingdate').show();
			}
			e.stopPropagation();
		});

		// required only alphabetical characters, minimum of 3
		var $regexvalidation4 = /^([a-zs ]{3,})+$/i;
		$('#cpreviousweddingplace').on('keypress keydown keyup focus focusout',function(e){
			if (!$(this).val().match($regexvalidation4)) {
				// there is a mismatch, hence show the error message
					$('.bemsgcorrectpreviousweddingplace').addClass('hidden');
					$('.bemsginvalidpreviousweddingplace').removeClass('hidden');
					$('.bemsginvalidpreviousweddingplace').show();
				}
			else{
				// else, do not display message
				$('.bemsginvalidpreviousweddingplace').addClass('hidden');
				$('.bemsgcorrectpreviousweddingplace').removeClass('hidden');
				$('.bemsgcorrectpreviousweddingplace').show();
			}
			e.stopPropagation();
		});

		// required only alphabetical characters, minimum of 3
		var $regexvalidation4 = /^([a-zs ]{3,})+$/i;
		$('#bcurrentparish').on('keypress keydown keyup focus focusout',function(e){
			if (!$(this).val().match($regexvalidation4)) {
				// there is a mismatch, hence show the error message
					$('.bemsgcorrectcurrentparish').addClass('hidden');
					$('.bemsginvalidcurrentparish').removeClass('hidden');
					$('.bemsginvalidcurrentparish').show();
				}
			else{
				// else, do not display message
				$('.bemsginvalidcurrentparish').addClass('hidden');
				$('.bemsgcorrectcurrentparish').removeClass('hidden');
				$('.bemsgcorrectcurrentparish').show();
			}
			e.stopPropagation();
		});

		$('#bbapdate').on('keypress keydown keyup focus focusout',function(e){
			if ($(this).val().length == 0) {
				// there is a mismatch, hence show the error message
					$('.bemsgcorrectbaptizeddate').addClass('hidden');
					$('.bemsginvalidbaptizeddate').removeClass('hidden');
					$('.bemsginvalidbaptizeddate').show();
				}
			else{
				// else, do not display message
				$('.bemsginvalidbaptizeddate').addClass('hidden');
				$('.bemsgcorrectbaptizeddate').removeClass('hidden');
				$('.bemsgcorrectbaptizeddate').show();
			}
			e.stopPropagation();
		});

		$('#bcondate').on('keypress keydown keyup focus focusout',function(e){
			if ($(this).val().length == 0) {
				// there is a mismatch, hence show the error message
					$('.bemsgcorrectconfirmeddate').addClass('hidden');
					$('.bemsginvalidconfirmeddate').removeClass('hidden');
					$('.bemsginvalidconfirmeddate').show();
				}
			else{
				// else, do not display message
				$('.bemsginvalidconfirmeddate').addClass('hidden');
				$('.bemsgcorrectconfirmeddate').removeClass('hidden');
				$('.bemsgcorrectconfirmeddate').show();
			}
			e.stopPropagation();
		});

		$('#bbapplace').on('keypress keydown keyup focus focusout',function(e){
			if (!$(this).val().match($regexvalidation4)) {
				// there is a mismatch, hence show the error message
					$('.bemsgcorrectbaptized').addClass('hidden');
					$('.bemsginvalidbaptized').removeClass('hidden');
					$('.bemsginvalidbaptized').show();
				}
			else{
				// else, do not display message
				$('.bemsginvalidbaptized').addClass('hidden');
				$('.bemsgcorrectbaptized').removeClass('hidden');
				$('.bemsgcorrectbaptized').show();
			}
			e.stopPropagation();
		});

		$('#bconplace').on('keypress keydown keyup focus focusout',function(e){
			if (!$(this).val().match($regexvalidation4)) {
				// there is a mismatch, hence show the error message
					$('.bemsgcorrectconfirmed').addClass('hidden');
					$('.bemsginvalidconfirmed').removeClass('hidden');
					$('.bemsginvalidconfirmed').show();
				}
			else{
				// else, do not display message
				$('.bemsginvalidconfirmed').addClass('hidden');
				$('.bemsgcorrectconfirmed').removeClass('hidden');
				$('.bemsgcorrectconfirmed').show();
			}
			e.stopPropagation();
		});

		function readURL(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();

				reader.onload = function (e) {
					$('#req').attr('src', e.target.result);
				}

				reader.readAsDataURL(input.files[0]);
			}
		}

		$(".groomid").change(function () {
			readURL(this);
		});

		$(".groombirthcertificate").change(function () {
			readURL(this);
		});

		$(".brideid").change(function () {
			readURL(this);
		});

		$(".bridebirthcertificate").change(function () {
			readURL(this);
		});

		function validateForm(){
			$('form').formValidation({
				framework: 'bootstrap',
				icon: {
					valid: 'fa fa-check',
					invalid: 'fa fa-times',
					validating: 'fa fa-spinner'
				},
				fields: {
					lastname: {
						validators: {
								notEmpty: {
										message: `Please Enter Your Last Name`
								},
								regexp: {
									regexp: /^([a-zs ]{2,})+$/i,
									message: 'Only Aphabetical Characters, Minimum of 2.'
								},
						}
					},
					firstname: {
						validators: {
								notEmpty: {
										message: `Please Enter Your First Name`
								},
								regexp: {
									regexp: /^([a-zs ]{2,})+$/i,
									message: 'Only Aphabetical Characters, Minimum of 2.'
								},
						}
					},
					middlename: {
						validators: {
							regexp: {
								regexp: /^([a-zs ]{2,})+$/i,
								message: 'Only Aphabetical Characters, Minimum of 2.'
							},
						}
					},
					birthplace: {
							validators: {
									notEmpty: {
									message: `Please Enter Your Father's Birthplace`
									},
									regexp: {
										regexp: /^([a-zs ]{2,})+$/i,
										message: 'Only Aphabetical Characters, Minimum of 2.'
									},
								}
							},
					gnationality: {
							validators: {
								notEmpty: {
										message: `Please Enter Your Nationality`
									},
								}
							},
					gcivilstatus: {
							validators: {
								notEmpty: {
										message: `Please Enter Your Civil Status`
									},
								}
							},
					goccupation: {
							validators: {
								notEmpty: {
											message: `Please Enter Your Occupation`
										},
							regexp: {
									regexp: /^([a-zs ]{3,})+$/i,
										message: 'Only Aphabetical Characters, Minimum of 3.'
									},
								}
							},
					address: {
							validators: {
									notEmpty: {
									message: `Please Enter Your Address`
									},
									regexp: {
										regexp: /^([a-zs0-9-,. ]{8,})+$/i,
										message: 'Please Enter A Valid Address'
									},
								}
							},
					gfathername: {
						validators: {
								notEmpty: {
										message: `Please Enter Your Father's Full Name`
								},
								regexp: {
									regexp: /^([a-zs ]{6,})+$/i,
									message: 'Only Aphabetical Characters, Minimum of 6.'
								},
						}
					},
					gfatherbplace: {
							validators: {
									notEmpty: {
									message: `Please Enter Your Father's Birthplace`
									},
									regexp: {
										regexp: /^([a-zs ]{2,})+$/i,
										message: 'Only Aphabetical Characters, Minimum of 2.'
									},
								}
							},
					gfatherreligion: {
							validators: {
								notEmpty: {
										message: `Please Enter Father's Religion`
									},
								}
							},
					gmothername: {
						validators: {
								notEmpty: {
										message: `Please Enter Your Mother's Full Name`
								},
								regexp: {
									regexp: /^([a-zs ]{6,})+$/i,
									message: 'Only Aphabetical Characters, Minimum of 6.'
								},
						}
					},
					gmotherbplace: {
							validators: {
									notEmpty: {
									message: `Please Enter Your Mother's Birthplace`
									},
									regexp: {
										regexp: /^([a-zs ]{2,})+$/i,
										message: 'Only Aphabetical Characters, Minimum of 2.'
									},
								}
							},
					gmotherreligion: {
							validators: {
								notEmpty: {
										message: `Please Enter Mother's Religion`
									},
								}
							},
					greligion: {
							validators: {
								notEmpty: {
										message: `Please Enter Your Religion`
									},
								}
							},
					sponsorname: {
						validators: {
								notEmpty: {
										message: `Please Enter Sponsor's Full Name`
								},
								regexp: {
									regexp: /^([a-zs ]{6,})+$/i,
									message: 'Only Aphabetical Characters, Minimum of 6.'
								},
						}
					},
					validIDGroom: {
							validators: {
								notEmpty: {
									message: `Please Enter Valid ID`
									},
								}
							},
					birthCertGroom: {
							validators: {
								notEmpty: {
									message: `Please Enter Birth Certificate`
									},
								}
							},
					blastname: {
						validators: {
								notEmpty: {
										message: `Please Enter Your Last Name`
								},
								regexp: {
									regexp: /^([a-zs ]{2,})+$/i,
									message: 'Only Aphabetical Characters, Minimum of 2.'
								},
						}
					},
					bfirstname: {
						validators: {
								notEmpty: {
										message: `Please Enter Your First Name`
								},
								regexp: {
									regexp: /^([a-zs ]{2,})+$/i,
									message: 'Only Aphabetical Characters, Minimum of 2.'
								},
						}
					},
					bmiddlename: {
						validators: {
							regexp: {
								regexp: /^([a-zs ]{2,})+$/i,
								message: 'Only Aphabetical Characters, Minimum of 2.'
							},
						}
					},
					bbirthplace: {
							validators: {
									notEmpty: {
									message: `Please Enter Your Father's Birthplace`
									},
									regexp: {
										regexp: /^([a-zs ]{2,})+$/i,
										message: 'Only Aphabetical Characters, Minimum of 2.'
									},
								}
							},
					bnationality: {
							validators: {
								notEmpty: {
										message: `Please Enter Your Nationality`
									},
								}
							},
					bcivilstatus: {
							validators: {
								notEmpty: {
										message: `Please Enter Your Civil Status`
									},
								}
							},
					boccupation: {
							validators: {
								notEmpty: {
											message: `Please Enter Your Occupation`
										},
							regexp: {
									regexp: /^([a-zs ]{3,})+$/i,
										message: 'Only Aphabetical Characters, Minimum of 3.'
									},
								}
							},
					baddress: {
							validators: {
									notEmpty: {
									message: `Please Enter Your Address`
									},
									regexp: {
										regexp: /^([a-zs0-9-,. ]{8,})+$/i,
										message: 'Please Enter A Valid Address'
									},
								}
							},
					bfathername: {
						validators: {
								notEmpty: {
										message: `Please Enter Your Father's Full Name`
								},
								regexp: {
									regexp: /^([a-zs ]{6,})+$/i,
									message: 'Only Aphabetical Characters, Minimum of 6.'
								},
						}
					},
					bfatherbplace: {
							validators: {
									notEmpty: {
									message: `Please Enter Your Father's Birthplace`
									},
									regexp: {
										regexp: /^([a-zs ]{2,})+$/i,
										message: 'Only Aphabetical Characters, Minimum of 2.'
									},
								}
							},
					bfatherreligion: {
							validators: {
								notEmpty: {
										message: `Please Enter Father's Religion`
									},
								}
							},
					bmothername: {
						validators: {
								notEmpty: {
										message: `Please Enter Your Mother's Full Name`
								},
								regexp: {
									regexp: /^([a-zs ]{6,})+$/i,
									message: 'Only Aphabetical Characters, Minimum of 6.'
								},
						}
					},
					bmotherbplace: {
							validators: {
									notEmpty: {
									message: `Please Enter Your Mother's Birthplace`
									},
									regexp: {
										regexp: /^([a-zs ]{2,})+$/i,
										message: 'Only Aphabetical Characters, Minimum of 2.'
									},
								}
							},
					bmotherreligion: {
							validators: {
								notEmpty: {
										message: `Please Enter Mother's Religion`
									},
								}
							},
					breligion: {
							validators: {
								notEmpty: {
										message: `Please Enter Your Religion`
									},
								}
							},
					validIDBride: {
							validators: {
								notEmpty: {
									message: `Please Enter Valid ID`
									},
								}
							},
					birthCertBride: {
							validators: {
								notEmpty: {
									message: `Please Enter Birth Certificate`
									},
								}
							},
					//- venue: {
					//- 		validators: {
					//- 				regexp: {
					//- 					regexp: /^([a-zs ]{6,})+$/i,
					//- 					message: 'Only Aphabetical Characters, Minimum of 6.'
					//- 				},
					//- 			}
					//- 		},
					},
				})
			.on('err.field.fv', function(e, data) {
				// Get the first invalid field
				var invalidFields = data.fv.getInvalidFields().length;
				$('#errChecker').val(invalidFields)
			})
			.on('success.field.fv', function(e, data) {
				// Get the first invalid field
				var invalidFields = data.fv.getInvalidFields().length;
				$('#errChecker').val(invalidFields)
			});
		}