extends ../../../../templates/admin
block prepend main
	#wrap
	div(style='clear:both')
	.content
		.container-fluid
			
			.row
				.col-lg-12.col-md-12
						.card
								.card-header.card-header-primary
									.row
										.col-md-6
											h4.card-title Special Events
										.col-md-6
											a.btn.btn-primary.pull-right(href="#" data-toggle="modal" data-target="#conditionModal") Add Event
											//- a(href="#" data-toggle="modal" data-target="#conditionModal") Add Event
								.card-body.table-responsive
										table.table.table-hover
												thead.text-primary
														th ID
														th Event Name
														th Start
														th End
														th Venue
														th.text-center(style=" width:120px") Actions
												tbody
														each specialevent in specialevents
															tr
																td=specialevent.int_specialeventID
																td=specialevent.var_spceventname
																td=specialevent.time_eventstart
																td=specialevent.time_eventend
																td=specialevent.var_eventvenue
																td.td-actions.text-center
																	button.btn.btn-danger.deleteButton(type='button',rel='tooltip',value=`${specialevent.int_specialeventID}`)
																		i.ti-close
																	| &nbsp;
																	button.btn.btn-primary.updateButton(type='button',rel='tooltip', value=`${specialevent.int_specialeventID}`)
																		i.ti-pencil
																//- <td class="td-actions text-right">
																//- 		a.button(rel="tooltip" class="btn btn-info" href=`/admin/maintenance-events`)
																//- 				<i class="material-icons">person</i>
																//- 		a.button(rel="tooltip" class="btn btn-success" href=`/admin/maintenance-events/edit/${specialevent.int_specialeventID}`)
																//- 				<i class="material-icons">edit</i>
																//- 		button.btn.fa.fa-trash.deleteButton(rel="tooltip" class="btn btn-danger" value=`${specialevent.int_specialeventID}`)
																//- 				//- <i class="material-icons">close</i>
																//- </td>								
								.card-footer.text-right
									.col-md-3
										//- <cite title="Source Title">Showing 6 of 25 entries</cite> 
									.col-md-6.text-right
										<nav aria-label="Page navigation example">
											<ul class="pagination justify-content-center">
												<li class="page-item">
													<a class="page-link" href="#" tabindex="-1">Previous</a>
												</li>
												<li class="page-item"><a class="page-link" href="#">1</a></li>
												<li class="page-item">
													<a class="page-link" href="#">Next</a>
												</li>
											</ul>
										</nav>
									.col-md-3.text-right
										
			
	
	#conditionModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
		.modal-dialog.modal-notify.modal-success(role='document')
			// Content
			.modal-content
				// Header
				.modal-header
					p.heading.lead Add Event
					button.close(type='button' data-dismiss='modal' aria-label='Close')
						span.white-text(aria-hidden='true') &times;
				// Body
				.modal-body
					form.form(action="/admin/maintenance-events/add" method="post")
						.form-group
							label.label-control Event Name
							input.form-control(type='text' name='spceventname')
						.form-group
							label.label-control Event Description
							textarea.form-control( rows="2" name='eventdesc')
						.row
							.col-md-6
								.form-group
										label.label-control Start
										input.timepicker1.form-control(type='datetime' name='start')
							//- .col-md-6
							//- 	.form-group.mt-1
							//- 			label.label-control End
							//- 			input.timepicker.form-control(type='datetime' name='end')
							//- 			input.timepicker1.form-control(type='text' name='start')
							.col-md-6
								.form-group.mt-1
										label.label-control End
										input.timepicker.form-control(type='text' name='end')

						.form-group
							label.label-control Venue
							input.form-control(type='text' name='venue')
						.form-group
								label.label-control Event Type
									select.form-control(type="text" name='eventtype')
										option Open for everyone
										option Exclusive
										
						.row
							.col-md-12.text-center.my-3
								button.btn.btn-primary(type='submit') Add
	#updateModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
		.modal-dialog.modal-notify.modal-success(role='document')
			.modal-content
				.modal-header
					p.heading.lead Edit Event
					button.close#cancelButton(type='button' data-dismiss='modal' aria-label='Close')
						span.white-text(aria-hidden='true') &times;
				.modal-body#updateAppend                
					.col-md-12.text-center.my-3
				.modal-footer
					button.btn.btn-primary#updateSubmitButton(type="button") Update
	//- #modal-warning1.modal.modal-warning.fade
	//- 	.modal-dialog
	//- 	.modal-content
	//- 		.modal-header
	//- 		button.close(type='button', data-dismiss='modal', aria-label='Close')
	//- 			span(aria-hidden='true') ×
	//- 		h4.modal-title Warning
	//- 		.modal-body
	//- 		p Are you sure you?
	//- 		.modal-footer
	//- 			button.btn.btn-outline.pull-left#cancelButton1(type='button', data-dismiss='modal') No
	//- 			button.btn.btn-outline.pull-right#deleteSubmit1 Yes	
block addjs
	script(src='/js/forIndex.js')
	script.
		
		$('.datetimepicker').datetimepicker({
				icons: {
					time: "fa fa-clock-o",
					date: "fa fa-calendar",
					up: "fa fa-chevron-up",
					down: "fa fa-chevron-down",
					previous: 'fa fa-chevron-left',
					next: 'fa fa-chevron-right',
					today: 'fa fa-screenshot',
					clear: 'fa fa-trash',
					close: 'fa fa-remove'
			}
		});

		$('.datetimepicker1').datetimepicker({
				icons: {
					time: "fa fa-clock-o",
					date: "fa fa-calendar",
					up: "fa fa-chevron-up",
					down: "fa fa-chevron-down",
					previous: 'fa fa-chevron-left',
					next: 'fa fa-chevron-right',
					today: 'fa fa-screenshot',
					clear: 'fa fa-trash',
					close: 'fa fa-remove'
			}
		});
		
		$('.timepicker').datetimepicker({
			icons: {
				time: "fa fa-clock-o",
				date: "fa fa-calendar",
				up: "fa fa-chevron-up",
				down: "fa fa-chevron-down",
				previous: 'fa fa-chevron-left',
				next: 'fa fa-chevron-right',
				today: 'fa fa-screenshot',
				clear: 'fa fa-trash',
				close: 'fa fa-remove'
			}
		});
		$('.timepicker1').datetimepicker({
			icons: {
				time: "fa fa-clock-o",
				date: "fa fa-calendar",
				up: "fa fa-chevron-up",
				down: "fa fa-chevron-down",
				previous: 'fa fa-chevron-left',
				next: 'fa fa-chevron-right',
				today: 'fa fa-screenshot',
				clear: 'fa fa-trash',
				close: 'fa fa-remove'
			}
		})
	script.
		$(document).ready(function(){
		$('.deleteButton').click(function(){
			var idNow = $(this).val();
			swal({
				title: 'Are you sure?',
				text: "You won't be able to revert this!",
				type: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Confirm'
				}).then((result) => {
					if (result.value) {
						$.post('/admin/maintenance-events/delete',{id1:idNow})
						.done(data =>{
							if(data){
								swal({
								title:'Success', 
								text:'Special event deleted', 
								icon:'success'
								}).then(function(){
									location.reload();
								})
							}
						});
					}
				})
			})
		})		
				
			
		$('.updateButton').click(function(){
			var idNow = $(this).val();
			console.log(idNow)
				$.post('/admin/maintenance-events/query',{id:idNow})
			.done(data=>{
				var start = moment(data.time_eventstart, 'YYYY-MM-DD h:mm a').format('YYYY-MM-DD HH:mm:ss');
				var end = moment(data.time_eventend, 'YYYY-MM-DD h:mm a').format('YYYY-MM-DD HH:mm:ss');
				$('#updateAppend').append(`
				<div class="form-group">
					<label class="label-control">Event Name</label>
					<input type="text" id="eventname" value="${data.var_spceventname}" class="form-control">
				</div>
				<div class="form-group">
					<label class="label-control">Event Description</label>
					<input type="textarea" rows="2" id="eventdesc" value="${data.text_eventdesc}" class="form-control"></input>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label class="label-control">Start</label>
							<input type="datetime" id="starttime" id="timepicker1" value="${start}" class="timepicker1
							 form-control">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group mt-1">
						<label class="label-control">End</label>
						<input type="datetime" id="endtime" value="${end}" class="timepicker1 form-control">
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="label-control">Venue</label>
					<input type="text" id="venue" value="${data.var_eventvenue}"class="form-control">
				</div>
				<div class="form-group">
					<label class="label-control">Event Type
						<select type="text" id="eventtype" value="${data.char_eventtype}" class="form-control">
						<option>Open for everyone</option>
						<option>Exclusive</option>
						</select>
					</label>
				</div>`)
				$('#updateModal').modal('show')
				$('#updateModal').on('hidden.bs.modal',function(){
								$('#updateAppend').empty()
				})
				$('#cancelButton').click(function(){
					$('#updateAppend').empty();
				})
				$(document).keyup(function(e) {
				if (e.keyCode === 27) 
					{
					$('#updateModal').modal('hide');
					$('#updateAppend').empty();
					};
				});
				$('#updateSubmitButton').click(function(){
					$.post('/admin/maintenance-events/edit',{
					eventname:$('#eventname').val(),
					eventdesc:$('#eventdesc').val(),
					starttime:$('#starttime').val(),
					endtime:$('#endtime').val(),
					venue:$('#venue').val(),
					eventtype:$('#eventtype').val(),
					id1:idNow
					})
					.done(data=>{
						if(data){
							swal({
							title:'Success', 
							text:'service updated', 
							icon:'success'
							}).then(function(){
								location.reload();
							})
							$('#updateModal').modal('hide');
							$('#updateAppend').empty();
						}
					})
				})
			})
		})
