extends ../../../../templates/admin
block prepend main
	#wrap
	//- #calendar
	div(style='clear:both')
	.content
		.container-fluid
			//- <div class="alert alert-warning" role="alert">
			//- 	| <cite>Note:</cite> Deadline for sumbission of requirements will be on <u><cite> June 20, 2018</u></cite>
			//- </div>
			
			.row
				.col-lg-12.col-md-12
						.card
								.card-header.card-header-primary
									.row
										.col-md-6
											h4.card-title Facilities
										.col-md-6
											a.btn.btn-primary.pull-right(href="#" data-toggle="modal" data-target="#conditionModal") Add Facility
								.card-body.table-responsive
										table.table.table-hover
												thead.text-primary
														th ID
														th Name
														//- th.text-left(style=" width:120px") Fee
														th Description
														th.text-center(style=" width:120px") Actions
												tbody
														each facility in facilities
															tr
																td=facility.int_facilityID
																td=facility.var_facilityname
																td=facility.var_facilitydesc
																td.td-actions.text-center
																	button.btn.btn-danger.deleteButton(type='button',rel='tooltip',value=`${facility.int_facilityID}`)
																		i.ti-close
																	| &nbsp;
																	button.btn.btn-primary.updateButton(type='button',rel='tooltip', value=`${facility.int_facilityID}`)
																		i.ti-pencil
																
														
								.card-footer.text-right
									.col-md-3
										//- <cite title="Source Title">Showing 6 of 25 entries</cite> 
									.col-md-6.text-right
										<nav aria-label="Page navigation example">
											<ul class="pagination justify-content-center">
												<li class="page-item">
													<a class="page-link" href="#" tabindex="-1">Previous</a>
												</li>
												<li class="page-item"><a class="page-link" href="#">1</a></li>
												<li class="page-item">
													<a class="page-link" href="#">Next</a>
												</li>
											</ul>
										</nav>
	

	#conditionModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
		.modal-dialog.modal-notify.modal-success(role='document')
			// Content
			.modal-content
				// Header
				.modal-header
					p.heading.lead Add Facility
					button.close(type='button' data-dismiss='modal' aria-label='Close')
						span.white-text(aria-hidden='true') &times;
				// Body
				.modal-body
					form.form(action="/admin/maintenance-facilities/addfacility" method="post")
						.form-group
							label.label-control Facility Name
							input.form-control(type='text' name='facilityname')
						.form-group
							label.label-control Facility Description
							textarea.form-control(name='facilitydesc')
						.row
							.col-md-12.text-center.my-3
								button.btn.btn-primary(type='submit') Add	
		
	#updateModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
		.modal-dialog.modal-notify.modal-success(role='document')
			.modal-content
				.modal-header
					p.heading.lead Edit Facility
					button.close#cancelButton(type='button' data-dismiss='modal' aria-label='Close')
						span.white-text(aria-hidden='true') &times;
				.modal-body#updateAppend                
					.col-md-12.text-center.my-3
				.modal-footer
					button.btn.btn-primary#updateSubmitButton(type="button") Update
	#modal-warning1.modal.modal-warning.fade
			.modal-dialog
			.modal-content
				.modal-header
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') ×
				h4.modal-title Warning
				.modal-body
				p Are you sure you?
				.modal-footer
					button.btn.btn-outline.pull-left#cancelButton1(type='button', data-dismiss='modal') No
					button.btn.btn-outline.pull-right#deleteSubmit1 Yes
block addjs
	script(src='/js/forIndex.js')
	script.
		$(document).ready(function() {
		$('.deleteButton').click(function(){
			var idNow = $(this).val();
			console.log(idNow)
			$('#modal-warning1').modal('show');
			$('#deleteSubmit1').css('display', 'block');
			$('#cancelButton1').css('display', 'block');
				$('#deleteSubmit1').click(function(){
					$.post('/admin/maintenance-facilities/delete',{id1:idNow})
						.done(data =>{
						if(data){
							swal({
							title:'Success', 
							text:'service deleted', 
							icon:'success'
							}).then(function(){
								location.reload();
							})     
							$('#modal-warning1').modal('hide');
						}

				});                        
			});
		});

		$('.updateButton').click(function(){
			var idNow = $(this).val();
			console.log(idNow)
				$.post('/admin/maintenance-facilities/query',{id:idNow})
			.done(data=>{
				$('#updateAppend').append(`
				<div class="form-group">
					<label class="label-control">Facility Name</label>
					<input type="text" name="facilityname" id="facilityname" value="${data.var_facilityname}" class="form-control"/>
				</div>
				<div class="form-group">
					<label class="label-control">Facility Description</label>
					<textarea name="facilitydesc" id="facilitydesc" class="form-control">${data.var_facilitydesc}</textarea>
				</div>
				`)
				$('#updateModal').modal('show')
				$('#cancelButton').click(function(){
					$('#updateAppend').empty();
				})
				$(document).keyup(function(e) {
				if (e.keyCode === 27) 
					{
					$('#updateModal').modal('hide');
					$('#updateAppend').empty();
					};
				});
				$('#updateSubmitButton').click(function(){
					$.post('/admin/maintenance-facilities/edit',{
					facilityname:$('#facilityname').val(),
					facilitydesc:$('#facilitydesc').val(),
					id:idNow
					})
					.done(data=>{
						if(data){
							swal({
							title:'Success', 
							text:'Facilities information updated', 
							icon:'success'
							}).then(function(){
								location.reload();
							})
							$('#updateModal').modal('hide');
							$('#updateAppend').empty();
						}
					})
				})
			})

		})
		});