extends ../../../../templates/admin
block prepend main
		#wrap
		//- #calendar
		div(style='clear:both')
		.content
				.container-fluid
						.row
								.col-lg-12.col-md-12
												.card
																.card-header.card-header-primary
																		.row
																				.col-md-6
																						h4.card-title Facility Item Monitoring
																				.col-md-6
																						a.btn.btn-primary.pull-right(href="#" data-toggle="modal" data-target="#conditionModal") Add Item
																.card-body.table-responsive
																				table.table.table-hover.dataTable
																								thead.text-primary
																												th ID
																												th Item Name
																												th Item Description
																												th Good Condition Qty
																												th Damaged Qty
																												th Total Items
																												th Add Items
																								tbody
																												each item in items
																														tr
																																td=item.int_itemID
																																td=item.var_itemname
																																td=item.var_itemdesc
																																td=item.int_goodquantity
																																td=item.int_damagedquantity
																																td=item.int_goodquantity + item.int_damagedquantity
																																td.td-actions.text-center
																																	button.btn.btn-primary.actionButton(type='button' value=`${item.int_itemID}`)
																																		i.ti-settings
																																			#toolbar-options.hidden
																																				a.addButton(href='#')
																																					i.ti-plus(style="color:white;")
																																				a.updateButton(href='#')
																																					i.ti-pencil(style="color:white;")
																																				a.deleteButton(href='#')
																																					i.ti-close(style="color:white;")
		#conditionModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
				.modal-dialog.modal-notify.modal-success(role='document')
						// Content
						.modal-content
								// Header
								.modal-header
										p.heading.lead Add Item
										button.close(type='button' data-dismiss='modal' aria-label='Close')
												span.white-text(aria-hidden='true') &times;
								// Body
								.modal-body
										form.form(action='/admin/maintenance-items/add' method="post")
												.form-group
														label.label-control Item Name
														input.form-control(type='text' name='reqname')
												.form-group
														label.label-control Description
														textarea.form-control(name='reqdesc')
												.form-group
														label.label-control Quantity
														input.form-control(type='number' name='good')
												.row
														.col-md-12.text-center.my-3
																button.btn.btn-primary(type='submit') Add


		#updateModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
				.modal-dialog.modal-notify.modal-success(role='document')
						.modal-content
								.modal-header
										p.heading.lead Edit Items
										button.close#cancelButton(type='button' data-dismiss='modal' aria-label='Close')
												span.white-text(aria-hidden='true') &times;
								.modal-body#updateAppend
										.col-md-12.text-center.my-3
								.modal-footer
										button.btn.btn-primary#updateSubmitButton(type="button") Update
block addjs
		script.
			$(document).ready(function() {
				var idNow = 0;
				$('.actionButton').click(function(){
				idNow = $(this).val();
				console.log(idNow)
				})
				$('.addButton').click(function(){
						$.post('/admin/maintenance-items/query',{id:idNow})
						.done(data =>{
						var totalItems = data.int_goodquantity + data.int_damagedquantity
						swal({
						title:`Current Quantity: ` + totalItems,
						text:'Number of items to be added:',
						input:'number',
						showCancelButton: true,
						}).then((result) => {
										if (result.value) {
												var numAdded = eval(result.value)
												console.log(numAdded)
												$.post('/admin/maintenance-items/addItems',{
												total:numAdded,
												id:idNow})
												.done(data =>{
														if(data){
																swal({
																title:'Success',
																text:'Quantity Added',
																icon:'success'
																}).then(function(){
																		location.reload();
																})
														}
												});
										}
								})
						})
				})
				$('.deleteButton').click(function(){
						swal({
								title: 'Are you sure?',
								text: "You won't be able to revert this!",
								type: 'warning',
								showCancelButton: true,
								confirmButtonColor: '#3085d6',
								cancelButtonColor: '#d33',
								confirmButtonText: 'Confirm'
								}).then((result) => {
										if (result.value) {
												$.post('/admin/maintenance-items/delete',{id:idNow})
												.done(data =>{
														if(data){
																swal({
																title:'Success',
																text:'Requirement Deleted',
																icon:'success'
																}).then(function(){
																		location.reload();
																})
														}
												});
										}
								})
				});


				$('.updateButton').click(function(){
						console.log(idNow)
								$.post('/admin/maintenance-items/query',{id:idNow})
						.done(data=>{
								$('#updateAppend').append(`
								<div class="form-group">
										<label class="label-control">Item Name</label>
										<input type="text" id="itemname" class="form-control" value="${data.var_itemname}"/>
								</div>
								<div class="form-group">
										<label class="label-control">Description</label>
										<textarea id="itemdesc" class="form-control">${data.var_itemdesc}</textarea>
								</div>
								<div class="form-group">
										<label class="label-control"><strong>Good Condition Qty: ${data.int_goodquantity}</strong></label>
										<input type="number" id="good" class="form-control" value="0"/>
								</div>
								<div class="form-group">
										<label class="label-control"><strong>Damaged Qty: ${data.int_damagedquantity}</strong></label>
										<input type="number" id="damaged" class="form-control" value="0"/>
								</div>
								</div>
								`)
								$('#updateModal').modal('show')
								$('#updateModal').on('hidden.bs.modal',function(){
										console.log("NAALIS NA")
										$('#updateAppend').empty()
								})
								$('#cancelButton').click(function(){
										$('#updateAppend').empty();
								})
								$(document).keyup(function(e) {
								if (e.keyCode === 27)
										{
										$('#updateModal').modal('hide');
										$('#updateAppend').empty();
										};
								});
								$('#updateSubmitButton').click(function(){
										if(eval($('#good').val()) > data.int_damagedquantity){
												swal({
														title:'Invalid Input',
														text:'Insufficient number of Items was added from Damaged Items',
														type:'warning'
												})
										}
										else if(eval($('#damaged').val()) > data.int_goodquantity){
												swal({
														title:'Invalid Input',
														text:'Insufficient number of Items was added from Good Items',
														type:'warning'
												})
										}
										else{
										var newGood = (data.int_goodquantity + eval($('#good').val()))-eval($('#damaged').val())
										var newDamaged = (data.int_damagedquantity + eval($('#damaged').val()))-eval($('#good').val())


										if(newGood < 0){
										newGood = 0;
										newDamaged = data.int_damagedquantity
										}
										else if(newDamaged < 0){
										newDamaged = 0;
										newGood = data.int_goodquantity
										}
										console.log(newGood + newDamaged)
										$.post('/admin/maintenance-items/edit',{
										itemname:$('#itemname').val(),
										itemdesc:$('#itemdesc').val(),
										good:newGood,
										damaged:newDamaged,
										id:idNow
										})
										.done(data=>{
												if(data){
														swal({
														title:'Success',
														text:'Requirement information updated',
														icon:'success'
														}).then(function(){
																location.reload();
														})
														$('#updateModal').modal('hide');
														$('#updateAppend').empty();
												}
										})
								}
								})
						})
				})
				})