extends ../../../../templates/admin
block prepend main
	#wrap
	div(style='clear:both')
	.content
		.container-fluid

			.row
				.col-lg-12.col-md-12
						
						.card
								.card-header.card-header-primary
									.row
										.col-md-6
											h4.card-title Ministries
										.col-md-6
											a.btn.btn-primary.pull-right(href="#" data-toggle="modal" data-target="#conditionModal") Add Ministry
								.card-body.table-responsive
										table.dataTable.table.table-hover
												thead.text-primary
														th ID
														th Ministry Name
														th Ministry Description
														th.text-center(style=" width:11rem") Actions
												tbody
														each ministry in ministries
															tr
																td=ministry.int_ministryID
																td=ministry.var_ministryname
																td=ministry.var_ministrydesc
																td.td-actions.text-center
																	button.btn.btn-primary.actionButton(type='button')
																		i.ti-settings
																			#toolbar-options.hidden
																				a.updateButton(href='#' data-value=`${ministry.int_ministryID}`)
																					i.ti-pencil(style="color:white;")
																				a.deleteButton(href='#' data-value=`${ministry.int_ministryID}`)
																					i.ti-close(style="color:white;")
	#conditionModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
		.modal-dialog.modal-notify.modal-success(role='document')
			.modal-content
				.modal-header
					p.heading.lead Add Event
					button.close(type='button' data-dismiss='modal' aria-label='Close')
						span.white-text(aria-hidden='true') &times;
				.modal-body
					form.form(action="/admin/maintenance-ministries/addministry" method="post")
						.form-group
							label.label-control Ministry Name
							input.form-control(type='text' name='ministryname')
						.form-group
							label.label-control Ministry Description
							textarea.form-control( rows="2" name='ministrydesc')
						.row
							.col-md-12.text-center.my-3
								button.btn.btn-primary(type='submit') Add
	#updateModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
		.modal-dialog.modal-notify.modal-success(role='document')
			.modal-content
				.modal-header
					p.heading.lead Edit Facility
					button.close#cancelButton(type='button' data-dismiss='modal' aria-label='Close')
						span.white-text(aria-hidden='true') &times;
				.modal-body#updateAppend                
					.col-md-12.text-center.my-3
				.modal-footer
					button.btn.btn-primary#updateSubmitButton(type="button") Update
	#modal-warning1.modal.modal-warning.fade
			.modal-dialog
			.modal-content
				.modal-header
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') ×
				h4.modal-title Warning
				.modal-body
				p Are you sure you?
				.modal-footer
					button.btn.btn-outline.pull-left#cancelButton1(type='button', data-dismiss='modal') No
					button.btn.btn-outline.pull-right#deleteSubmit1 Yes
block addjs
	script.
		$(document).ready(function() {
		$('.deleteButton').click(function(){
			i=$(this).data("value");
			var idNow = i
			console.log(idNow)
			$('#modal-warning1').modal('show');
			$('#deleteSubmit1').css('display', 'block');
			$('#cancelButton1').css('display', 'block');
				$('#deleteSubmit1').click(function(){
					$.post('/admin/maintenance-ministries/delete',{id1:idNow})
						.done(data =>{
						if(data){
							swal({
							title:'Success', 
							text:'service deleted', 
							icon:'success'
							}).then(function(){
								location.reload();
							})     
							$('#modal-warning1').modal('hide');
						}

					});                        
				});
		});
		$('.updateButton').click(function(){
			var idNow = $(this).val();
			console.log(idNow)
				$.post('/admin/maintenance-ministries/query',{id:idNow})
			.done(data=>{
				$('#updateAppend').append(`
				<div class="form-group">
					<label class="label-control">Ministry Name</label>
					<input type="text" id="ministryname" value="${data.var_ministryname}" class="form-control"/>
				</div>
				<div class="form-group">
					<label class="label-control">Ministry Desctription</label>
					<input type="text" id="ministrydesc" value="${data.var_ministrydesc}" class="form-control"/>
				</div>
				`)
				$('#updateModal').modal('show')
				$('#cancelButton').click(function(){
					$('#updateAppend').empty();
				})
				$(document).keyup(function(e) {
				if (e.keyCode === 27) 
					{
					$('#updateModal').modal('hide');
					$('#updateAppend').empty();
					};
				});
				$('#updateSubmitButton').click(function(){
					$.post('/admin/maintenance-ministries/edit',{
					ministryname:$('#ministryname').val(),
					ministrydesc:$('#ministrydesc').val(),
					id1:idNow
					})
					.done(data=>{
						if(data){
							swal({
							title:'Success', 
							text:'service updated', 
							icon:'success'
							}).then(function(){
								location.reload();
							})
							$('#updateModal').modal('hide');
							$('#updateAppend').empty();
						}
					})
				})
			});
		});
		});
	