extends ../../../../templates/admin
block prepend main
	#wrap
	div(style='clear:both')
	.content
		.container-fluid
			.row
				.col-lg-12.col-md-12
					br
					// Tab panes
					.tab-content
						#nonwedding.tab-pane.active.mx-3
							br
							// Inner Nav tabs
							ul.nav.nav-tabs
								li.nav-item
									a.nav-link.active(data-toggle='tab', href='#sacrament') Sacrament
								li.nav-item
									a.nav-link(data-toggle='tab', href='#special') Special Service
							// Tab panes
							.tab-content
								#sacrament.tab-pane.active
									br
									.card
											.card-header.card-header-primary
												.row
													.col-md-6
														h4.card-title Sacramental Services
													.col-md-6
														a.btn.btn-primary.pull-right(href="#" data-toggle="modal" data-target="#conditionModal") Add Service
											.card-body.table-responsive
													table.dataTable.table.table-hover.dt-responsive
															thead.text-primary
																	th ID
																	th Name
																	th Status
																	th.text-center(style=" width:120px") Actions
															tbody
																	each sacrament in sacraments
																		tr
																			td=sacrament.int_eventID
																			td=sacrament.var_eventname
																			td=sacrament.char_status
																			td.td-actions.text-center
																				button.btn.btn-primary.actionButton(type='button' value=`${sacrament.int_eventID}`)
																					i.ti-settings
																						#toolbar-options.hidden
																							a.button.updateButton(href='#')
																								i.ti-pencil(style="color:white;")
																							a.button.deleteButton(href='#')
																								i.ti-close(style="color:white;")
								#special.tab-pane.fade
									br
									.card
										.card-header.card-header-primary
											.row
												.col-md-6
													h4.card-title Special Services
												.col-md-6
													a.btn.btn-primary.pull-right(href="#" data-toggle="modal" data-target="#conditionModal") Add Service
										.card-body.table-responsive
												table.dataTable.table.table-hover
														thead.text-primary
																th(style="width:25rem;") ID
																th.pl-4(style="width:41rem;") Name
																th.text-center(style="width:15rem;")  Actions
														tbody
																each service in services
																	tr
																		td=service.int_eventID
																		td=service.var_eventname
																		td.td-actions.text-center
																			button.btn.btn-primary.actionButton(type='button' value=`${service.int_eventID}`)
																				i.ti-settings
																					#toolbar-options.hidden
																						a.updateButton(href='#')
																							i.ti-pencil(style="color:white;")
																						a.deleteButton(href='#')
																							i.ti-close(style="color:white;")
						#wedding.container.tab-pane.fade
							br
							h3 Menu 1
							p
								| Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						#facility.container.tab-pane.fade
							br
							h3 Menu 2
							p
								| Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
	#conditionModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
		.modal-dialog.modal-notify.modal-success(role='document')
			.modal-content
				.modal-header
					p.heading.lead Add Service
					button.close(type='button' data-dismiss='modal' aria-label='Close')
						span.white-text(aria-hidden='true') &times;
				.modal-body
					form.form(action="/admin/maintenance-services/add" method="post")
						.form-group
							label.label-control Service Name
							input.form-control(type='text' name='eventname')
						.form-group
							label.label-control Service Description
							input.form-control(type='text' name='eventdesc')
						.form-group
							label.label-control Service Type
								select(type="text" name='event_type')
									option(value="Sacrament") Sacrament
									option(Value="Special Service") Special Service
						.col-md-6.my-3
						.row
							.col-md-12.text-center.my-3
								button.btn.btn-primary(type='submit') Add
	#updateModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true')
		.modal-dialog.modal-notify.modal-success(role='document')
			.modal-content
				.modal-header
					p.heading.lead Edit Event
					button.close#cancelButton(type='button' data-dismiss='modal' aria-label='Close')
						span.white-text(aria-hidden='true') &times;
				.modal-body#updateAppend
					.col-md-12.text-center.my-3
				.modal-footer
					button.btn.btn-primary#updateSubmitButton(type="button") Update
	#modal-warning1.modal.modal-warning.fade
			.modal-dialog
			.modal-content
				.modal-header
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') ×
				h4.modal-title Warning
				.modal-body
				p Are you sure you?
				.modal-footer
					button.btn.btn-outline.pull-left#cancelButton1(type='button', data-dismiss='modal') No
					button.btn.btn-outline.pull-right#deleteSubmit1 Yes
block addjs
	script.
		$(document).ready(function() {
			$('.actionButton').click(function(){
				var idNow = $(this).val();
				console.log(idNow)
				$('.updateButton').click(function(){
						$.post('/admin/maintenance-services/query',{id:idNow})
					.done(data=>{
						$('#updateAppend').append(`
						<div class="form-group">
							<label class="label-control">Service Name</label>
							<input type="text"  id="eventname" value="${data.var_eventname}" class="form-control"/>
						</div>
						<div class="form-group">
							<label class="label-control">Service Description</label>
							<textarea id="eventdesc" class="form-control">${data.var_eventdesc}</textarea>
						</div>
						<div class="form-group">
							<label class="label-control">Service Type</label>
							<select id="eventtype" class="form-control">
							</select>
						</div>
						<div class="form-group">
							<label class="label-control">Status</label>
							<select id="status" class="form-control">
							</select>
						</div>
						`)
						$('#updateModal').modal('show')
						$('#cancelButton').click(function(){
							$('#updateAppend').empty();
						})
						$('#updateModal').on('hidden.bs.modal',function(){
							$('#updateAppend').empty()
						})
						if(data.char_type == "Sacrament"){
							$('#eventtype').append(`
							<option value="Special Service">Special Service</option>
							<option value="Sacrament" selected="selected">Sacraments</option>
							`)
						}
						else{
							$('#eventtype').append(`
							<option value="Special Service" selected="selected">Special Service</option>
							<option value="Sacrament">Sacraments</option>
							`)
						}
						if(data.char_status == "Enabled"){
							$('#status').append(`
							<option value="Enabled" selected="selected">Enabled</option>
							<option value="Disabled" >Disabled</option>
							`)
						}
						else if(data.char_status == "Disabled"){
							$('#status').append(`
							<option value="Enabled" >Enabled</option>
							<option value="Disabled" selected="selected">Disabled</option>
							`)
						}
						$(document).keyup(function(e) {
						if (e.keyCode === 27)
							{
							$('#updateModal').modal('hide');
							$('#updateAppend').empty();
							};
						});
						$('#updateSubmitButton').click(function(){
							$.post('/admin/maintenance-services/edit',{
							eventname:$('#eventname').val(),
							eventdesc:$('#eventdesc').val(),
							eventtype:$('#eventtype').val(),
							status:$('#status').val(),
							id1:idNow
							})
							.done(data=>{
								if(data){
									swal({
									title:'Success',
									text:'service updated',
									icon:'success'
									}).then(function(){
										location.reload();
									})
									$('#updateModal').modal('hide');
									$('#updateAppend').empty();
								}
							});
						});
					});
				});
				$('.deleteButton').click(function(){
					swal({
						title: 'Are you sure?',
						text: "You won't be able to revert this!",
						type: 'warning',
						showCancelButton: true,
						confirmButtonColor: '#3085d6',
						cancelButtonColor: '#d33',
						confirmButtonText: 'Confirm'
						}).then((result) => {
							if (result.value) {
								$.post('/admin/maintenance-services/delete',{id1:idNow})
								.done(data =>{
									if(data){
										swal({
										title:'Success',
										text:'Service Deleted',
										icon:'success'
										}).then(function(){
											location.reload();
										})
									}
								});
							}
						})
				});
			});
		});