extends ../../../../templates/secretariat
block prepend main
	#wrap
	div(style='clear:both')
	.content
		.container-fluid
			.row
				.col-lg-12.col-md-12
						.card
								.card-header.card-header-primary
										h4.card-title Document Requests
										
								.card-body.table-responsive
										table.table.table-hover
												thead.text-primary
														th ID
														th Document Name
														th Document type
														th Date Requested
														th Status
														th.text-center(style=" width:120px") Actions
												tbody
														each request in requests
															tr
																td=request.int_requestID
																td=request.var_doclastname + ", " + request.var_docSecondname
																td=request.var_documenttype
																td=request.Third
																td=request.Fourth
																td=request.var_documenttype
																td=request.date_docurequested
																label#status(value=request.docustatus hidden='')
																td
																	select.form-control
																td.td-actions.text-center
																	button.btn.btn-info.viewButton(type='button',rel='tooltip',value=`${request.int_requestID}`)
																		i.ti-user
	#viewModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
			.modal-dialog.modal-lg(role="document")
				.modal-content
					.modal-header
						h5.modal-title Document Request
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true') ×
					.modal-body#documentAppend
					.modal-footer
						button.btn.btn-outline.btn-secondary.pull-left#cancelButton(type='button', data-dismiss='modal') Close
						button.btn.btn-outline.btn-primary.pull-right#generateButton Generate
	block addjs
		script.
			$(document).ready(function(){
				//- if($('#status').val(); == "Released"){
				//- $('#optionAppend').append(`
				//- <option selected="selected">Released</option>
				//- <option>To Be Released</option>
				//- <option>Released</option></option>
				//- `)}
				$('.viewButton').click(function(){
					var idNow = $(this).val();
					console.log(idNow)
					$.post('/secretariat/transaction-documentrequest/query',{id:idNow})
						.done(data =>{
						var dateRequested = moment(data.date_docurequested).format('MM/DD/YYYY');
						$('#documentAppend').append(`
						<div class="form-group m-0">
							<label class="label-control"><strong> Name of the Child: </strong> ${data.var_doclastname}, ${data.var_docfirstname}</label>
						</div>
						<div class="form-group">
							<label class="label-control"> <strong> Date: </strong> ${dateRequested}</label>
						</div>
						`)
						$('#viewModal').modal('show');	
						$('#cancelButton').css('display', 'block');
						$('#viewModal').on('hidden.bs.modal',function(){
									$('#documentAppend').empty()
						$('#UpdateButton').css('display', 'block');
								})
						$(document).on('click', '#generateButton', function(){
							$(document).off('click', '#generateButton')
							function toDataURL(url, callback) {
								var xhr = new XMLHttpRequest();
								xhr.onload = function() {
									var reader = new FileReader();
									reader.onloadend = function() {
									callback(reader.result);
									}
									reader.readAsDataURL(xhr.response);
								};
								xhr.open('GET', url);
								xhr.responseType = 'blob';
								xhr.send();
							}
							toDataURL(data.var_doctemplatepath, function(dataUrl) {
							var fullName = data.var_doclastname + ', ' + data.var_docfirstname;
							var dateRequested = moment(data.date_docurequested).format('MM/DD/YYYY');
							//- Margin 
							//-  First Param = ?
							//-  Second Param = Top
							//-  Second Param = Top
							//-  Third Param = ?
							//-  Fourth Param = ?
								var docDefinition = {
									pageMargins: [ 40, 40, 40, 40 ],
									content: [
										{
											image: dataUrl,
											width: 500,
											height: 100,
											
										},
										{
										text: 'Certficate of Baptism',
										style: 'styleHeader',
										//- text: 'Name: ' + fullName,
										//- text: 'Date: ' + dateRequested,
										},
										{
										text: 'This is to certify',
										style: 'styleHeader2',
										},
										{
										text: 'that _____________________________________',
										style: 'styleLabel',
										},
										{
										text: 'child of  ___________________________________',
										style: 'styleLabel',
										},
										{
										text: 'and _____________________________________',
										style: 'styleLabel',
										},
										{
										text: 'born in  ___________________________________',
										style: 'styleLabel',
										},
										{
										text: 'on the __________ day of ______________________',
										style: 'styleLabel',
										},
										{
										text: 'was Solemnly Baptized',
										style: 'styleHeader2',
										},
										{
										text: 'on the__________ day of ______________________',
										style: 'styleLabel',
										},
										{
										text: 'according to the Rites of the Roman Catholic Church',
										style: 'styleHeader2',
										},
										{
										text: 'by the Rev _________________________________',
										style: 'styleLabel',
										},
										{
										text: 'the sponsors being ______________________________',
										style: 'styleLabel',
										},
										{
										text: 'and _____________________________________',
										style: 'styleLabel',
										},
										{
										text: 'as appears on the Baptismal Register of this Church',
										style: 'styleHeader2',
										},
										{
										text: 'Bk. No. ________ Page ________ Line _________',
										style: 'styleLabel',
										},
										{
										text: 'Dated _______________',
										style: 'styleLabel',
										},
										{
										text: '_________________',
										style: 'styleLabel',
										alignment: 'right',
										},
										{
										text: 'Parish Priest',
										style: 'styleLabel',
										alignment: 'right',
										margin: [0, 0, 52, 0],
										},
									],
									styles: {
										styleLabel: {
											font: 'EdwardianScript',
											fontSize:85,
										},
										styleHeader: {
											font: 'OldEnglishText',
											fontSize: 45,
											alignment: 'center',
											margin: [0, 15, 0, 0],
										},
										styleHeader2: {
											font: 'EdwardianScript',
											fontSize: 33,
											alignment: 'center',
											margin: [0, 5, 0, 5],
										},
										styleLabel: {
											font: 'EdwardianScript',
											fontSize: 26,
										},
									},
								}
								pdfMake.fonts = {
									Roboto: {
										normal: 'Roboto-Regular.ttf',
										bold: 'Roboto-Medium.ttf',
										italic: 'Roboto-Italic.ttf',
										bolditalics: 'Roboto-MediumItalic.ttf',
									},
									EdwardianScript: {
										normal: 'Edwardian-script-itc-Regular.TTF'
									},
									OldEnglishText: {
										normal: 'Old-english-text-mt-Regular.ttf'
									},
									TimesNewRoman: {
										normal: 'Times-new-roman-Regular.ttf'
									}
								}
								pdfMake.createPdf(docDefinition).open();
								
							})
						})
					})
				})
				
			})
		
