extends ../../../../../templates/admin
block prepend main
	#wrap
	div(style='clear:both')
	.content
		.container-fluid

			.row
				.col-lg-12.col-md-12
						.card
								.card-header.card-header-primary(style='background:#367587; color:white')
									.row
										.col-md-6
											h3.card-title(style='background:#367587; color:white') Funeral Mass
										.col-md-6.text-right
											.row.text-right
												.col-md-12.text-right
													label SERVICES:
													select#selectBox(onchange='services(value);' style='color:grey' )
														option(value=7) Funeral Mass
														option(value=0) All
														option(value=1) Anointing of the sick
														option(value=3) Baptism
														option(value=9) Special Baptism
														option(value=4) Funeral Service
														option(value=5) Marriage

												.col-md-12.text-right
													label APPROVAL STATUS:
													select#selectBox(onchange='month(value);' style='color:grey' )
														option(value=0) All
														option(value=1) Approved
														option(value=2) Pending
														option(value=3) Disapproved
														option(value=4) Cancelled

												.col-md-12.text-right
													label MONTH:
													select#selectBox(onchange='month(value);' style='color:grey' )
														option(value=0) All
														option(value=1) January
														option(value=2) February
														option(value=3) March
														option(value=4) April
														option(value=5) May
														option(value=6) June
														option(value=7) July
														option(value=8) August
														option(value=9) September
														option(value=10) October
														option(value=11) November
														option(value=12) December
														
								.card-body.table-responsive
										table.table.table-hover.dt-responsive
												thead.text-primary
														th ID
														th Service Name
														th Name
														//- th Father's Name
														//- th Mother's Name
														th Event Date
														th Event Time
														th Approval Status
														
												tbody
													each query in queries
														tr
															td=query.int_eventinfoID
															td=query.var_eventname
															td=query.var_lname +", "+ query.var_fname
															//- td=query.var_fathername
															//- td=query.var_mothername
															td=query.date_eventdate
															td=query.time_eventstart
															td=query.char_approvalstatus

																
	
block addjs
	script.
		$(document).ready(function() {
			function services($i) {
				var id = $i;
				$.post(`/admin/queries-services?serviceid:${id}`)
				}
			})