extends ../../../../../templates/admin
block prepend main
	#wrap
	div(style='clear:both')
	.content
		.container-fluid

			.row
				.col-lg-12.col-md-12
						.card.shadow
								.card-header.card-header-primary(style='background:#367587; color:white')
									//- .row
									//- 	.col-md-12
									h4.card-title(style='background:#367587; color:white') Services
										//- .col-md-6
										//- 	a.btn.btn-primary.pull-right(href="#" data-toggle="modal" data-target="#conditionModal") Add Event
								.card-body.table-responsive
										table.dataTable.table.table-hover.dt-responsive
												thead.text-primary
														//- th ID
														th Service Name
														th Available Time
														//- th Available Days
														th Age Constraint
														th Paid Service
														th Refundable
														th Status
														th.text Actions
												tbody
														each service in services
															tr
																//- td=service.int_utilitiesID
																td=service.var_servicename
																td=service.time_availablestart +" - " + service.time_availableend
																if(service.bool_withageconstraints=='1')
																	if(service.int_agemax==null)
																		td=service.int_agemin + " and above"
																	else
																		td=service.int_agemin + " - " + service.int_agemax
																else if(service.bool_withageconstraints=='0')
																	td="None"
																if(service.bool_withpayment=='1')
																	if(service.bool_refundable=='1')
																		td="Yes"
																		td="Yes"
																	if(service.bool_refundable=='0')
																		td='Yes'
																		td='No'
																else if(service.bool_withpayment=='0')
																	td="No"
																	td="No"
																
																if(service.char_servicestatus=='Disabled')
																	td
																		select#selectBox(onchange='enable(value);' style='color:red' )
																			option(value=`${service.int_utilitiesID}`) Disabled
																			option(value=`${service.int_utilitiesID}`  style='color:green') Enabled
																if(service.char_servicestatus=='Enabled')
																	td
																		select#selectBox(onchange='disable(value);' style='color:green' )
																			option(value=`${service.int_utilitiesID}`) Enabled
																			option(value=`${service.int_utilitiesID}` style='color:red' ) Disabled
																if(service.var_servicename!='Facility Reservation')

																	td.td-actions.text-center
																		button.btn.btn-primary.actionButton(type='button' value=`${service.int_utilitiesID}`)
																			i.ti-settings
																				#toolbar-options.hidden
																					a.updateButton(value=`${service.int_utilitiesID}`)
																						i.ti-pencil(style="color:white;")
																//- if(service.var_servicename=='Facility Reservation')

block addjs
	
	script.
		function enable($i) {
			//- alert($i);
			swal({
					title: 'Are you sure change status?',
					text: "",
					type: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'Confirm'
					}).then((result) => {
						if (result.value) {
							$.post('/admin/utilities-specialservices/changestatus',{id1:$i, servicestatus:'Enabled'})
							.done(data =>{
								if(data){
									swal({
									title:'Success',
									text:'Status changed',
									icon:'success'
									}).then(function(){
										location.reload();
									})
								}
							});
						}
					})
		}
		function disable($i) {
			//- alert($i);
			swal({
					title: 'Are you sure change status?',
					text: "",
					type: 'warning',
					showCancelButton: true,
					confirmButtonColor: '#3085d6',
					cancelButtonColor: '#d33',
					confirmButtonText: 'Confirm'
					}).then((result) => {
						if (result.value) {
							$.post('/admin/utilities-specialservices/changestatus',{id1:$i, servicestatus:'Disabled'})
							.done(data =>{
								if(data){
									swal({
									title:'Success',
									text:'Status changed',
									icon:'success'
									}).then(function(){
										location.reload();
									})
								}
							});
						}
					})
		}
		$(document).ready(function() {
			var idNow = 0;
			var id1=0;
			var id2=0;
			
			$('.actionButton').click(function(){
				idNow = $(this).val();
				console.log('Action button: ' + idNow)
				
			});
			
			$('.updateButton').click(function(){
				
				console.log('Update Button: '+ idNow)
				console.log(idNow +'id to oh')
				//- $.get(`/admin/utilities-services/viewdetails/${idNow}`)
				//- .done(data =>{
				//- 	console.log(data.firstQuery.int_utilitiesID+'dito tayo sa ajax')
					window.location=`/admin/utilities-specialservices/viewdetails?id=${idNow}`
					//- });
				
		});
		});
