extends ../../../../../templates/secretariat
block prepend main
	style.
		.tableModal {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
		}

		.tdModal{
			border: 2px solid #dddddd;
			text-align: left;
			padding: 12px;
		}
		.shadow3 {
			box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
		}

		body > div.mfp-wrap.mfp-close-btn-in.mfp-auto-cursor.mfp-with-zoom.mfp-ready > div {
			z-index: 9999 !important;
		}

		.mfp-with-zoom .mfp-container,
		.mfp-with-zoom.mfp-bg {
			opacity: 0;
			-webkit-backface-visibility: hidden;
			/* ideally, transition speed should match zoom duration */
			-webkit-transition: all 0.3s ease-out;
			-moz-transition: all 0.3s ease-out;
			-o-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;
			z-index: 99999;
		}

		.mfp-image, .mfp-container, .mfp-ready, .mfp-image-holder, .mfp-content, .mfp-preloader, .mfp-figure {
			z-index: 99999;
		}

		.mfp-with-zoom.mfp-ready .mfp-container {
			opacity: 1;
		}
		.mfp-with-zoom.mfp-ready.mfp-bg {
			opacity: 0.8;
		}

		.mfp-with-zoom.mfp-removing .mfp-container,
		.mfp-with-zoom.mfp-removing.mfp-bg {
		opacity: 0;
		}
	#wrap
	//- #calendar
	div(style='clear:both')
	.content
		.container-fluid
			.row
				.col-lg-12.col-md-12
					// Tab panes
					.tab-content
						#nonwedding.tab-pane.active.mx-3
							
							// Tab panes
							.tab-content
								#anointing.tab-pane.active
									.card
											.card-header.card-header-primary(style='background:#367587; color:white')
													h4.card-title(style='background:#367587; color:white') Anointing of the Sick
													
											.card-body.table-responsive
													table.table.table-hover.dataTable
															thead.text-primary
																	//- th ID
																	th Sick
																	th Event Date
																	th Requirement Status
																	th Approval Status
																	th.text-center(style=" width:11rem") Actions
															tbody
																each anointing in anointings
																	tr
																		//- td=anointing.int_eventinfoID
																		input.form-control#int_userID(type='hidden' name='clientID' value=anointing.int_userID)
																		td=anointing.var_lname + ", " + anointing.var_fname + " " + anointing.var_mname
																		td=anointing.date_eventdate
																		//- td=anointing.char_approvalstatus
																		td
																			span.approvalreq(value=`${anointing.var_reqstatus}`) #{anointing.var_reqstatus}
																		td
																			span.approval(value=`${anointing.char_approvalstatus}`) #{anointing.char_approvalstatus}
																		td.td-actions.text-center
																			button.btn.btn-primary.actionButton(type='button' value=`${anointing.int_eventinfoID}`)
																				i.ti-settings
																					#toolbar-options.hidden
																						a.viewButton(href='#')
																							i.ti-file(style="color:white;")
																						a.updateButton(href='#')
																							i.ti-pencil(style="color:white;")
																						a.updateReqButton(href='#')
																							i.ti-new-window(style="color:white;")
								#messageModal.modal.fade(tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
									.modal-dialog.modal-lg(role="document")
										.modal-content
											.modal-header(style='background:red')
												h5.modal-title(style='color:white') Message for the Guest
												button.close(type='button', data-dismiss='modal', aria-label='Close')
													span(aria-hidden='true' style='color:white') ×
											.modal-body#messageAppend
											.modal-footer
												//- button.btn.btn-outline.btn-secondary.pull-left#cancellButton(type='button', data-dismiss='modal') Close
												button.btn.btn-danger#sendMessage(type="button") Send
								
	#updateModal.modal.fade(tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
		.modal-dialog.modal-lg(role="document")
			.modal-content
				.modal-header(style='background:#367587; color:white')
					h5.modal-title(style='background:#367587; color:white') Update Event Application
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true' style='background:#367587; color:white') ×
				.modal-body#updateBodyAppend
				.modal-footer.mx-auto
					button.btn.btn-primary#updateStatusButton(type="button") Update
	#viewModal.modal.fade(tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
			.modal-dialog.modal-lg(role="document")
				.modal-content
					.modal-header(style='background:#367587; color:white')
						h5.modal-title(style='background:#367587; color:white') Blessing
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true' style='background:#367587; color:white') ×
					.modal-body#viewBodyAppend
					.modal-footer
	#myModal.modal(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
		button.close(type='button', data-dismiss='modal', aria-label='Close')
			span(aria-hidden='true' style='background:#367587; color:white') ×
		img.modal-content1#imgReq
	#updateReqModal.modal.fade(tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
			.modal-dialog.modal-lg(role="document" style="z-index: 9998;")
				.modal-content
					.modal-header(style='background:#367587; color:white')
						h5.modal-title(style='background:#367587; color:white') Update Requirements
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true' style='background:#367587; color:white') ×
					.modal-body#reqStatus
						.row
							.col-md-6.mx-auto
								.gallery#reqAppend
							.col-md-6
								#upStatus
								#status
					.modal-footer.mx-auto
						button.btn.btn-outline.btn-primary.pull-left#updateReqButton(type='button') Update
block addjs
	script(type='text/javascript').
		
		$(document).ready(function(){
			var ctr = 0;
			for(var i =0; i<= $('.approvalreq').length; i++){


				if($('.approvalreq').eq(i).attr('value') == "Submitted"){
					$('.approvalreq').eq(i).addClass('badge btn btn-primary-lg bgc-amber-100 c-amber-700')
				}
				else if($('.approvalreq').eq(i).attr('value') == "Approved"){
					$('.approvalreq').eq(i).addClass('badge btn btn-primary-lg bgc-green-100 c-green-700')
				}
				else if($('.approvalreq').eq(i).attr('value') == "Rejected"){
					$('.approvalreq').eq(i).addClass('badge btn btn-primary-lg bgc-red-100 c-red-700')
				}
				
				if($('.approval').eq(i).attr('value') == "Pending"){
					$('.approval').eq(i).addClass('badge btn btn-primary-lg bgc-amber-100 c-amber-700')
				}
				else if($('.approval').eq(i).attr('value') == "Cancelled"){
					$('.approval').eq(i).addClass('badge btn btn-primary-lg bgc-red-100 c-red-700 ')
				}
				else if($('.approval').eq(i).attr('value') == "Approved"){
					$('.approval').eq(i).addClass('badge btn btn-primary-lg bgc-green-100 c-green-700')
				}
				else if($('.approval').eq(i).attr('value') == "Disapproved"){
					$('.approval').eq(i).addClass('badge btn btn-primary-lg bgc-red-100 c-red-700')
				}
			}

			var idNow;
			$('.actionButton').click(function(){
				idNow = $(this).val();
				console.log(idNow)
			});
			$(document).on('click', '.viewButton', function(){
				console.log(idNow)
				$.post('/secretariat/transaction-anointing/query',{id:idNow}).done(data =>{
					var dateRequested = moment(data.date_eventdate).format('MM/DD/YYYY')
					var timeRequested = moment(data.time_eventstart,'HH:mm:ss').format('hh:mm A')
					var age = moment().diff(data.date_birthday,'years');
					$('#viewBodyAppend').append(`
					<form>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label>Desired Date:</label>
								<input type="text" class="form-control" value="${dateRequested}" disabled>
							</div>
							<div class="form-group col-md-6">
								<label>Desired Time:</label>
								<input type="text" class="form-control" value="${timeRequested}" disabled>
							</div>
						</div>
						<label>Name of the Child:</label>
						<div class="form-row mx-1">
							<div class="form-group col-md-6">
								<label>Last Name:</label>
								<input type="text" class="form-control" value="${data.var_lname}" disabled>
							</div>
							<div class="form-group col-md-6">
								<label>First Name:</label>
								<input type="text" class="form-control" value="${data.var_fname}" disabled>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-4">
								<label>Relationship with the Child:</label>
								<input type="text" class="form-control" value="${data.var_relation}" disabled>
							</div>
							<div class="form-group col-md-4">
								<label>Gender:</label>
								<input type="text" class="form-control" value="${data.char_gender}" disabled>
							</div>
							<div class="form-group col-md-4">
								<label>Contact No:</label>
								<input type="text" class="form-control" value="${data.var_contactnum}" disabled>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label>Birth Date:</label>
								<input type="text" class="form-control" value="${moment(data.date_birthday).format('MM/DD/YYYY')}" disabled>
							</div>
							<div class="form-group col-md-6">
								<label>Birth Place:</label>
								<input type="text" class="form-control" value="${data.var_birthplace}" disabled>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label>Mother's Name:</label>
								<input type="text" class="form-control" value="${data.var_mothername}" disabled>
							</div>
							<div class="form-group col-md-6">
								<label>Mother's Birthplace:</label>
								<input type="text" class="form-control" value="${data.var_motherbplace}" disabled>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label>Father's Name:</label>
								<input type="text" class="form-control" value="${data.var_fathername}" disabled>
							</div>
							<div class="form-group col-md-6">
								<label>Father's Birthplace:</label>
								<input type="text" class="form-control" value="${data.var_fatherbplace}" disabled>
							</div>
						</div>
						<div class="form-group">
							<label>Address:</label>
							<input type="text" class="form-control" value="${data.var_address}" disabled>
						</div>
						<div class="form-group">
							<label>Parent Marriage Address:</label>
							<input type="text" class="form-control" value="${data.var_parentmarriageadd}" disabled>
						</div>
					</form>
					`)
					$('#viewModal').modal('show')
					$('#viewModal').on('hidden.bs.modal',function(){
						$('#viewBodyAppend').empty()
					})

				})
			})
			$('.updateReqButton').click(function(){
				$.post('/secretariat/transaction-anointing/query/updateStatus',{id:idNow}).done(data=>{
					$('#updateReqModal').modal('show')
					var ctr=0;
					for(i=0;i<data.requirements.length;i++){

						if(data.requirements[i].var_reqstatus == "Submitted"){
						$(`#reqAppend`).append(`
						<a class="image-link" href="${data.requirements[i].var_reqpath}" title="${data.requirements[i].var_reqname}"><img class="rounded shadow3" src="${data.requirements[i].var_reqpath}" style="width: 24rem;"/></a>
						`)
						$('#status').append(`
						<input class="reject" type="radio" name="${data.requirements[i].var_reqname}" value=${data.requirements[i].int_requirementID} />
							<h5 class="d-inline">Reject</h5>
						<br>
						<input class="accept" type="radio" name="${data.requirements[i].var_reqname}" value=${data.requirements[i].int_requirementID} />
							<h5 class="d-inline">Accept</h5>
						`)
						
						}
						else if(data.requirements[i].var_reqstatus == "Approved"){
						ctr++;
						$(`#reqAppend`).append(`
						<a class="image-link" href="${data.requirements[i].var_reqpath}" title="${data.requirements[i].var_reqname}"><img class="rounded shadow3" src="${data.requirements[i].var_reqpath}" style="width: 24rem;"/></a>
						`) 
						$('#status').append(`
						<input class="reject" disabled=true type="radio" name="${data.requirements[i].var_reqname}" value=${data.requirements[i].int_requirementID} /> 
							<h5 class="d-inline">Reject</h5>
						<br>
						<input class="accept" disabled=true checked=true type="radio" name="${data.requirements[i].var_reqname}" value=${data.requirements[i].int_requirementID} />
							<h5 class="d-inline">Accept</h5>
						`)
						}
						else if(data.requirements[i].var_reqstatus == "Rejected"){
						$(`#reqAppend`).append(`
						<a class="image-link" href="${data.requirements[i].var_reqpath}" title="${data.requirements[i].var_reqname}"><img class="rounded shadow3" src="${data.requirements[i].var_reqpath}" style="width: 24rem;"/></a>
						`)
						$('#status').append(`
						<input class="reject" checked="" type="radio" name="${data.requirements[i].var_reqname}" value=${data.requirements[i].int_requirementID} />
							<h5class="d-inline">Reject</h5>
						<br>
						<input class="accept" type="radio" name="${data.requirements[i].var_reqname}" value=${data.requirements[i].int_requirementID} />
							<h5 class="d-inline">Accep</h5>
						`)
						$(`input[name="${data.requirements[i].var_reqname}reject"][class="reject"]`).attr("checked",true);
						console.log()
						}
					}
					if(ctr == data.requirements.length){
						$(`#upStatus`).append(`
						<h4 class="label-control" class="reqstatus"><h5 class="d-inline">Current Requirement Status:</h4> <span class="approvalpay badge btn btn-primary-lg bgc-green-100 c-green-700" value="Complete">Complete</span>
						`)
					}
					else{
						$(`#upStatus`).append(`
						<h4 class="label-control" class="reqstatus"><h5 class="d-inline">Current Requirement Status:</h4> <span class="approval badge btn btn-primary-lg bgc-amber-100 c-amber-700" value="Incomplete">Incomplete</span>
						`)
					}
					console.log(ctr)
					console.log(data.requirements.length)
					$('#updateReqButton').click(function(){
						var idsa = [];
						var idsr = [];
						var requirements = [];
						for(i=0;i<data.requirements.length;i++){
						requirements.push(data.requirements[i])
						if($('.accept').is(':checked') == true){
							idsa.push($('.accept').val())
						}
						else if($('.reject').is(':checked') == true){
							idsr.push($('.reject').val())
						} else {
							return Swal.fire({
								type: 'error',
								title: 'Oops...',
								text: 'You haven\'t chosen yet!',
							})
						}

						}
						console.log(idsa)
						console.log(idsr)
						console.log(requirements)
							swal({
							title:'Are You Sure?', 
							text:'You want to update the Status of the Requirements?', 
							type:'warning',
							showCancelButton: true,
							confirmButtonColor: '#3085d6',
							cancelButtonColor: '#d33',
							confirmButtonText: 'Confirm'
							}).then((result)=>{
							if(result.value){
							var reqstatus = $('#reqstatus').val()
							
							if(idsr.length > 0){
								$.post('/secretariat/message',{int_userID:$('#int_userID').val()})
										.done(data =>{
											var rejected =[];
											for(j=0;j<idsr.length;j++){
												for(i=0;i<requirements.length;i++){
													if(idsr[j] == requirements[i].int_requirementID){
														rejected.push(requirements[i].var_reqname)
													}
												}

											}
											$('#messageAppend').append(`
											<h4 class="c-grey-900 mB-20">Send Message</h4>
												<div class="send-header">
													<div class="form-group">
													<input type="hidden" class='form-control' id='int_receiverID' placeholder="To" value =" ${data.int_userID}">
													<input type="text" class='form-control' placeholder="To" value ="${data.var_userlname}, ${data.var_userfname}"  readonly>
													</div>
													<div class="form-group">
													<h6 class="label-control" id="eventstatus">Rejected Requirements: 
													<span id="var_subject" class="badge btn btn-primary-lg bgc-blue-100 c-white-700"></span>
													</h6>
													</div>
													<div class="form-group">
													<textarea name="compose" class="form-control" id='text_message' placeholder="Please state your reason why you declined the guest's request." rows='6'></textarea>
													</div>
												</div>
												<div id="compose-area"></div>
											`)
											for(v=0;v<rejected.length;v++){
												if(v < rejected.length - 1){
													$('#var_subject').append(rejected[v] + ",")
												}
												else{
													$('#var_subject').append(rejected[v])
												}
											}
											$('#updateReqModal').modal('hide')
											$('#messageModal').modal('show')
											$('#messageModal').on('hidden.bs.modal',function(){
												$('#selectBox').val('default')
												$('#messageAppend').empty()
											})
											
											$('#sendMessage').click(function(){
												swal({
												title:'Are you sure?', 
												text:'This message will be sent to the guest and his/her request will be declined.', 
												type:'warning',
												showCancelButton: false,
												confirmButtonColor: '#3085d6',
												cancelButtonColor: '#d33',
												confirmButtonText: 'Confirm'
												}).then((result)=>{
													if(result.value){										
														$.post('/secretariat/message/send',{
															int_receiverID:$('#int_receiverID').val(),
															int_receiverID:$('#int_receiverID').val(),
															var_subject:$('#var_subject').val(),
															text_message:$('#text_message').val(),
															id1:idNow
														})
														.done(data=>{
															if(data){
																swal({
																	title:'Success',
																	text:'Status updated and message sent!', 
																	type:'success'
																}).then(function(){
																	for(i=0;i<idsr.length;i++){
																		$.post('/secretariat/transaction-anointing/updateRequirementsReject',{
																		id:idsr[i],
																		eventid:idNow
																		}).done(data=>{
																		location.reload()
																		})
																	}
																})
																$('#messageModal').modal('hide');
																$('#messageAppend').empty();
															}
														})
													}
											})
											})
										})
								

							}
							else if(idsa.length > 0){
							for(i=0;i<idsa.length;i++){
								$.post('/secretariat/transaction-anointing/updateRequirements',{
								id:idsa[i],
								eventid:idNow
								}).done(data=>{

								})
							}
							swal({
								title:'Success',
								text:'Status updated', 
								type:'success'
								}).then(function(){
									location.reload();
								})
							}
							else{
								swal({
								title:'Success',
								text:'Status updated', 
								type:'success'
								}).then(function(){
									location.reload();
								})
							}
							}
							})
					})
					$('#updateReqModal').on('hidden.bs.modal',function(){
						$('#reqAppend').empty()
						$('#upStatus').empty()
						$('#status').empty()
					})
				})
			})
			
			$('.updateButton').click(function(){
				$.post('/secretariat/transaction-anointing/query/updateStatus',{id:idNow}).done(data=>{
				$('#updateBodyAppend').append(`
				<form>
					<input id="eventid" type="hidden" value="${data.results.int_eventinfoID}"></input>
					<input id="userid" type="hidden" value="${data.results.int_userID}"></input>
					
					<div class="form-row">
						<div class="form-group col-md-6">
							<label>Current Approval Status:</label>
							<select class="form-control" id="eventstatusupdate"></select>
						</div>
						<div class="form-group col-md-6">
							<label >Current Requirement Status:</label>
							<input id="reqstatus" type="text" class="form-control" value="" disabled>
						</div>
					</div>
					
				</form>
				`)
				var ctr2 =0;
				for(i=0;i<data.requirements.length;i++){
					console.log(data.requirements[i].var_reqname)
					if(data.requirements[i].var_reqstatus == "Approved"){
					ctr2++;
					}	
				}
				if(ctr2 == data.requirements.length){
					$('#reqstatus').val("Complete")
					console.log("cur reqstatus"+$('#reqstatusupdate').val())
						
								if(data.results.char_approvalstatus=="Cancelled"){
									$('#eventstatusupdate').append(`
									<option selected="selected">Cancelled</option>
									<option>Approved</option>
									`)
								}
								if(data.results.char_approvalstatus=="Approved"){
									$('#eventstatusupdate').append(`
									<option selected="selected" disabled>Approved</option>
									`)
								}
								if(data.results.char_approvalstatus=="Pending"){
									$('#eventstatusupdate').append(`
									<option selected="selected">Pending</option>
									<option>Cancelled</option>
									<option>Disapproved</option>
									`)
								}
								if(data.results.char_approvalstatus=="Disapproved"){
									$('#eventstatusupdate').append(`
									<option selected="selected">Disapproved</option>
									<option>Approved</option>
									<option>Cancelled</option>
									`)
								}
						
				}
				else{
					$('#reqstatus').val("Incomplete")
					if(data.results.char_approvalstatus=="Cancelled"){
						$('#eventstatusupdate').append(`
						<option selected="selected">Cancelled</option>
						<option>Approved</option>
						`)
					}
					if(data.results.char_approvalstatus=="Approved"){
						$('#eventstatusupdate').append(`
						<option selected="selected" disabled>Approved</option>
						`)
					}
					if(data.results.char_approvalstatus=="Pending"){
						$('#eventstatusupdate').append(`
						<option selected="selected">Pending</option>
						<option>Cancelled</option>
						<option>Disapproved</option>
						`)
					}
					if(data.results.char_approvalstatus=="Disapproved"){
						$('#eventstatusupdate').append(`
						<option selected="selected">Disapproved</option>
						<option>Approved</option>
						<option>Cancelled</option>
						`)
					}
				}
				
				
				
				$('#updateModal').modal('show')
				$('#updateModal').on('hidden.bs.modal',function(){
					$('#updateBodyAppend').empty()
				})
				$('#updateStatusButton').click(function(){	
				var eventstatus = $('#eventstatusupdate').val()
				
				var reqstatus = $('#reqstatusupdate').val()
				
					console.log("eventstatus "+eventstatus)

					console.log("reqstatus "+reqstatus)
					swal({
							title:'Are You Sure?', 
							text:'You want to update the Status of the Requirements?', 
							type:'warning',
							showCancelButton: true,
							confirmButtonColor: '#3085d6',
							cancelButtonColor: '#d33',
							confirmButtonText: 'Confirm'
							}).then((result)=>{
							if(result.value){
							console.log(eventstatus)
							$.post('/secretariat/transaction-anointing/updateStatus',{
							
							id:data.results.int_eventinfoID,
							eventstatus:eventstatus,
							
							reqstatus:reqstatus,
							}).done(data=>{
								if(eventstatus == "Disapproved"){
									$.post('/secretariat/message',{int_userID:$('#int_userID').val()})
										.done(data =>{
											
											$('#messageAppend').append(`
											<h4 class="c-grey-900 mB-20">Send Message</h4>
												<div class="send-header">
													<div class="form-group">
													<input type="hidden" class='form-control' id='int_receiverID' placeholder="To" value =" ${data.int_userID}">
													<input type="text" class='form-control' placeholder="To" value ="${data.var_userlname}, ${data.var_userfname}">
													</div>
													<div class="form-group">
													<h6 class="label-control" id="eventstatus">Rejected Requirements: 
													<input class="form-control" id='var_subject' value='Declined request'">
													</h6>
													</div>
													<div class="form-group">
													<textarea name="compose" class="form-control" id='text_message' placeholder="Please state your reason why you declined the guest's request." rows='6'></textarea>
													</div>
												</div>
												<div id="compose-area"></div>
											`)
											$('#updateReqModal').modal('hide')
											$('#messageModal').modal('show')
											$('#messageModal').on('hidden.bs.modal',function(){
												$('#selectBox').val('default')
												$('#messageAppend').empty()
											})
											
											$('#sendMessage').click(function(){
												swal({
												title:'Are you sure?', 
												text:'This message will be sent to the guest and his/her request will be declined.', 
												type:'warning',
												showCancelButton: false,
												confirmButtonColor: '#3085d6',
												cancelButtonColor: '#d33',
												confirmButtonText: 'Confirm'
												}).then((result)=>{
													if(result.value){										
														$.post('/secretariat/message/send',{
															int_receiverID:$('#int_receiverID').val(),
															int_receiverID:$('#int_receiverID').val(),
															var_subject:$('#var_subject').val(),
															text_message:$('#text_message').val(),
															id1:idNow
														})
														.done(data=>{
															if(data){
																swal({
																	title:'Success',
																	text:'Status updated and message sent!', 
																	type:'success'
																}).then(function(){
																	for(i=0;i<idsr.length;i++){
																		$.post('/secretariat/transaction-anointing/updateRequirementsReject',{
																		id:idsr[i],
																		eventid:idNow
																		}).done(data=>{
																		location.reload()
																		})
																	}
																})
																$('#messageModal').modal('hide');
																$('#messageAppend').empty();
																location.reload();
															}
														})
													}
											})
											})
										})
								}
								else{
								swal({
								title:'Success',
								text:'Status updated', 
								type:'success'
								}).then(function(){
									location.reload();
								})
								}
							})
							
							}
							})
					
				})
			})
			})
			
					$('#sendMessage').click(function(){
						swal({
						title:'Are You Sure?', 
						text:'You want to update the Status of the Request?', 
						type:'warning',
						showCancelButton: true,
						confirmButtonColor: '#3085d6',
						cancelButtonColor: '#d33',
						confirmButtonText: 'Confirm'
						}).then((result)=>{
						if(result.value){
						data.time_eventstart = moment(data.time_eventstart,'HH:mm:ss').format('HH:mm:ss')
						$.post('/secretariat/transaction-anointing/update',{
						dateRequested:data.date_eventdate,
						timeRequested:data.time_eventstart,
						eventstatus:$('#eventstatusupdate').val(),
						eventid:$('#eventid').val(),
						reqid:$('#reqid').val(),
						reqstatus:$('#reqstatus').val(),
						})
						.done(data=>{
							if(data){
								swal({
								title:'Success',
								text:'Status updated', 
								type:'success'
								}).then(function(){
									location.reload();
								})
								$('#messageModal').modal('hide');
								$('#updateAppend').empty();
							}
						})
						}
					})
					})
			//- 	})
			//- })
		})

