extends ../../../../../templates/secretariat

block prepend main
    //- #wrap
    //- //- #calendar
    //- div(style='clear:both')
    .content
        .container-fluid
            .row
                .col-lg-12.col-md-12
                    // Tab panes
                    .tab-content
                        #nonwedding.tab-pane.active.mx-3
                            br
                            // Inner Nav tabs
                            ul.nav.nav-tabs
                                li.nav-item
                                    a.nav-link.active(data-toggle='tab', href='#regularbaptism') Regular Baptism
                                li.nav-item
                                    a.nav-link(data-toggle='tab', href='#specialbaptism') Special Bapitsm
                            // Tab panes
                            .tab-content
                                #regularbaptism.tab-pane.active
                                    br
                                    .card
                                            .card-header.card-header-primary
                                                    h4.card-title Regular Baptism
                                            .card-body.table-responsive
                                                    table.dataTable.table.table-hover
                                                            thead.text-primary
                                                                    th ID
                                                                    th Name of the Child
                                                                    th Birthday
                                                                    th Req Status
                                                                    th Payment Status
                                                                    th Approval Status
                                                                    th.text-center(style=" width:120px") Actions
                                                            tbody
                                                                    each regular in regulars
                                                                        tr
                                                                            td=regular.int_eventinfoID
                                                                            td=regular.var_lname + ", " + regular.var_fname
                                                                            td=regular.date_birthday
                                                                            td=regular.var_reqstatus
                                                                            td=regular.char_paymentstatus
                                                                            td=regular.char_approvalstatus
                                                                            td.td-actions.text-center
                                                                                button.btn.btn-primary.actionButton(type='button' value=`${regular.int_eventinfoID}`)
                                                                                    i.ti-settings
                                                                                        #toolbar-options.hidden
                                                                                            a.viewButton(href='#')
                                                                                                i.ti-new-window(style="color:white;")
                                                                                            a.updateButton(href='#')
                                                                                                i.ti-pencil(style="color:white;")
                                #specialbaptism.tab-pane.fade
                                    br
                                    .card
                                        .card-header.card-header-primary
                                            h4.card-title Special Baptism
                                        .card-body.table-responsive
                                            table.table.dataTable.table-hover
                                                thead.text-primary
                                                    th ID
                                                    th Name of the Child
                                                    th Birthday
                                                    th Desired Schedule
                                                    th Req Status
                                                    th Pymt Status
                                                    th Approval Status
                                                    th.text-right(style=" width:120px") Actions
                                                tbody
                                                    each special in specials
                                                        tr
                                                            td=special.int_eventinfoID
                                                            td=special.var_lname + ", " + special.var_fname
                                                            td=special.date_birthday
                                                            td=special.date_desireddate + ' ' + special.time_desiredtime
                                                            td=special.var_reqstatus
                                                            td=special.char_paymentstatus
                                                            td=special.char_approvalstatus
                                                            td.td-actions.text-center
                                                                button.btn.btn-primary.actionButton(type='button' value=`${special.int_eventinfoID}`)
                                                                    i.ti-settings
                                                                        #toolbar-options.hidden
                                                                            a.viewButton(href='#')
                                                                                i.ti-new-window(style="color:white;")
                                                                            a.updateButton(href='#')
                                                                                i.ti-pencil(style="color:white;")
    #updateModal.modal.fade(tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
        .modal-dialog.modal-lg(role="document")
            .modal-content
                .modal-header
                    h5.modal-title Update Event Application
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    col-md-4.p-lg-0
                        .row
                            .col-md-6
                                .form-group
                                    input#docuid(type='hidden', value='${data.int_requestID}')
                                    input#docustatus(type='hidden', value='${data.char_docustatus}')
                                    h6.label-control
                                    strong  Current Application Status : 
                                    |  Pending
                        .row
                            .col-md-6
                                .form-group
                                    input#reqid(type='hidden', value='${data.int_requirementdocumentID}')
                                    h6.label-control
                                    strong  Current Requirement Status : 
                                    |  Submitted
                                    br
                                    select(type='text')
                                        option(selected='selected') Pending
                                        option Incomplete
                                        option Approved
                            .col-md-6
                                .form-group
                                    input#payid(type='hidden', value='${data.int_paymentID}')
                                    h6.label-control
                                    strong  Current Payment Status: 
                                    |  Unpaid
                                    br
                                    select(type='text')
                                        option(selected='selected') Paid
                                        option Unpaid
                                .form-group
                                strong  Fee : 
                                | P 300.00
                .modal-footer
                    button.btn.btn-outline.btn-secondary.pull-left#cancelButton(type='button', data-dismiss='modal') Close
                    button.btn.btn-primary#updateSubmitButton(type="button") Update
    #viewModal.modal.fade(tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
            .modal-dialog.modal-lg(role="document")
                .modal-content
                    .modal-header
                        h5.modal-title Baptism
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                    .modal-body
                        .form-group.m-0
                            label.label-control
                                strong  Name of the Child: 
                                |  Santos, Crisaldo
                        .form-group
                            label.label-control
                                strong  Baptism Date: 
                                |  08/18/2018
                        .form-group
                            label.label-control
                                strong  Purpose: 
                                |  Requirements for Confirmation
                        .form-group
                            label.label-control
                                strong  Requirements: 
                                |  Birth Certificate
                        .form-group
                            img#myImg.img-responsive(src='/img/req/download.jpg', style='max-height:250px;')
                    .modal-footer
                        button.btn.btn-outline.btn-secondary.pull-left#cancelButton(type='button', data-dismiss='modal') Close
block addjs
    script.
        $(document).ready(function(){
            $('.actionButton').click(function(){
            })
            $('.updateButton').click(function(){
                $('#updateModal').modal('show')
            })
            $('.viewButton').click(function(){
                $('#viewModal').modal('show')
            })
        })
