extends ../../../../../templates/secretariat
block prepend main
	#wrap
	//- #calendar
	div(style='clear:both')
	.content
		.container-fluid
			.row
				.col-lg-12.col-md-12
					// Tab panes
					.tab-content
						#nonwedding.tab-pane.active.mx-3
							br
							// Inner Nav tabs
							ul.nav.nav-tabs
								li.nav-item
									a.nav-link.active(data-toggle='tab', href='#anointing') Anointing of the Sick
								li.nav-item
									a.nav-link(data-toggle='tab', href='#funeral') Funeral Blessing
								li.nav-item
									a.nav-link(data-toggle='tab', href='#establishment') Establishment Blessing
							// Tab panes
							.tab-content
								#anointing.tab-pane.active
									.card
											.card-header.card-header-primary
													h4.card-title Anointing of the Sick
											.card-body.table-responsive
													table.table.table-hover.dataTable
															thead.text-primary
																	th ID
																	th Sick
																	th Details
																	th Desired schedule
																	th Approval Status
																	th.text-center(style=" width:120px") Actions
															tbody
																	each anointing in anointings
																		tr
																			td=anointing.int_eventinfoID
																			td=anointing.var_lname + ", " + anointing.var_fname
																			td=anointing.var_blessingdetails
																			td=anointing.date_desireddate1 + ' ' + anointing.time_desiredtime1
																			td=anointing.char_approvalstatus
																			<td class="td-actions text-right">
																					a.button(rel="tooltip" class="btn btn-info" href=`/admin/transaction-baptism`)
																							<i class="material-icons">open_in_new</i>
																					a.button(rel="tooltip" class="btn btn-success" href=`/admin/transaction-baptism/edit/${anointing.int_eventinfoID}`)
																							<i class="material-icons">edit</i>
																					//- a.button(rel="tooltip" class="btn btn-danger" href=`/admin/transaction-baptism/delete/${request.int_requestID}`)
																					//- 		<i class="material-icons">close</i>
																			</td>
								#funeral.tab-pane.fade
									.card
											.card-header.card-header-primary
													h4.card-title Funeral Blessing
											.card-body.table-responsive
													table.table.table-hover.dataTable
															thead.text-primary
																	th ID
																	th Deceased
																	th Details
																	th Desired schedule
																	th Approval Status
																	th.text-center(style=" width:120px") Actions
															tbody
																	each funeral in funerals
																		tr
																			td=funeral.int_eventinfoID
																			td=funeral.var_lname + ", " + funeral.var_fname
																			td=funeral.var_blessingdetails
																			td=funeral.date_desireddate1 + ' ' + funeral.time_desiredtime1
																			td=funeral.char_approvalstatus
																			<td class="td-actions text-right">
																					a.button(rel="tooltip" class="btn btn-info" href=`/admin/transaction-baptism`)
																							<i class="material-icons">open_in_new</i>
																					a.button(rel="tooltip" class="btn btn-success" href=`/admin/transaction-baptism/edit/${funeral.int_eventinfoID}`)
																							<i class="material-icons">edit</i>
																					//- a.button(rel="tooltip" class="btn btn-danger" href=`/admin/transaction-baptism/delete/${request.int_requestID}`)
																					//- 		<i class="material-icons">close</i>
																			</td>	
								#establishment.tab-pane.fade
									.card
										.card-header.card-header-primary
												h4.card-title Establishment Blessing
												
										.card-body.table-responsive
												table.table.table-hover.dataTable
													thead.text-primary
																th ID
																th Owner
																th Location
																th Desired schedule
																th Approval Status
																th.text-center(style=" width:120px") Actions
													tbody
															each establishment in establishments
																tr
																	td=establishment.int_eventinfoID
																	td=establishment.var_owner
																	td=establishment.var_estloc
																	td=establishment.date_desireddate1 + ' ' + establishment.time_desiredtime1
																	td=establishment.char_approvalstatus
																	<td class="td-actions text-right">
																			a.button(rel="tooltip" class="btn btn-info" href=`/admin/transaction-baptism`)
																					<i class="material-icons">open_in_new</i>
																			a.button(rel="tooltip" class="btn btn-success" href=`/admin/transaction-baptism/edit/${establishment.int_eventinfoID}`)
																					<i class="material-icons">edit</i>
																			//- a.button(rel="tooltip" class="btn btn-danger" href=`/admin/transaction-baptism/delete/${request.int_requestID}`)
																			//- 		<i class="material-icons">close</i>
																	</td>	