extends ../../../../../templates/secretariat
block prepend main
    #wrap
    //- #calendar
    div(style='clear:both')
    .content
        .container-fluid
            .row
                .col-lg-12.col-md-12
                    // Tab panes
                    .tab-content
                        #nonwedding.tab-pane.active.mx-3
                            br
                            // Inner Nav tabs
                            ul.nav.nav-tabs
                                li.nav-item
                                    a.nav-link.active(data-toggle='tab', href='#anointing') Anointing of the Sick
                                li.nav-item
                                    a.nav-link(data-toggle='tab', href='#funeral') Funeral Blessing
                                li.nav-item
                                    a.nav-link(data-toggle='tab', href='#establishment') Establishment Blessing
                            // Tab panes
                            .tab-content
                                #anointing.tab-pane.active
                                    .card
                                            .card-header.card-header-primary
                                                    h4.card-title Anointing of the Sick
                                            .card-body.table-responsive
                                                    table.table.table-hover.dataTable
                                                            thead.text-primary
                                                                    th ID
                                                                    th Sick
                                                                    th Details
                                                                    th Desired schedule
                                                                    th Approval Status
                                                                    th.text-center(style=" width:11rem") Actions
                                                            tbody
                                                                    each anointing in anointings
                                                                        tr
                                                                            td=anointing.int_eventinfoID
                                                                            td="Santos, Crisaldo"
                                                                            td=anointing.var_blessingdetails
                                                                            td=anointing.date_desireddate1 + ' 9:00 AM' 
                                                                            td=anointing.char_approvalstatus
                                                                            td.td-actions.text-center
                                                                                    button.btn.btn-primary.actionButton(type='button' value=`${anointing.int_eventinfoID}`)
                                                                                            i.ti-settings
                                                                                                    #toolbar-options.hidden
                                                                                                            a.viewButton(href='#')
                                                                                                                    i.ti-new-window(style="color:white;")
                                                                                                            a.updateButton(href='#')
                                                                                                                    i.ti-pencil(style="color:white;")
                                #funeral.tab-pane.fade
                                    .card
                                            .card-header.card-header-primary
                                                    h4.card-title Funeral Blessing
                                            .card-body.table-responsive
                                                    table.table.table-hover.dataTable
                                                            thead.text-primary
                                                                    th ID
                                                                    th Deceased
                                                                    th Details
                                                                    th Desired schedule
                                                                    th Approval Status
                                                                    th.text-center(style=" width:120px") Actions
                                                            tbody
                                                                    tr
                                                                        td="87"
                                                                        td="Santos, Crisaldo"
                                                                        td="House"
                                                                        td="08/23/2018" + ' 10:00 AM'
                                                                        td="Pending"
                                                                        td.td-actions.text-center
                                                                                button.btn.btn-primary.actionButton(type='button')
                                                                                        i.ti-settings
                                                                                                #toolbar-options.hidden
                                                                                                        a.viewButton(href='#')
                                                                                                                i.ti-new-window(style="color:white;")
                                                                                                        a.updateButton(href='#')
                                                                                                                i.ti-pencil(style="color:white;")
                                #establishment.tab-pane.fade
                                    .card
                                        .card-header.card-header-primary
                                                h4.card-title Establishment Blessing
                                                
                                        .card-body.table-responsive
                                                table.table.table-hover.dataTable
                                                    thead.text-primary
                                                                th ID
                                                                th Owner
                                                                th Location
                                                                th Desired schedule
                                                                th Approval Status
                                                                th.text-center(style=" width:120px") Actions
                                                    tbody
                                                            each establishment in establishments
                                                                tr
                                                                    td=establishment.int_eventinfoID
                                                                    td="Santos, Crisaldo"
                                                                    td=establishment.var_estloc
                                                                    td=establishment.date_desireddate1 + ' ' + establishment.time_desiredtime1
                                                                    td="Pending"
                                                                    td.td-actions.text-center
                                                                            button.btn.btn-primary.actionButton(type='button' value=`${establishment.int_eventinfoID}`)
                                                                                    i.ti-settings
                                                                                            #toolbar-options.hidden
                                                                                                    a.viewButton(href='#')
                                                                                                            i.ti-new-window(style="color:white;")
                                                                                                    a.updateButton(href='#')
                                                                                                            i.ti-pencil(style="color:white;")
    #updateModal.modal.fade(tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
        .modal-dialog.modal-lg(role="document")
            .modal-content
                .modal-header
                    h5.modal-title Update Event Application
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                    col-md-4.p-lg-0
                        .row
                            .col-md-6
                                .form-group
                                    input#docuid(type='hidden', value='${data.int_requestID}')
                                    input#docustatus(type='hidden', value='${data.char_docustatus}')
                                    h6.label-control
                                    strong  Current Application Status : 
                                    |  Pending
                        .row
                            .col-md-6
                                .form-group
                                    input#reqid(type='hidden', value='${data.int_requirementdocumentID}')
                                    h6.label-control
                                    strong  Current Requirement Status : 
                                    |  Submitted
                                    br
                                    select(type='text')
                                        option(selected='selected') Pending
                                        option Incomplete
                                        option Approved
                            .col-md-6
                                .form-group
                                    input#payid(type='hidden', value='${data.int_paymentID}')
                                    h6.label-control
                                    strong  Current Payment Status: 
                                    |  Unpaid
                                    br
                                    select(type='text')
                                        option(selected='selected') Paid
                                        option Unpaid
                                .form-group
                                strong  Fee : 
                                | P 300.00
                .modal-footer
                    button.btn.btn-outline.btn-secondary.pull-left#cancelButton(type='button', data-dismiss='modal') Close
                    button.btn.btn-primary#updateSubmitButton(type="button") Update
    #viewModal.modal.fade(tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
            .modal-dialog.modal-lg(role="document")
                .modal-content
                    .modal-header
                        h5.modal-title Blessing
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                    .modal-body
                        .form-group.m-0
                            label.label-control
                                strong  Name of the Applicant: 
                                |  Santos, Crisaldo
                        .form-group
                            label.label-control
                                strong  Blessing Date: 
                                |  08/23/2018 9:00 AM
                        .form-group
                            label.label-control
                                strong  Requirements: 
                                |  Birth Certificate
                        .form-group
                            img#myImg.img-responsive(src='/img/req/download.jpg', style='max-height:250px;')
                    .modal-footer
                        button.btn.btn-outline.btn-secondary.pull-left#cancelButton(type='button', data-dismiss='modal') Close
block addjs
    script.
        $(document).ready(function() {
            $('.actionButton').click(function(){
            })
            $('.updateButton').click(function(){
                $('#updateModal').modal('show')
            })
            $('.viewButton').click(function(){
                $('#viewModal').modal('show')
            })
        });
