extends ../../../../../templates/secretariat
block prepend main
    #wrap
    //- #calendar
    div(style='clear:both')
    .content
        .container-fluid
            .row
                .col-lg-12.col-md-12
                    // Tab panes
                    .tab-content
                        #nonwedding.tab-pane.active.mx-3
                            br
                            // Inner Nav tabs
                            ul.nav.nav-tabs
                                li.nav-item
                                    a.nav-link.active(data-toggle='tab', href='#regconfirmation') Regular Confirmation
                                li.nav-item
                                    a.nav-link(data-toggle='tab', href='#specconfirmation') Special Confirmation
                            // Tab panes
                            .tab-content
                                #regconfirmation.tab-pane.active
                                    .card
                                            .card-header.card-header-primary
                                                    h4.card-title Regular Confirmation

                                            .card-body.table-responsive
                                                    table.table.dataTable.table-hover
                                                            thead.text-primary
                                                                    th ID
                                                                    th Name of the Child
                                                                    th Birthday
                                                                    th Req Status
                                                                    th Pymt Status
                                                                    th Approval Status
                                                                    th.text-center(style=" width:11rem") Actions
                                                            tbody
                                                                    each regular in regulars
                                                                        tr
                                                                            td=regular.int_eventinfoID
                                                                            td=regular.var_lname + ", " + regular.var_fname
                                                                            td=regular.date_birthday
                                                                            td=regular.var_reqstatus
                                                                            td=regular.char_paymentstatus
                                                                            td=regular.char_approvalstatus
                                                                            td.td-actions.text-center
                                                                                button.btn.btn-primary.actionButton(type='button' value=`${regular.int_eventinfoID}`)
                                                                                    i.ti-settings
                                                                                        #toolbar-options.hidden
                                                                                            a.viewButton(href='#')
                                                                                                i.ti-new-window(style="color:white;")
                                                                                            a.updateButton(href='#')
                                                                                                i.ti-pencil(style="color:white;")
                                #specconfirmation.tab-pane.fade
                                    .card
                                            .card-header.card-header-primary
                                                    h4.card-title Special Confirmation

                                            .card-body.table-responsive
                                                    table.table.dataTable.table-hover
                                                            thead.text-primary
                                                                        th ID
                                                                        th Name of the Child
                                                                        th Birthday
                                                                        th Req Status
                                                                        th Pymt Status
                                                                        th Approval Status
                                                                        th.text-right(style=" width:120px") Actions
                                                            tbody
                                                                    each special in specials
                                                                        tr
                                                                            td=special.int_eventinfoID
                                                                            td=special.var_lname + ", " + special.var_fname
                                                                            td=special.date_birthday
                                                                            td=special.var_reqstatus
                                                                        each requirement in requirements
                                                                            td=requirement
                                                                            td=special.char_approvalstatus
                                                                            td.td-actions.text-center
                                                                                button.btn.btn-primary.actionButton(type='button' value=`${special.int_eventinfoID}`)
                                                                                    i.ti-settings
                                                                                        #toolbar-options.hidden
                                                                                            a.viewButton(href='#')
                                                                                                i.ti-new-window(style="color:white;")
                                                                                            a.updateButton(href='#')
                                                                                                i.ti-pencil(style="color:white;")

    #updateModal.modal.fade(tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
        .modal-dialog.modal-lg(role="document")
            .modal-content
                .modal-header
                    h5.modal-title Update Event Application
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body#updateBodyAppend
                .modal-footer
                    button.btn.btn-outline.btn-secondary.pull-left#cancelButton(type='button', data-dismiss='modal') Close
                    button.btn.btn-primary#updateSubmitButton(type="button") Update
    #viewModal.modal.fade(tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
            .modal-dialog.modal-lg(role="document")
                .modal-content
                    .modal-header
                        h5.modal-title Confirmation
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                    .modal-body#viewBodyAppend
                    .modal-footer
                        button.btn.btn-outline.btn-secondary.pull-left#cancelButton(type='button', data-dismiss='modal') Close
block addjs
    script.
        $(document).ready(function() {
            $('.actionButton').click(function(){
            idNow = $(this).val();
            console.log(idNow)
            })
            $('.updateButton').click(function(){

                $('#updateModal').modal('show')
            })
            $('.viewButton').click(function(){
                $('#viewModal').modal('show')
            })
        });
