extends ../../../../../templates/secretariat
block prepend main
	#wrap
	//- #calendar
	div(style='clear:both')
	.content
		.container-fluid
			.row
				.col-lg-12.col-md-12
					// Tab panes
					.tab-content
						#nonwedding.tab-pane.active.mx-3
							br
							// Inner Nav tabs
							ul.nav.nav-tabs
								li.nav-item
									a.nav-link.active(data-toggle='tab', href='#marriage') Marriage
							// Tab panes
							.tab-content
								#marriage.tab-pane.active
									.card
											.card-header.card-header-primary
													h4.card-title Marriage Application
											.card-body.table-responsive
													table.table.table-hover
															thead.text-primary
																	th ID
																	th Groom
																	th Bride
																	th Desired Schedule
																	th Type
																	th Approval Status
																	th.text-center(style=" width:11rem") Actions
															tbody
																	each marriage in marriages
																		tr
																			td=marriage.int_eventinfoID
																			td=marriage.var_lname + ", " + marriage.var_fname
																			td=marriage.var_blname + ", " + marriage.var_bfname
																			td=marriage.date_desireddate + ' ' + marriage.time_desiredtime
																			td=marriage.char_weddingtype
																			td=marriage.char_approvalstatus
																			<td class="td-actions text-right">
																					a.button(rel="tooltip" class="btn btn-info" href=`/admin/transaction-baptism`)
																							<i class="material-icons">open_in_new</i>
																					a.button(rel="tooltip" class="btn btn-success" href=`/admin/transaction-baptism/edit/${marriage.int_eventinfoID}`)
																							<i class="material-icons">edit</i>
																					//- a.button(rel="tooltip" class="btn btn-danger" href=`/admin/transaction-baptism/delete/${request.int_requestID}`)
																					//- 		<i class="material-icons">close</i>
																			</td>