extends ../../../../../templates/secretariat
block prepend main
	style.
		body > div.mfp-wrap.mfp-close-btn-in.mfp-auto-cursor.mfp-with-zoom.mfp-ready > div {
			z-index: 9999 !important;
		}

		.mfp-with-zoom .mfp-container,
		.mfp-with-zoom.mfp-bg {
		opacity: 0;
		-webkit-backface-visibility: hidden;
		/* ideally, transition speed should match zoom duration */
		-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
		z-index: 99999;
		}

		.mfp-image, .mfp-container, .mfp-ready, .mfp-image-holder, .mfp-content, .mfp-preloader, .mfp-figure {
			z-index: 99999;
		}

		.mfp-with-zoom.mfp-ready .mfp-container {
			opacity: 1;
		}
		.mfp-with-zoom.mfp-ready.mfp-bg {
			opacity: 0.8;
		}

		.mfp-with-zoom.mfp-removing .mfp-container,
		.mfp-with-zoom.mfp-removing.mfp-bg {
		opacity: 0;
		}

		.size {
			width: 100px;
			height: 100px;
		}
	#wrap
	//- #calendar
	div(style='clear:both')
	.content
		.container-fluid
			.row
				.col-lg-12.col-md-12
					// Tab panes
					.tab-content
						#nonwedding.tab-pane.active.mx-3
							br
							// Inner Nav tabs
							
							// Tab panes
							.tab-content
								#marriage.tab-pane.active
									.card
											.card-header.card-header-primary(style='background:#367587; color:white')
													h4.card-title(style='background:#367587; color:white') Marriage Application
											.card-body.table-responsive
													table.table.table-hover.dataTable
															thead.text-primary
																	//- th ID
																	th Groom
																	th Bride
																	th Desired Schedule
																	th Date Applied
																	th Requirement Status
																	th Payment Status
																	th Priest Assigned
																	
																	th.text-center Actions
															tbody
																	each marriage in marriages
																		tr
																			//- td=marriage.int_eventinfoID
																			td=marriage.var_lname + ", " + marriage.var_fname
																			td=marriage.var_blname + ", " + marriage.var_bfname
																			td=marriage.date_eventdate + ' ' + marriage.time_eventstart
																			td=marriage.date_applied
																			//- td=marriage.char_weddingtype
																			td
																				span.approvalreq(value=`${marriage.char_requirements}`) #{marriage.char_requirements}
																			td
																				span.approvalpay(value=`${marriage.char_paymentstatus}`) #{marriage.char_paymentstatus}
																			//- td
																			//- 	span.approval(value=`${marriage.char_approvalstatus}`) #{marriage.char_approvalstatus}
																			- if(marriage.int_userpriestID !=null)
																				td
																					span #{marriage.var_priestname}
																			- if(marriage.dbl_balance < (marriage.dbl_amount/2)&& marriage.int_userpriestID ==null)
																				td
																					button.btn.assignPriest(type="button" style='background:green; color:white' value=`${marriage.int_eventinfoID}`) Assign Priest
																			- if(marriage.dbl_balance > (marriage.dbl_amount/2))
																				td No priest assigned
																			td.td-actions.text-center
																				button.btn.btn-primary.actionButton(type='button' value=`${marriage.int_eventinfoID}`)
																					i.ti-settings
																						#toolbar-options.hidden
																							a.viewButton(href='#')
																								i.ti-file(style="color:white;")
																							a.updateButton(href='#')
																								i.ti-pencil(style="color:white;")
																							a.updateReqButton(href='#')
																								i.ti-new-window(style="color:white;")

																							if(marriage.char_paymentstatus=='Paid'&&marriage.int_userpriestID !=null)
																								a.scheduleButton(href='#')
																									i.ti-calendar(style="color:white;")



	#updateModal.modal.fade(tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
		.modal-dialog.modal-lg(role="document")
			.modal-content
				.modal-header(style='background:#367587; color:white')
					h5.modal-title(style='background:#367587; color:white') Update Event Application
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true' style='background:#367587; color:white') ×
				.modal-body#updateBodyAppend
				.modal-footer
					button.btn.btn-outline.btn-secondary.pull-left#cancelButton(type='button', data-dismiss='modal') Close
					button.btn.btn-primary#updateSubmitButton(type="button") Update
	#requirementModal.modal.fade(tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
		.modal-dialog.modal-lg(role="document")
			.modal-content
				.modal-header(style='background:#367587; color:white')
					h5.modal-title(style='background:#367587; color:white') Update Requirements
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true' style='background:#367587; color:white') ×
				.modal-body.gallery#requirementBodyAppend
				.modal-footer
					button.btn.btn-outline.btn-secondary.pull-left#cancelButton(type='button', data-dismiss='modal') Close
					button.btn.btn-primary#requirementSubmitButton(type="button") Update
	#viewModal.modal.fade(tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
			.modal-dialog.modal-lg(role="document" style="z-index: 9998;")
				.modal-content
					.modal-header(style='background:#367587; color:white')
						h5.modal-title(style='background:#367587; color:white') Marriage
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true' style='background:#367587; color:white') ×
					.modal-body#viewBodyAppend
					.modal-body    
						.form-group
							.gallery#reqAppend
					.modal-footer
						button.btn.btn-outline.btn-secondary.pull-left#cancelButton(type='button', data-dismiss='modal') Close
	#paymentModal.modal.fade(tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
			.modal-dialog.modal-lg(role="document")
				.modal-content
					.modal-header(style='background:#367587')
						h5.modal-title(style='color:white') Update Payment Status
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true' style='color:white') ×
					.modal-body#paymentAppend
					.modal-footer
						button.btn.btn-outline.btn-secondary.pull-left#cancellButton(type='button', data-dismiss='modal') Close
						button.btn#updatePayment(type="button" style='background:#367587; color:white') Update
	#messageModal.modal.fade(tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
									.modal-dialog.modal-lg(role="document")
										.modal-content
											.modal-header(style='background:red')
												h5.modal-title(style='color:white') Message for the Guest
												button.close(type='button', data-dismiss='modal', aria-label='Close')
													span(aria-hidden='true' style='color:white') ×
											.modal-body#messageAppend
											.modal-footer
												//- button.btn.btn-outline.btn-secondary.pull-left#cancellButton(type='button', data-dismiss='modal') Close
												button.btn.btn-danger#sendMessage(type="button") Send
	#assignModal.modal.fade(tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
			.modal-dialog(role="document")
				.modal-content
					.modal-header(style='background:#367587')
						h5.modal-title(style='color:white') Assign Priest
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true' style='color:white') ×
					.modal-body#assignAppend
					.modal-footer
						button.btn.btn-outline.btn-secondary.pull-left#cancellButton(type='button', data-dismiss='modal') Close
						//- button.btn.btn-outline.btn-info.pull-left#changePriest(type='button') Change
						button.btn.btn-outline.btn-success.pull-left#assignPriestButton(type="button") Assign
	#scheduleModal.modal.fade(tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
			.modal-dialog.modal-lg(role="document")
				.modal-content
					.modal-header(style='background:#367587')
						h5.modal-title(style='color:white') Schedules
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true' style='color:white') ×
					.modal-body#scheduleAppend
					.modal-footer
						button.btn.btn-outline.btn-secondary.pull-left#cancellButton(type='button', data-dismiss='modal') Close
						button.btn#scheduleUpdate(type="button" style='background:#367587; color:white') Update
	#changelocModal.modal.fade(tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
			.modal-dialog.modal-lg(role="document")
				.modal-content
					.modal-header(style='background:#367587; color:white')
						h4.modal-title(style='background:#367587; color:white') Change Folder Location
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span.p-3(aria-hidden='true' style='background:#367587; color:white') ×
					.modal-body#changeBodyAppend
					.modal-footer
						button.btn.btn-outline.btn-secondary.pull-left#cancellButton(type='button', data-dismiss='modal') Close
						button.btn#changeLocButton(type="button" style='background:#367587; color:white') Change
	#folderlocModal.modal.fade(tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
			.modal-dialog(role="document")
				.modal-content
					.modal-header(style='background:#367587; color:white')
						h4.modal-title(style='background:#367587; color:white') Folder Location
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span.p-3(aria-hidden='true' style='background:#367587; color:white') ×
					.modal-body#folderBodyAppend
					.modal-footer
						button.btn.btn-outline.btn-secondary.pull-left#cancellButton(type='button', data-dismiss='modal') Close
						button.btn#setLocButton(type="button" style='background:#367587; color:white') Set Location
	#updatesched.modal.fade(tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
			.modal-dialog(role="document")
				.modal-content
					.modal-header(style='background:#367587; color:white')
						h4.modal-title(style='background:#367587; color:white') Update Schedule
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span.p-3(aria-hidden='true' style='background:#367587; color:white') ×
					.modal-body#updateschedbody
					.modal-footer
						button.btn.btn-outline.btn-secondary.pull-left#cancellButton(type='button', data-dismiss='modal') Close
						button.btn#updateschedbutton(type="button" style='background:#367587; color:white') Update
block addjs
	script.
		$(document).ready(function() {
			var cabinetnumber;
			var divisionnumber
			var foldernumber
			var ctr = 0;
			for(var i =0; i<= $('.approvalreq').length; i++){


				if($('.approvalreq').eq(i).attr('value') == "Submitted"){
					$('.approvalreq').eq(i).addClass('badge btn btn-primary-lg bgc-amber-100 c-amber-700')
				}
				else if($('.approvalreq').eq(i).attr('value') == "Complete"){
					$('.approvalreq').eq(i).addClass('badge btn btn-primary-lg bgc-green-100 c-green-700')
				}
				else if($('.approvalreq').eq(i).attr('value') == "Incomplete"){
					$('.approvalreq').eq(i).addClass('badge btn btn-primary-lg bgc-amber-100 c-amber-700')
				}
				if($('.approvalpay').eq(i).attr('value') == "Paid"){
					$('.approvalpay').eq(i).addClass('badge btn btn-primary-lg bgc-green-100 c-green-700')
				}
				else if($('.approvalpay').eq(i).attr('value') == "Unpaid"){
					$('.approvalpay').eq(i).addClass('badge btn btn-primary-lg bgc-amber-100 c-amber-700')
				}
				else if($('.approvalpay').eq(i).attr('value') == "Incomplete"){
					$('.approvalpay').eq(i).addClass('badge btn btn-primary-lg bgc-amber-50 c-amber-800')
				}
				if($('.approval').eq(i).attr('value') == "Pending"){
					$('.approval').eq(i).addClass('badge btn btn-primary-lg bgc-amber-100 c-amber-700')
				}
				else if($('.approval').eq(i).attr('value') == "Cancelled"){
					$('.approval').eq(i).addClass('badge btn btn-primary-lg bgc-red-100 c-red-700 ')
				}
				else if($('.approval').eq(i).attr('value') == "Approved"){
					$('.approval').eq(i).addClass('badge btn btn-primary-lg bgc-green-100 c-green-700')
				}
				else if($('.approval').eq(i).attr('value') == "Disapproved"){
					$('.approval').eq(i).addClass('badge btn btn-primary-lg bgc-red-100 c-red-700')
				}
			}
			$('.actionButton').click(function(){
				idNow = $(this).val();
				console.log(idNow)
			})
			$('.viewButton').click(function(){
				console.log(idNow)
				$.post('/secretariat/transaction-marriage/query',{id:idNow}).done(data =>{
					var dateRequested = moment(data.results.date_eventdate).format('MMMM DD, YYYY')
					var gbirthday = moment(data.results.date_birthday).format('MMMM DD, YYYY')
					var bbirthday = moment(data.results.date_bbirthday).format('MMMM DD, YYYY')
					var timeRequested = moment(data.results.time_eventstart,'HH:mm:ss').format('hh:mm A')
					var age = moment().diff(data.results.date_birthday,'years');
					$('#viewBodyAppend').append(`
						<div class="row">
							<div class="col-md-6">
								<h6 class="label-control">Desired Date:</h6>
								<input type="text" class="form-control" value="${dateRequested}" disabled> 
							</div>
							<div class="col-md-6">
								<h6 class="label-control"> Desired Time:</h6>
								<input type="text" class="form-control" value="${timeRequested}" disabled> 
							</div>
						</div>
						<h6>Groom</h6>
					
						<div class="row">
							<div class="col-md-12 px-lg-3 px-md-0 px-sm-0">
								<div class="form-group">
									<h6 class="label-control">Full Name</h6><input class="form-control" id="lastname" type="text" name="glastname" value= "${data.results.var_lname}, ${data.results.var_fname}" disabled/>
									<div class="help-block with-errors"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4 px-lg-3 px-md-0 px-sm-0">
								<div class="form-group">
									<h6 class="label-control">Birthday:</h6><input class="form-control" type="text" name="gbirthday" value= ${gbirthday} disabled/>
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="col-md-8 p-lg-0 px-md-3 px-sm-0">
								<div class="form-group">
									<h6 class="label-control">Birthplace:</h6><input class="form-control" type="text" name="gbirthplace" value=${data.results.var_birthplace} disabled/>
									<div class="help-block with-errors"></div>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-12 px-lg-3 px-md-0 px-sm-0">
								<div class="form-group">
									<h6 for="exampleFormControlTextarea1">Address:</h6><input class="form-control" rows="2" name="gaddress" value='${data.results.var_address}'disabled/>
									<div class="help-block with-errors"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4 px-lg-3 px-md-0 px-sm-0 pl-sm-3 extra-small-balance">
								<div class="form-group">
									<h6 class="label-control">Civil Status:</h6><input class="form-control" type="text" name="gcivilstatus" value='${data.results.var_gcivilstatus}'disabled/>
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="col-md-4 px-lg-3 pr-md-3 px-sm-0">
								<div class="form-group">
									<h6 class="label-control">Occupation:</h6><input class="form-control" type="text" name="goccupation" value='${data.results.var_goccupation}'disabled/>
									<div class="help-block with-errors"></div>
								</div>
							</div>
							
							<div class="col-md-4 px-lg-3 px-md-0 px-sm-0">
								<div class="form-group">
									<h6 class="label-control">Nationality:</h6><input class="form-control" type="text" name="gnationality" value='${data.results.var_gnationality}'disabled/>
									<div class="help-block with-errors"></div>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-4 px-lg-3 px-md-0 px-sm-0 pl-sm-3 extra-small-balance">
								<div class="form-group">
									<h6 class="label-control">Religion:</h6><input class="form-control" type="text" name="greligion" value='${data.results.var_greligion}'disabled/>
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="col-md-8 px-lg-3 pr-md-3 px-sm-0">
								<div class="form-group">
									<h6 class="label-control">Current Parish:</h6><input class="form-control" type="text" name="gcurrparish" value='${data.results.var_gcurrparish}'disabled/>
									<div class="help-block with-errors"></div>
								</div>
							</div>
							
						</div>
						<div class="row">
							<div class="col-md-4 px-lg-3 px-md-3 px-sm-3">
								<div class="form-group">
									<h6 class="label-control">Father's Full Name:</h6><input class="form-control" type="text" name="gfathername" value='${data.results.var_gfathername}'disabled/>
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="col-md-4 p-lg-0 px-md-3 px-sm-0">
								<div class="form-group">
									<h6 class="label-control">Father's Birthplace:</h6><input class="form-control" type="text" name="gfatherbplace" value='${data.results.var_gfatherbplace}'disabled/>
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="col-md-4 px-lg-3 px-md-0 px-sm-0">
								<div class="form-group">
									<h6 class="label-control">Father's Religion:</h6><input class="form-control" type="text" name="gfatherreligion" value='${data.results.var_gfatherreligion}'disabled/>
									<div class="help-block with-errors"></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 px-lg-3 px-md-0 px-sm-0">
								<div class="form-group">
									<h6 class="label-control">Mother's Full Name:</h6><input class="form-control" type="text" name="gmothername" value='${data.results.var_gmothername}'disabled/>
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="col-md-4 p-lg-0 px-md-3 px-sm-0">
								<div class="form-group">
									<h6 class="label-control">Mother's Birthplace:</h6><input class="form-control" type="text" name="gmotherbplace" value='${data.results.var_gmotherbplace}'disabled/>
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="col-md-4 px-lg-3 px-md-0 px-sm-0">
								<div class="form-group">
									<h6 class="label-control">Mother's Religion:</h6><input class="form-control" type="text" name="gmotherreligion" value='${data.results.var_gmotherreligion}'disabled/>
									<div class="help-block with-errors"></div>
								</div>
							</div>
						</div>



						<hr>
						<h6>Bride</h6>
					
						<div class="row">
							<div class="col-md-12 px-lg-3 px-md-0 px-sm-0">
								<div class="form-group">
									<h6 class="label-control">Full Name</h6><input class="form-control" id="lastname" type="text" name="blastname" value= "${data.results.var_blname}, ${data.results.var_bfname}" disabled/>
									<div class="help-block with-errors"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4 px-lg-3 px-md-0 px-sm-0">
								<div class="form-group">
									<h6 class="label-control">Birthday:</h6><input class="form-control" type="text" name="bbirthday" value= ${bbirthday} disabled/>
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="col-md-8 p-lg-0 px-md-3 px-sm-0">
								<div class="form-group">
									<h6 class="label-control">Birthplace:</h6><input class="form-control" type="text" name="bbirthplace" value=${data.results.var_bbirthplace} disabled/>
									<div class="help-block with-errors"></div>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-12 px-lg-3 px-md-0 px-sm-0">
								<div class="form-group">
									<h6 for="exampleFormControlTextarea1">Address:</h6><input class="form-control" rows="2" name="baddress" value='${data.results.var_baddress}'disabled/>
									<div class="help-block with-errors"></div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4 px-lg-3 px-md-0 px-sm-0 pl-sm-3 extra-small-balance">
								<div class="form-group">
									<h6 class="label-control">Civil Status:</h6><input class="form-control" type="text" name="bcivilstatus" value='${data.results.var_bcivilstatus}'disabled/>
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="col-md-4 px-lg-3 pr-md-3 px-sm-0">
								<div class="form-group">
									<h6 class="label-control">Occupation:</h6><input class="form-control" type="text" name="boccupation" value='${data.results.var_boccupation}'disabled/>
									<div class="help-block with-errors"></div>
								</div>
							</div>
							
							<div class="col-md-4 px-lg-3 px-md-0 px-sm-0">
								<div class="form-group">
									<h6 class="label-control">Nationality:</h6><input class="form-control" type="text" name="bnationality" value='${data.results.var_bnationality}'disabled/>
									<div class="help-block with-errors"></div>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-4 px-lg-3 px-md-0 px-sm-0 pl-sm-3 extra-small-balance">
								<div class="form-group">
									<h6 class="label-control">Religion:</h6><input class="form-control" type="text" name="breligion" value='${data.results.var_breligion}'disabled/>
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="col-md-8 px-lg-3 pr-md-3 px-sm-0">
								<div class="form-group">
									<h6 class="label-control">Current Parish:</h6><input class="form-control" type="text" name="bcurrparish" value='${data.results.var_bcurrparish}'disabled/>
									<div class="help-block with-errors"></div>
								</div>
							</div>
							
						</div>
						<div class="row">
							<div class="col-md-4 px-lg-3 px-md-3 px-sm-3">
								<div class="form-group">
									<h6 class="label-control">Father's Full Name:</h6><input class="form-control" type="text" name="bfathername" value='${data.results.var_bfathername}'disabled/>
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="col-md-4 p-lg-0 px-md-3 px-sm-0">
								<div class="form-group">
									<h6 class="label-control">Father's Birthplace:</h6><input class="form-control" type="text" name="bfatherbplace" value='${data.results.var_bfatherbplace}'disabled/>
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="col-md-4 px-lg-3 px-md-0 px-sm-0">
								<div class="form-group">
									<h6 class="label-control">Father's Religion:</h6><input class="form-control" type="text" name="bfatherreligion" value='${data.results.var_bfatherreligion}'disabled/>
									<div class="help-block with-errors"></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 px-lg-3 px-md-0 px-sm-0">
								<div class="form-group">
									<h6 class="label-control">Mother's Full Name:</h6><input class="form-control" type="text" name="bmothername" value='${data.results.var_bmothername}'disabled/>
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="col-md-4 p-lg-0 px-md-3 px-sm-0">
								<div class="form-group">
									<h6 class="label-control">Mother's Birthplace:</h6><input class="form-control" type="text" name="bmotherbplace" value='${data.results.var_bmotherbplace}'disabled/>
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="col-md-4 px-lg-3 px-md-0 px-sm-0">
								<div class="form-group">
									<h6 class="label-control">Mother's Religion:</h6><input class="form-control" type="text" name="bmotherreligion" value='${data.results.var_bmotherreligion}'disabled/>
									<div class="help-block with-errors"></div>
								</div>
							</div>
						</div>
					`)
					console.log(data.requirements)
					//- for(i=0;i<data.requirements.length;i++){
					//- $(`#reqAppend`).append(`
					//- 	<a class="image-link" href="${data.requirements[i].var_reqpath}" title="${data.requirements[i].var_reqname}"><img class="size" src="${data.requirements[i].var_reqpath}"/></a>
					//- `)
					//- }
					$('#viewModal').modal('show')
					$('#viewModal').on('hidden.bs.modal',function(){
						$('#viewBodyAppend').empty()
						$('#reqAppend').empty()
					})

				})
			})
			//requirements
			$('.updateReqButton').click(function(){
				console.log(idNow)
				$.post('/secretariat/transaction-marriage/query/update',{id:idNow}).done(data =>{
				console.log(data.casestext)
					//- console.log(data.submitted)

					$('#requirementBodyAppend').append(`
					
						<col-md-12 class="p-lg-0">
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<input id="eventid" type="hidden" value="${data.results.int_eventinfoID}"></input>
										<input id="eventstatus" type="hidden" value="${data.results.char_approvalstatus}"></input>
		
										<h6 class="label-control"><strong>Initial Requirements</h6>
									</div>
								</div>
							</div>
					`)
					for(i=0;i<data.submitted.length;i++){
					$(`#requirementBodyAppend`).append(`
						<a class="image-link" href="${data.submitted[i].var_reqpath}" title="${data.submitted[i].var_reqname}"><img class="size" src="${data.submitted[i].var_reqpath}"/></a>
					`)
					}
					if(data.results.var_folderloc==null){
						var folderlocc ='No folder location set' 
						
						}
					else{
						var folderlocc =data.results.var_folderloc
						$("#changefileloc").prop('disabled', false);
						}
				
					$('#requirementBodyAppend').append(`
						<div class="row">
							<div class="col-md-6">
								<br><label class="label-control"><strong>Folder Location: </label></strong> ${folderlocc} 
								<div class="form-group" id="locationbutton"></div>	
								<h6 class="label-control"><strong>Default Requirements: </strong></h6>
								<div class="form-group" id="reqAppend"></div>
								<h6 class="label-control"><strong>Additional Requirement(s): </strong></h6>
								<div class="form-group" id="reqAppend1"></div>	
								
							</div>
							<div class="col-md-6">
								<br><h6 class="label-control"><strong>Case(s): </strong></h6>
								<div class="form-group" id="caseAppend"></div>	
							</div>
						</div>
					`)

					if(data.results.var_folderloc!=null){
						$(`#locationbutton`).append(`
						<button type='button' class='btn' value='${data.results.int_eventinfoID}' id='changefileloc'>Change Location</button>
						`)
						
						
						}
					if(data.casestext.length=='0'){
						$(`#caseAppend`).append(`No Case`)
						console.log(data)
					}
					//not working
					else{
						for(i=0;i<data.casestext.length;i++){
							$(`#caseAppend`).append(`
								<li>${data.casestext[i]}  </li>
							`)
						}
					}

					for(i=0;i<data.defrequirements.length;i++){
					
						if(data.defrequirements[i].var_reqstatus != "Approved"){
							$(`#reqAppend`).append(`
							<input type="checkbox"  class="checkbox" value='${data.defrequirements[i].int_requirementID},0'>${data.defrequirements[i].var_reqname}  <br>
							`)
						}
						
						else if(data.defrequirements[i].var_reqstatus == "Approved"){
							$(`#reqAppend`).append(`
							<input type="checkbox" disabled=true checked="" class="checkbox" value='${data.defrequirements[i].int_requirementID},1'>${data.defrequirements[i].var_reqname} <br> 
							`) 
						}
					}
					for(i=0;i<data.addrequirements.length;i++){
					
						if(data.addrequirements[i].var_reqstatus != "Approved"){
							$(`#reqAppend1`).append(`
							<input type="checkbox"  class="checkbox" value='${data.addrequirements[i].int_requirementID},0'>${data.addrequirements[i].var_reqname}  <br>
							`)
						}
						
						else if(data.addrequirements[i].var_reqstatus == "Approved"){
							$(`#reqAppend1`).append(`
							<input type="checkbox" disabled=true checked="" class="checkbox" value='${data.addrequirements[i].int_requirementID},1'>${data.addrequirements[i].var_reqname} <br> 
							`) 
						}
					}

					$('#requirementModal').modal('show')
					$('#requirementModal').on('hidden.bs.modal',function(){
						$('#requirementBodyAppend').empty()
					})
					
					$('#requirementSubmitButton').click(function(){
						
						swal({
							title:'Are you sure?', 
							text:'You want to update the requirements?', 
							type:'warning',
							showCancelButton: true,
							confirmButtonColor: '#3085d6',
							cancelButtonColor: '#d33',
							confirmButtonText: 'Confirm'
						}).then((result)=>{
							if(result.value){
								//first approve ng requirements, insert na ng folderID, fileID, auto name
								for(i=0;i<$('.checkbox').length;i++){
									if($('.checkbox')[i].checked == true){
										var checkedvalue= $('.checkbox')[i].getAttribute('value')
										//flaw dapat isa lang yung unang ipasa T-T

										if($('.checkbox:checked').length == 1){
											$.post('/secretariat/transaction-marriage/getcabinets',{
												
												}).done(data=>{
													console.log(data)
														$('#folderBodyAppend').append(`
															<h6 class="label-control"><strong>Set Folder Location: </strong> </h6>
															<div class="row">
															<div class="col-md-4">
																<div class="form-group" id='cabinetdiv'>
																	<label>Cabinet
																	
																	<select id="cabinets" onchange="setcabinet(value);" class="form-control">
																	<option> No drawer selected</option>
																	</select>
																</div>	
															</div>
															<div class="col-md-4">
																<div class="form-group">
																	<label>Division
																	<select id="divisions" onchange="setdivision(value);" class="form-control" >
																	<option> No division selected</option>
																	</select>
																</div>	
															</div>
															<div class="col-md-4">
																<div class="form-group">
																	<label>Folder Number
																	<input type='text' id="folderID" class="form-control" placeholder="No folder ID yet" >
																	
																	
																</div>	
															</div>
															</div>
															<div class="row">
																<div class="col-md-12">
																	<div class="form-group"  class="col-md-12">
																		<label>Folder Name
																		<input type='text' id="foldername" class="form-control" placeholder="Enter folder name" >
																		
																	</div>	
																</div>	
															</div>
															`)
															//- <option value="2" style="color:orange;">Pending</option></select>

															for(i=0;i<data.cabinets.length;i++){
																	$('#cabinets').append(`
																		<option value=${data.cabinets[i].int_cabinetID}>${data.cabinets[i].var_cabinetname}</option>
																	`)
															}

																
															$('#requirementModal').modal('hide')
															$('#folderlocModal').modal('show')
															$('#folderlocModal').on('hidden.bs.modal',function(){
																$('#folderBodyAppend').empty()
																//- $('#requirementModal').modal('show')
															})
															
															$('#setLocButton').click(function(){
																console.log('ueasdf')
																$.post('/secretariat/transaction-marriage/setfolderloc', {
																	cabinet:$('#cabinets').val(),
																	division:$('#divisions').val(),
																	foldernumber:$('#folderID').val(),
																	foldername:$('#foldername').val(),
																	eventinfoID:idNow
																})
																	.done(data =>{
																		updatereqstat()
																		
																	})//done
															})


												})//donedata getcabinetes
											}//if 1 is checked

										else{
											updatereqstat()
										}

										function updatereqstat(){
												$.post('/secretariat/transaction-marriage/updateRequirements',{
													id:checkedvalue, eventinfoID:idNow
													}).done(data=>{
														swal({
														title:'Success',
														text:'Status updated', 
														type:'success'
														}).then(function(){
															location.reload();
														})
														$('#updateModal').modal('hide');
														$('#updateAppend').empty();
													})//donedata
											}//function
										}//if nagcheck
										}//for


								} //if value
								
								if($('.checkbox:checked').length == $('.checkbox').length){
									$.post('/secretariat/transaction-marriage/updateRequirementStatus',{
										id:$('#eventid').val()
										}).done(data=>{
											if(data){
												swal({
												title:'Success',
												text:'Requirements Complete', 
												type:'success'
												}).then(function(){
													location.reload();
												})
												$('#updateModal').modal('hide');
												$('#updateAppend').empty();
											}
										})
								}
								data.time_eventstart = moment(data.time_eventstart,'HH:mm:ss').format('HH:mm:ss')
						
							})
					
					})
				})
			})
		
			
			$(document).on('click','#changefileloc',function(){
				
				var id = $('#eventinfoID').val()
				console.log(idNow)
				$.post('/secretariat/transaction-marriage/changeloc',{id:idNow}).done(data =>{
					$('#changeBodyAppend').append(`
						<h6 class="label-control"><strong>Previous Folder Location: </strong>  ${data.folderloc.var_folderloc} </h6><br>

						<h6 class="label-control"><strong>New Folder Location: </strong> </h6>
						
						<div class="row">
						<div class="col-md-4">
							<div class="form-group" id='cabinetdiv'>
								<label>Cabinet
								
								<select id="cabinets" onchange="setcabinet(value);" class="form-control">
								<option> No drawer selected</option>
								</select>
							</div>	
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>Division
								<select id="divisions" onchange="setdivision(value);" class="form-control" >
								<option> No division selected</option>
								</select>
							</div>	
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<label>Folder Number
								<input type='text' id="folderID" class="form-control" placeholder="No folder ID yet" >
								
								
							</div>	
						</div>
						</div>
						
						`)

						for(i=0;i<data.cabinets.length;i++){
								$('#cabinets').append(`
									<option value=${data.cabinets[i].int_cabinetID}>${data.cabinets[i].var_cabinetname}</option>
								`)
						}

						$('#changeLocButton').click(function(){
							console.log('ueasdf')
							swal({
							title:'Are you sure?', 
							text:'All of the files in the folder should be moved too.', 
							type:'warning',
							showCancelButton: false,
							confirmButtonColor: '#3085d6',
							cancelButtonColor: '#d33',
							confirmButtonText: 'Confirm'
							}).then((result)=>{
								if(result.value){
									$.post('/secretariat/transaction-marriage/changefolderloc', {
										cabinet:$('#cabinets').val(),
										division:$('#divisions').val(),
										foldernumber:$('#folderID').val(),
										prevfolderloc:data.folderloc.var_folderloc,
										eventinfoID:idNow
									})
										.done(data =>{
											swal({
											title:'Success',
											text:'Status updated', 
											type:'success'
											}).then(function(){
												location.reload();
											})
											$('#updateModal').modal('hide');
											$('#updateAppend').empty();
											
										})//done
								}//if value
								})
						})		
				$('#requirementModal').modal('hide')
				$('#changelocModal').modal('show')
				$('#changelocModal').on('hidden.bs.modal',function(){
					$('#changeBodyAppend').empty()
				})
				
				})
				//- }
				//- })
				})//changefileloc


				//update payment
				$('.updateButton').click(function(){
					console.log(idNow)
					$.post('/secretariat/transaction-marriage/paymentquery',{id1:idNow})
								.done(data =>{
									var dateapplied = moment(data.date_applied).format('MMMM DD, YYYY')
									var scheduledate = moment(data.date_eventdate).format('MMMM DD, YYYY')
									var scheduletime = moment(data.time_eventstart, 'hh:mm:ss').format('hh:mm A')
									var downpaymentdeadline = moment(data.date_downpaymentdeadline).format('MMMM DD, YYYY')
									var fullpaymentdeadline = moment(data.date_fullpaymentdeadline).format('MMMM DD, YYYY')
									var nowDate = new Date(); 
									var date = nowDate.getFullYear()+'/'+(nowDate.getMonth()+1)+'/'+nowDate.getDate() +" "+ nowDate.getHours() +":" + nowDate.getMinutes() +":" +nowDate.getSeconds(); 
									console.log(data)
									var additionalfee =data.dbl_amount-data.double_fee
									var strdownpayment= "0." + data.int_downpaymentpercent
									var downpayment= data.dbl_amount*parseFloat(strdownpayment)
									var fullpayment= data.dbl_amount
									
									$('#paymentAppend').append(`
											
											<div class="send-header">
												
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<label class="label-control"><strong> Couple: </strong> Mr. ${data.var_lname} and Ms. ${data.var_blname} </label>
															<label class="label-control"><strong> Applied by: </strong> ${data.var_userlname}, ${data.var_userfname} </label>
															<br><label class="label-control"><strong>Tentative Schedule: </strong> ${scheduledate} - ${scheduletime} </label>
															
														</div>
													</div>
													<div class="col-md-6">
														<div class="form-group">	
															<label class="label-control"><strong> Voucher Code: </strong> ${data.var_vouchercode}</label>
															<br><label class="label-control"><strong> Date Appplied: </strong> ${dateapplied}</label>
															<br><label class="label-control"><strong> Payment Status</strong> ${data.char_paymentstatus}</label>
															
														</div>
													</div>
												</div>
													
												<hr>
												<div class="row">
													
													<div class="col-md-6">
														<div class="form-group">
																<label class="label-control"><strong>Expected Downpayment: </label></strong> ${data.dbl_downpaymentamount}
																<br><label class="label-control"><strong>Full payment: </label></strong> ${fullpayment}
														</div>
													</div>
													
													<div class="col-md-6">
														<div class="form-group">
															<label class="label-control"><strong>Downpayment Deadline:</strong></label> ${downpaymentdeadline}
															<br><label class="label-control"><strong>Fullpayment Deadline:</strong></label> ${downpaymentdeadline}
														</div>
													</div>
												</div>
												<hr>
												<div class="row">
													<div class="col-md-6">
														<div class="form-group">
															<table style ="width: 100%">
																<tr>
																	<th>Service Fee:
																	<td style ="text-align: right">${data.double_fee}
																</tr>
																<tr>
																	<th>Additional Fee:
																	<td style ="text-align: right"><u>_____${additionalfee}</u>
																</tr>
																<tr>
																	<th>TOTAL AMOUNT:
																	<td style ="text-align: right"><strong>${data.dbl_amount}</strong>
																</tr>
																
															</table>
														
														</div>
													</div>
													<div class="col-md-6">
														<div class="row">
															<div class="col-md-5">
																<label class="label-control"><strong>Remaining Balance:</label></strong>															
															</div>
															<div class="col-md-7" style="text-align: right; color: red;">
																${data.dbl_balance}.00
															</div>
														</div>
														<div class="row">
															<div class="col-md-5">
																<label class="label-control"><strong>Payment Received</label></strong>															
															</div>
															<div  class="col-md-7">
																<input type='number' id="payment" class="form-control" placeholder="0.00"  style="text-align: right">
															</div>
														</div>
													</div>

											
											<div id="compose-area"></div>
										
										`)
										
										//- <div class="form-group">
										//- 	<input id="payid" type="hidden" value="${data.int_paymentID}"></input>
										//- 	<h6 class="label-control"><strong>Current Payment Status: </strong></h6>
										//- 	<select id="paystatus" onchange='payment(${data.int_eventinfoID});' type="text">
										//- 	</select>
										//- </div>
										//Payment
										if(data.char_paymentstatus == "Paid"){
											$('#paystatus').append(`
												<option selected="selected">Paid</option>
											`)
												$("#paystatus").prop('disabled', true);
										}
										else if(data.char_paymentstatus == "Unpaid"){
											$('#paystatus').append(`
												<option>Paid</option>
												<option selected="selected" disabled>Unpaid</option>
											`)
										}
										$('#paymentModal').modal('show')
										$('#paymentModal').on('hidden.bs.modal',function(){
											$('#selectBox').val('default')
											$('#paymentAppend').empty()
										})
										
										$('#updatePayment').click(function(){
											swal({
											title:'Are you sure?', 
											text:'You will not be able to revert this.', 
											type:'warning',
											showCancelButton: false,
											confirmButtonColor: '#3085d6',
											cancelButtonColor: '#d33',
											confirmButtonText: 'Confirm'
											}).then((result)=>{
												if(result.value){										
													var payment= $('#payment').val()
													$.post('/secretariat/transaction-marriage/changepaymentstatus',{id1:idNow, payment:payment, status:"Paid"})
														.done(data =>{
															if(data.balance==0){
																swal({
																	title:'Success',
																	text:'No more remaining balance!!', 
																	type:'success'
																}).then(function(){
																	location.reload()
																})
															}
															else{
																swal({
																	title:'Success',
																	html:`Payment status updated! 
																	<br>The guest has a remaining balance of <strong>${data.balance}<strong>`, 
																	type:'success'
																}).then(function(){
																	location.reload()
																})	
															}
												})
												$('#paymentModal').modal('hide');
												$('#paymentAppend').empty();

														
												}
										})
										})

								})
				})
				$('.assignPriest').click(function(){
					var id = $(this).val();
					console.log(id)
					$.post('/secretariat/transaction-marriage/availablepriests', {id:id})
						.done(data =>{
							console.log(data)
							$('#assignAppend').append(`
								<input type="radio" name="priest" checked id='autoassign' value="auto" checked> Auto-assign<br>
								<input type="text" disabled id='autoassignedpriestname' value = '${data.nextpriest.var_userlname}, ${data.nextpriest.var_userfname}'><br><br>
								<input type="hidden" id='autoassignedpriest' value=${data.nextpriest.int_priestID} >

								<input type="radio" name="priest" id='manualassign' value="manual">Manual<br>
								<select id='availablepriests' disabled onchange="checkifavailable(value);">
								<option>- No priest selected -</option>
								</select>
								<br><input type="checkbox" id="requested" disabled>Requested<br>
								<input type="checkbox" id="requestpaid" disabled>Request Paid<br>
							`)
							for(i=0;i<data.availablepriests.length;i++){
								$('#availablepriests').append(`
									<option value='${data.availablepriests[i].int_userID}, ${id}'>${data.availablepriests[i].var_userlname}, ${data.availablepriests[i].var_userfname}</option>
								`)
							}


							$("#autoassign").click(function(){
									if($(this).prop("checked") == true){
										$("#requested").prop('disabled', true);
										$("#requested").prop('checked', false)
										$("#availablepriests").prop('disabled', true);
										}
								});
								$("#manualassign").click(function(){
									if($(this).prop("checked") == true){
										$("#requested").prop('disabled', false);
										$("#requested").prop('checked', false)
										$("#availablepriests").prop('disabled', false);
										}
								});
								$("#requested").click(function(){
									if($(this).prop("checked") == true){
										$("#requestpaid").prop('disabled', false);
										$("#requestpaid").prop('checked', false)
										}
									if($(this).prop("checked") == false){
										$("#requestpaid").prop('disabled', true);
										$("#requestpaid").prop('checked', false)
										
										}
								});
						

							$('#assignPriestButton').click(function(){
								console.log('Priest picked')
							
									swal({
									title:'Are you sure?', 
									text:'You will assign this priest to the event', 
									type:'warning',
									showCancelButton: false,
									confirmButtonColor: '#3085d6',
									cancelButtonColor: '#d33',
									confirmButtonText: 'Confirm'
									}).then((result)=>{
										if(result.value){
											if($('#autoassign').prop("checked") == true){
												$.post('/secretariat/transaction-marriage/assignpriest', {priestid:$('#autoassignedpriest').val(), id:id, requested: 0,  requestpaid:0})
												.done(data =>{
													swal({
															title:'Success',
															text:'Priest Assigned', 
															type:'success'
														}).then(function(){
															location.reload()
														})
												})
												}
											if($('#manualassign').prop("checked") == true){
												if($('#requested').prop('checked')==true){
													if($('#requestpaid').prop('checked')==true){
														$.post('/secretariat/transaction-marriage/assignpriest', {priestid:$('#availablepriests').val(), id:id, requested:1, requestpaid:1})
															.done(data =>{
																swal({
																		title:'Success',
																		text:'Priest Assigned', 
																		type:'success'
																	}).then(function(){
																		location.reload()
																	})
															})
													}
													else{
														$.post('/secretariat/transaction-marriage/assignpriest', {priestid:$('#availablepriests').val(), id:id, requested:1, requestpaid:0})
															.done(data =>{
																swal({
																		title:'Success',
																		text:'Priest Assigned', 
																		type:'success'
																	}).then(function(){
																		location.reload()
																	})
															})
													}
												}
												else{
													$.post('/secretariat/transaction-marriage/assignpriest', {priestid:$('#availablepriests').val(), id:id, requested:0, requestpaid:0})
													.done(data =>{
														swal({
																title:'Success',
																text:'Priest Assigned', 
																type:'success'
															}).then(function(){
																location.reload()
															})
													})
												}
											}
											
										}
								});
							});

							
							$('#assignModal').modal('show')
							$('#assignModal').on('hidden.bs.modal',function(){
							$('#assignBodyAppend').empty()
							$('#assignAppend').empty()
						})
						})
				})//assignpriest

				
			});//document
		$('.scheduleButton').click(function(){
					
			$.post('/secretariat/transaction-marriage/schedules',{id:idNow})
				.done(data =>{
					var dateapplied = moment(data.eventdetails.date_applied).format('MMMM DD, YYYY')
							var scheduledate = moment(data.eventdetails.date_eventdate).format('MMMM DD, YYYY')
							var scheduletime = moment(data.eventdetails.time_eventstart, 'HH:mm:ss').format('hh:mm A')
							var nowDate = new Date(); 
							var date = nowDate.getFullYear()+'/'+(nowDate.getMonth()+1)+'/'+nowDate.getDate() +" "+ nowDate.getHours() +":" + nowDate.getMinutes() +":" +nowDate.getSeconds(); 
							console.log(data)
							
					$('#scheduleAppend').append(`
						<div class="send-header">
										
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="label-control"><strong> Couple: </strong> Mr. ${data.eventdetails.var_lname} and Ms. ${data.eventdetails.var_blname} </label>
										<label class="label-control"><strong> Applied by: </strong> ${data.eventdetails.var_userlname}, ${data.eventdetails.var_userfname} </label>
										<br><label class="label-control"><strong> Date Appplied: </strong> ${dateapplied}</label>
										
										
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">	
										<label class="label-control"><strong>Weddng Date: </strong> ${scheduledate} - ${scheduletime} </label>
										<label class="label-control"><strong> Priest Assigned: </strong> ${data.eventdetails.var_priestname}</label>
										<br><label class="label-control"><strong> Current Step: </strong> ${data.eventdetails.var_weddingstepname}</label>
										
									</div>
								</div>
							</div>
								
							<hr>
							<table style="width:100%" id='tableschedules'>
								<tr>
									<th>Step Name</th>
									<th>Date</th> 
									<th>Time</th> 
									<th>Priest</th>
									<th>Guest</th>
									<th>Action</th>
								</tr>
								</table>

							</div>
					`)

					for(i=0; i<data.schedules.length; i++){

						var date
						var time
						var boolpriest
						var boolguest
						if(data.schedules[i].date_sched=='0000-00-00'){
							date='No date yet'		
						}
						
						if(data.schedules[i].date_sched!='0000-00-00'){
							date = moment(data.schedules[i].date_sched).format('MMMM DD, YYYY')
						}

						if(data.schedules[i].time_schedstart=='00:00:00'){
							time='No time yet'		
						}
						
						if(data.schedules[i].time_schedstart!='00:00:00'){
							time = moment(data.schedules[i].time_schedstart, 'hh:mm:ss').format('hh:mm A')
						}

						if(data.schedules[i].bool_conpriest=='0'){
							boolpriest='No'		
						}
						
						if(data.schedules[i].bool_conpriest=='1'){
							boolpriest = 'Yes'
						}

						if(data.schedules[i].bool_conguest=='0'){
							boolguest='No'		
						}
						
						if(data.schedules[i].bool_conguest=='1'){
							boolguest = 'Yes'
						}


						$('#tableschedules').append(`
								<tr>
									<td>${data.schedules[i].var_weddingstepname}</td>
									<td>${date}</td>
									<td>${time}</td>
									<td>${boolpriest}</td>
									<td>${boolguest}</td>
									<td>
									 <button type='button' value='${data.schedules[i].int_scheduleID}' class='updateschedule btn'>Update</button>
									</td>
								</tr>
								`)
					}//for

					

					
					$('#scheduleModal').modal('show')
					$('#scheduleModal').on('hidden.bs.modal',function(){
					$('#scheduleAppend').empty()
					$('#scheduleAppend').empty()
				})
				})
		})//schedule

		$(document).on('click','.updateschedule',function(){
				
				var schedid = $(this).val();
				console.log(schedid)

				$.post('/secretariat/transaction-marriage/updateschedules',{schedid:schedid}).done(data =>{
					if(data.schedule.date_sched=='0000-00-00')
						var scheduledate = 'No date yet'
					if(data.schedule.date_sched!='0000-00-00')
						var scheduledate = moment(data.schedule.date_sched).format('YYYY-MM-DD')
					if(data.schedule.time_schedstart=='00:00:00')
						var scheduletime = 'No time yet'
					if(data.schedule.time_schedstart!='00:00:00')
						var scheduletime = moment(data.schedule.time_schedstart, 'HH:mm:ss').format('HH:mm:ss')
					
					console.log(data)
					$('#updateschedbody').append(`
						
						<div class="row">
						<input type="hidden"  value="${data.schedule.int_scheduleID}" id='schedid' class="form-control">
							<div class="col-md-6">
								<div class="form-group">
									<label class="label-control">Date</label>
									<input type="text" value="${scheduledate}" id='updatedate' class="form-control">
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group mt-1">
								<label class="label-control">Time start</label>
								<input type="text"  value="${scheduletime}" id='updatetime' class="form-control">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input type="checkbox"  class="checkbox" id='apppriest' >Approved by Priest<br>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input type="checkbox"  class="checkbox"  id='appguest'>Approved by Guest<br>
								</div>
							</div>
						</div>
						`)
						if(data.schedule.bool_conpriest==1)
						$('#apppriest').prop('checked', true)
						if(data.schedule.bool_conguest==1)
						$('#appguest').prop('checked', true)

						
						})

						$('#updateschedbutton').click(function(){
							console.log('UPDATE BUTTON CLICKED')
							swal({
							title:'Are you sure?', 
							text:'The schedule will be updated', 
							type:'warning',
							showCancelButton: false,
							confirmButtonColor: '#3085d6',
							cancelButtonColor: '#d33',
							confirmButtonText: 'Confirm'
							}).then((result)=>{
								if(result.value){
									if($('#apppriest').checked== true) var conpriest=1
									if($('#apppriest').checked== false) var conpriest=0
									if($('#appguest').checked== true) var conguest=1
									if($('#appguest').checked== false) var conguest=0

									if($('#apppriest').prop('checked')==true){
										var conpriest=1
									}
									if($('#apppriest').prop('checked')==false){
										var conpriest=0
									}
									if($('#appguest').prop('checked')==true){
										var conguest=1
									}
									if($('#appguest').prop('checked')==false){
										var conguest=0
									}
									$.post('/secretariat/transaction-marriage/updateschedulefinal', {
										updatedate:$('#updatedate').val(),
										updatetime:$('#updatetime').val(),
										conpriest:conpriest, 
										conguest:conguest,
										schedid:schedid
									})
										.done(data =>{
											swal({
											title:'Success',
											text:'Status updated', 
											type:'success'
											}).then(function(){
												location.reload();
											})
											$('#updateModal').modal('hide');
											$('#updateAppend').empty();
											
										})//done
								}//if value
								})
						})		
				$('#scheduleModal').modal('hide')
				$('#updatesched').modal('show')
				$('#updatesched').on('hidden.bs.modal',function(){
					$('#updateschedbody').empty()
				})
				
				})
			
		function setcabinet($i){
				console.log($i)
				$("#divisions").empty();
				$('#divisions').append(`
						<option>No division selected</option>
					`)
				$.post('/secretariat/transaction-marriage/getdivisions',{ cabinetID:$i}).done(data=>{
					console.log(data)
					for(i=0;i<data.divisions.length;i++){
					$('#divisions').append(`
						<option value='${$i}-${data.divisions[i].int_divisionID}'>${data.divisions[i].var_divisionname}</option>
					`)
					}//for		
				})//donedatacabinets
			}//function cabinets

		function checkifavailable($i){
				console.log($i)
				$("#divisions").empty();
				
				$.post('/secretariat/transaction-marriage/checkifpriestavailable',{ priestID:$i}).done(data=>{
					console.log(data)
					if(data.result ==1){
						swal({
							title:'Not available',
							text:'The priest you have chosen is not available', 
							type:'warning'
						}).then(function(){
							$("#autoassign").prop('checked', true)
							$("#requested").prop('disabled', true);
							$("#requested").prop('checked', false)
							$("#availablepriests").prop('disabled', true);
						})
					}
					
					
					
				})//donedatacabinets
			}//function checkifavailable

		function setdivision($i){
				console.log($i)
				$("#folders").empty();

				$.post('/secretariat/transaction-marriage/getfolders',{ location:$i}).done(data=>{
					console.log(data)
					var newID= data.folders.max +1
					$('#folderID').val(`${newID}`)

					//- $('#folders').append(`
					//- 	<option value=${data.folders.max}>${data.folders.max}</option>
					//- `)
						
				})//donedatacabinets
			}//function cabinets

		