extends ../../../../../templates/secretariat

block prepend main
	style.
		.tableModal {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
		}

		.tdModal{
			border: 2px solid #dddddd;
			text-align: left;
			padding: 12px;
		}
		.shadow3 {
			box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
		}

		body > div.mfp-wrap.mfp-close-btn-in.mfp-auto-cursor.mfp-with-zoom.mfp-ready > div {
			z-index: 9999 !important;
		}

		.mfp-with-zoom .mfp-container,
		.mfp-with-zoom.mfp-bg {
			opacity: 0;
			-webkit-backface-visibility: hidden;
			/* ideally, transition speed should match zoom duration */
			-webkit-transition: all 0.3s ease-out;
			-moz-transition: all 0.3s ease-out;
			-o-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;
			z-index: 99999;
		}

		.mfp-image, .mfp-container, .mfp-ready, .mfp-image-holder, .mfp-content, .mfp-preloader, .mfp-figure {
			z-index: 99999;
		}

		.mfp-with-zoom.mfp-ready .mfp-container {
			opacity: 1;
		}
		.mfp-with-zoom.mfp-ready.mfp-bg {
			opacity: 0.8;
		}

		.mfp-with-zoom.mfp-removing .mfp-container,
		.mfp-with-zoom.mfp-removing.mfp-bg {
		opacity: 0;
		}

		.size {
			width: 100px;
			height: 100px;
		}
	.content
		.container-fluid
			.row
				.col-lg-12.col-md-12
					// Tab panes
					.tab-content
						#nonwedding.tab-pane.active.mx-3
						
							// Tab panes
							.tab-content
								
								#regularbaptism.tab-pane.active
									.card.shadow
										.card-header.card-header-primary(style='background:#367587; color:white')
											.row
												.col-md-6
													h4.card-title(style='background:#367587; color:white') Regular Baptism
												.col-md-6
													a.btn.btn-success.pull-right#thisweek View applications for this week
										.card-body.table-responsive
											table.table.dataTable.table-hover
												thead.text-primary
													//- th ID
													th Name of the Child
													th Desired Schedule
													th Date Applied
													th Requirement Status
													th Payment Status
													th Approval Status
													th Priest Assigned
													th.text-right(style=" width:120px") Actions
												tbody
													each regular in regulars

														- if(regular.var_eventstatus=='On Going')
															tr(style='background-color:#d7ffd3')
																//- td=regular.int_eventinfoID
																input.form-control#int_userID(type='hidden' name='clientID' value=regular.int_userID)
																input.form-control.eventinfoID(type='hidden' name='clientID' value=`${regular.int_eventinfoID}`)
																td=regular.var_lname + ", " + regular.var_fname
																td=regular.date_eventdate + ' ' + regular.time_eventstart
																td=regular.date_applied
																td
																	span.approvalreq(value=`${regular.var_reqstatus}`) #{regular.var_reqstatus}
																td
																	span.approvalpay(value=`${regular.char_paymentstatus}`) #{regular.char_paymentstatus}
																td
																	spn.approval(value=`${regular.char_approvalstatus}`) #{regular.char_approvalstatus}
																- if(regular.int_userpriestID !=null)
																	td
																		span #{regular.var_priestname}
																- if(regular.char_approvalstatus=='Pending')
																	td No priest assigned
																td.td-actions.text-center
																	button.btn.btn-primary.actionButton(type='button' value=`${regular.int_eventinfoID}`)
																		i.ti-settings
																			#toolbar-options.hidden
																				a.viewButton(href='#')
																					i.ti-file(style="color:white;")
																				a.updateButton(href='#')
																					i.ti-pencil(style="color:white;")
																				a.updateReqButton(href='#')
																					i.ti-new-window(style="color:white;")
														-else
															tr
																//- td=regular.int_eventinfoID
																input.form-control#int_userID(type='hidden' name='clientID' value=regular.int_userID)
																input.form-control.eventinfoID(type='hidden' name='clientID' value=`${regular.int_eventinfoID}`)
																td=regular.var_lname + ", " + regular.var_fname
																td=regular.date_eventdate + ' ' + regular.time_eventstart
																td=regular.date_applied
																td
																	span.approvalreq(value=`${regular.var_reqstatus}`) #{regular.var_reqstatus}
																td
																	span.approvalpay(value=`${regular.char_paymentstatus}`) #{regular.char_paymentstatus}
																td
																	span.approval(value=`${regular.char_approvalstatus}`) #{regular.char_approvalstatus}
																- if(regular.int_userpriestID !=null)
																	td
																		span #{regular.var_priestname}
																- if(regular.char_approvalstatus=='Pending')
																	td No priest assigned
																td.td-actions.text-center
																	button.btn.btn-primary.actionButton(type='button' value=`${regular.int_eventinfoID}`)
																		i.ti-settings
																			#toolbar-options.hidden
																				a.viewButton(href='#')
																					i.ti-file(style="color:white;")
																				a.updateButton(href='#')
																					i.ti-pencil(style="color:white;")
																				a.updateReqButton(href='#')
																					i.ti-new-window(style="color:white;")
	
	#paymentModal.modal.fade(tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
			.modal-dialog.modal-lg(role="document")
				.modal-content
					.modal-header(style='background:#367587')
						h5.modal-title(style='color:white') Payment Status
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true' style='color:white') ×
					.modal-body#paymentAppend
					.modal-footer#footerpayment
						button.btn.btn-outline.btn-secondary.pull-left#cancellButton(type='button', data-dismiss='modal') Close
						button.btn#updatePaymentButton(type="button" style='background:#367587; color:white') Update Payment
	#updatepaymentModal.modal.fade(tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
			.modal-dialog.modal-lg(role="document")
				.modal-content
					.modal-header(style='background:#367587')
						h5.modal-title(style='color:white') Payment Status
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true' style='color:white') ×
					.modal-body#updatepaymentAppend
					.modal-footer
						button.btn.btn-outline.btn-secondary.pull-left#cancellButton(type='button', data-dismiss='modal') Close
						button.btn#updatePayment(type="button" style='background:#367587; color:white') Update Payment	
	#messageModal.modal.fade(tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
		.modal-dialog.modal-lg(role="document")
			.modal-content
				.modal-header(style='background:red')
					h5.modal-title(style='color:white') Message for the Guest
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true' style='color:white') ×
				.modal-body#messageAppend
				.modal-footer
					//- button.btn.btn-outline.btn-secondary.pull-left#cancellButton(type='button', data-dismiss='modal') Close
					button.btn.btn-danger#sendMessage(type="button") Send
	#viewModal.modal.fade(tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
			.modal-dialog.modal-lg(role="document")
				.modal-content
					.modal-header(style='background:#367587; color:white')
						h4.modal-title(style='background:#367587; color:white') View Application Form
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true' style='background:#367587; color:white') ×
					.modal-body#viewBodyAppend
					.modal-footer
						button.btn.btn-outline.btn-secondary.pull-left#cancelButton(type='button', data-dismiss='modal') Close
	#myModal.modal(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
		button.close(type='button', data-dismiss='modal', aria-label='Close')
			span(aria-hidden='true' style='background:#367587; color:white') ×
		img.modal-content1#imgReq
	#updateModal.modal.fade(tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
		.modal-dialog.modal-lg(role="document")
			.modal-content
				.modal-header(style='background:#367587; color:white')
					h5.modal-title(style='background:#367587; color:white') Update Application
					button.close.text-white(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				.modal-body#updateBodyAppend
				.modal-footer.mx-auto
					button.btn.btn-outline.btn-primary.pull-left#updateStatusButton(type='button', data-dismiss='modal') Update
	#updateReqModal.modal.fade(tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
			.modal-dialog.modal-lg(role="document" style="z-index: 9998;")
				.modal-content
					.modal-header(style='background:#367587; color:white')
						h5.modal-title(style='background:#367587; color:white') Update Requirements
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true' style='background:#367587; color:white') ×
					.modal-body#reqStatus
						.row
							.col-md-6.mx-auto
								.gallery#reqAppend
							.col-md-6
								#upStatus
								#status
					.modal-footer.mx-auto.footerrequirement
						button.btn.btn-outline.btn-primary.pull-left#updateReqButton(type='button') Update
	#messageModal.modal.fade(tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
		.modal-dialog.modal-lg(role="document")
			.modal-content
				.modal-header(style='background:red')
					h5.modal-title(style='color:white') Message for the Guest
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true' style='color:white') ×
				.modal-body#messageAppend
				.modal-footer
					//- button.btn.btn-outline.btn-secondary.pull-left#cancellButton(type='button', data-dismiss='modal') Close
					button.btn.btn-danger#sendMessage(type="button") Send
	#walkin.modal.fade(tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
			.modal-dialog(role="document" style="z-index: 9998;")
				.modal-content
					.modal-header(style='background:#367587; color:white')
						h5.modal-title(style='background:#367587; color:white') Walk-in Requirements
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true' style='background:#367587; color:white') ×
					.modal-body#walkinAppend
						
					.modal-footer.mx-auto
						button.btn.btn-outline.btn-secondary.pull-left#cancellButton(type='button', data-dismiss='modal') Close
	#insertFile.modal.fade(tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
			.modal-dialog(role="document")
				.modal-content
					.modal-header(style='background:#367587')
						h5.modal-title(style='color:white') Walk-in Requirement
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true' style='color:white') ×
					.modal-body#insertFileAppend
					.modal-footer
						button.btn.btn-outline.btn-secondary.pull-left#cancellButton(type='button', data-dismiss='modal') Close
						button.btn#insertFileButton(type="button" style='background:#367587; color:white') Insert File
	#fileLocation.modal.fade(tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
			.modal-dialog(role="document")
				.modal-content
					.modal-header(style='background:#367587; color:white')
						h4.modal-title(style='background:#367587; color:white') Change Folder Location
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span.p-2(aria-hidden='true' style='background:#367587; color:white') ×
					.modal-body#fileLocationAppend
					.modal-footer
						button.btn.btn-outline.btn-secondary.pull-left#cancellButton(type='button', data-dismiss='modal') Close
						button.btn#fileLocationButton(type="button" style='background:#367587; color:white') Set
	#thisweekModal.modal.fade(tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
			.modal-dialog.modal-lg(role="document")
				.modal-content
					.modal-header(style='background:#367587')
						h5.modal-title(style='color:white') This week's applications
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true' style='color:white') ×
					.modal-body#thisweekAppend
					.modal-footer#footerthisweek
						
						
	
block addjs
	
	script(type='text/javascript').
		$(document).ready(function(){
			var ctr = 0;
			for(var i =0; i<= $('.approvalreq').length; i++){


				if($('.approvalreq').eq(i).attr('value') == "Submitted"){
					$('.approvalreq').eq(i).addClass('badge btn btn-primary-lg bgc-amber-100 c-amber-700')
				}
				
				else if($('.approvalreq').eq(i).attr('value') == "To be submitted"){
					$('.approvalreq').eq(i).addClass('badge btn btn-primary-lg bgc-amber-100 c-amber-700')
				}
				else if($('.approvalreq').eq(i).attr('value') == "Approved"){
					$('.approvalreq').eq(i).addClass('badge btn btn-primary-lg bgc-green-100 c-green-700')
				}
				else if($('.approvalreq').eq(i).attr('value') == "Rejected"){
					$('.approvalreq').eq(i).addClass('badge btn btn-primary-lg bgc-red-100 c-red-700')
				}
				if($('.approvalpay').eq(i).attr('value') == "Paid"){
					$('.approvalpay').eq(i).addClass('badge btn btn-primary-lg bgc-green-100 c-green-700')
				}
				else if($('.approvalpay').eq(i).attr('value') == "Unpaid"){
					$('.approvalpay').eq(i).addClass('badge btn btn-primary-lg bgc-amber-100 c-amber-700')
				}
				if($('.approval').eq(i).attr('value') == "Pending"){
					$('.approval').eq(i).addClass('badge btn btn-primary-lg bgc-amber-100 c-amber-700')
				}
				else if($('.approval').eq(i).attr('value') == "Cancelled"){
					$('.approval').eq(i).addClass('badge btn btn-primary-lg bgc-red-100 c-red-700 ')
				}
				else if($('.approval').eq(i).attr('value') == "Approved"){
					$('.approval').eq(i).addClass('badge btn btn-primary-lg bgc-green-100 c-green-700')
				}
				else if($('.approval').eq(i).attr('value') == "Disapproved"){
					$('.approval').eq(i).addClass('badge btn btn-primary-lg bgc-red-100 c-red-700')
				}
			}

			var idNow;
			$('.actionButton').click(function(){
				idNow = $(this).val();
				console.log(idNow)
			});
			$(document).on('click', '.viewButton', function(){
				console.log(idNow)
				$.post('/secretariat/transaction-baptism/query',{id:idNow}).done(data =>{
					var dateRequested = moment(data.date_eventdate).format('MM/DD/YYYY')
					var timeRequested = moment(data.time_eventstart,'HH:mm:ss').format('hh:mm A')
					var age = moment().diff(data.date_birthday,'years');
					$('#viewBodyAppend').append(`
					<form>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label>Desired Date:</label>
								<input type="text" class="form-control" value="${dateRequested}" disabled>
							</div>
							<div class="form-group col-md-6">
								<label>Desired Time:</label>
								<input type="text" class="form-control" value="${timeRequested}" disabled>
							</div>
						</div>
						<label>Name of the Child:</label>
						<div class="form-row">
							<div class="form-group col-md-4">
								<label>Last Name:</label>
								<input type="text" class="form-control" value="${data.var_lname}" disabled>
							</div>
							<div class="form-group col-md-4">
								<label>First Name:</label>
								<input type="text" class="form-control" value="${data.var_fname}" disabled>
							</div>
							<div class="form-group col-md-4">
								<label>Middle Name:</label>
								<input type="text" class="form-control" value="${(data.var_mname) ? data.var_mname : 'N/A'}" disabled>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-4">
								<label>Gender:</label>
								<input type="text" class="form-control" value="${data.char_gender}" disabled>
							</div>
							<div class="form-group col-md-4">
								<label>Birth Date:</label>
								<input type="text" class="form-control" value="${moment(data.date_birthday).format('MM/DD/YYYY')}" disabled>
							</div>
							<div class="form-group col-md-4">
								<label>Birth Place:</label>
								<input type="text" class="form-control" value="${data.var_birthplace}" disabled>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label>Relationship with the Child:</label>
								<input type="text" class="form-control" value="${data.var_relation}" disabled>
							</div>
							<div class="form-group col-md-6">
								<label>Contact No:</label>
								<input type="text" class="form-control" value="${data.var_contactnum}" disabled>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label>Father's Name:</label>
								<input type="text" class="form-control" value="${data.var_fathername}" disabled>
							</div>
							<div class="form-group col-md-6">
								<label>Father's Birthplace:</label>
								<input type="text" class="form-control" value="${data.var_fatherbplace}" disabled>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label>Mother's Name:</label>
								<input type="text" class="form-control" value="${data.var_mothername}" disabled>
							</div>
							<div class="form-group col-md-6">
								<label>Mother's Birthplace:</label>
								<input type="text" class="form-control" value="${data.var_motherbplace}" disabled>
							</div>
						</div>
						<div class="form-group">
							<label>Address:</label>
							<input type="text" class="form-control" value="${data.var_address}" disabled>
						</div>
						<div class="form-group">
							<label>Parent Marriage Address:</label>
							<input type="text" class="form-control" value="${data.var_parentmarriageadd}" disabled>
						</div>
					</form>
					`)
					$('#viewModal').modal('show')
					$('#viewModal').on('hidden.bs.modal',function(){
						$('#viewBodyAppend').empty()
					})

				})
			})
			$('.updateReqButton').click(function(){
				$.post('/secretariat/transaction-baptism/query/updateStatus',{id:idNow}).done(data=>{
					
				if(data.results.var_applicationtype=='Walk-in'){
						if(data.requirements[0].var_reqpath==null){
							$(`#insertFileAppend`).append(`This is a walk-in application. No file was submitted`)
							$('#insertFile').modal('show')
								$('#insertFile').on('hidden.bs.modal',function(){
									$('#insertFileAppend').empty()
								})
						}
						else{
							$(`#walkinAppend`).append(`This is a walk-in application. File is located at: ${data.requirements[0].var_reqpath}`)
							$('#walkin').modal('show')
								$('#walkin').on('hidden.bs.modal',function(){
									$('#walkinAppend').empty()
								})
						}
					}
				else{
					$('#updateReqModal').modal('show')
					var ctr=0;
					for(i=0;i<data.requirements.length;i++){

						if(data.requirements[i].var_reqstatus == "Submitted"){
						$(`#reqAppend`).append(`
						<a class="image-link" href="${data.requirements[i].var_reqpath}" title="${data.requirements[i].var_reqname}"><img class="rounded shadow3" src="${data.requirements[i].var_reqpath}" style="width: 24rem;"/></a>
						`)
						$('#status').append(`
						<input class="reject" type="radio" name="${data.requirements[i].var_reqname}" value=${data.requirements[i].int_requirementID} />
							<h5 class="d-inline">Reject</h5>
						<br>
						<input class="accept" type="radio" name="${data.requirements[i].var_reqname}" value=${data.requirements[i].int_requirementID} />
							<h5 class="d-inline">Accept</h5>
						`)
						
						}
						else if(data.requirements[i].var_reqstatus == "Approved"){
						ctr++;
						$(`#reqAppend`).append(`
						<a class="image-link" href="${data.requirements[i].var_reqpath}" title="${data.requirements[i].var_reqname}"><img class="rounded shadow3" src="${data.requirements[i].var_reqpath}" style="width: 24rem;"/></a>
						`) 
						var received = moment(data.requirements[i].datetime_reqreceived).format('MMMM DD, YYYY hh:mm A')
						var approved = moment(data.requirements[i].datetime_requirementapproval).format('MMMM DD, YYYY hh:mm A')
						$('#status').append(`
						<p><strong>Submitted: </strong>${received}
						<p><strong>Approved: </strong>${approved}
						`)
						$('.footerrequirement').empty()
						$('.footerrequirement').append(`
						<button class="btn btn-outline btn-secondary pull-left" id="cancelButton" type="button" data-dismiss="modal">Close</button>
						`)
					
						}
						else if(data.requirements[i].var_reqstatus == "Rejected"){
						$(`#reqAppend`).append(`
						<a class="image-link" href="${data.requirements[i].var_reqpath}" title="${data.requirements[i].var_reqname}"><img class="rounded shadow3" src="${data.requirements[i].var_reqpath}" style="width: 24rem;"/></a>
						`)
						var received = moment(data.requirements[i].datetime_reqreceived).format('MMMM DD, YYYY hh:mm A')
						var approved = moment(data.requirements[i].datetime_requirementapproval).format('MMMM DD, YYYY hh:mm A')
						
						$('#status').append(`
						<p><strong>Submitted: </strong>${data.requirements[i].datetime_reqreceived}
						<p><strong>Rejected: </strong>${data.requirements[i].datetime_requirementapproval}
						`)
						$('.footerrequirement').empty()
						$('.footerrequirement').append(`
						<button class="btn btn-outline btn-secondary pull-left" id="cancelButton" type="button" data-dismiss="modal">Close</button>
						`)
						
						$(`input[name="${data.requirements[i].var_reqname}reject"][class="reject"]`).attr("checked",true);
						console.log()
						}
					}
					//- if(ctr == data.requirements.length){
					//- 	$(`#upStatus`).append(`
					//- 	<h4 class="label-control" class="reqstatus"><h5 class="d-inline">Current Requirement Status:</h4> <span class="approvalpay badge btn btn-primary-lg bgc-green-100 c-green-700" value="Complete">Complete</span>
					//- 	`)
					//- }
					//- else{
					//- 	$(`#upStatus`).append(`
					//- 	<h4 class="label-control" class="reqstatus"><h5 class="d-inline">Current Requirement Status:</h4> <span class="approval badge btn btn-primary-lg bgc-amber-100 c-amber-700" value="Incomplete">Incomplete</span>
					//- 	`)
					//- }
					console.log(ctr)
					console.log(data.requirements.length)
					$('#updateReqButton').click(function(){
						var idsa = [];
						var idsr = [];
						var requirements = [];
						for(i=0;i<data.requirements.length;i++){
						requirements.push(data.requirements[i])
						if($('.accept').is(':checked') == true){
							idsa.push($('.accept').val())
						}
						else if($('.reject').is(':checked') == true){
							idsr.push($('.reject').val())
						} else {
							return Swal.fire({
								type: 'error',
								title: 'Oops...',
								text: 'You haven\'t chosen yet!',
							})
						}
						//- console.log($(`input[name="${data.requirements[i].var_reqname}accept"]`).is(':checked'))
						//- console.log($(`input[name="${data.requirements[i].var_reqname}reject"]`).is(':checked'))
						}
						console.log(idsa)
						console.log(idsr)
						console.log(requirements)
							swal({
							title:'Are you sure?', 
							text:'You want to update the Status of the Requirements?', 
							type:'warning',
							showCancelButton: true,
							confirmButtonColor: '#3085d6',
							cancelButtonColor: '#d33',
							confirmButtonText: 'Confirm'
							}).then((result)=>{
							if(result.value){
							var reqstatus = $('#reqstatus').val()
							var paystatus = $('#paystatusupdate').val()
							if(idsr.length > 0){
								$.post('/secretariat/message',{int_userID:$('#int_userID').val()})
										.done(data =>{
											var rejected =[];
											for(j=0;j<idsr.length;j++){
												for(i=0;i<requirements.length;i++){
													if(idsr[j] == requirements[i].int_requirementID){
														rejected.push(requirements[i].var_reqname)
													}
												}

											}
											$('#messageAppend').append(`
											<h4 class="c-grey-900 mB-20">Send Message</h4>
												<div class="send-header">
													<div class="form-group">
													<input type="hidden" class='form-control' id='int_receiverID' placeholder="To" value =" ${data.int_userID}">
													<input type="text" class='form-control' placeholder="To" value ="${data.var_userlname}, ${data.var_userfname}"  readonly>
													</div>
													<div class="form-group">
													<h6 class="label-control" id="eventstatus">Rejected Requirements: 
													<span id="var_subject" class="badge btn btn-primary-lg bgc-blue-100 c-white-700"></span>
													</h6>
													</div>
													<div class="form-group">
													<textarea name="compose" class="form-control" id='text_message' placeholder="Please state your reason why you declined the guest's request." rows='6'></textarea>
													</div>
												</div>
												<div id="compose-area"></div>
											`)
											for(v=0;v<rejected.length;v++){
												if(v < rejected.length - 1){
													$('#var_subject').append(rejected[v] + ",")
												}
												else{
													$('#var_subject').append(rejected[v])
												}
											}
											$('#updateReqModal').modal('hide')
											$('#messageModal').modal('show')
											$('#messageModal').on('hidden.bs.modal',function(){
												$('#selectBox').val('default')
												$('#messageAppend').empty()
											})
											
											$('#sendMessage').click(function(){
												swal({
												title:'Are you sure?', 
												text:'This message will be sent to the guest and his/her request will be declined.', 
												type:'warning',
												showCancelButton: false,
												confirmButtonColor: '#3085d6',
												cancelButtonColor: '#d33',
												confirmButtonText: 'Confirm'
												}).then((result)=>{
													if(result.value){										
														$.post('/secretariat/message/send',{
															int_receiverID:$('#int_receiverID').val(),
															int_receiverID:$('#int_receiverID').val(),
															var_subject:$('#var_subject').val(),
															text_message:$('#text_message').val(),
															id1:idNow
														})
														.done(data=>{
															if(data){
																swal({
																	title:'Success',
																	text:'Status updated and message sent!', 
																	type:'success'
																}).then(function(){
																	for(i=0;i<idsr.length;i++){
																		$.post('/secretariat/transaction-baptism/updateRequirementsReject',{
																		id:idsr[i],
																		eventid:idNow
																		}).done(data=>{
																		location.reload()
																		})
																	}
																})
																$('#messageModal').modal('hide');
																$('#messageAppend').empty();
															}
														})
													}
											})
											})
										})
								

							}
							else if(idsa.length > 0){
							for(i=0;i<idsa.length;i++){
								$.post('/secretariat/transaction-baptism/updateRequirements',{
								id:idsa[i],
								eventid:idNow
								}).done(data=>{

								})
							}
							swal({
								title:'Success',
								text:'Status updated', 
								type:'success'
								}).then(function(){
									location.reload();
								})
							}
							else{
								swal({
								title:'Success',
								text:'Status updated', 
								type:'success'
								}).then(function(){
									location.reload();
								})
							}
							}
							})
					})
					$('#updateReqModal').on('hidden.bs.modal',function(){
						$('#reqAppend').empty()
						$('#upStatus').empty()
						$('#status').empty()
					})
				}
				})
			})
			
			$('.updateButton').click(function(){
				$.post('/secretariat/transaction-baptism/paymentquery',{id1:idNow})
				.done(data =>{
				var dateapplied = moment(data.results.date_applied).format('MMMM DD, YYYY')
				
				var nowDate = new Date(); 
				var date = nowDate.getFullYear()+'/'+(nowDate.getMonth()+1)+'-'+nowDate.getDate() +" "+ nowDate.getHours() +":" + nowDate.getMinutes() +":" +nowDate.getSeconds(); 
				console.log(data)
				var datelang = nowDate.getFullYear()+'-'+(nowDate.getMonth()+1)+'-'+nowDate.getDate()
				
					$('#paymentAppend').append(`
						
						<div class="send-header">
							
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										
										<label class="label-control"><strong> Applied by: </strong> ${data.results.var_userlname}, ${data.results.var_userfname} </label>
										<br><label class="label-control"><strong> Date Appplied: </strong> ${dateapplied}</label>
										
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">	
										<label class="label-control"><strong> Voucher Code: </strong> ${data.results.var_vouchercode}</label>
										<br><label class="label-control"><strong> Payment Status</strong> ${data.results.char_paymentstatus}</label>
									</div>
								</div>
							</div>
								
							<hr>

							</div>
							<div id="paymenthistorydiv"></div>

							<hr>
							<div class="row">
								<div class="col-md-6"></div>
								<div class="col-md-6">
									<div class="form-group">
										<table style ="width: 100%">
											<tr>
												<th>TOTAL AMOUNT:
												<td style ="text-align: right"><strong>${data.results.dbl_amount}</strong>
											</tr>
											<tr>
												<th>Remaining Balance:
												<td style ="text-align: right;color: red;"> ${data.results.dbl_balance}
										</table>
									
									</div>
								</div>
							</div>
								

						
						<div id="compose-area"></div>
					`)
					if(data.results.char_paymentstatus=='Paid'){
						$('#footerpayment').empty()
						$('#footerpayment').append(`
						<button class="btn btn-outline btn-secondary pull-left" id="cancelButton" type="button" data-dismiss="modal">Close</button>
						`)
					}
					if(data.paymenthistory!=null){
						console.log('not null')
						$('#paymenthistorydiv').append(`
						<div class="col-md-12">
									<div class="table-responsive">
										<table class="table table-hover dataTable fixed_header" >
											<thead class="text-primary">
												<th>OR No. </th>
												<th>Date</th> 
												<th>User Account</th> 
												<th>Payer</th>
												<th style ="text-align: right">Amount</th>
												<th style ="text-align: right">Balance</th>
											</thead>
											<tbody id='paymentsummary'></tbody>
										</table>
									</div>
								</div>
						`)
						for(i=0; i<data.paymenthistory.length; i++){
						console.log('for')
						var datepaid = moment(data.paymenthistory[i].date_paymentdate).format('MMMM DD, YYYY')
						$('#paymentsummary').append(`
							<tr>
								<td>${data.paymenthistory[i].int_ORnumber}
								<td>${datepaid}
								<td>${data.paymenthistory[i].var_username}
								<td>${data.paymenthistory[i].var_paidby}
								<td style ="text-align: right">₱${data.paymenthistory[i].dbl_paymentamount}
								<td style ="text-align: right">₱${data.paymenthistory[i].dbl_remainingbalance}
							</tr>
						
						`)

						}
					}
					$('#paymentModal').modal('show')
					$('#paymentModal').on('hidden.bs.modal',function(){
						
						$('#selectBox').val('default')
						$('#paymentAppend').empty()
						
					})
				$('#updatePaymentButton').click(function(){
				$.post('/secretariat/transaction-baptism/updatepaymentquery',{id1:idNow})
					.done(data =>{
						console.log(data)
						$('#updatepaymentAppend').empty();
						var ornumber = data.ornumber.max+1
						$('#updatepaymentAppend').append(`
					
								<div class="send-header">
									
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<table style ="width: 100%">
													<tr>
														<th >Voucher Code:
														<td > ${data.results.var_vouchercode}
													</tr>
													
													<tr>
														<th >Total Amount:
														<td ><strong>${data.results.dbl_amount}</strong>
													</tr>
													<tr>
														<th >Remaining Balance:
														<td style ="text-align: left;color: red;"> ${data.results.dbl_balance}
												</table>
											
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-2 px-lg-3 px-md-0 px-sm-0 pl-sm-3 extra-small-balance">
											<div class="form-group">
												<h6 class="label-control">OR Number:</h6><input class="form-control" type="text" id='ornumber'  value= ${ornumber} disabled/>
												<div class="help-block with-errors"></div>
											</div>
										</div>
										<div class="col-md-3 px-lg-3 pr-md-3 px-sm-0">
											<div class="form-group">
												<h6 class="label-control">Date:</h6><input class="form-control" type="text" value= ${datelang} id='paymentdate' disabled />
												<div class="help-block with-errors"></div>
											</div>
										</div>
										<div class="col-md-4 px-lg-3 pr-md-3 px-sm-0">
											<div class="form-group">
												<h6 class="label-control">Paid By:</h6><input class="form-control" type="text" placeholder="Name of the payer"  id='payer' />
												<div class="help-block with-errors"></div>
											</div>
										</div>
										
										<div class="col-md-3 px-lg-3 px-md-0 px-sm-0">
											<div class="form-group">
												<h6 class="label-control">Amount:</h6><input class="form-control" type="number" id="payment"/>
												<div class="help-block with-errors"></div>
											</div>
										</div>
									</div>
								</div>
						`)
						})
								
								$('#paymentAppend').empty();
								$('#paymentModal').modal('hide');
								$('#updatepaymentModal').modal('show');
								

										
								
								})

							$('#updatePayment').click(function(){

								if($('#payment').val()> data.results.dbl_balance){
									console.log('greater than yung inenter na amount')
									swal({
										title: `Enter valid amount`,
										type:'warning',
										showCancelButton: false,
										confirmButtonColor: '#3085d6',
										cancelButtonColor: '#d33',
										confirmButtonText: 'Okay'
									}).then((result)=>{
									})
								}//if
								else if($('#payment').val()==''||$('#payer').val()==''){
									swal({
										title: `Enter values`,
										type:'warning',
										showCancelButton: false,
										confirmButtonColor: '#3085d6',
										cancelButtonColor: '#d33',
										confirmButtonText: 'Okay'
									}).then((result)=>{
									})
								}

								else{
									swal({
									title:'Are you sure?', 
									text:'You will not be able to revert this.', 
									type:'warning',
									showCancelButton: false,
									confirmButtonColor: '#3085d6',
									cancelButtonColor: '#d33',
									confirmButtonText: 'Confirm'
									}).then((result)=>{
										if(result.value){										
											var payment= $('#payment').val()
											var payer = $('#payer').val()
											var paymentdate = $('#paymentdate').val()
											var ornumber = $('#ornumber').val()
											$.post('/secretariat/transaction-baptism/changepaymentstatus',{id1:idNow, payment:payment, status:"Paid", payer:payer, paymentdate: paymentdate, ornumber:ornumber})
												.done(data =>{
													if(data.balance==0){
														swal({
															title:'Success',
															text:'No more remaining balance!!', 
															type:'success'
														}).then(function(){
															location.reload()
														})
													}
													else{
														swal({
															title:'Success',
															html:`Payment status updated! 
															<br>The guest has a remaining balance of <strong>${data.balance}<strong>`, 
															type:'success'
														}).then(function(){
															location.reload()
														})	
													}
										})
										$('#updatepaymentModal').modal('hide');
										$('#updatepaymentAppend').empty();

												
										}
									})
								}//else
								})

				})
				
			})
			
			$('#sendMessage').click(function(){
				swal({
				title:'Are You Sure?', 
				text:'You want to update the Status of the Request?', 
				type:'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Confirm'
				}).then((result)=>{
				if(result.value){
				data.time_eventstart = moment(data.time_eventstart,'HH:mm:ss').format('HH:mm:ss')
				$.post('/secretariat/transaction-baptism/update',{
				dateRequested:data.date_eventdate,
				timeRequested:data.time_eventstart,
				eventstatus:$('#eventstatusupdate').val(),
				eventid:$('#eventid').val(),
				reqid:$('#reqid').val(),
				reqstatus:$('#reqstatus').val(),
				payid:$('#payid').val(),
				paystatus:$('#paystatus').val()
				})
				.done(data=>{
					if(data){
						swal({
						title:'Success',
						text:'Status updated', 
						type:'success'
						}).then(function(){
							location.reload();
						})
						$('#messageModal').modal('hide');
						$('#updateAppend').empty();
					}
				})
				}
			})
			})

			$('#thisweek').click(function(){
				var date = moment().day(7).format('YYYY-MM-DD')
				console.log(date)
				console.log('READY KA NA BAAAAAAAAA')
				$.post('/secretariat/thisweek',{id:idNow}).done(data=>{
					console.log(data)
					$('#thisweekAppend').append(`
						<select id="generate" onchange="generate(value);" class="form-control">
							<option selected value='All Applications'>All Applications</option>
							<option  value='All Approved'>All Approved</option>
							<option  value='All Paid'>All Paid</option>
						</select>

						<div class="col-md-12">
								<div class="table-responsive">
									<table class="table table-hover dataTable fixed_header" >
										<thead class="text-primary">
											<th >Child's Name</th>
											<th >Payment Status</th>
											<th >Requirement Status</th>
											<th >Approval Staus</th>
										</thead>
										<tbody id='thisweekrecord'></tbody>
									</table>
								</div>
							</div>
					`)

					for(i=0; i<data.results.length; i++){
						console.log('for')
						//- var datepaid = moment(data.results[i].date_paymentdate).format('MMMM DD, YYYY')
						$('#thisweekrecord').append(`
							<tr>
								<td>${data.results[i].var_lname}, ${data.results[i].var_fname}
								<td>${data.results[i].char_paymentstatus}
								<td>${data.results[i].char_requirements}
								<td>${data.results[i].char_approvalstatus}
							</tr>
						`)
					}
					$('#footerthisweek').empty()
						$('#footerthisweek').append(`
						<button class="btn btn-outline btn-success pull-left" id="genetatebutton"} type="button">Generate</button>
						`)
					
					$('#thisweekModal').modal('show')
					$('#thisweekModal').on('hidden.bs.modal',function(){
						$('#thisweekAppend').empty()
					})
				})
			});

		})
		$(document).on('click','#genetatebutton',function(){
				console.log($('#generate').val())
				$.post('/secretariat/thisweek/status',{generatestatus:$('#generate').val()}).done(data=>{
					console.log('TO BE GENERATED')
					console.log(data)
					//DITO MO GAWIN BRUH, YUNG NETO YUNG MGA IPAPAKITA MO SA CERT COMPLETE NA
					//KUNIN MO LANG VAR NAME SA CONSOLE.
				})
				


		})

		$(document).on('click','#insertFileButton',function(){
				
				var id = $('.eventinfoID').val()
				
				$.post('/secretariat/getcabinets').done(data =>{
					$('#fileLocationAppend').append(`
					

						<h6 class="label-control"><strong>File Location: </strong> </h6>
						
						<div class="row">
						<div class="col-md-6">
							<div class="form-group" id='cabinetdiv'>
								<label>Cabinet
								
								<select id="cabinets" onchange="setcabinet(value);" class="form-control">
								<option> No drawer selected</option>
								</select>
							</div>	
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Division
								<select id="divisions" onchange="setdivision(value);" class="form-control" >
								<option> No division selected</option>
								</select>
							</div>	
						</div>
						
						</div>
						
						`)

						for(i=0;i<data.cabinets.length;i++){
								$('#cabinets').append(`
									<option value=${data.cabinets[i].int_cabinetID}>${data.cabinets[i].var_cabinetname}</option>
								`)
						}

						$('#fileLocationButton').click(function(){
							console.log('set is clicked')
									$.post('/secretariat/setfolderloc', {
										cabinet:$('#cabinets').val(),
										division:$('#divisions').val(),
										eventinfoID: $('.eventinfoID').val(),
									})
										.done(data =>{
											swal({
											title:'Success',
											text:'Status updated', 
											type:'success'
											}).then(function(){
												location.reload();
											})
											$('#updateModal').modal('hide');
											$('#updateAppend').empty();
											
										})//done
								
								})
						})		
				$('#insertFile').modal('hide')
				$('#fileLocation').modal('show')
				$('#fileLocation').on('hidden.bs.modal',function(){
					$('#fileLocationAppend').empty()
				})
		})
		function generate($i){
			console.log($i)
			$.post('/secretariat/thisweek/status',{generatestatus:$i}).done(data=>{
				console.log(data)
				$('#thisweekrecord').empty()
				for(i=0; i<data.results.length; i++){
						console.log('for')
						//- var datepaid = moment(data.results[i].date_paymentdate).format('MMMM DD, YYYY')
						$('#thisweekrecord').append(`
							<tr>
								<td>${data.results[i].var_lname}, ${data.results[i].var_fname}
								<td>${data.results[i].char_paymentstatus}
								<td>${data.results[i].char_requirements}
								<td>${data.results[i].char_approvalstatus}
							</tr>
						`)
					}
			})
		}
				
		function setcabinet($i){
				console.log($i)
				$("#divisions").empty();
				$('#divisions').append(`
						<option>No division selected</option>
					`)
				$.post('/secretariat/transaction-marriage/getdivisions',{ cabinetID:$i}).done(data=>{
					console.log(data)
					for(i=0;i<data.divisions.length;i++){
					$('#divisions').append(`
						<option value='${$i}-${data.divisions[i].int_divisionID}'>${data.divisions[i].var_divisionname}</option>
					`)
					}//for		
				})//donedatacabinets
			}//function cabinets
		function setdivision($i){
				console.log($i)
				$("#folders").empty();

				$.post('/secretariat/transaction-marriage/getfolders',{ location:$i}).done(data=>{
					console.log(data)
					var newID= data.folders.max +1
					$('#folderID').val(`${newID}`)

					//- $('#folders').append(`
					//- 	<option value=${data.folders.max}>${data.folders.max}</option>
					//- `)
						
				})//donedatacabinets
			}//function cabinets
