extends ../../../../templates/guests
block main
	.profile-page
		//- Heading Page
		#heading-page.page-header.header-filter(data-parallax="true" style="background-image: url('/img/Nave.jpeg');")
		//- 	.container
		//- 		.row
		//- 			.col-md-9.main-header__textbox
		//- 				h1.font-italic Anointing of the sick
		//- 				a(href="/guest/anointing")
		//- 					p.text-uppercase.card-desc
		//- 						| Guidelines | Requirements
		#raised-section.main.main-raised
			.container
					//- .row
					//- 	.col-md-12
					//- 		hr.mt-5.mx-5
					.row
						.col-md-12.my-3
							h3.text-center.text-uppercase.guidelines--text Anointing Details
							form(action=`/guest/reservation/${details.int_eventinfoID}/edit` method="post")
								input.form-control(type='hidden' name='userID' value=`${user.int_userID}`)
								input.form-control(type='hidden' name='eventname' value=`${details.var_eventname }`)
								h5.label-control Name of the Ill:
								.row
									.col-md-6.px-lg-3.px-md-0.px-sm-0
										.form-group.pt-0
											input.form-control(type='text' placeholder="Last Name" name='lastname', required='' pattern="[A-Za-z ]{2,}" data-error='Please enter lastname' value=`${moredetails.var_lname}`)
											.help-block.with-errors
									.col-md-6.p-lg-0.px-md-3.px-sm-0
										.form-group.p-0
											input.form-control(type='text' placeholder="First Name" name='firstname'  required='' pattern="[A-Za-z ]{3,}" data-error='Please enter firstname'  value=`${moredetails.var_fname}`)
											.help-block.with-errors
									//- .col-md-4.px-lg-3.px-md-0.px-sm-0
									//- 	.form-group.pt-0
									//- 		input.form-control(type='text' placeholder="Middle Name" name='middlename' pattern="[A-Za-z ]{3,}"  value=`${moredetails.var_mname}`)
									//- 		.help-block.with-errors
								.row
									.col-md-4.px-lg-3.px-md-0.px-sm-0
										.form-group.pt-0
											h5.label-control Gender
											input.form-control(type='text' name='gender', required='' pattern="[A-Za-z ]{4,}" data-error='Please enter gender' value=`${moredetails.char_gender}`)
											.help-block.with-errors
									.col-md-4.p-lg-0.px-md-3.px-sm-0
										.form-group
											h5.label-control Birthday
											input.datepicker.form-control(type='date' name='birthday'  required='', data-error='Please enter your birthday'  value=`${moredetails.date_birthday}`)
											.help-block.with-errors
									.col-md-4.px-lg-3.px-md-0.px-sm-0
										.form-group
											h5.label-control Birthplace:
											input.form-control(type='text' name='birthplace' placeholder="Ex. Payatas, Quezon City"  required=''  pattern="[A-Za-z0-9 ]{3,}"  data-error='Please enter birthplace'  value=`${moredetails.var_birthplace}`)
											.help-block.with-errors
								.row
									.col-md-4.px-lg-3.px-md-0.px-sm-0
										.form-group
											h5.label-control Relationship with the Ill:
											input.form-control(type='text' name='relation' placeholder="Ex. Payatas, Quezon City"  required=''  pattern="[A-Za-z0-9 ]{3,}"  data-error='Please enter birthplace'  value=`${moredetails.var_relation}`)
											.help-block.with-errors
									
									.col-md-8.px-lg-0.px-md-3.px-sm-0
										.form-group
											h5(for='exampleFormControlTextarea1') Address:
											input.form-control.mb-0(rows='2' name='address' placeholder="Ex. Urban, Bgy. Payatas B 1119 QC"  required='' pattern="[A-Za-z0-9]{3,}" data-error='Please enter complete address'  value=`${moredetails.var_address}`)
											.col-md-8
								.row
									.col-md-6.px-lg-3.px-md-3.px-sm-0
										.form-group
											h5(for='exampleFormControlTextarea1') Details:
											input.form-control(rows='2' name='details' placeholder="Please enter his/her illness or the reason of the anointing. (Ex. Operation/Surgery)"  required='' pattern="[A-Za-z]{3,}" data-error='Please enter anointing details'  value=`${moredetails.var_blessingdetails}`)
											.help-block.with-errors
									.col-md-6.px-lg-3.px-md-3.px-sm-0
										.form-group
											h5.label-control Place where the blessing will happen:
											input.form-control(rows='2' name='venue' placeholder="Please enter his/her illness or the reason of the anointing. (Ex. Operation/Surgery)"  required='' pattern="[A-Za-z]{3,}" data-error='Please enter blessing venue'  value=`${moredetails.var_blessingvenue}`)
											.help-block.with-errors
										//- .row
										//- 	.col-md-6.px-lg-3.px-md-0.px-sm-0
										//- 		.form-group
										//- 			h5.label-control Desired Date
										//- 			input.datepicker.form-control(type='date' name='desireddate1'  required='', data-error='Please enter your desired date'   value=`${moredetails.date_desireddate}`)
										//- 	.col-md-6.px-lg-3.px-md-0.px-sm-0
										//- 		.form-group
										//- 			h5.label-control Desired Time
										//- 			input.timepicker.form-control(type='text' name='desiredtime1'  required='', data-error='Please enter your desired time' value=`${moredetails.time_desiredtime}`)
											
								//- .learn-more.pull-right
								//- 	button.btn.std-btn.btn-secondary.btn-previous.m-0(type='button') Prev
								//- 	button.btn.btn-submit(type='submit') Submit
					//- 	.col-md-12.my-5.text-center
					//- 		button.btn.btn-primary(type='submit') Submit
							//- a.btn-design.btn-valid(href="/guest/events") Cancel
block addjs
	script.
		$('#textarea1').hide();
		$('#textarea2').hide();
		$('#radioup').click(function() {
			$('#textarea1').slideUp();
			$('#textarea2').slideUp();
		});
		$('#exampleRadios1').click(function() {
			$('#textarea1').slideDown();
			$('#textarea2').slideUp();
		});
		$('#exampleRadios3').click(function() {
			$('#textarea1').slideUp();
			$('#textarea2').slideDown();
		});
		
		$('.selectpicker').selectpicker({
			style: 'btn-primary',
			size: 4
		});
