extends ../../../../templates/guests
block main
	style.
		.swal2-container {
		z-index: 10000000000;
		}
		#header-style-1 {
			background-image: url(/imgchurch/reservation.jpg)
		}
		.btn-sm {
			font-size: 12px;
			min-width: 40px;
			padding: 5px 11px;
		}
		.form-control
			{
				display:block;
				width:100%;
				min-height:20px;
				padding:.375rem .75rem;
				font-size:.75rem;
				line-height:1.5;
				color:#495057;
				background-color:#fff;
				background-clip:padding-box;
				border:1px solid #ced4da;
				border-radius:.25rem;
				transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out
			}
			.custom-select.custom-select-sm.form-control.form-control-sm {
				margin:0;
			}
	#headers
		#header-style-1
			.container
				.header-caption
					.row
						.col-md-12.header-content
							h3.header-title.animated.fadeInDown.invisible
								span.text-primary Helium - 
								| Bootstrap 4 UI Kit
							h5.header-text.animated.fadeIn.invisible
								| Lorem ipsum dolor sit amet, consectetuer adipiscing elit<br>Lorem ipsum dolor sit amet, consectetuer.</h5>
							//- a.page-scroll.btn.btn-lg.btn-default-filled.animated.fadeInUp.invisible(href="#") Download Now
							//- a.page-scroll.btn.btn-lg.btn-common.animated.fadeInUp.invisible(href="#") Explore
		#raised-section.main.main-raised
			section.form-box
				.container
					.row
						.col-md-12.form-wizard
							h3 Reservation List
							p 
					.row
						.col-lg-12.col-md-12.mb-60
							table.table#dataTable
								thead
									tr.text-center
										th Name
										th Status
										th Event Date
										th Event Time
										th Actions
								tbody
									each reservation in reservations
										tr.text-center
											td.eventname(value=reservation.var_eventname)=reservation.var_eventname
											td=reservation.char_approvalstatus
											td=reservation.date_eventdate
											td=reservation.time_eventstart
											td.td-actions
												button.btn-info.btn-sm.viewButton(type='button',rel='tooltip', value=reservation.int_eventinfoID) View
												button.btn-success.btn-sm.updateButton(type='button',rel='tooltip', value=reservation.int_eventinfoID) Edit
												button.btn.btn-danger.btn-sm.cancelButton(type='button',rel='tooltip',value=`${reservation.int_eventinfoID}`) Cancel
												| &nbsp;
	#viewModal.modal.fade(tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
			.modal-dialog.modal-lg(role="document")
				.modal-content
					.modal-header(style='background:#367587; color:white')
						h4.modal-title(style='background:#367587; color:white') View Application Form
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span.p-3(aria-hidden='true' style='background:#367587; color:white') ×
					.modal-body#viewBodyAppend
	#updateModal.modal.fade( role="dialog" aria-labelledby="exampleModalLabel")
		.modal-dialog.modal-lg(role="document")
			.modal-content
				.modal-header(style='background:#367587; color:white')
					h4.modal-title(style='background:#367587; color:white') Update Application
				.modal-body#updateBodyAppend
				.modal-footer.mx-auto
					button.btn.btn-outline.btn-common.pull-left#confirmButton(type='button') Update
	#messageModal.modal.fade(tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
		.modal-dialog.modal-lg(role="document")
			.modal-content
				.modal-header(style='background:red')
					h5.modal-title(style='color:white') Message for the Guest
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span.p-3(aria-hidden='true' style='color:white') ×
				.modal-body#messageAppend
				.modal-footer.mx-auto
					//- button.btn.btn-outline.btn-secondary.pull-left#cancellButton(type='button', data-dismiss='modal') Close
					button.btn.btn-danger#sendMessage(type="button") Send

block addjs
	script.
		$(document).ready(function() {

			$('#dataTable').DataTable( {
				responsive: {
						details: {
							display: $.fn.dataTable.Responsive.display.modal( {
									header: function ( row ) {
											var data = row.data();
											return 'Details for '+data[0]+' '+data[1];
									}
							} ),
							renderer: $.fn.dataTable.Responsive.renderer.tableAll( {
									tableClass: 'table'
							} )
						}
				}
				});
				$(document).on('click','.viewButton',function(){
				var idNow = $(this).val()
				console.log(idNow)
				//- console.log($('.eventname').attr('value'))
				var eventname = $('.eventname').attr('value')
				$.post('/guest/reservation/query',{id:idNow}).done(data=>{
					if(data[0].var_eventname == "Marriage"){
						window.location=`/guest/weddingDetails/${data[0].int_eventinfoID}`
						//- $.post(`/guest/weddingDetails/${data[0].int_eventinfoID}`)
					}

					//DONT DELETE MARRIAGE1 (PARA LANG DI HUMABA, HIRAP PAG NAKACOMMENT SYA, DI MAMINIMIZE)
					else if(data[0].var_eventname == "Marriage1"){
						var dateRequested = moment(data[0].date_eventdate).format('MM/DD/YYYY')
						var gbirthday = moment(data[0].date_birthday).format('MM/DD/YYYY')
						var bbirthday = moment(data[0].date_bbirthday).format('MM/DD/YYYY')
						var timeRequested = moment(data[0].time_eventstart,'HH:mm:ss').format('hh:mm A')
						console.log(timeRequested)
						var age = moment().diff(data.date_birthday,'years');
						$('#viewBodyAppend').append(`
							<div class="row">
								<div class="col-md-6">
									<h6 class="label-control">Desired Date:</h6>
									<input type="text" class="form-control" value="${dateRequested}" disabled> 
								</div>
								<div class="col-md-6">
									<h6 class="label-control"> Desired Time:</h6>
									<input type="text" class="form-control" value="${timeRequested}" disabled> 
								</div>
							</div>
							<h6>Groom</h6>
						
							<div class="row">
								<div class="col-md-4 px-lg-3 px-md-0 px-sm-0">
									<div class="form-group">
										<h6 class="label-control">Full Name</h6><input class="form-control" id="lastname" type="text" name="glastname" value= "${data[0].var_lname}, ${data[0].var_fname}" disabled/>
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-md-4 px-lg-3 px-md-0 px-sm-0">
									<div class="form-group">
										<h6 class="label-control">Birthday:</h6><input class="form-control" type="text" name="gbirthday" value= ${gbirthday} disabled/>
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-md-4 pr-lg-3 px-md-0 px-sm-0">
									<div class="form-group">
										<h6 class="label-control">Birthplace:</h6><input class="form-control" type="text" name="gbirthplace" value=${data[0].var_birthplace} disabled/>
										<div class="help-block with-errors"></div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 px-lg-3 px-md-0 px-sm-0">
									<div class="form-group">
										<h6 for="exampleFormControlTextarea1">Address:</h6><input class="form-control" rows="2" name="gaddress" value='${data[0].var_address}'disabled/>
										<div class="help-block with-errors"></div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-4 px-lg-3 px-md-0 px-sm-0 pl-sm-3 extra-small-balance">
									<div class="form-group">
										<h6 class="label-control">Civil Status:</h6><input class="form-control" type="text" name="gcivilstatus" value='${data[0].var_gcivilstatus}'disabled/>
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-md-4 px-lg-3 pr-md-3 px-sm-0">
									<div class="form-group">
										<h6 class="label-control">Occupation:</h6><input class="form-control" type="text" name="goccupation" value='${data[0].var_goccupation}'disabled/>
										<div class="help-block with-errors"></div>
									</div>
								</div>
								
								<div class="col-md-4 px-lg-3 px-md-0 px-sm-0">
									<div class="form-group">
										<h6 class="label-control">Nationality:</h6><input class="form-control" type="text" name="gnationality" value='${data[0].var_gnationality}'disabled/>
										<div class="help-block with-errors"></div>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-4 px-lg-3 px-md-0 px-sm-0 pl-sm-3 extra-small-balance">
									<div class="form-group">
										<h6 class="label-control">Religion:</h6><input class="form-control" type="text" name="greligion" value='${data[0].var_greligion}'disabled/>
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-md-8 px-lg-3 pr-md-3 px-sm-0">
									<div class="form-group">
										<h6 class="label-control">Current Parish:</h6><input class="form-control" type="text" name="gcurrparish" value='${data[0].var_gcurrparish}'disabled/>
										<div class="help-block with-errors"></div>
									</div>
								</div>
								
							</div>
							<div class="row">
								<div class="col-md-4 px-lg-3 px-md-3 px-sm-3">
									<div class="form-group">
										<h6 class="label-control">Father's Full Name:</h6><input class="form-control" type="text" name="gfathername" value='${data[0].var_gfathername}'disabled/>
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-md-4 p-lg-0 px-md-3 px-sm-0">
									<div class="form-group">
										<h6 class="label-control">Father's Birthplace:</h6><input class="form-control" type="text" name="gfatherbplace" value='${data[0].var_gfatherbplace}'disabled/>
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-md-4 px-lg-3 px-md-0 px-sm-0">
									<div class="form-group">
										<h6 class="label-control">Father's Religion:</h6><input class="form-control" type="text" name="gfatherreligion" value='${data[0].var_gfatherreligion}'disabled/>
										<div class="help-block with-errors"></div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 px-lg-3 px-md-0 px-sm-0">
									<div class="form-group">
										<h6 class="label-control">Mother's Full Name:</h6><input class="form-control" type="text" name="gmothername" value='${data[0].var_gmothername}'disabled/>
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-md-4 p-lg-0 px-md-3 px-sm-0">
									<div class="form-group">
										<h6 class="label-control">Mother's Birthplace:</h6><input class="form-control" type="text" name="gmotherbplace" value='${data[0].var_gmotherbplace}'disabled/>
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-md-4 px-lg-3 px-md-0 px-sm-0">
									<div class="form-group">
										<h6 class="label-control">Mother's Religion:</h6><input class="form-control" type="text" name="gmotherreligion" value='${data[0].var_gmotherreligion}'disabled/>
										<div class="help-block with-errors"></div>
									</div>
								</div>
							</div>



							<hr>
							<h6>Bride</h6>
						
							<div class="row">
								<div class="col-md-4 px-lg-3 px-md-0 px-sm-0">
									<div class="form-group">
										<h6 class="label-control">Full Name</h6><input class="form-control" id="lastname" type="text" name="blastname" value= "${data[0].var_blname}, ${data[0].var_bfname}" disabled/>
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-md-4 px-lg-3 px-md-0 px-sm-0">
									<div class="form-group">
										<h6 class="label-control">Birthday:</h6><input class="form-control" type="text" name="bbirthday" value= ${bbirthday} disabled/>
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-md-4 pr-lg-3 px-md-3 px-sm-0">
									<div class="form-group">
										<h6 class="label-control">Birthplace:</h6><input class="form-control" type="text" name="bbirthplace" value=${data[0].var_bbirthplace} disabled/>
										<div class="help-block with-errors"></div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12 px-lg-3 px-md-0 px-sm-0">
									<div class="form-group">
										<h6 for="exampleFormControlTextarea1">Address:</h6><input class="form-control" rows="2" name="baddress" value='${data[0].var_baddress}'disabled/>
										<div class="help-block with-errors"></div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-4 px-lg-3 px-md-0 px-sm-0 pl-sm-3 extra-small-balance">
									<div class="form-group">
										<h6 class="label-control">Civil Status:</h6><input class="form-control" type="text" name="bcivilstatus" value='${data[0].var_bcivilstatus}'disabled/>
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-md-4 px-lg-3 pr-md-3 px-sm-0">
									<div class="form-group">
										<h6 class="label-control">Occupation:</h6><input class="form-control" type="text" name="boccupation" value='${data[0].var_boccupation}'disabled/>
										<div class="help-block with-errors"></div>
									</div>
								</div>
								
								<div class="col-md-4 px-lg-3 px-md-0 px-sm-0">
									<div class="form-group">
										<h6 class="label-control">Nationality:</h6><input class="form-control" type="text" name="bnationality" value='${data[0].var_bnationality}'disabled/>
										<div class="help-block with-errors"></div>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-4 px-lg-3 px-md-0 px-sm-0 pl-sm-3 extra-small-balance">
									<div class="form-group">
										<h6 class="label-control">Religion:</h6><input class="form-control" type="text" name="breligion" value='${data[0].var_breligion}'disabled/>
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-md-8 px-lg-3 pr-md-3 px-sm-0">
									<div class="form-group">
										<h6 class="label-control">Current Parish:</h6><input class="form-control" type="text" name="bcurrparish" value='${data[0].var_bcurrparish}'disabled/>
										<div class="help-block with-errors"></div>
									</div>
								</div>
								
							</div>
							<div class="row">
								<div class="col-md-4 px-lg-3 px-md-3 px-sm-3">
									<div class="form-group">
										<h6 class="label-control">Father's Full Name:</h6><input class="form-control" type="text" name="bfathername" value='${data[0].var_bfathername}'disabled/>
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-md-4 p-lg-0 px-md-3 px-sm-0">
									<div class="form-group">
										<h6 class="label-control">Father's Birthplace:</h6><input class="form-control" type="text" name="bfatherbplace" value='${data[0].var_bfatherbplace}'disabled/>
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-md-4 px-lg-3 px-md-0 px-sm-0">
									<div class="form-group">
										<h6 class="label-control">Father's Religion:</h6><input class="form-control" type="text" name="bfatherreligion" value='${data[0].var_bfatherreligion}'disabled/>
										<div class="help-block with-errors"></div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 px-lg-3 px-md-0 px-sm-0">
									<div class="form-group">
										<h6 class="label-control">Mother's Full Name:</h6><input class="form-control" type="text" name="bmothername" value='${data[0].var_bmothername}'disabled/>
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-md-4 p-lg-0 px-md-3 px-sm-0">
									<div class="form-group">
										<h6 class="label-control">Mother's Birthplace:</h6><input class="form-control" type="text" name="bmotherbplace" value='${data[0].var_bmotherbplace}'disabled/>
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-md-4 px-lg-3 px-md-0 px-sm-0">
									<div class="form-group">
										<h6 class="label-control">Mother's Religion:</h6><input class="form-control" type="text" name="bmotherreligion" value='${data[0].var_bmotherreligion}'disabled/>
										<div class="help-block with-errors"></div>
									</div>
								</div>
							</div>
							`)
						if(data[0].char_approvalstatus == "Pending" && data[0].char_paymentstatus == "Unpaid"){
							$('#refund').append(`
							<button id="voucher" type="button" class="btn btn-common">Voucher</button>
							`)	
							$('#voucher').click(function(){
								console.log(data[0].int_voucherID)
								$.post('/guest/voucherEvents',{voucherId:data[0].int_voucherID}).done(data=>{
									for(i=0;i<data.sponsors.length;i++){
											console.log("sponsors"+data.sponsors[i])
											}
											console.log(data.voucherinfo[0])
											console.log("info"+data.voucherinfo[0])
											$(document).off('click', '#voucherButton')
												function toDataURL(url, callback) {
													var xhr = new XMLHttpRequest();
													xhr.onload = function() {
														var reader = new FileReader();
														reader.onloadend = function() {
														callback(reader.result);
														}
														reader.readAsDataURL(xhr.response);
													};
													xhr.open('GET', url);
													xhr.responseType = 'blob';
													xhr.send();
												}
												toDataURL('/document_templates/voucherTemplate3witheventname.png', function(dataUrl) {
													toDataURL('/document_templates/logo.png', function(logo) {
														var sponsorText = [];
														var sponsorX = [65,393,507];
														var sponsorY = 243;
														console.log(`${data.sponsors}`)
														for(i=0;i<data.sponsors[i].length;i++){
															sponsorText.push({
																text: `${data.sponsor[i].var_sponsorname}`,
																style: 'styleLabelEvent',
																absolutePosition: {x:sponsorX[0], y:sponsorY},
															})
														}
														var docDefinition = {
															pageMargins: [ 0, 35, 0, 0 ],
															content: [
																{
																	image: dataUrl,
																	width: 610,
																	//- height: 100,
																},
																{
																	image: logo,
																	width: 45,
																	height: 40,
																	absolutePosition: {x:13, y:60},
																},
																{
																	image: logo,
																	width: 45,
																	height: 40,
																	absolutePosition: {x:13, y:447},
																},
																//mga laman sa taas
																{
																text:'500-0239',
																style: 'styleLabelTop',
																absolutePosition: {x:350, y:45},
																},
																{
																text:'churcheventapp@gmail.com',
																style: 'styleLabelTop',
																absolutePosition: {x:257, y:68},
																},
																{
																text:'inanglupangpangako.com',
																style: 'styleLabelTop',
																absolutePosition: {x:269, y:90},
																},
																{
																text:'Urban, Brgy. Payatas B. 1119',
																style: 'styleLabelTop',
																absolutePosition: {x:444, y:45},
																},
																{
																text:'Quezon City, Manila',
																style: 'styleLabelTop',
																absolutePosition: {x:487, y:68},
																},
																//- {
																//- text:`#${data.var_vouchercode}`,
																//- style: 'styleLabelTop',
																//- absolutePosition: {x:495, y:90},
																//- },
																//Middle part
																{
																text:`${data.voucherinfo[0].var_userfname} ${data.voucherinfo[0].var_userlname}`,
																style: 'styleLabelMiddle',
																absolutePosition: {x:51, y:127},
																},
																{
																text:`${data.voucherinfo[0].var_useraddress}`,
																style: 'styleLabelMiddle',
																absolutePosition: {x:51, y:140},
																},
																{
																text:`# ${data.voucherinfo[0].var_vouchercode}`,
																style: 'styleLabelMiddle',
																absolutePosition: {x:225, y:127},
																},
																{
																text:`${moment(data.voucherinfo[0].date_due).format('MM/DD/YYYY')}`,
																style: 'styleLabelMiddle',
																absolutePosition: {x:225, y:140},
																},
																{
																text:`${moment(data.voucherinfo[0].date_issued).format('MM/DD/YYYY')}`,
																style: 'styleLabelMiddle',
																absolutePosition: {x:225, y:153},
																},
																//table Contents
																// .toUpperCase() yung event name before ilagay sa pdfmake
																//ito yung ifoforeach mu rae
																{ 
																text: `${data.voucherinfo[0].var_eventname}`,
																style: 'styleLabelEventName',
																absolutePosition: {x:65, y:217},
																},
																{
																text: `₱ ${data.voucherinfo[0].dbl_amount.toFixed(2)}`,
																style: 'styleLabelEvent',
																absolutePosition: {x:393, y:217},
																},
																{
																text:`₱ ${data.voucherinfo[0].dbl_amount.toFixed(2)}`,
																style: 'styleLabelEvent',
																absolutePosition: {x:507, y:217},
																},
																// second row para malaman kung ilan idadagdag per ikot sa y-axis pag nagforeach 26 added
																{
																text: `Number of Sponsors : ${data.sponsors.length}`,
																style: 'styleLabelEventName',
																absolutePosition: {x:65, y:243},
																},
																{
																text: '₱ 50/head',
																style: 'styleLabelEvent',
																absolutePosition: {x:393, y:243},
																},
																{
																text: `₱ ${(data.sponsors.length*50).toFixed(2)}`,
																style: 'styleLabelEvent',
																absolutePosition: {x:506, y:243},
																},
																//total amount
																{
																text: `₱ ${((data.sponsors.length*50) + data.voucherinfo[0].dbl_amount).toFixed(2)}`,
																style: 'styleLabelTA',
																absolutePosition: {x:476, y:354},
																},
																//remaining days
																{
																text: '14',
																style: 'styleLabelRemaining',
																absolutePosition: {x:338, y:389},
																},
																//IBABANG VOUCHER 387 sa y-axis dinagdag
																{
																text:'500-0239',
																style: 'styleLabelTop',
																absolutePosition: {x:350, y:432},
																},
																{
																text:'churcheventapp@gmail.com',
																style: 'styleLabelTop',
																absolutePosition: {x:257, y:455},
																},
																{
																text:'inanglupangpangako.com',
																style: 'styleLabelTop',
																absolutePosition: {x:269, y:477},
																},
																{
																text:'Urban, Brgy. Payatas B. 1119',
																style: 'styleLabelTop',
																absolutePosition: {x:444, y:432},
																},
																{
																text:'Quezon City, Manila',
																style: 'styleLabelTop',
																absolutePosition: {x:487, y:455},
																},
																//Middle part
																{
																text:`${data.voucherinfo[0].var_userfname} ${data.voucherinfo[0].var_userlname}`,
																style: 'styleLabelMiddle',
																absolutePosition: {x:51, y:514},
																},
																{
																text:`${data.voucherinfo[0].var_useraddress}`,
																style: 'styleLabelMiddle',
																absolutePosition: {x:51, y:527},
																},
																{
																text:`# ${data.voucherinfo[0].var_vouchercode}`,
																style: 'styleLabelMiddle',
																absolutePosition: {x:225, y:514},
																},
																{
																text:`${moment(data.voucherinfo[0].date_due).format('MM/DD/YYYY')}`,
																style: 'styleLabelMiddle',
																absolutePosition: {x:225, y:527},
																},
																{
																text:`${moment(data.voucherinfo[0].date_issued).format('MM/DD/YYYY')}`,
																style: 'styleLabelMiddle',
																absolutePosition: {x:225, y:540},
																},
																//table Contents
																// .toUpperCase() yung event name before ilagay sa pdfmake
																//ito yung ifoforeach mu rae
																{
																text: `${data.voucherinfo[0].var_eventname}`,
																style: 'styleLabelEventName',
																absolutePosition: {x:65, y:604},
																},
																{
																text:  `₱ ${data.voucherinfo[0].dbl_amount.toFixed(2)}`,
																style: 'styleLabelEvent',
																absolutePosition: {x:393, y:604},
																},
																{
																text: `₱ ${data.voucherinfo[0].dbl_amount.toFixed(2)}`,
																style: 'styleLabelEvent',
																absolutePosition: {x:507, y:604},
																},
																// second row para malaman kung ilan idadagdag per ikot sa y-axis pag nagforeach 26 added
																{
																text: `Number of Sponsors : ${data.sponsors.length}`,
																style: 'styleLabelEventName',
																absolutePosition: {x:65, y:630},
																},
																{
																text: '₱ 50/head',
																style: 'styleLabelEvent',
																absolutePosition: {x:393, y:630},
																},
																{
																text: `₱ ${(data.sponsors.length*50).toFixed(2)}`,
																style: 'styleLabelEvent',
																absolutePosition: {x:506, y:630},
																},
																//total amount
																{
																text: `₱ ${((data.sponsors.length*50) + data.voucherinfo[0].dbl_amount).toFixed(2)}`,
																style: 'styleLabelTA',
																absolutePosition: {x:476, y:741},
																},
																//remaining days
																{
																text: '14',
																style: 'styleLabelRemaining',
																absolutePosition: {x:338, y:776},
																},
																//- {
																//- text:`${data[0].int_voucherID}` + `${data.int_userID}` + `${data.int_eventinfoID}`,
																//- style: 'styleLabelFill',
																//- absolutePosition: {x:520, y:28},
																//- text: 'Date: ' + dateRequested,
																//- },
															],
															styles: {
																styleLabel: {
																	font: 'EdwardianScript',
																	fontSize:85,
																},
																styleHeader: {
																	font: 'OldEnglishText',
																	fontSize: 45,
																	alignment: 'center',
																	margin: [0, 15, 0, 0],
																},
																styleHeader2: {
																	font: 'EdwardianScript',
																	fontSize: 33,
																	alignment: 'center',
																	margin: [0, 5, 0, 5],
																},
																styleLabel: {
																	font: 'EdwardianScript',
																	fontSize: 26,
																},
																styleLabelTop: {
																	font: 'Roboto',
																	fontSize: 11,
																	color: 'white',
																},
																styleLabelMiddle: {
																	font: 'Roboto',
																	fontSize: 9,
																},
																styleLabelMiddleTA: {
																	font: 'Roboto',
																	fontSize: 18,
																},
																styleLabelEventName: {
																	font: 'Roboto',
																	fontSize: 10,
																	bold: true,
																},
																styleLabelEvent: {
																	font: 'Roboto',
																	fontSize: 10,
																},
																styleLabelFill: {
																	font: 'Roboto',
																	fontSize: 20,
																},
																styleLabelTA: {
																	font: 'Roboto',
																	fontSize: 15,
																	color: 'white',
																	bold: true,
																},
																styleLabelRemaining: {
																	font: 'Roboto',
																	fontSize: 9,
																	italic: true,
																},
															},
														}
														pdfMake.fonts = {
															Roboto: {
																normal: 'Roboto-Regular.ttf',
																bold: 'Roboto-Medium.ttf',
																italic: 'Roboto-Italic.ttf',
																bolditalics: 'Roboto-MediumItalic.ttf',
															},
															EdwardianScript: {
																normal: 'Edwardian-script-itc-Regular.TTF'
															},
															OldEnglishText: {
																normal: 'Old-english-text-mt-Regular.ttf'
															},
															TimesNewRoman: {
																normal: 'Times-new-roman-Regular.ttf'
															}
														}
														pdfMake.createPdf(docDefinition).open();
														pdfMake.createPdf(docDefinition).download();
													});
												})
								})
							})
						}
					}
					else if(data[0].var_eventname == "Baptism" || data[0].var_eventname == "Special Baptism"){
						var dateRequested = moment(data[0].date_eventdate).format('MM/DD/YYYY')
						var timeRequested = moment(data[0].time_eventstart,'HH:mm:ss').format('hh:mm A')
						console.log(timeRequested)
						var age = moment().diff(data.date_birthday,'years');
						$('#viewBodyAppend').append(`
						<div class="row">
							<div class="col-md-6">
								<h6 class="label-control">Desired Date:</h6>
								<input type="text" class="form-control" value="${dateRequested}" disabled> 
							</div>
							<div class="col-md-6">
								<h6 class="label-control"> Desired Time:</h6>
								<input type="text" class="form-control" value="${timeRequested}" disabled> 
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<h6 class="label-control">Last Name:</h6>
								<input type="text" class="form-control" value="${data[0].var_lname}" disabled> 
							</div>
							<div class="col-md-4">
								<h6 class="label-control p-0"> First Name:</h6>
								<input type="text" class="form-control" value="${data[0].var_fname}" disabled> 
							</div>
							<div class="col-md-4">
								<h6 class="label-control">Gender:</h6>
								<input type="text" class="form-control" value="${data[0].char_gender}" disabled> 
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<h6 class="label-control">Relationship:</h6>
								<input type="text" class="form-control" value="${data[0].var_relation}" disabled> 
							</div>
							<div class="col-md-6">
								<h6 class="label-control">Contact No:</h6>
								<input type="text" class="form-control" value="${data[0].var_contactnum}" disabled> 
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<h6 class="label-control">Birth Date:</h6>
								<input type="text" class="form-control" value="${moment(data[0].date_birthday).format('YYYY-MM-DD')}" disabled> 
							</div>
							<div class="col-md-6">
								<h6 class="label-control">Birth Place:</h6>
								<input type="text" class="form-control" value="${data[0].var_birthplace}" disabled> 
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<h6 class="label-control">Mother's Name:</h6>
								<input type="text" class="form-control" value="${data[0].var_mothername}" disabled> 
							</div>
							<div class="col-md-6">
								<h6 class="label-control">Mother's Birthplace:</h6>
								<input type="text" class="form-control" value="${data[0].var_motherbplace}" disabled> 
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<h6 class="label-control">Father's Name:</h6>
								<input type="text" class="form-control" value="${data[0].var_fathername}" disabled> 
							</div>
							<div class="col-md-6">
								<h6 class="label-control">Father's Birthplace:</h6>
								<input type="text" class="form-control" value="${data[0].var_fatherbplace}" disabled> 
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<h6 class="label-control">Address:</h6>
								<input type="text" class="form-control" value="${data[0].var_address}" disabled> 
							</div>
							<div class="col-md-6">
								<h6 class="label-control">Parent Marriage Address:</h6>
								<input type="text" class="form-control" value="${data[0].var_parentmarriageadd}" disabled> 
							</div>
						</div>
						<div class="text-center" id="refund" class="form-group">
						</div>
						`)
						if(data[0].char_approvalstatus == "Cancelled"){
							if(data[0].char_paymentstatus == "Paid"){
							$('#refund').append(`
							<button id="refundslip" type="button" class="btn btn-common">Print Refund Slip</button>
							`)
							
							$('#refundslip').click(function(){
								console.log(idNow)
								$.post('/guest/refund',{id:idNow}).done(data=>{
									console.log(data)
									function toDataURL(url, callback) {
										var xhr = new XMLHttpRequest();
										xhr.onload = function() {
											var reader = new FileReader();
											reader.onloadend = function() {
											callback(reader.result);
											}
											reader.readAsDataURL(xhr.response);
										};
										xhr.open('GET', url);
										xhr.responseType = 'blob';
										xhr.send();
									}
									toDataURL('/document_templates/refund slip.png', function(dataUrl) {
										toDataURL('/document_templates/logo.png', function(logo) {
											var sponsorText = [];
											var sponsorX = [65,393,507];
											var sponsorY = 243;
											console.log(`${data.sponsors}`)
											var docDefinition = {
												pageMargins: [ 0, 35, 0, 0 ],
												content: [
													{
														image: dataUrl,
														width: 610,
														//- height: 100,
													},
													{
														image: logo,
														width: 45,
														height: 40,
														absolutePosition: {x:13, y:60},
													},
													{
														image: logo,
														width: 45,
														height: 40,
														absolutePosition: {x:13, y:447},
													},
													//mga laman sa taas
													{
													text:'500-0239',
													style: 'styleLabelTop',
													absolutePosition: {x:350, y:45},
													},
													{
													text:'churcheventapp@gmail.com',
													style: 'styleLabelTop',
													absolutePosition: {x:257, y:68},
													},
													{
													text:'inanglupangpangako.com',
													style: 'styleLabelTop',
													absolutePosition: {x:269, y:90},
													},
													{
													text:'Urban, Brgy. Payatas B. 1119',
													style: 'styleLabelTop',
													absolutePosition: {x:444, y:45},
													},
													{
													text:'Quezon City, Manila',
													style: 'styleLabelTop',
													absolutePosition: {x:487, y:68},
													},
													{
													text:`${data.voucherinfo[0].var_vouchercode}`,
													style: 'styleLabelTop',
													absolutePosition: {x:495, y:90},
													},
													//Middle part
													{
													text:`${data.voucherinfo[0].var_userfname} ${data.voucherinfo[0].var_userlname}`,
													style: 'styleLabelMiddle',
													absolutePosition: {x:51, y:127},
													},
													{
													text:`${data.voucherinfo[0].var_useraddress}`,
													style: 'styleLabelMiddle',
													absolutePosition: {x:51, y:140},
													},
													{
													text:`${moment(data.voucherinfo[0].date_refundissued).format('MM/DD/YYYY')}`,
													style: 'styleLabelMiddle',
													absolutePosition: {x:225, y:140},
													},
													{
													text:`${moment(data.voucherinfo[0].date_refunddue).format('MM/DD/YYYY')}`,
													style: 'styleLabelMiddle',
													absolutePosition: {x:225, y:153},
													},
													{
													text: `₱ ${(((data.sponsors.length*50) + data.voucherinfo[0].dbl_amount) - (((data.sponsors.length*50) + data.voucherinfo[0].dbl_amount)*(data.voucherinfo[0].int_refundpercent*0.01))).toFixed(2)}`,
													style: 'styleLabelMiddleTA',
													absolutePosition: {x:505, y:143},
													},
													{ 
													text: `${data.voucherinfo[0].var_eventname}`,
													style: 'styleLabelEventName',
													absolutePosition: {x:65, y:217},
													},
													{
													text:`% ${data.voucherinfo[0].int_refundpercent}`,
													style: 'styleLabelEvent',
													absolutePosition: {x:393, y:217},
													},
													{
													text: `₱ ${((data.sponsors.length*50) + data.voucherinfo[0].dbl_amount).toFixed(2)}`,
													style: 'styleLabelEvent',
													absolutePosition: {x:507, y:217},
													},
													
													//total amount
													{
													text: `₱ ${(((data.sponsors.length*50) + data.voucherinfo[0].dbl_amount) - (((data.sponsors.length*50) + data.voucherinfo[0].dbl_amount)*(data.voucherinfo[0].int_refundpercent*0.01))).toFixed(2)}`,
													style: 'styleLabelTA',
													absolutePosition: {x:476, y:354},
													},
													//remaining days
													{
													text: '7',
													style: 'styleLabelRemaining',
													absolutePosition: {x:338, y:389},
													},
													//IBABANG VOUCHER 387 sa y-axis dinagdag
													{
													text:'500-0239',
													style: 'styleLabelTop',
													absolutePosition: {x:350, y:432},
													},
													{
													text:'churcheventapp@gmail.com',
													style: 'styleLabelTop',
													absolutePosition: {x:257, y:455},
													},
													{
													text:'inanglupangpangako.com',
													style: 'styleLabelTop',
													absolutePosition: {x:269, y:477},
													},
													{
													text:'Urban, Brgy. Payatas B. 1119',
													style: 'styleLabelTop',
													absolutePosition: {x:444, y:432},
													},
													{
													text:'Quezon City, Manila',
													style: 'styleLabelTop',
													absolutePosition: {x:487, y:455},
													},
													
													//Middle part
													{
													text:`${data.voucherinfo[0].var_userfname} ${data.voucherinfo[0].var_userlname}`,
													style: 'styleLabelMiddle',
													absolutePosition: {x:51, y:514},
													},
													{
													text:`${data.voucherinfo[0].var_useraddress}`,
													style: 'styleLabelMiddle',
													absolutePosition: {x:51, y:527},
													},
													{
													text:`# ${data.voucherinfo[0].var_vouhercode}`,
													style: 'styleLabelMiddle',
													absolutePosition: {x:225, y:514},
													},
													{
													text:`${moment(data.voucherinfo[0].date_refundissued).format('MM/DD/YYYY')}`,
													style: 'styleLabelMiddle',
													absolutePosition: {x:225, y:527},
													},
													{
													text:`${moment(data.voucherinfo[0].date_refunddue).format('MM/DD/YYYY')}`,
													style: 'styleLabelMiddle',
													absolutePosition: {x:225, y:540},
													},
													{
													text: `₱ ${(((data.sponsors.length*50) + data.voucherinfo[0].dbl_amount) - (((data.sponsors.length*50) + data.voucherinfo[0].dbl_amount)*(data.voucherinfo[0].int_refundpercent*0.01))).toFixed(2)}`,
													style: 'styleLabelMiddleTA',
													absolutePosition: {x:505, y:530},
													},
													//table Contents
													// .toUpperCase() yung event name before ilagay sa pdfmake
													//ito yung ifoforeach mu rae
													{
													text: `${data.voucherinfo[0].var_eventname}`,
													style: 'styleLabelEventName',
													absolutePosition: {x:65, y:604},
													},
													{
													text:  `% ${data.voucherinfo[0].int_refundpercent}`,
													style: 'styleLabelEvent',
													absolutePosition: {x:393, y:604},
													},
													{
													text: `₱ ${((data.sponsors.length*50) + data.voucherinfo[0].dbl_amount).toFixed(2)}`,
													style: 'styleLabelEvent',
													absolutePosition: {x:507, y:604},
													},
													//total amount
													{
													text: `₱ ${(((data.sponsors.length*50) + data.voucherinfo[0].dbl_amount) - (((data.sponsors.length*50) + data.voucherinfo[0].dbl_amount)*(data.voucherinfo[0].int_refundpercent*0.01))).toFixed(2)}`,
													style: 'styleLabelTA',
													absolutePosition: {x:476, y:741},
													},
													//remaining days
													{
													text: '7',
													style: 'styleLabelRemaining',
													absolutePosition: {x:338, y:776},
													},
												],
												styles: {
													styleLabel: {
														font: 'EdwardianScript',
														fontSize:85,
													},
													styleHeader: {
														font: 'OldEnglishText',
														fontSize: 45,
														alignment: 'center',
														margin: [0, 15, 0, 0],
													},
													styleHeader2: {
														font: 'EdwardianScript',
														fontSize: 33,
														alignment: 'center',
														margin: [0, 5, 0, 5],
													},
													styleLabel: {
														font: 'EdwardianScript',
														fontSize: 26,
													},
													styleLabelTop: {
														font: 'Roboto',
														fontSize: 11,
														color: 'white',
													},
													styleLabelMiddle: {
														font: 'Roboto',
														fontSize: 9,
													},
													styleLabelMiddleTA: {
														font: 'Roboto',
														fontSize: 18,
													},
													styleLabelEventName: {
														font: 'Roboto',
														fontSize: 10,
														bold: true,
													},
													styleLabelEvent: {
														font: 'Roboto',
														fontSize: 10,
													},
													styleLabelFill: {
														font: 'Roboto',
														fontSize: 20,
													},
													styleLabelTA: {
														font: 'Roboto',
														fontSize: 15,
														color: 'white',
														bold: true,
													},
													styleLabelRemaining: {
														font: 'Roboto',
														fontSize: 9,
														italic: true,
													},
												},
											}
											pdfMake.fonts = {
												Roboto: {
													normal: 'Roboto-Regular.ttf',
													bold: 'Roboto-Medium.ttf',
													italic: 'Roboto-Italic.ttf',
													bolditalics: 'Roboto-MediumItalic.ttf',
												},
												EdwardianScript: {
													normal: 'Edwardian-script-itc-Regular.TTF'
												},
												OldEnglishText: {
													normal: 'Old-english-text-mt-Regular.ttf'
												},
												TimesNewRoman: {
													normal: 'Times-new-roman-Regular.ttf'
												}
											}
											pdfMake.createPdf(docDefinition).open();
											pdfMake.createPdf(docDefinition).download();
										});
									})


								})
							})
							}
						}
						else if(data[0].char_approvalstatus == "Pending" && data[0].char_paymentstatus == "Unpaid"){
						$('#refund').append(`
						<button id="voucher" type="button" class="btn btn-common">Print Voucher</button>
						`)	
						$('#voucher').click(function(){
							console.log(data[0].int_voucherID)
							
							$.post('/guest/voucherEvents',{voucherId:data[0].int_voucherID}).done(data=>{
								for(i=0;i<data.sponsors.length;i++){
										console.log("sponsors"+data.sponsors[i])
										}
										console.log(data.voucherinfo[0].var_vouchercode)
										console.log("info"+data.voucherinfo[0])
										$(document).off('click', '#voucherButton')
											function toDataURL(url, callback) {
												var xhr = new XMLHttpRequest();
												xhr.onload = function() {
													var reader = new FileReader();
													reader.onloadend = function() {
													callback(reader.result);
													}
													reader.readAsDataURL(xhr.response);
												};
												xhr.open('GET', url);
												xhr.responseType = 'blob';
												xhr.send();
											}
											toDataURL('/document_templates/voucherTemplate3witheventname.png', function(dataUrl) {
												toDataURL('/document_templates/logo.png', function(logo) {
													var sponsorText = [];
													var sponsorX = [65,393,507];
													var sponsorY = 243;
													console.log(`${data.sponsors}`)
													for(i=0;i<data.sponsors[i].length;i++){
														sponsorText.push({
															text: `${data.sponsor[i].var_sponsorname}`,
															style: 'styleLabelEvent',
															absolutePosition: {x:sponsorX[0], y:sponsorY},
														})
													}
													var docDefinition = {
														pageMargins: [ 0, 35, 0, 0 ],
														content: [
															{
																image: dataUrl,
																width: 610,
																//- height: 100,
															},
															{
																image: logo,
																width: 45,
																height: 40,
																absolutePosition: {x:13, y:60},
															},
															{
																image: logo,
																width: 45,
																height: 40,
																absolutePosition: {x:13, y:447},
															},
															//mga laman sa taas
															{
															text:'500-0239',
															style: 'styleLabelTop',
															absolutePosition: {x:350, y:45},
															},
															{
															text:'churcheventapp@gmail.com',
															style: 'styleLabelTop',
															absolutePosition: {x:257, y:68},
															},
															{
															text:'inanglupangpangako.com',
															style: 'styleLabelTop',
															absolutePosition: {x:269, y:90},
															},
															{
															text:'Urban, Brgy. Payatas B. 1119',
															style: 'styleLabelTop',
															absolutePosition: {x:444, y:45},
															},
															{
															text:'Quezon City, Manila',
															style: 'styleLabelTop',
															absolutePosition: {x:487, y:68},
															},
															{
															text:`${data.voucherinfo[0].var_vouchercode}`,
															style: 'styleLabelTop',
															absolutePosition: {x:495, y:90},
															},
															//Middle part
															{
															text:`${data.voucherinfo[0].var_userfname} ${data.voucherinfo[0].var_userlname}`,
															style: 'styleLabelMiddle',
															absolutePosition: {x:51, y:127},
															},
															{
															text:`${data.voucherinfo[0].var_useraddress}`,
															style: 'styleLabelMiddle',
															absolutePosition: {x:51, y:140},
															},
															{
															text:`# ${data.voucherinfo[0].var_vouchercode}`,
															style: 'styleLabelMiddle',
															absolutePosition: {x:225, y:127},
															},
															{
															text:`${moment(data.voucherinfo[0].date_issued).format('MM/DD/YYYY')}`,
															style: 'styleLabelMiddle',
															absolutePosition: {x:225, y:140},
															},
															{
															text:`${moment(data.voucherinfo[0].date_due).format('MM/DD/YYYY')}`,
															style: 'styleLabelMiddle',
															absolutePosition: {x:225, y:153},
															},
															//table Contents
															// .toUpperCase() yung event name before ilagay sa pdfmake
															//ito yung ifoforeach mu rae
															{ 
															text: `${data.voucherinfo[0].var_eventname}`,
															style: 'styleLabelEventName',
															absolutePosition: {x:65, y:217},
															},
															{
															text: `₱ ${data.voucherinfo[0].dbl_amount.toFixed(2)}`,
															style: 'styleLabelEvent',
															absolutePosition: {x:393, y:217},
															},
															{
															text:`₱ ${data.voucherinfo[0].dbl_amount.toFixed(2)}`,
															style: 'styleLabelEvent',
															absolutePosition: {x:507, y:217},
															},
															// second row para malaman kung ilan idadagdag per ikot sa y-axis pag nagforeach 26 added
															{
															text: `Number of Additional Sponsors : ${data.sponsors.length - 2}`,
															style: 'styleLabelEventName',
															absolutePosition: {x:65, y:243},
															},
															{
															text: '₱ 50/head',
															style: 'styleLabelEvent',
															absolutePosition: {x:393, y:243},
															},
															{
															text: `₱ ${((data.sponsors.length-2)*50).toFixed(2)}`,
															style: 'styleLabelEvent',
															absolutePosition: {x:506, y:243},
															},
															//total amount
															{
															text: `₱ ${(((data.sponsors.length-2)*50) + data.voucherinfo[0].dbl_amount).toFixed(2)}`,
															style: 'styleLabelTA',
															absolutePosition: {x:476, y:354},
															},
															//remaining days
															{
															text: '14',
															style: 'styleLabelRemaining',
															absolutePosition: {x:338, y:389},
															},
															//IBABANG VOUCHER 387 sa y-axis dinagdag
															{
															text:'500-0239',
															style: 'styleLabelTop',
															absolutePosition: {x:350, y:432},
															},
															{
															text:'churcheventapp@gmail.com',
															style: 'styleLabelTop',
															absolutePosition: {x:257, y:455},
															},
															{
															text:'inanglupangpangako.com',
															style: 'styleLabelTop',
															absolutePosition: {x:269, y:477},
															},
															{
															text:'Urban, Brgy. Payatas B. 1119',
															style: 'styleLabelTop',
															absolutePosition: {x:444, y:432},
															},
															{
															text:'Quezon City, Manila',
															style: 'styleLabelTop',
															absolutePosition: {x:487, y:455},
															},
															{
															text:'Voucher ID 42352',
															style: 'styleLabelTop',
															absolutePosition: {x:495, y:477},
															},
															//Middle part
															{
															text:`${data.voucherinfo[0].var_userfname} ${data.voucherinfo[0].var_userlname}`,
															style: 'styleLabelMiddle',
															absolutePosition: {x:51, y:514},
															},
															{
															text:`${data.voucherinfo[0].var_useraddress}`,
															style: 'styleLabelMiddle',
															absolutePosition: {x:51, y:527},
															},
															{
															text:`# ${data.voucherinfo[0].var_vouchercode}`,
															style: 'styleLabelMiddle',
															absolutePosition: {x:225, y:514},
															},
															{
															text:`${moment(data.voucherinfo[0].date_issued).format('MM/DD/YYYY')}`,
															style: 'styleLabelMiddle',
															absolutePosition: {x:225, y:527},
															},
															{
															text:`${moment(data.voucherinfo[0].date_due).format('MM/DD/YYYY')}`,
															style: 'styleLabelMiddle',
															absolutePosition: {x:225, y:540},
															},
															//table Contents
															// .toUpperCase() yung event name before ilagay sa pdfmake
															//ito yung ifoforeach mu rae
															{
															text: `${data.voucherinfo[0].var_eventname}`,
															style: 'styleLabelEventName',
															absolutePosition: {x:65, y:604},
															},
															{
															text:  `₱ ${data.voucherinfo[0].dbl_amount.toFixed(2)}`,
															style: 'styleLabelEvent',
															absolutePosition: {x:393, y:604},
															},
															{
															text: `₱ ${data.voucherinfo[0].dbl_amount.toFixed(2)}`,
															style: 'styleLabelEvent',
															absolutePosition: {x:507, y:604},
															},
															// second row para malaman kung ilan idadagdag per ikot sa y-axis pag nagforeach 26 added
															{
															text: `Number of Additional Sponsors : ${data.sponsors.length - 2}`,
															style: 'styleLabelEventName',
															absolutePosition: {x:65, y:630},
															},
															{
															text: '₱ 50/head',
															style: 'styleLabelEvent',
															absolutePosition: {x:393, y:630},
															},
															{
															text: `₱ ${((data.sponsors.length-2)*50).toFixed(2)}`,
															style: 'styleLabelEvent',
															absolutePosition: {x:506, y:630},
															},
															//total amount
															{
															text: `₱ ${(((data.sponsors.length-2)*50) + data.voucherinfo[0].dbl_amount).toFixed(2)}`,
															style: 'styleLabelTA',
															absolutePosition: {x:476, y:354},
															},
															//remaining days
															{
															text: '14',
															style: 'styleLabelRemaining',
															absolutePosition: {x:338, y:776},
															},
															//- {
															//- text:`${data[0].int_voucherID}` + `${data.int_userID}` + `${data.int_eventinfoID}`,
															//- style: 'styleLabelFill',
															//- absolutePosition: {x:520, y:28},
															//- text: 'Date: ' + dateRequested,
															//- },
														],
														styles: {
															styleLabel: {
																font: 'EdwardianScript',
																fontSize:85,
															},
															styleHeader: {
																font: 'OldEnglishText',
																fontSize: 45,
																alignment: 'center',
																margin: [0, 15, 0, 0],
															},
															styleHeader2: {
																font: 'EdwardianScript',
																fontSize: 33,
																alignment: 'center',
																margin: [0, 5, 0, 5],
															},
															styleLabel: {
																font: 'EdwardianScript',
																fontSize: 26,
															},
															styleLabelTop: {
																font: 'Roboto',
																fontSize: 11,
																color: 'white',
															},
															styleLabelMiddle: {
																font: 'Roboto',
																fontSize: 9,
															},
															styleLabelMiddleTA: {
																font: 'Roboto',
																fontSize: 18,
															},
															styleLabelEventName: {
																font: 'Roboto',
																fontSize: 10,
																bold: true,
															},
															styleLabelEvent: {
																font: 'Roboto',
																fontSize: 10,
															},
															styleLabelFill: {
																font: 'Roboto',
																fontSize: 20,
															},
															styleLabelTA: {
																font: 'Roboto',
																fontSize: 15,
																color: 'white',
																bold: true,
															},
															styleLabelRemaining: {
																font: 'Roboto',
																fontSize: 9,
																italic: true,
															},
														},
													}
													pdfMake.fonts = {
														Roboto: {
															normal: 'Roboto-Regular.ttf',
															bold: 'Roboto-Medium.ttf',
															italic: 'Roboto-Italic.ttf',
															bolditalics: 'Roboto-MediumItalic.ttf',
														},
														EdwardianScript: {
															normal: 'Edwardian-script-itc-Regular.TTF'
														},
														OldEnglishText: {
															normal: 'Old-english-text-mt-Regular.ttf'
														},
														TimesNewRoman: {
															normal: 'Times-new-roman-Regular.ttf'
														}
													}
													pdfMake.createPdf(docDefinition).open();
													pdfMake.createPdf(docDefinition).download();
												});
											})
							})
						})
						}
					}
					
					else if(data[0].var_eventname == "Anointing of the sick" || data[0].var_eventname == "Funeral Service"){
						var dateRequested = moment(data[0].date_eventdate).format('MM/DD/YYYY')
						var timeRequested = moment(data[0].time_eventstart,'HH:mm:ss').format('hh:mm A')
						$('#viewBodyAppend').append(`
						<table class="tableModal">
						<tr>
							<td class="tdModal h5"><strong> Desired Date: </strong> ${dateRequested}</td>
							<td class="tdModal h5"><strong> Desired Time:  </strong> ${timeRequested}</td>
						</tr>
						<tr>
							<td class="tdModal h5"><strong> Name of the Relative: </strong> ${data[0].var_lname}, ${data[0].var_fname}</td>
							<td class="tdModal h5"><strong> Gender:  </strong> ${data[0].char_gender}</td>
						</tr>
						<tr>
							<td class="tdModal h5"><strong> Relationship:  </strong> ${data[0].var_relation}</td>
						</tr>
						<tr>
							<td class="tdModal h5"><strong> Birth Date:  </strong> ${moment(data[0].date_birthday).format('YYYY-MM-DD')}</td>
							<td class="tdModal h5"><strong> Birth Place:  </strong> ${data[0].var_birthplace}</td>
						</tr>
						<tr>
							<td class="tdModal h5"><strong> Address:  </strong> ${data[0].var_address}</td>
						</tr>
						<div id="refund" class="form-group">
						</div>
						`)
					}
					$('#viewModal').modal('show')
					$('#viewModal').on('hidden.bs.modal',function(){
						$('#viewBodyAppend').empty()
					})
				})
				})
				$(document).on('click','.updateButton',function(){
					var idNow = $(this).val()
					console.log(idNow)
					var eventname = $('.eventname').attr('value')
					$.post('/guest/reservation/query',{id:idNow,eventname:eventname}).done(data=>{
						if(data[0].char_approvalstatus == "Pending"){
						if(data[0].var_eventname == "Baptism" || data[0].var_eventname == "Special Baptism"){
							var birthday = moment(data[0].date_birthday).format('YYYY-MM-DD')
							console.log(birthday)
							$('#updateBodyAppend').append(
								`
								<div class="row">
									<div class="col-md-4">
										<h6 class="label-control">Last Name:</h6>
										<input type="text" class="form-control" id="lastname" value="${data[0].var_fname}"> 
									</div>
									<div class="col-md-4">
										<h6 class="label-control"> First Name:</h6>
										<input type="text" class="form-control" id="firstname" value="${data[0].var_mname}"> 
									</div>
									<div class="col-md-4">
										<h6 class="label-control"> Middle Name:</h6>
										<input type="text" class="form-control" id="middlename" value="${data[0].var_lname}"> 
									</div>
								</div>
								<div class="row">
									<div class="col-md-3">
										<div class="form-group">
											<h6 class="label-control">Gender
											<div class="custom-control custom-radio">
												<input class="custom-control-input" id="customRadio1" type="radio" name="gender" value="Male" disabled/>
												<label class="custom-control-label" for="customRadio1">
												Male</label>
											</div>
											<div class="custom-control custom-radio">
												<input class="custom-control-input" id="customRadio2" type="radio" name="gender" value="Female" disabled/>
												<label class="custom-control-label" for="customRadio2">
												Female</label>
											</div>
											</h6>
										</div>
									</div>
									<div class="col-md-5">
										<h6 class="label-control"> Relationship:</h6>
										<div class="form-group">
											<select id="relation" type="text" name="relation" required="">
											</select>
										</div>
									</div>
									<div class="col-md-4">
										<h6 class="label-control"> Contact No:</h6>
										<div class="form-group">
											<input type="text" class="form-control" id="contactnumber" value="${data[0].var_contactnum}"> 
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<h6 class="label-control">Birth Date:</h6>
										<input type="text" class="form-control" id="birthday" value="${birthday}"> 
									</div>
									<div class="col-md-6">
										<h6 class="label-control">Birth Place:</h6>
										<input type="text" class="form-control" id="birthplace" value="${data[0].var_birthplace}"> 
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<h6 class="label-control">Mother's Name:</h6>
										<input type="text" class="form-control" id="mothername" value="${data[0].var_mothername}"> 
									</div>
									<div class="col-md-6">
										<h6 class="label-control">Mother's Birth Place:</h6>
										<input type="text" class="form-control" id="motherbplace" value="${data[0].var_motherbplace}"> 
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<h6 class="label-control">Father's Name:</h6>
										<input type="text" class="form-control" id="fathername" value="${data[0].var_fathername}"> 
									</div>
									<div class="col-md-6">
										<h6 class="label-control">Father's Birth Place:</h6>
										<input type="text" class="form-control" id="fatherbplace" value="${data[0].var_fatherbplace}"> 
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<h6 class="label-control">Address:</h6>
										<input type="text" class="form-control" id="address" value="${data[0].var_address}"> 
									</div>
									<div class="col-md-6">
										<h6 class="label-control">Parent's Marriage Address:</h6>
										<input type="text" class="form-control" id="parentmarriageaddress" value="${data[0].var_parentmarriageadd}"> 
									</div>
								</div>
								`)
								$('#updateModal').modal('show');
								$('#updateModal').on('hidden.bs.modal',function(){
									$('#updateBodyAppend').empty()
								})
								if(data[0].char_gender == "Male"){
								$('#customRadio1').prop('checked', true);
								}
								else if(data[0].char_gender == "Female"){
								$('#customRadio2').prop('checked', true);
								}
								if(data[0].var_relation == "Aunt/Uncle"){
									$('#relation').append(`
									<option id="relationAppend" selected="" value="" disabled="disabled">Choose...</option>
									<option selected="">Aunt/Uncle</option>
									<option>Parent</option>
									<option>Grandparent</option>
									<option>Sibling</option>
									`)								
								}
								else if(data[0].var_relation == "Parent"){
									$('#relation').append(`
									<option id="relationAppend" selected="" value="" disabled="disabled">Choose...</option>
									<option>Aunt/Uncle</option>
									<option selected="">Parent</option>
									<option>Grandparent</option>
									<option>Sibling</option>
									`)								
								}
								else if(data[0].var_relation == "Grandparent"){
									$('#relation').append(`
									<option id="relationAppend" selected="" value="" disabled="disabled">Choose...</option>
									<option>Aunt/Uncle</option>
									<option>Parent</option>
									<option selected="">Grandparent</option>
									<option>Sibling</option>
									`)								
								}
								else if(data[0].var_relation == "Sibling"){
									$('#relation').append(`
									<option id="relationAppend" selected="" value="" disabled="disabled">Choose...</option>
									<option>Aunt/Uncle</option>
									<option>Parent</option>
									<option>Grandparent</option>
									<option selected="">Sibling</option>
									`)								
								}
							$('#confirmButton').click(function(){
								console.log(idNow)
								var firstname = $('#firstname').val()
								var middlename = $('#middlename').val()
								var lastname = $('#lastname').val()
								var gender;
								var relation = $('#relation').val()
								var contactnum = $('#contactnumber').val()
								var birthplace = $('#birthplace').val()
								var mothername = $('#mothername').val()
								var motherbplace = $('#motherbplace').val()
								var fathername = $('#fathername').val()
								var fatherbplace = $('#fatherbplace').val()
								var address = $('#address').val()
								var parentmarriageaddress = $('#parentmarriageaddress').val()
								if ($("#customRadio1").prop("checked")) {
								gender = $("#customRadio1").val();
								}
								else if($("#customRadio2").prop("checked")){
								gender = $("#customRadio2").val();
								}
								var birthdate = moment($('#birthday').val()).format('YYYY-MM-DD')
								swal({
								title:'Are You Sure?', 
								text:'You want to update?', 
								type:'warning',
								showCancelButton: true,
								confirmButtonColor: '#3085d6',
								cancelButtonColor: '#d33',
								confirmButtonText: 'Confirm'
								}).then((result)=>{
								if(result.value){
									console.log($('#firstname').val())
									$.post('/guest/reservation/query/update',{
										firstname:firstname,
										middlename:middlename,
										lastname:lastname,
										gender:gender,
										relation:relation,
										contactnum:contactnum,
										birthdate:birthdate,
										birthplace:birthplace,
										mothername:mothername,
										motherbplace:motherbplace,
										fathername:fathername,
										fatherbplace:fatherbplace,
										eventname:data[0].var_eventname,
										address:address,
										parentmarriageaddress:parentmarriageaddress,
										id:idNow,
									}).done(data=>{
										swal({
											title:'Success',
											text:'Status updated and message sent!', 
											type:'success'
										}).then(function(){
											$('#updateModal').modal('hide');
											$('#updateBodyAppend').empty();
											location.reload();
										
										})
									})
								}
								})
							})
						}
						else if(data[0].var_eventname == "Anointing of the sick" || data[0].var_eventname == "Funeral Service"){
							$('#updateBodyAppend').append(`
								<div class="form-group">
									<label class="label-control">Name of the Relative</label>
									<label class="label-control">First Name</label>
									<input type="text" id="firstname" value="${data[0].var_fname}" class="form-control">
									<label class="label-control">Middle Name</label>
									<input type="text" id="middlename" value="${data[0].var_mname}" class="form-control">
									<label class="label-control">Last Name</label>
									<input type="text" id="lastname" value="${data[0].var_lname}" class="form-control">
								</div>
								<div class="form-group">
									<h6 class="label-control">Gender
									<div class="text-danger d-inline"> *</div>
									<div class="custom-control custom-radio">
										<input class="custom-control-input" id="customRadio1" type="radio" name="gender" value="Male" disabled/>
										<label class="custom-control-label" for="customRadio1">
										Male</label>
									</div>
									<div class="custom-control custom-radio">
										<input class="custom-control-input" id="customRadio2" type="radio" name="gender" value="Female" disabled/>
										<label class="custom-control-label" for="customRadio2">
										Female</label>
									</div>
									</h6>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<select id="relation" type="text" name="relation" required="">
											</select>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="label-control">Birth Date</label>
									<input type="date" id="venue" value="${data[0].date_birthday}"class="date-picker1 form-control">
								</div>
								<div class="form-group">
									<label class="label-control">Date Birth Place
										<input type="text" id="birthplace" value="${data[0].var_birthplace}" class="form-control">
									</label>
								</div>
								<div class="form-group">
									<label class="label-control">Address
										<input type="text" id="address" value="${data[0].var_address}" class="form-control">
									</label>
								</div>
								`)
								$('#updateModal').modal('show');
								$('#updateModal').on('hidden.bs.modal',function(){
									$('#updateBodyAppend').empty()
								})
								if(data[0].char_gender == "Male"){
								$('#customRadio1').prop('checked', true);
								}
								else if(data[0].char_gender == "Female"){
								$('#customRadio2').prop('checked', true);
								}
								if(data[0].var_relation == "Aunt/Uncle"){
									$('#relation').append(`
									<option id="relationAppend" selected="" value="" disabled="disabled">Choose...</option>
									<option selected="">Aunt/Uncle</option>
									<option>Parent</option>
									<option>Grandparent</option>
									<option>Sibling</option>
									`)								
								}
								else if(data[0].var_relation == "Parent"){
									$('#relation').append(`
									<option id="relationAppend" selected="" value="" disabled="disabled">Choose...</option>
									<option>Aunt/Uncle</option>
									<option selected="">Parent</option>
									<option>Grandparent</option>
									<option>Sibling</option>
									`)								
								}
								else if(data[0].var_relation == "Grandparent"){
									$('#relation').append(`
									<option id="relationAppend" selected="" value="" disabled="disabled">Choose...</option>
									<option>Aunt/Uncle</option>
									<option>Parent</option>
									<option selected="">Grandparent</option>
									<option>Sibling</option>
									`)								
								}
								else if(data[0].var_relation == "Sibling"){
									$('#relation').append(`
									<option id="relationAppend" selected="" value="" disabled="disabled">Choose...</option>
									<option>Aunt/Uncle</option>
									<option>Parent</option>
									<option>Grandparent</option>
									<option selected="">Sibling</option>
									`)								
								}
							$(document).on('click','#confirmButton',function(){
								var firstname = $('#firstname').val()
								var middlename = $('#middlename').val()
								var lastname = $('#lastname').val()
								var gender;
								var relation = $('#relation').val()
								var contactnum = $('#contactnum').val()
								var birthplace = $('#birthplace').val()
								var mothername = $('#mothername').val()
								var motherbplace = $('#motherbplace').val()
								var fathername = $('#fathername').val()
								var fatherbplace = $('#fatherbplace').val()
								var address = $('#address').val()
								var parentmarriageaddress = $('#parentmarriageaddress').val()
								if ($("#customRadio1").prop("checked")) {
								gender = $("#customRadio1").val();
								}
								else if($("#customRadio2").prop("checked")){
								gender = $("#customRadio2").val();
								}
								var birthdate = moment($('#birthdate').val()).format('YYYY-MM-DD')
								swal({
								title:'Are You Sure?', 
								text:'You want to update the Status of the Requirements?', 
								type:'warning',
								showCancelButton: true,
								confirmButtonColor: '#3085d6',
								cancelButtonColor: '#d33',
								confirmButtonText: 'Confirm'
								}).then((result)=>{
								if(result.value){
									console.log($('#firstname').val())
									$.post('/guest/reservation/query/update',{
										firstname:firstname,
										middlename:middlename,
										lastname:lastname,	
										gender:gender,
										relation:relation,
										contactnum:contactnum,
										birthdate:birthdate,
										birthplace:birthplace,
										mothername:mothername,
										motherbplace:motherbplace,
										fathername:fathername,
										fatherbplace:fatherbplace,
										eventname:data[0].var_eventname,
										address:address,
										parentmarriageaddress:parentmarriageaddress,
										id:idNow,
									}).done(data=>{
										swal({
											title:'Success',
											text:'Status updated and message sent!', 
											type:'success'
										}).then(function(){
											$('#updateModal').modal('hide');
											$('#updateBodyAppend').empty();
											location.reload();
										
										})
									})
								}
								})
							})
						}
						}
						else{
							swal({
								title:'Sorry',
								text:'Your application is Approved/Cancelled Already!', 
								type:'warning'
							})
						}
					})
				})
				$(document).on('click','.cancelButton',function(){
					var idNow = $(this).val()
					$.post('/guest/message',{id:idNow}).done(data=>{
					if(data.var_subject != "Cancellation"){
					$('#messageModal').modal('show')
					$('#messageModal').on('hidden.bs.modal',function(){
						$('#selectBox').val('default')
						$('#messageAppend').empty()
					})
					$('#messageAppend').append(`
					<h4 class="c-grey-900 mB-20">Send Message</h4>
						<div class="send-header">
							<div class="form-group">
							<input type="hidden" class='form-control' id='int_receiverID' placeholder="To">
							<input type="text" class='form-control' placeholder="To" value ="Parish Office"  readonly>
							</div>
							<div class="form-group">
							<h6 class="label-control" id="eventstatus">Subject: 
							<label class="label-control"> Cancellation</label>
							<span id="var_subject" class="badge btn btn-primary-lg bgc-blue-100 c-white-700"></span>
							</h6>
							</div>
							<div class="form-group">
							<textarea name="compose" class="form-control" id='text_message' placeholder="Please state your reason why you cancel the event." rows='6'></textarea>
							</div>
						</div>
						<div id="compose-area"></div>
					`)
					$('#sendMessage').click(function(){
						console.log($('#text_message').val())
						var message = $('#text_message').val()
						swal({
						title:'Are you sure?', 
						text:'This message will be sent to the secretariat', 
						type:'warning',
						showCancelButton: false,
						confirmButtonColor: '#3085d6',
						cancelButtonColor: '#d33',
						confirmButtonText: 'Confirm'
						}).then((result)=>{
							if(result.value){	
								console.log(message)									
								$.post('/guest/message/send',{
									int_receiverID:6,
									var_subject:"Cancellation",
									text_message:message,
								})
								.done(data=>{
									if(data){
										swal({
											title:'Success',
											text:'Status updated and message sent!', 
											type:'success'
										}).then(function(){
										$('#messageModal').modal('hide');
										$('#messageAppend').empty();
										location.reload();
										})
									}
								})
							}
					})
					})

						}
						else{
							swal({
								title:'Warning',
								text:'Cancellation was sent already!', 
								type:'warning'
							})
						}
					})
				})
		});

