extends ../../../../../templates/guests
block main
	.profile-page
		#heading-page.page-header.header-filter(data-parallax="true" style="background-image: url('/img/Nave.jpeg');")
		#raised-section.main.main-raised
			.container
					.row
						.col-md-12.my-3
							h3.text-center.text-uppercase.guidelines--text Baptism Details
							form(action=`/guest/reservation/${details.int_eventinfoID}/edit` method="post")
									
									fieldset
											h4
													.container
															
											h4
											.form-group
													br
													input.form-control(type='hidden' name='userID' value=`${user.int_userID}`)
													.container
															h6.label-control Name of the Child:
															.row
																	.col-md-4.px-lg-3.px-md-0.px-sm-0
																			.form-group.pt-0
																					input.form-control(type='text' placeholder="Last Name" name='lastname' required='' pattern="[A-Za-z ]{2,}" value=`${moredetails.var_lname}` )
																					.help-block.with-errors
																	.col-md-4.p-lg-0.px-md-3.px-sm-0
																			.form-group.pt-0
																					input.form-control(type='text' placeholder="First Name" name='firstname' required='' pattern="[A-Za-z ]{2,}" value=`${moredetails.var_fname}`)
																					.help-block.with-errors
																	.col-md-4.px-lg-3.px-md-0.px-sm-0
																			.form-group.pt-0
																					input.form-control(type='text' placeholder="Middle Name" name='middlename' pattern="[A-Za-z ]{2,}" value=`${moredetails.var_mname}`)
																					.help-block.with-errors
															.row
																	.col-md-4.px-lg-3.px-md-0.px-sm-0
																			.form-group.pt-0
																					h6.label-control Gender
																					input.form-control(type='text' placeholder="Middle Name" name='gender' pattern="[A-Za-z]{4,}" value=`${moredetails.char_gender}`)
																					.help-block.with-errors
																	.col-md-4.p-lg-0.px-md-3.px-sm-0
																			.form-group
																					h6.label-control Birthday
																					input.datepicker.form-control(type='date' name='birthday' required='' value=`${moredetails.date_birthday}`)
																	.col-md-4.px-lg-3.px-md-0.px-sm-0
																			.form-group
																					h6.label-control Birthplace:
																					input.form-control(type='text' name='birthplace' placeholder="Ex. Payatas, Quezon City" required='' pattern="[A-Za-z0-9 ]{10,}" value=`${moredetails.var_birthplace}`) 
																					.help-block.with-errors
															.row
																	.col-md-6.px-lg-3.px-md-3.px-sm-0
																			.form-group
																					h6.label-control Father's Full Name:
																					input.form-control(type='text' name='fathername' placeholder="Ex. Juan Dela Cruz" required='' pattern="[A-Za-z, ]{2,}" value=`${moredetails.var_fathername}`)
																					.help-block.with-errors
																	.col-md-6.px-lg-3.px-md-3.px-sm-0
																			.form-group
																					h6.label-control Father's Birthplace:
																					input.form-control(type='text' name='fatherbirthplace' placeholder="Ex. Caloocan, Quezon City" required='' pattern="[A-Za-z, ]{2,}" value=`${moredetails.var_fatherbplace}`)
																					.help-block.with-errors
															.row
																	.col-md-6.px-lg-3.px-md-3.px-sm-0
																			.form-group
																					h6.label-control Mother's Full name:
																					input.form-control(type='text' name='mothername' placeholder="Ex. Maria Dela Cruz" required='' pattern="[A-Za-z, ]{2,}" value=`${moredetails.var_mothername}`)
																					.help-block.with-errors
																	.col-md-6.px-lg-3.px-md-3.px-sm-0
																			.form-group
																					h6.label-control Mother's Birthplace:
																					input.form-control(type='text' name='motherbirthplace' placeholder="Ex. San Isidro, Quezon City" required='' pattern="[A-Za-z0-9,.- ]{10,}" value=`${moredetails.var_motherbplace}`)
																					.help-block.with-errors
															.row
																	.col-md-6.px-lg-3.px-md-3.px-sm-0
																			.form-group
																					h6(for='exampleFormControlTextarea1') Parents' Marriage Address:
																					input.form-control(rows='2' name='marriageaddress' placeholder="Ex. Urban, Bgy. Payatas B 1119 QC" required='' pattern="[A-Za-z0-9,. -]{10,}" value=`${moredetails.var_parentmarriageadd}`)
																	.col-md-6.px-lg-3.px-md-3.px-sm-0
																			.form-group
																					h6(for='exampleFormControlTextarea1') Family address:
																					input.form-control(rows='2' name='address' placeholder="Ex. 75 P. Domingo Street, Carmona, Makati City" required='' pattern="[A-Za-z0-9., -]10,}" value=`${moredetails.var_address}`)
															.row
																	.col-md-6.px-lg-3.px-md-3.px-sm-0
																			.form-group.pt-0
																					h6.label-control Relation with the child
																					input.form-control(type='text' placeholder="Middle Name" name='relation' pattern="[A-Za-z]{4,}" value=`${moredetails.var_relation}`)
																					.help-block.with-errors
																	.col-md-6.px-lg-3.px-md-3.px-sm-0
																			.form-group
																					h6.label-control Family's Contact number
																					input#datepicker.form-control(type='text' name='contactnumber' placeholder="Ex. 09123456789" required='' pattern="[0-9]{11}" value=`${moredetails.var_contactnum}`)

													//- h6.label-control Principal Sponsors
													//- 		.row#principalSponsor
													//- 				.col-md-6.px-lg-3.px-md-3.px-sm-0
													//- 						.form-group.m-0
													//- 								input.form-control(type='text' name='sponsorname' placeholder="Enter Full Name" required='' pattern="[A-Za-z, ]{2,}" )
													//- 								.help-block.with-errors
													//- 				.col-md-6.px-lg-3.px-md-3.px-sm-0
													//- 						.form-group.m-0
													//- 								input.form-control.balance(type='text' name='sponsorname' placeholder="Enter Full Name" required='' pattern="[A-Za-z, ]{2,}" )
													//- 		button#addAdditionalSponsor.btn.btn-sm-round.btn-common.btn-fab.btn-fab-mini.btn-round.ml-2.rounded-circle(type="button")
													//- 				i.fa.fa-plus
													//- h6.label-control Additional Sponsors
													//- 		.row#additionalSponsor
											//- br
											//- .learn-more.pull-right
											//- 		button.btn.std-btn.btn-secondary.btn-previous.m-0(type='button') Prev
											//- 		button.btn.btn-submit#submit1Button(type='button') Submit