extends ../../../../../templates/guests
block main
	.profile-page
		//- Heading Page
		#heading-page.page-header.header-filter(data-parallax="true" style="background-image: url('/img/Nave.png');")
			.container
				.row
					.col-md-9.main-header__textbox
						h1.font-italic Notification
		#raised-section.main.main-raised
			.container
				.row
					.col-md-12
						hr.mt-5.mx-5
				.row
					.col-md-12.my-3
						h3.text-left.text-uppercase.guidelines--text Notification Lists
				.row
					.col-md-12.my-3
						table.table
							thead
								tr.text-center
									th Description
							tbody
								each notification in notifications
									tr.text-center
										td=notification.var_notifdesc	
										td.text-center
											a.voucherLink(href=`/guest/voucherLink?notifId=${notification.int_notifID}` style= 'margin-left: 3px' target="_blank") Click Here To Save and Print Voucher
											//- a(href=`/guest/reservation/${reservation.int_eventinfoID}/cancel` style= 'margin-left: 8px') CANCEL

											//- button.btn.btn-danger.deleteButton(type='button',rel='tooltip',value=`${notification.int_eventinfoID}`) Cancel
											//- 	//- i.material-icons close
											//- button.btn.btn-success.updateButton(type='button',rel='tooltip', value=`${notification.int_eventinfoID}`) Edit
												//- i.material-icons edit
					
	#conditionModal.modal.animated.fadeIn(tabindex='-1', role='dialog')
		.modal-dialog.modal-login.modal-lg(role='document')
			.modal-content
				.card.card-signup.card-plain
					.modal-header
						//- .card-header.card-header-warning.text-center
						//- 	button.close(type='button', data-dismiss='modal', aria-hidden='true')
						//- 		i.material-icons clear
						//- 	h3.main-header__modal.text-white SIGNUP
							
					.modal-body
							//- <div class="card card-nav-tabs">
							//- <div class="card-header card-header-warning">
							//- 	Featured
							//- </div>
							<div class="card-body">
								<h4 class="card-title">Special title treatment</h4>
								<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
								
							</div>
							</div>
					.modal-footer.justify-content-center
						.row
							.col-md-12
								a#anchorRegisterSubmit.btn-design(href="#") Submit
	block addjs	
		script.
			$(document).ready(function(){
				$('.voucherLink').click(function(){
					window.open(`/guest/voucher?notifId=${$(this).attr('value')}`)
				})
			})