extends ../../../../templates/guests
block main
	style.
		#header-style-1 {
			background-image: url(/imgchurch/reservation.jpg)
		}
		.btn-sm {
			font-size: 12px;
			min-width: 40px;
			padding: 5px 11px;
		}
		.form-control
			{
				display:block;
				width:100%;
				min-height:20px;
				padding:.375rem .75rem;
				font-size:.75rem;
				line-height:1.5;
				color:#495057;
				background-color:#fff;
				background-clip:padding-box;
				border:1px solid #ced4da;
				border-radius:.25rem;
				transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out
			}
			.custom-select.custom-select-sm.form-control.form-control-sm {
				margin:0;
			}
	#headers
		#header-style-1
			.container
				.header-caption
					.row
						.col-md-12.header-content
							h3.header-title.animated.fadeInDown.invisible
								span.text-primary Helium - 
								| Bootstrap 4 UI Kit
							h5.header-text.animated.fadeIn.invisible
								| Lorem ipsum dolor sit amet, consectetuer adipiscing elit<br>Lorem ipsum dolor sit amet, consectetuer.</h5>
							//- a.page-scroll.btn.btn-lg.btn-default-filled.animated.fadeInUp.invisible(href="#") Download Now
							//- a.page-scroll.btn.btn-lg.btn-common.animated.fadeInUp.invisible(href="#") Explore
		#raised-section.main.main-raised
			section.form-box
				.container
					.row
						.col-md-12.form-wizard
							h3 Reservation List
							p 
					.row
						.col-lg-12.col-md-12.mb-60
							table.table#dataTable
								thead
									tr.text-center
										th Name
										th Status
										th Event Date
										th Event Time
										th Actions
								tbody
									each reservation in reservations
										tr.text-center
											td.eventname(value=reservation.var_eventname)=reservation.var_eventname
											td=reservation.char_approvalstatus
											td=reservation.date_eventdate
											td=reservation.time_eventstart
											td.td-actions
												button.btn-info.btn-sm.viewButton(type='button',rel='tooltip', value=reservation.int_eventinfoID) View
												button.btn-success.btn-sm.updateButton(type='button',rel='tooltip', value=reservation.int_eventinfoID) Edit
												button.btn.btn-danger.btn-sm.deleteButton(type='button',rel='tooltip',value=`${reservation.int_eventinfoID}`) Cancel
												| &nbsp;
	#viewModal.modal.fade(tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
			.modal-dialog.modal-lg(role="document")
				.modal-content
					.modal-header(style='background:#367587; color:white')
						h4.modal-title(style='background:#367587; color:white') View Application Form
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true' style='background:#367587; color:white') ×
					.modal-body#viewBodyAppend
					.modal-footer
						button.btn.btn-outline.btn-secondary.pull-left#cancelButton(type='button', data-dismiss='modal') Close
	#updateModal.modal.fade(tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
		.modal-dialog.modal-lg(role="document")
			.modal-content
				.modal-header(style='background:#367587; color:white')
					h4.modal-title(style='background:#367587; color:white') Update Application
				.modal-body#updateBodyAppend
				.modal-footer
					button.btn.btn-outline.btn-secondary.pull-left#cancelButton(type='button', data-dismiss='modal') Close
					button.btn.btn-outline.btn-secondary.pull-left#confirmButton(type='button', data-dismiss='modal') Update

block addjs
	script.
		$(document).ready(function() {
			$('#dataTable').DataTable( {
				responsive: {
						details: {
							display: $.fn.dataTable.Responsive.display.modal( {
									header: function ( row ) {
											var data = row.data();
											return 'Details for '+data[0]+' '+data[1];
									}
							} ),
							renderer: $.fn.dataTable.Responsive.renderer.tableAll( {
									tableClass: 'table'
							} )
						}
				}
				});
				$(document).on('click','.viewButton',function(){
				var idNow = $(this).val()
				console.log(idNow)
				console.log($('.eventname').attr('value'))
				var eventname = $('.eventname').attr('value')
				$.post('/guest/reservation/query',{id:idNow,eventname:eventname}).done(data=>{
					if(data[0].var_eventname == "Baptism" || data[0].var_eventname == "Special Baptism"){
					var dateRequested = moment(data[0].date_eventdate).format('MM/DD/YYYY')
					var timeRequested = moment(data[0].time_eventstart).format('hh:mm A')
					var age = moment().diff(data.date_birthday,'years');
					$('#viewBodyAppend').append(`
					<table class="tableModal">
						<tr>
							<td class="tdModal h5"><strong> Desired Date: </strong> ${dateRequested}</td>
							<td class="tdModal h5"><strong> Desired Time:  </strong> ${timeRequested}</td>
						</tr>
						<tr>
							<td class="tdModal h5"><strong> Name of the Relative: </strong> ${data[0].var_lname}, ${data[0].var_fname}</td>
							<td class="tdModal h5"><strong> Gender:  </strong> ${data[0].char_gender}</td>
						</tr>
						<tr>
							<td class="tdModal h5"><strong> Relationship:  </strong> ${data[0].var_relation}</td>
							<td class="tdModal h5"><strong> Contact No.:  </strong> ${data[0].var_contactnum}</td>
						</tr>
						<tr>
							<td class="tdModal h5"><strong> Birth Date:  </strong> ${moment(data[0].date_birthday).format('YYYY-MM-DD')}</td>
							<td class="tdModal h5"><strong> Birth Place:  </strong> ${data[0].var_birthplace}</td>
						</tr>
						<tr>
							<td class="tdModal h5"><strong> Mother's Name:  </strong> ${data[0].var_mothername}</td>
							<td class="tdModal h5"><strong> Mother's Birthplace:  </strong> ${data[0].var_motherbplace}</td>
						</tr>
						<tr>
							<td class="tdModal h5"><strong> Father's Name:  </strong> ${data[0].var_fathername}</td>
							<td class="tdModal h5"><strong> Father's Birthplace:  </strong> ${data[0].var_fatherbplace}</td>
						</tr>
						<tr>
							<td class="tdModal h5"><strong> Address:  </strong> ${data[0].var_address}</td>
							<td class="tdModal h5"><strong> Parent Marriage Address:  </strong> ${data[0].var_parentmarriageadd}</td>
						</tr>
					`)
					}
					else if(data[0].var_eventname == "Anointing of the sick" || data[0].var_eventname == "Funeral Service"){
						var dateRequested = moment(data[0].date_eventdate).format('MM/DD/YYYY')
						var timeRequested = moment(data[0].time_eventstart,'HH:mm:ss').format('hh:mm A')
						$('#viewBodyAppend').append(`
						<table class="tableModal">
						<tr>
							<td class="tdModal h5"><strong> Desired Date: </strong> ${dateRequested}</td>
							<td class="tdModal h5"><strong> Desired Time:  </strong> ${timeRequested}</td>
						</tr>
						<tr>
							<td class="tdModal h5"><strong> Name of the Relative: </strong> ${data[0].var_lname}, ${data[0].var_fname}</td>
							<td class="tdModal h5"><strong> Gender:  </strong> ${data[0].char_gender}</td>
						</tr>
						<tr>
							<td class="tdModal h5"><strong> Relationship:  </strong> ${data[0].var_relation}</td>
						</tr>
						<tr>
							<td class="tdModal h5"><strong> Birth Date:  </strong> ${moment(data[0].date_birthday).format('YYYY-MM-DD')}</td>
							<td class="tdModal h5"><strong> Birth Place:  </strong> ${data[0].var_birthplace}</td>
						</tr>
						<tr>
							<td class="tdModal h5"><strong> Address:  </strong> ${data[0].var_address}</td>
						</tr>
						`)
					}
					else if(data[0].var_eventname == "Anointing of the sick" || data[0].var_eventname == "Funeral Service"){
						var dateRequested = moment(data[0].date_eventdate).format('MM/DD/YYYY')
						var timeRequested = moment(data[0].time_eventstart,'HH:mm:ss').format('hh:mm A')
						$('#viewBodyAppend').append(`
						<table class="tableModal">
						<tr>
							<td class="tdModal h5"><strong> Desired Date: </strong> ${dateRequested}</td>
							<td class="tdModal h5"><strong> Desired Time:  </strong> ${timeRequested}</td>
						</tr>
						<tr>
							<td class="tdModal h5"><strong> Name of the Relative: </strong> ${data[0].var_lname}, ${data[0].var_fname}</td>
							<td class="tdModal h5"><strong> Gender:  </strong> ${data[0].char_gender}</td>
						</tr>
						<tr>
							<td class="tdModal h5"><strong> Relationship:  </strong> ${data[0].var_relation}</td>
						</tr>
						<tr>
							<td class="tdModal h5"><strong> Birth Date:  </strong> ${moment(data[0].date_birthday).format('YYYY-MM-DD')}</td>
							<td class="tdModal h5"><strong> Birth Place:  </strong> ${data[0].var_birthplace}</td>
						</tr>
						<tr>
							<td class="tdModal h5"><strong> Address:  </strong> ${data[0].var_address}</td>
						</tr>
						`)
					}
					$('#viewModal').modal('show')
					$('#viewModal').on('hidden.bs.modal',function(){
						$('#viewBodyAppend').empty()
					})
				})
				})
				$(document).on('click','.updateButton',function(){
					var idNow = $(this).val()
					console.log(idNow)
					console.log($('.eventname').attr('value'))
					var eventname = $('.eventname').attr('value')
					
					$.post('/guest/reservation/query',{id:idNow,eventname:eventname}).done(data=>{
						if(data[0].var_eventname == "Baptism" || data[0].var_eventname == "Special Baptism"){
							$('#updateBodyAppend').append(`
								<div class="form-group">
									<label class="label-control">Name of the Relative</label>
									<label class="label-control">First Name</label>
									<input type="text" id="firstname" value="${data[0].var_fname}" class="form-control">
									<label class="label-control">Middle Name</label>
									<input type="text" id="middlename" value="${data[0].var_mname}" class="form-control">
									<label class="label-control">Last Name</label>
									<input type="text" id="lastname" value="${data[0].var_lname}" class="form-control">
								</div>
								<div class="form-group">
									<h6 class="label-control">Gender
									<div class="text-danger d-inline"> *</div>
									<div class="custom-control custom-radio">
										<input class="custom-control-input" id="customRadio1" type="radio" name="gender" value="Male" />
										<label class="custom-control-label" for="customRadio1">
										Male</label>
									</div>
									<div class="custom-control custom-radio">
										<input class="custom-control-input" id="customRadio2" type="radio" name="gender" value="Female" />
										<label class="custom-control-label" for="customRadio2">
										Female</label>
									</div>
									</h6>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<select id="relation" type="text" name="relation" required="">
											</select>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group mt-1">
										<label class="label-control">Contact No.</label>
										<input type="text" id="contactnum" value="${data[0].var_contactnum}" class="form-control">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="label-control">Birth Date</label>
									<input type="date" id="birthdate" value="${data[0].date_birthday}"class="date-picker1 form-control">
								</div>
								<div class="form-group">
									<label class="label-control">Date Birth Place
										<input type="text" id="birthplace" value="${data[0].var_birthplace}" class="form-control">
									</label>
								</div>
								<div class="form-group">
									<label class="label-control">Mother's Name
										<input type="text" id="mothername" value="${data[0].var_mothername}" class="form-control">
									</label>
									<label class="label-control">Mother's Birth Place
										<input type="text" id="motherbplace" value="${data[0].var_motherbplace}" class="form-control">
									</label>
								</div>
								<div class="form-group">
									<label class="label-control">Father's Name
										<input type="text" id="fathername" value="${data[0].var_fathername}" class="form-control">
									</label>
									<label class="label-control">Father's Birth Place
										<input type="text" id="fatherbplace" value="${data[0].var_fatherbplace}" class="form-control">
									</label>
								</div>
								<div class="form-group">
									<label class="label-control">Address
										<input type="text" id="address" value="${data[0].var_address}" class="form-control">
									</label>
									<label class="label-control">Father's Birth Place
										<input type="text" id="parentmarriageadd" value="${data[0].var_parentmarriageadd}" class="form-control">
									</label>
								</div>
								`)
								$('#updateModal').modal('show');
								$('#updateModal').on('hidden.bs.modal',function(){
									$('#updateBodyAppend').empty()
								})
								if(data[0].char_gender == "Male"){
								$('#customRadio1').prop('checked', true);
								}
								else if(data[0].char_gender == "Female"){
								$('#customRadio2').prop('checked', true);
								}
								if(data[0].var_relation == "Aunt/Uncle"){
									$('#relation').append(`
									<option id="relationAppend" selected="" value="" disabled="disabled">Choose...</option>
									<option selected="">Aunt/Uncle</option>
									<option>Parent</option>
									<option>Grandparent</option>
									<option>Sibling</option>
									`)								
								}
								else if(data[0].var_relation == "Parent"){
									$('#relation').append(`
									<option id="relationAppend" selected="" value="" disabled="disabled">Choose...</option>
									<option>Aunt/Uncle</option>
									<option selected="">Parent</option>
									<option>Grandparent</option>
									<option>Sibling</option>
									`)								
								}
								else if(data[0].var_relation == "Grandparent"){
									$('#relation').append(`
									<option id="relationAppend" selected="" value="" disabled="disabled">Choose...</option>
									<option>Aunt/Uncle</option>
									<option>Parent</option>
									<option selected="">Grandparent</option>
									<option>Sibling</option>
									`)								
								}
								else if(data[0].var_relation == "Sibling"){
									$('#relation').append(`
									<option id="relationAppend" selected="" value="" disabled="disabled">Choose...</option>
									<option>Aunt/Uncle</option>
									<option>Parent</option>
									<option>Grandparent</option>
									<option selected="">Sibling</option>
									`)								
								}
							$(document).on('click','#confirmButton',function(){
								var gender;
								if ($("#customRadio1").prop("checked")) {
								gender = $("#customRadio1").val();
								}
								else if($("#customRadio2").prop("checked")){
								gender = $("#customRadio2").val();
								}
								var birthdate = moment($('#birthdate').val()).format('YYYY-MM-DD')
								swal({
								title:'Are You Sure?', 
								text:'You want to update the Status of the Requirements?', 
								type:'warning',
								showCancelButton: true,
								confirmButtonColor: '#3085d6',
								cancelButtonColor: '#d33',
								confirmButtonText: 'Confirm'
								}).then((result)=>{
								console.log(data[0].var_eventname)
								if(result.value){
									$.post('/guest/reservation/update',{
										firstname:$('#firstname').val(),
										middlename:$('#middlename').val(),
										lastname:$('#lastname').val(),
										gender:gender,
										relation:$('#relation').val(),
										contactnum:$('#contactnum').val(),
										birthdate:birthdate,
										birthplace:$('#birthplace').val(),
										mothername:$('#mothername').val(),
										motherbplace:$('#motherbplace').val(),
										fathername:$('#fathername').val(),
										fatherbplace:$('#fatherbplace').val(),
										eventname:data[0].var_eventname,
										address:$('#address').val(),
										parentmarriageaddress:$('#parentmarriageaddress').val(),
										id:idNow
									}).done(data=>{
										$('#updateModal').modal('hide');
										$('#updateBodyAppend').empty();
										location.reload();
									})
								}
								})
							})
						}
						else if(data[0].var_eventname == "Anointing of the sick" || data[0].var_eventname == "Funeral Service"){
							$('#updateBodyAppend').append(`
								<div class="form-group">
									<label class="label-control">Name of the Relative</label>
									<label class="label-control">First Name</label>
									<input type="text" id="firstname" value="${data[0].var_fname}" class="form-control">
									<label class="label-control">Middle Name</label>
									<input type="text" id="middlename" value="${data[0].var_mname}" class="form-control">
									<label class="label-control">Last Name</label>
									<input type="text" id="lastname" value="${data[0].var_lname}" class="form-control">
								</div>
								<div class="form-group">
									<h6 class="label-control">Gender
									<div class="text-danger d-inline"> *</div>
									<div class="custom-control custom-radio">
										<input class="custom-control-input" id="customRadio1" type="radio" name="gender" value="Male" />
										<label class="custom-control-label" for="customRadio1">
										Male</label>
									</div>
									<div class="custom-control custom-radio">
										<input class="custom-control-input" id="customRadio2" type="radio" name="gender" value="Female" />
										<label class="custom-control-label" for="customRadio2">
										Female</label>
									</div>
									</h6>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<select id="relation" type="text" name="relation" required="">
											</select>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="label-control">Birth Date</label>
									<input type="date" id="venue" value="${data[0].date_birthday}"class="date-picker1 form-control">
								</div>
								<div class="form-group">
									<label class="label-control">Date Birth Place
										<input type="text" id="birthplace" value="${data[0].var_birthplace}" class="form-control">
									</label>
								</div>
								<div class="form-group">
									<label class="label-control">Address
										<input type="text" id="address" value="${data[0].var_address}" class="form-control">
									</label>
								</div>
								`)
								$('#updateModal').modal('show');
								$('#updateModal').on('hidden.bs.modal',function(){
									$('#updateBodyAppend').empty()
								})
								if(data[0].char_gender == "Male"){
								$('#customRadio1').prop('checked', true);
								}
								else if(data[0].char_gender == "Female"){
								$('#customRadio2').prop('checked', true);
								}
								if(data[0].var_relation == "Aunt/Uncle"){
									$('#relation').append(`
									<option id="relationAppend" selected="" value="" disabled="disabled">Choose...</option>
									<option selected="">Aunt/Uncle</option>
									<option>Parent</option>
									<option>Grandparent</option>
									<option>Sibling</option>
									`)								
								}
								else if(data[0].var_relation == "Parent"){
									$('#relation').append(`
									<option id="relationAppend" selected="" value="" disabled="disabled">Choose...</option>
									<option>Aunt/Uncle</option>
									<option selected="">Parent</option>
									<option>Grandparent</option>
									<option>Sibling</option>
									`)								
								}
								else if(data[0].var_relation == "Grandparent"){
									$('#relation').append(`
									<option id="relationAppend" selected="" value="" disabled="disabled">Choose...</option>
									<option>Aunt/Uncle</option>
									<option>Parent</option>
									<option selected="">Grandparent</option>
									<option>Sibling</option>
									`)								
								}
								else if(data[0].var_relation == "Sibling"){
									$('#relation').append(`
									<option id="relationAppend" selected="" value="" disabled="disabled">Choose...</option>
									<option>Aunt/Uncle</option>
									<option>Parent</option>
									<option>Grandparent</option>
									<option selected="">Sibling</option>
									`)								
								}
							$(document).on('click','#confirmButton',function(){
								
							})
						}
					})
				})
		});

