extends ../../../../templates/guests
block main
	style.
		@media screen and (max-width: 576px) {
			.col-md-4, .col-md-6, .col-md-9 {
					padding-left: 0;
					padding-right: 0;
			}
			.form-wizard-step {
					padding-bottom: 10px !important;
			}
		}
		#header-style-1 {
			background-image: url(/imgchurch/anointing.jpg)
		}
		.form-wizard-tolal-steps-3 .form-wizard-step {
			width: 49.33%;
		}
		.form-control {
			margin-bottom: 0;
		}
		.hidden {
				display:none;
		}
	#headers
		#header-style-1
			.container
				.header-caption
					.row
						.col-md-12.header-content
							h3.header-title.animated.fadeInDown.invisible
								span.text-primary Helium - 
								| Bootstrap 4 UI Kit
							h5.header-text.animated.fadeIn.invisible
								| Lorem ipsum dolor sit amet, consectetuer adipiscing elit<br>Lorem ipsum dolor sit amet, consectetuer.</h5>
							//- a.page-scroll.btn.btn-lg.btn-default-filled.animated.fadeInUp.invisible(href="#") Download Now
							//- a.page-scroll.btn.btn-lg.btn-common.animated.fadeInUp.invisible(href="#") Explore
	#raised-section.main.main-raised
		section.form-box
			.container
				.row
					.col-md-12.form-wizard.shadow3
						form
							//- form(action="/guest/anointing/form" enctype="multipart/form-data" method="post" data-toggle='validator')
							h3 Anointing Application
							p Fill all form fields
							.form-wizard-steps.form-wizard-tolal-steps-3
								.form-wizard-progress
										.form-wizard-progress-line(data-now-value='12.25' data-number-of-steps='3' style='width: 12.25%;')
								// Step 1
								.form-wizard-step.active
										.form-wizard-step-icon
												i.fa.fa-calendar(aria-hidden='true')
										p.d-none.d-sm-block Schedule Date
								// Step 1
								// Step 2
								.form-wizard-step
										.form-wizard-step-icon
												i.fa.fa-info(aria-hidden='true')
										p.d-none.d-sm-block Anointing Details
								// Step 2
							// Form Step 1
							fieldset
								h4
									.d-none.d-sm-inline Appointment 
									span Step 1 - 2
									h5.label-control Desired Date
										.text-danger.d-inline  *
									.row
										.col-md-8.mx-lg-auto.mx-sm-left.my-lg-auto.my-sm-left.text-lg-center.text-sm-left
											h5
												#special
													.form-group
														.container
															#calendarAnointing
													.help-block.with-errors
									.learn-more.pull-right
												button#nextButton1.btn(type='button') Next
							// Form Step 1
							// Form Step 2
							fieldset
								h4
									.d-none.d-sm-inline Anointing Details:
									span Step 2 - 2
									input.form-control#userID(type='hidden' name='userID' value=`${user.int_userID}`)
									h5.label-control Name of the ill:
										.text-danger.d-inline  *
									.row
										.col-md-4.px-lg-3.px-md-0.px-sm-0
											.form-group.pt-0
												input.form-control#lastname(type='text' placeholder="Last Name *" name='lastname')
												//- .invalid-feedback Please re-enter your password valid Last Name.
										.col-md-4.px-lg-3.px-md-0.px-sm-0
											.form-group.p-0
												input.form-control#firstname(type='text' placeholder="First Name *" name='firstname')
										.col-md-4.px-lg-3.px-md-0.px-sm-0
											.form-group.pt-0
												input.form-control#middlename(type='text' placeholder="Middle Name" name='middlename')
									.row
										.col-md-4.px-lg-3.px-md-0.px-sm-0
											.form-group
												h5.label-control Relationship with the ill
													.text-danger.d-inline  *
												select#relation(type="text" name='relation' data-error='Please choose an option')
													option(selected="" value="" disabled) Choose...
													option Aunt/Uncle
													option Child
													option BF/GF
													option Friend
													option Grandchild
													option Grandparent
													option Nephew/Niece
													option Parent
													option Sibling
													option Spouse
										.col-md-4.p-lg-0.px-md-3.px-sm-0
											.form-group
												h5.label-control Birthday
													.text-danger.d-inline  *
												input.birthday.form-control#birthday(type='date' name='birthday')
												p
													span.emsg.hidden
														i.fa.fa-times.text-danger(style="font-size:20px" aria-hidden="true")
														|  Please Enter Your Birthday.
													span.emsgcorrect.hidden
														i.fa.fa-check.text-success(style="font-size:20px" aria-hidden="true")
										.col-md-4.px-lg-3.px-md-0.px-sm-0
											.form-group
												h5.label-control Birthplace:
													.text-danger.d-inline  *
												input.form-control#birthplace(type='text' name='birthplace' placeholder="Ex. Payatas, Quezon City")
									//- .row
									//- 	.col-md-4.px-lg-3.px-md-0.px-sm-0
									//- 		.form-group
									//- 			h5.label-control Relationship with the Ill
									//- 				.text-danger.d-inline  *
									//- 			select#relation(type="text" name='relation'  required=''  data-error='Please choose an option')
									//- 				option(selected="" value="" disabled) Choose...
									//- 				option Aunt/Uncle
									//- 				option Child
									//- 				option BF/GF
									//- 				option Friend
									//- 				option Grandchild
									//- 				option Grandparent
									//- 				option Nephew/Niece
									//- 				option Parent
									//- 				option Sibling
									//- 				option Spouse
									//- 			.help-block.with-errors(style="margin-top:2rem!important;")
									.row
										.col-md-4.px-lg-3.px-md-3.px-sm-0
											.form-group.m-0.p-0
												h5.label-control Gender
													.text-danger.d-inline  *
												.custom-control.custom-radio
													input#customRadio1.custom-control-input(type='radio', name='gender' value="Male"  checked)
													label.custom-control-label(for='customRadio1') 
														label Male
												.custom-control.custom-radio
													input#customRadio2.custom-control-input(type='radio', name='gender' value="Female")
													label.custom-control-label(for='customRadio2') 
														label Female
										.col-md-4.px-lg-0.px-md-3.px-sm-0
											.form-group.p-0
												h5(for='address') Address
													.text-danger.d-inline  *
												textarea#address.form-control.mb-0(rows='2' name='address' placeholder="Ex. Urban, Bgy. Payatas B 1119 QC")
										.col-md-4.px-lg-3.px-md-3.px-sm-0
											.form-group.p-0
												h5(for='details') Details
													.text-danger.d-inline  *
												textarea#details.form-control.mb-0(rows='2' name='details' placeholder="Please enter his/her illness or the reason of the anointing. (Ex. Operation/Surgery)")
									.row
										.col-md-6.px-lg-3.px-md-3.px-sm-0
											.form-group
												h5.label-control Place where the blessing will happen
													.text-danger.d-inline  *
												.ml-4
													.form-check
														label.form-check-label
															input#sameaddress.form-check-input(type="radio" name="venue" value="sameaddress" checked)
															| Same as his/her address
															span.circle
																span.check
													.form-check
														label.form-check-label
															input#exampleRadios1.form-check-input(type="radio" name="venue" value="hospital")
															| Hospital/Center
															span.circle
																span.check
														#textarea1.form-group
															textarea.form-control#hospitalname.venuevalidation(placeholder="Please enter the room number, the hospital name & address" rows="3" name='hospitalname')
															p
																span.emsgvenue.hidden
																	i.fa.fa-times.text-danger(style="font-size:20px" aria-hidden="true")
																	|  Please Enter Venue.
																span.emsgcorrectvenue.hidden
																	i.fa.fa-check.text-success(style="font-size:20px" aria-hidden="true")
													.form-check
														label.form-check-label
															input#exampleRadios3.form-check-input(type="radio" name="venue" value="other")
															| Other
															span.circle
																span.check
														#textarea2.form-group
															textarea.form-control#othervenue.venuevalidation(placeholder="Please enter complete address" rows="3" name='othervenue')
															p
																span.emsgvenue1.hidden
																	i.fa.fa-times.text-danger(style="font-size:20px" aria-hidden="true")
																	|  Please Enter Venue.
																span.emsgcorrectvenue1.hidden
																	i.fa.fa-check.text-success(style="font-size:20px" aria-hidden="true")
										.col-md-6.px-lg-3.px-md-3.px-sm-0
											.form-group
													h6.label-control Birth Certificate
														.text-danger.d-inline  *
													input#file-0b.file(type='file',accept='image/*',name="image")
													label
														.help-block.with-errors
								.learn-more.pull-right
									button.btn.std-btn.btn-secondary.btn-previous.m-0(type='button') Prev
									button.btn.btn-submit#submitButton(type='submit' value= `${user.int_userID}` ) Submit
						input#errChecker(type='text' hidden)
	#viewModal.modal.fade(tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
			.modal-dialog.modal-lg(role="document")
				.modal-content
					.modal-header
						h5.modal-title Application Request Completed
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span.p-3(aria-hidden='true') ×
					.modal-body
						.col-md-12.px-lg-3.px-md-3.px-sm-0
							.form-group.m-0
								p Your application request has been submitted
						.col-md-6.px-lg-3.px-md-3.px-sm-0
							.form-group.m-0
								h5.label.label-control Thank You!  
									p Please wait for 1 week to check the status of the application
					.modal-footer
						button.btn.btn-submit#OK(type='button') OK
block addjs
	script(type='text/javascript').
		$(document).ready(function(){
			validateForm()
			// for birthday validation start
			$('#birthday').on('keypress keydown keyup focus focusout',function(e){
				if ($(this).val().length == 0) {
					// there is a mismatch, hence show the error message
						$('.emsgcorrect').addClass('hidden');
						$('.emsg').removeClass('hidden');
						$('.emsg').show();
					}
				else{
					// else, do not display message
					$('.emsg').addClass('hidden');
					$('.emsgcorrect').removeClass('hidden');
					$('.emsgcorrect').show();
				}
				e.stopPropagation();
			});
			var $regexname = /^([a-zs0-9-, ]{8,})+$/i;
			$('.venuevalidation').on('keypress keydown keyup',function(e){
				if (!$(this).val().match($regexname)) {
					// there is a mismatch, hence show the error message
						$('.emsgcorrectvenue').addClass('hidden');
						$('.emsgvenue').removeClass('hidden');
						$('.emsgvenue').show();
					}
				else{
					// else, do not display message
					$('.emsgvenue').addClass('hidden');
					$('.emsgcorrectvenue').removeClass('hidden');
					$('.emsgcorrectvenue').show();
				}
				e.stopPropagation();
			});

			var $regexname1 = /^([a-zs0-9-, ]{8,})+$/i;
			$('.venuevalidation').on('keypress keydown keyup',function(e){
				if (!$(this).val().match($regexname1)) {
					// there is a mismatch, hence show the error message
						$('.emsgcorrectvenue1').addClass('hidden');
						$('.emsgvenue1').removeClass('hidden');
						$('.emsgvenue1').show();
					}
				else{
					// else, do not display message
					$('.emsgvenue1').addClass('hidden');
					$('.emsgcorrectvenue1').removeClass('hidden');
					$('.emsgcorrectvenue1').show();
				}
				e.stopPropagation();
			});
			// end here

			$('#OK').click(function(){
			window.location=`/guest`
			})
			$('#nextButton1').click(function(){
			if(eventDate == ''){
				swal({
					title: "Please schedule your date",
					text: "You haven't chosen your desired schedule yet",
					type: 'warning',
					confirmButtonColor: '#3085d6',
					confirmButtonText: 'OK'
				})
			}
			else{
				$('#nextButton1').addClass('btn-next')
			}
			})
			$('#submitButton').click(function(){
					$(this).attr('disabled', 'disabled');
				if(
					$('#firstname').val() != ''  &&
					$('#lastname').val() != ''  &&
					$('#birthday').val() != '' &&
					$('#birthplace').val() != '' &&
					$('#relation').val() != '' &&
					$('#address').val() != '' &&
					$('#details').val() != '' &&
					$('#file-0b').val() != '' &&
					$('#file-0b').val() != undefined
				){
					var idNow = $(this).val();
					console.log(idNow)
					$.post('/guest/anointing/query',{
						firstname: $('#firstname').val(),id:idNow
					}).done(data=>{
						if($('#customRadio1').prop("checked")){
							gender= $('#customRadio1').val()
						}
						if($('#customRadio2').prop("checked")){
							gender= $('#customRadio2').val()
						}
						if($('#sameaddress').prop("checked")){
							venue= data.firstQuery.var_useraddress
						}
						if($("#exampleRadios1").prop("checked")){
							venue= $('#hospitalname').val()
						}
						if($("#exampleRadios3").prop("checked")){
							venue= $('#othervenue').val()
						}
							var formData= new FormData();
							formData.append('desireddate1', eventDate),
							formData.append('desiredtime1', timeStart),
							formData.append('desiredtimeend', timeEnd2),
							formData.append('userID', $('#userID').val()),
							formData.append('lastname', $('#lastname').val()),
							formData.append('firstname', $('#firstname').val()),
							formData.append('middlename', $('#middlename').val()),
							formData.append('gender', gender),
							formData.append('venue', venue),
							formData.append('birthday', $('#birthday').val()),
							formData.append('birthplace', $('#birthplace').val()),
							formData.append('address', $('#address').val()),
							formData.append('details', $('#details').val()),
							formData.append('relation', $('#relation').val()),
							formData.append('image', $('#file-0b')[0].files[0]);
						$.ajax({
							type: 'POST',
							url: '/guest/anointing/form',
							data: formData,
							processData:false,
							contentType:false,
							success: function(data){
								console.log(formData)
								swal({
										title: "Success",
										text: 'Your request has been submitted; however, the time is still tentative. We will notify you once the scheduled time is changed. Thank you and God bless.',
										icon: 'success',
										buttons:{
											Okay:'okay'
										}
									}).then((value)=>{
										window.location='/guest/reservation'
									})
							}

						})

					})
				}
				else{
					swal({
						title: "Form is not completed yet",
						text: "Please fill out all the required fields",
						type: 'warning',
						confirmButtonColor: '#3085d6',
						confirmButtonText: 'OK'
					})
				}
				})		

		$('#textarea1').hide();
		$('#textarea2').hide();
		$('#sameaddress').click(function() {
			$('#textarea1').slideUp();
			$('#textarea2').slideUp();
		});
		$('#exampleRadios1').click(function() {
			$('#textarea1').slideDown();
			$('#textarea2').slideUp();
		});
		$('#exampleRadios3').click(function() {
			$('#textarea1').slideUp();
			$('#textarea2').slideDown();
		});
		var dateNow2
		var eventDate ='';
		var timeStart ='';
		var timeEnd2 ='';
		var availablestart='';
		var availableend='';
		var dateNow = new Date()
		var dateNow2;
		var gender;
		$.get('/guest/anointing/utilities/query').done(data=>{
			console.log(data[0].int_reservationmindays)
			dateNow2 = moment(dateNow,'YYYY-MM-DD hh:mm a').add(data[0].int_reservationmindays,'days').format('YYYY-MM-DD')
			//- availablestart= moment(data[0].time_availablestart).format('HH:mm:ss')
			availablestart=data[0].time_availablestart
			console.log(availablestart)
			availableend=data[0].time_availableend
			console.log(availableend)
			$('#calendarAnointing').fullCalendar({
				header: {
				left: 'title',
				center: 'agendaDay,month',
				right: 'prev,next today'
				},
				editable: false,
				firstDay: 0,
				selectable: true,
				defaultView: 'month',
				allDaySlot: false,
				selectHelper: true,
				minTime: availablestart,
				maxTime: availableend,
				validRange: {
					start: dateNow2
				},
				businessHours: { dow: [0,1,2,3,4,5,6] },
				selectConstraint:"businessHours",
				select:function(date,jsEvent,view){
				var view = $('#calendarAnointing').fullCalendar('getView');
				console.log(view.name)
				if(view.name == 'agendaDay'){
					eventDate = date.format('YYYY-MM-DD')
					timeStart = date.format('hh:mm a')
					timeEnd1 = date.add(1,'hour').format('YYYY-MM-DD hh:mm a')
					timeEnd2 = moment(timeEnd1).format('hh:mm a')
					console.log(eventDate)
					console.log(timeStart)
					console.log(timeEnd2)
					swal({
						title: 'You have selected this date, are you sure?',
						html: `Date: ${eventDate}  <br>` +
						`Time Start: ${timeStart} <br>` +
						`Time End: ${timeEnd2} <br>`,
						showCancelButton: true,
						confirmButtonColor: '#3085d6',
						cancelButtonColor: '#d33',
						confirmButtonClass: 'btn btn-success',
						cancelButtonClass: 'btn btn-danger',
						buttonsStyling: true,   
					}).then((value) => {
						if(value.value) {
							$("#calendarAnointing").fullCalendar('removeEvents',[1])
							swal(
								'Sucess!',
								'Event Date has been set.',
								'success'
							).then((value)=>{
							console.log('DESIRED TIME')
							$('#calendarAnointing').fullCalendar('renderEvent', {
								title: 'DESIRED TIME',
								start: `${moment(eventDate,'YYYY-MM-DD').format('MM/DD/YYYY')} ${timeStart}`,
								end: `${moment(eventDate,'YYYY-MM-DD').format('MM/DD/YYYY')} ${timeEnd2}`,
								allDay: false,
								id:1,
								overlap: false,
								droppable:true
							});
							return value
							console.log(eventDate)
							})
						} else if (
							value.dismiss === swal.DismissReason.cancel
						) {
							eventDate = '';
							timeStart = '';
							timeEnd2 = '';
						}
					})
				}
				else if(view.name == 'month'){
					$('#calendarAnointing').fullCalendar('changeView', 'agendaDay')
					$('#calendarAnointing').fullCalendar('gotoDate', date);
				}
				else{
					return  
				}
				}
			})
		})
		//- $("input[type=text]").keyup(function(){
		//- 	if($(this).val() == '') {
		//- 		$('.text-danger.warning1').text('Please fill out the required field.')
		//- 	}
		//- 	else {
		//- 		$('.text-danger.warning1').text('')
		//- 	}
		//- });

		//- $('.desiredDate').datetimepicker({
		//- 	format: 'YYYY-MM-DD',
		//- 	minDate: startDate,
		//- 	maxDate: endDate,
		//- 	icons: {
		//- 			time: "fa fa-clock-o",
		//- 			date: "fa fa-calendar",
		//- 			up: "fa fa-chevron-up",
		//- 			down: "fa fa-chevron-down",
		//- 			previous: 'fa fa-chevron-left',
		//- 			next: 'fa fa-chevron-right',
		//- 			today: 'fa fa-screenshot',
		//- 			clear: 'fa fa-trash',
		//- 			close: 'fa fa-remove',
		//- 	},
		//- });	
				})

		function validateForm(){
			$('form').formValidation({
				framework: 'bootstrap',
				icon: {
					valid: 'fa fa-check',
					invalid: 'fa fa-times',
					validating: 'fa fa-spinner'
				},
				fields: {
					lastname: {
						validators: {
								notEmpty: {
										message: `Please Enter Your Last Name`
								},
								regexp: {
									regexp: /^([a-zs ]{2,})+$/i,
									message: 'Only Aphabetical Characters, Minimum of 2.'
								},
						}
					},
					firstname: {
						validators: {
								notEmpty: {
										message: `Please Enter Your Last Name`
								},
								regexp: {
									regexp: /^([a-zs ]{2,})+$/i,
									message: 'Only Aphabetical Characters, Minimum of 2.'
								},
						}
					},
					middlename: {
						validators: {
							regexp: {
								regexp: /^([a-zs ]{2,})+$/i,
								message: 'Only Aphabetical Characters, Minimum of 2.'
							},
						}
					},
					relation: {
						validators: {
						notEmpty: {
										message: `Please Enter Your Relationship with the Ill`
								},
							}
						},
					//- birthday: {
					//- 	validators: {
					//- 	notEmpty: {
					//- 					message: `Please Enter Your Birthday`
					//- 			},
					//- 		}
					//- 	},
					birthplace: {
							validators: {
									notEmpty: {
									message: `Please Enter Your Birthplace`
									},
									regexp: {
										regexp: /^([a-zs ]{6,})+$/i,
										message: 'Only Aphabetical Characters, Minimum of 6.'
									},
								}
							},
					address: {
							validators: {
									notEmpty: {
									message: `Please Enter Your Address`
									},
									regexp: {
										regexp: /^([a-zs0-9-, ]{8,})+$/i,
										message: 'Please Enter A Valid Address'
									},
								}
							},
					details: {
							validators: {
									notEmpty: {
									message: `Please Enter Details`
									},
									regexp: {
										regexp: /^([a-zs ]{6,})+$/i,
										message: 'Only Aphabetical Characters, Minimum of 6.'
									},
								}
							},
					image: {
							validators: {
								notEmpty: {
									message: `Please Enter Details`
									},
								}
							},
					//- venue: {
					//- 		validators: {
					//- 				regexp: {
					//- 					regexp: /^([a-zs ]{6,})+$/i,
					//- 					message: 'Only Aphabetical Characters, Minimum of 6.'
					//- 				},
					//- 			}
					//- 		},
					},
				})
			.on('err.field.fv', function(e, data) {
				// Get the first invalid field
				var invalidFields = data.fv.getInvalidFields().length;
				$('#errChecker').val(invalidFields)
			})
			.on('success.field.fv', function(e, data) {
				// Get the first invalid field
				var invalidFields = data.fv.getInvalidFields().length;
				$('#errChecker').val(invalidFields)
			});
		}