extends ../../../../templates/guests
block main
	style.
		@media screen and (max-width: 576px) {
			.col-md-4, .col-md-6, .col-md-9, .col-md-3 {
				padding-left: 0;
				padding-right: 0;
			}
			.form-wizard-step {
					padding-bottom: 10px !important;
			}
		}
		#header-style-1 {
			background-image: url(/imgchurch/ceiling2.jpg)
		}
		.form-wizard-tolal-steps-3 .form-wizard-step {
			width: 49.33%;
		}
		#other > div:nth-child(2) > div > div > div > div.file-preview > div > div.file-drop-zone-title {
			font-size: 1rem;
		}
	#headers
		#header-style-1
			.container
				.header-caption
					.row
						.col-md-12.header-content
							h3.header-title.animated.fadeInDown.invisible
								span.text-primary Helium - 
								| Bootstrap 4 UI Kit
							h5.header-text.animated.fadeIn.invisible
								| Lorem ipsum dolor sit amet, consectetuer adipiscing elit<br>Lorem ipsum dolor sit amet, consectetuer.</h5>
							//- a.page-scroll.btn.btn-lg.btn-default-filled.animated.fadeInUp.invisible(href="#") Download Now
							//- a.page-scroll.btn.btn-lg.btn-common.animated.fadeInUp.invisible(href="#") Explore
		#raised-section.main.main-raised
			section.form-box
				.container
					.row
						.col-md-12.form-wizard
							// Form Wizard
							form(role='form' action="/guest/establishment/form"   enctype="multipart/form-data" method="post")
								h3 Establishment Blessing Form
								p.mb-4 Fill all form fields
								.form-wizard-steps.form-wizard-tolal-steps-3
									.form-wizard-progress
											.form-wizard-progress-line(data-now-value='12.25' data-number-of-steps='3' style='width: 12.25%;')
									// Step 1
									.form-wizard-step.active
											.form-wizard-step-icon
													i.fa.fa-user(aria-hidden='true')
											p.d-none.d-sm-block Schedule Date
									// Step 1
									// Step 2
									.form-wizard-step
											.form-wizard-step-icon
													i.fa.fa-location-arrow(aria-hidden='true')
											p.d-none.d-sm-block Blessing Details
									// Step 2
								// Form Step 1
								fieldset
									h4
										.d-none.d-sm-inline Appointment
										span Step 1 - 2
										h6.label-control.text-lg-center.text-sm-left Desired Date
										.row
											.col-md-6.mx-lg-auto.mx-sm-left.my-lg-auto.my-sm-left.text-lg-center.text-sm-left
												.form-group
													input.datepicker.form-control(type='date' name='desireddate1')
										.row
											.col-md-6.mx-lg-auto.mx-sm-left.my-lg-auto.my-sm-left.text-lg-center.text-sm-left
												.form-group
													h5.label-control Desired Time
													input.timepicker.form-control(type='text' name='desiredtime1'  required='', data-error='Please enter your desired time')
										.learn-more.pull-right
													button.btn.btn-next(type='button') Next
									
								// Form Step 1
								// Form Step 2
								fieldset
									h4
										.d-none.d-sm-inline Blessing Details:
										span Step 2 - 2
										input.form-control(type='hidden' name='userID' value=`${user.int_userID}`)
										.container
											.row
												.col-md-3.px-lg-3.px-md-0.px-sm-0
													.form-group.pt-2
														h6.label-control Place where the blessing will happen:
														.ml-4
															.custom-control.custom-radio.mt-2
																input#ourhomeradio.custom-control-input(type='radio', name='establishment' value="ourhome" checked)
																label.custom-control-label(for='ourhomeradio') 
																	h6 Our Home
															.custom-control.custom-radio
																input#otherradio.custom-control-input(type='radio', name='establishment' value="other")
																label.custom-control-label(for='otherradio') 
																	h6 Other
												.col-md-9.px-lg-3.px-md-3.px-sm-0
													#ourhome.form-group.pt-2
														.row
															.col-md-6.px-lg-3.px-md-3.px-sm-0
																	.form-group
																		h6.label-control Owner:
																		input.form-control(type='text' value=`${user.var_userlname}`+ ', '+`${user.var_userfname}` name='owner' )
																	.form-group
																		h6.label-control House/Establishment Location:
																		textarea.form-control(placeholder="Please Enter Complete Address" rows="1" name='location') #{user.var_useraddress}
															.col-md-6.px-lg-3.px-md-3.px-sm-0
																		.form-group
																			h6.label-control Contact Number:
																			input.form-control(type='text' value=`${user.var_usercontactnum}` name='contactnumber')
																		.form-group
																			h6.label-control Email:
																			input.form-control.mb-2(type='Email' value=`${user.var_useremail}` name='email' )
													#other.form-group.pt-2
														.row
															.col-md-6.px-lg-3.px-md-3.px-sm-0
																.form-group
																	h6.label-control Owner:
																	input.form-control(type='text' placeholder="Enter Name of Owner" name='owner1' pattern="[A-Za-z ]{3,}" )
																	.help-block.with-errors
																.form-group
																	h6.label-control House/Establishment Location:
																	textarea.form-control(placeholder="Please Enter Complete Address" rows="1" name='location1' pattern="^[a-zA-Z0-9,.- ]*${10,}")
																	.help-block.with-errors
															.col-md-6.px-lg-3.px-md-3.px-sm-0
																.form-group
																	h6.label-control Contact Number:
																	input.form-control(type='text' name='contactnumber1' placeholder="XXXXXXXXXXX"  pattern="[0-9]{11}" )
																	.help-block.with-errors
																.form-group
																	h6.label-control Email:
																	input.form-control.mb-2(type='Email' name='email1' placeholder="mark242@gmail.com" )
																	.help-block.with-errors
																	//- pattern="/^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/" email 
														.row
															.col-md-8.px-lg-3.px-md-3.px-sm-0.mx-auto
																.form-group
																		h6.label-control Birth Certificate
																		input#file-0b.file(type='file',accept='image/*',name="image")
											//- .row
											//- 	.col-md-6.px-lg-3.px-md-3.px-sm-0
											//- 		.form-group
											//- 			h6.label-control Desired Date
											//- 			input.datepicker.form-control(type='date' name='desireddate1')
											//- 	.col-md-6.px-lg-3.px-md-3.px-sm-0
											//- 		.form-group.mt-1
											//- 			h6.label-control Desired Time
											//- 			input.timepicker.form-control(type='text' name='desiredtime1')
									.learn-more.pull-right
										button.btn.std-btn.btn-secondary.btn-previous.m-0(type='button') Prev
										button.btn.btn-submit(type='submit') Submit
								// Form Step 2
block addjs
	script.
		//- $('#ourhome').hide();
		$('#other').hide();

		$('#ourhomeradio').click(function() {
			$('#ourhome').slideDown();
			$('#other').slideUp();
		});
		$('#otherradio').click(function() {
			$('#ourhome').slideUp();
			$('#other').slideDown();
		});
