extends ../../../../templates/guests
block main
		style.
				@media screen and (max-width: 576px) {
						.col-md-4, .col-md-6, .col-md-9 {
								padding-left: 0;
								padding-right: 0;
						}
						.form-wizard-step {
								padding-bottom: 10px !important;
						}
				}
				#header-style-1 {
						background-image: url(/imgchurch/bible2.png)
				}
		#headers
				#header-style-1
						.container
								.header-caption
										.row
												.col-md-12.header-content
														h3.header-title.animated.fadeInDown.invisible
																span.text-primary Helium - 
																| Bootstrap 4 UI Kit
														h6.header-text.animated.fadeIn.invisible
																| Lorem ipsum dolor sit amet, consectetuer adipiscing elit<br>Lorem ipsum dolor sit amet, consectetuer.</h6>
														//- a.page-scroll.btn.btn-lg.btn-default-filled.animated.fadeInUp.invisible(href="#") Download Now
														//- a.page-scroll.btn.btn-lg.btn-secondary.animated.fadeInUp.invisible.destination(href="#") Explore
		#raised-section.main.main-raised
			section.form-box
				.container
					.row
						.col-md-12.form-wizard
							h3 Anointing Application
							p Guidelines for Marriage
							hr.mt-2.mx-5
					.row
						.col-md-4
							h3.text-right.text-uppercase.text-primary About the marriage
						.col-md-7
							each desc in description
								p.guidelines--desc #{desc.var_eventdesc}
					.row
						.col-md-4.my-3
							h3.text-right.text-uppercase.guidelines--text Marriage Steps
						.col-md-7.my-3
							each step in steps
								p.mt-3.guidelines--desc #{step.var_weddingstepname}
								
							
					.row
						.col-md-4.my-3
							h3.text-right.text-uppercase.guidelines--text Requirements
						.col-md-7.my-3
							each requirement in requirements
								p.mt-3.guidelines--desc #{requirement.var_reqname}
								
					.row
						.col-md-12.my-3
							.learn-more.text-center
								each event in events
									a.btn.btn-common.inquireButton(href= '/guest/marriage/form'  value=`${event.int_eventID}`) Inquire
//- block addjs
//- 		script.
//- 			$(document).ready(function(){
//- 				$('.inquireButton').click(function(){
//- 					var idNow = $(this).val();
					
//- 							$('#cancelButton').css('display', 'block');
//- 							$('#inquireButton').css('display', 'block');
//- 								$('#inquireButton').click(function(){
//- 									$.post('/login/query',{id:data.firstQuery.int_eventID}).done(data =>{
//- 										window.location=`/login? 
//- 										redirect="${$(this).val()}"`
//- 									})
//- 								})
//- 							})
									
//- 				})
//- 			})