extends ../../../templates/masterhome
mixin card(eventType,bgcolor,margin,icon,title,text)
	a.mx-1(href=`/guest/${eventType}`)
		.card.text-center.p-3(class=`bg-${bgcolor} ${margin}`)
			.card-body.p-2(style="margin-top: 20%")
				i(class=`fa fa-${icon}`)
				h3.mb-2.card-title.text-uppercase= title
				p.card-text.text-uppercase
					| Guidelines & Requirements
				p.card-text.text-uppercase
					| Inquire
mixin carousel(image,alt)
	.col-md-4.p-1
		a(href=image data-toggle="lightbox" data-gallery="img-gallery")
			img.img-fluid(src=image, alt=alt)
block main
	main
		.page-header.header-filter(data-parallax="true" style=" background-image: url('/img/collage.jpg');")
			.container
				.row
					.col-md-9.main-header__textbox
						h1.text-white.text-uppercase Welcome
						h4
							a.text-uppercase(href="#") View Mass Schedules
							|  |  
							a.text-uppercase(href="#") View Office Schedules
		.main.main-raised
			.container
				.section
					.row.text-center.mb-5
						.col-md-8.ml-auto.mr-auto
							h1.main--header.font-italic Parish Services
							h4
								span.description.text-uppercase.main--desc__size Facility Reservation
								|  | 
								span.description.text-uppercase.main--desc__size Event Application
								|  | 
								span.description.text-uppercase.main--desc__size Document Request
							//- button.btn.btn-primary View Details
					#card--guides.row.d-flex.justify-content-center.text-center
						.col-md-4.p-0
							+card("marriage","lightblue","my-1","snowflake-o","Baptism")
						.col-md-4.p-0
							+card("marriage","lightgrey","my-1","snowflake-o","Marriage")
						.col-md-4.p-0
							+card("marriage","lightbrown","my-1","snowflake-o","Blessing")
					.row.pb-5.mb-5
						.col.text-center
							a.btn-design(href="#") View More
					.row.d-flex.justify-content-center.text-center.py-5
						.col.m-4
							i.fa.fa-envelope-o
							h3 Inquire
							p See the information, guidelines and requirements on our services of the parish
						.col.m-4
							i.fa.fa-paper-plane
							h3 Submit
							p Apply on our services and agree and submit all given requirements
						.col.m-4
							i.fa.fa-home
							h3 Visit
							p Go and have a visit to our parish and just show us your receipt on your service
			//-  Home Heading Section
			#home-heading.header-filter.d-none.d-sm-block.m-0(style=" background-image: url('/img/churchbg.jpg');")
				.row.p-5.text-white.text-center
					.col-md-12
						.container.mt-5.mr-5.mb-5.ml-4
							h1.main--header.font-italic.text-white Sunday Mass
							p.sub-header__textbox.font-italic.text-white Tagalog Mass - 7:30am
							p.sub-header__textbox.font-italic.text-white.mb-4 English Mass - 9:00am
							a.btn-design2(href="#") View Schedule
			.container
				.section
					.row
						//- Photo Gallery
						#gallery.py-5.mb-5
							.container
								h1.main--header.font-italic.text-center Photo Gallery
								p.description.text-uppercase.main--desc__size.text-center Check out our photos
								.row.pb-1.pt-4 #{image}
									+carousel("/img/IMG20171004175304.jpg","First Pic")
									+carousel("/img/IMG20170408203149.jpg","Second Pic")
									+carousel("/img/IMG20171203182334.jpg","Third Pic")
								.row
									+carousel("/img/IMG20170212182340.jpg","Fourth Pic")
									+carousel("/img/IMG20171203182334.jpg","Fifth Pic")
									+carousel("/img/IMG20171123173227.jpg","Sixth Pic")
						//- Info Section
						#info.pb-3
							.row
								.col-md-6.text-center
									h1.main--header.font-italic Address
									.container
										p.mb-4 Phase 1 Urban, Payatas B Quezon City. Contact Us at (02) 500-0239. Have questions? Send a message to our email, inlpp@yahoo.com.
										a.btn-design(href="#contacts") Contact Us
								.col-md-6.pl-0
									img.img-fluid(src="img/mappic.png", alt="Laptop")
						//- Contacts
						#contacts
						.row
							.col-md-8.ml-auto.mr-auto.mt-5
								h1.main--header.font-italic.text-center Contact Us
								h4.text-center.description
									|  Want to Join or Had a Question in Mind ?
									| Feel Free to send us your information below.
									| We will respond get back to you in a couple of hours.
								form.contact-form
									.row
										.col-md-6
											.form-group
												label.bmd-label-floating Your Name
												input.form-control(type="text")
										.col-md-6
											.form-group
												label.bmd-label-floating Your Email
												input.form-control(type="email")
									.form-group
										label.bmd-label-floating(for="message") Your Message
										textarea#message.form-control(type="text", rows="3")
									.row
										.col-md-4.ml-auto.mr-auto.text-center.mt-3
											a.btn-design(href="#") Send Message
