extends ../../../../templates/admin
block prepend main
	#wrap
	div(style='clear:both')

	#mainContent
			.content
				.container-fluid
					.row
						.col-lg-12.col-md-12
							// Tab panes
							.tab-content
								#nonwedding.tab-pane.active.mx-3
								
									// Tab panes
									.tab-content
										
										#regularbaptism.tab-pane.active
											.card.shadow
												.card-header.card-header-primary(style='background:#367587; color:white')
													.row
														.col-md-6
															h4.card-title(style='background:#367587; color:white') Files
														.col-md-6
															.form-group.col-md-12
																select#getdivisionname.form-control(onchange='getdivisionname(value);')
																		option(value=`0,${cabinetid}`) All								
																		each division in divisions
																			option(value=`${division.int_divisionID},${division.int_cabinetID}`)=division.var_divisionname
												
												.card-body.table-responsive
													table.table.table-hover.dt-responsive#example(style="width:100%;")
														thead.text-primary
															//- th ID
															th File ID
															th File Name
															th Folder Name
															th Received On
															th Service Name
															//- th.text-right(style=" width:120px") Actions
														tbody#filesappend
															each file in files
																tr
																	td=file.int_fileID
																	td=file.var_reqname
																	td=file.var_foldername
																	td=file.datetime_reqreceived
																	td=file.var_eventname
														//- tfoot
														//- 	//- th ID
														//- 	th File ID
														//- 	th File Name
														//- 	th Folder Name
														//- 	th Received On
														//- 	th Service Name
block addjs
	
	script(type='text/javascript').

		function getdivisionname($i){
			console.log($i)
				$('#filesappend').empty()
				
			$.post('/admin/folderdetails',{id:$i}).done(data=>{
				console.log(data)
				//- var received = moment(data.files[i].date_fullpaymentdeadline).format('MMMM DD, YYYY')
				for(i=0; i<data.files.length; i++){
						$('#filesappend').append(`
								<tr>
										<td>${data.files[i].int_fileID}
										<td>${data.files[i].var_reqname}
										<td>${data.files[i].var_foldername}
										<td>${data.files[i].datetime_reqreceived}
										<td>${data.files[i].var_eventname}
										
									</tr>
						`)
			
					}
			})
		}
		$(document).ready(function() {
				// itong datatable ay hindi galing sa template as in inimport siya beshy kasi hindi lumalabas yung
				// mga export button kapag sa datatable na template
				$('#example').DataTable( {
						dom: 'Bfrtip',
						buttons: [
								'copy', 'csv', 'excel', 'pdf', 'print'
						],
						initComplete: function () {
						this.api().columns().every( function () {
								var column = this;
								var select = $('<select><option value=""></option></select>')
										.appendTo( $(column.footer()).empty() )
										.on( 'change', function () {
												var val = $.fn.dataTable.util.escapeRegex(
														$(this).val()
												);
 
												column
														.search( val ? '^'+val+'$' : '', true, false )
														.draw();
										} );
 
								column.data().unique().sort().each( function ( d, j ) {
										select.append( '<option value="'+d+'">'+d+'</option>' )
								} );
						} );
					}
				} );
			} );
		// ampanget kasi ng itsura ng pagination kaya dito tinanggal ko yung css niya kaya tatawagin lang to
		// pag gumamit ng datatable na hindi from template. Kapag niremove mo yung css diyan tapos cinall mo yung datatable
		// na nasa template, walang design yung pagination ng template kaya ampanget
block filter
	script(src='/admin/bundlesomecssremoved.js')