doctype
html(lang='en')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		title INLPP
		link(rel='shortcut icon', href='/imgchurch/favicon.ico', type='image/x-icon')
		link(rel='icon', href='/imgchurch/favicon.ico', type='image/x-icon')
		link(rel='stylesheet', href='/Helium/css/bootstrap.min.css')
		link(rel='stylesheet', href='/Helium/css/font-awesome.min.css')
		link(rel='stylesheet', href='/Helium/css/owl.carousel.css')
		link(rel='stylesheet', href='/Helium/css/owl.theme.css')
		link(rel='stylesheet', href='/Helium/css/animate.css')
		link(rel='stylesheet', href='/Helium/css/main.css')
		link(rel='stylesheet', href='/css/slicknav.min.css')
		link(rel='stylesheet', href='/Helium/css/extras.css')
		link(rel='stylesheet', href='/Helium/css/responsive.css')
		link(rel='stylesheet', href='/css/modal-anim.css')
		link(rel='stylesheet', href='/css/form-wizard.css')
		link(rel='stylesheet', href='/css/fullcalendar.min.css')
		link(rel='stylesheet', href='/css/loader.css')
		link(rel='stylesheet', href='/css/dataTables.bootstrap4.min.css')
		link(rel='stylesheet', href='/css/responsive.bootstrap4.min.css')
		//- link(rel="stylesheet" href="/css/fileinput.css")
		link(rel="stylesheet" href="/css/fileinput.min.css")
		//- link(rel="stylesheet" href="/css/timedropper.min.css")
		link(rel="stylesheet" href="/css/bootstrap-datetimepicker-solo.css")
		link(href='/themes/explorer-fa/theme.css', media='all', rel='stylesheet')
		link(href='/css/formValidation.css', rel='stylesheet')
		block addcss
		style.
			.fa-trash {
				font-size: 25px;
				padding: 10px !important;
			}
			i.fa-trash {
				cursor: pointer;
				transition: .3s all;
			}
			i.fa-trash:hover {
				transition: .3s all;
				color: red;
			}
			hr {
				border: 0;
				height: 2px;
				background: #333;
				background-image: linear-gradient(to right, rgb(203, 179, 153), #d6b872, rgb(203, 179, 153));
			}
			input::placeholder {
				color: #ada9a0 !important;
			}
			textarea::placeholder {
				color: #ada9a0 !important;
			}
			.btn-next:hover, .btn-submit:hover {
				background-color:#000;
				color:#dddddd
			}
			.btn-previous:hover {
				color: #6c757d;
				background-color:#ffffff;
			}
			#mobile-nav {
				float: none;
				padding-left: 4%;
				}

				.js nav {
				display:none;
				}

				.js .slicknav_menu {
				display:block;
				}

				.btn-sm-round {
					padding: 5px 11px;
				}

				.card-block {
					min-height: 246px;
				}

				.shadow {
					box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

				.shadow2 {
					box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
				}
					
				.shadow3 {
					box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
				}
				.bg-black {
					background-color: #3333338c;
				}

				@media only screen and (max-width: 992px) {
					.slicknav_menu .slicknav_icon-bar {
						background:#cb9c57 !important;
					}
				}

				select{
					width: 100%;
					height: 51px;
				}

				input[type=date]::-webkit-calendar-picker-indicator {
					-webkit-appearance: none;
					display: none;
				}
				.description {
					border-left: 7px solid #cb9c57; font-size: 15px;
					}
				.fa {
					font-size: 20px !important;
				}
				.fa-check::before {
					color: #28a745 !important;
				}
				.fa-times::before {
					color: red !important;
				}
				small {
					font-size: 90% !important;
				}
	body
		#loader
			.spinner
		#wrapper
			block nav
				nav.navbar.navbar-expand-lg.fixed-top.scrolling-navbar.bg-black
					.container
						.navbar-header
							button.navbar-toggler(type='button', data-toggle='collapse', data-target='#main-navbar', aria-controls='main-navbar', aria-expanded='false', aria-label='Toggle navigation')
								span.navbar-toggler-icon
								span.icon-menu
								span.icon-menu
								span.icon-menu
							a.navbar-brand.pt-md-1.pl-md-5.pt-sm-0(href='/guest')
								img.rounded-circle.shadow(src='/Helium/img/INLPP.png', alt='' style="width: 3.5rem")
						#main-navbar.collapse.navbar-collapse
							ul.navbar-nav.mr-auto.w-100.justify-content-end.clearfix.text-uppercase
								li.nav-item: a.nav-link(href="/guest/#about")
									| Home
								li.nav-item: a.nav-link(href="/guest/#services")
									| Services
								li.nav-item: a.nav-link(href="/guest/#portfolio")
									| Events
								li.nav-item: a.nav-link(href="/guest/#contact")
									| Contact
								li.nav-item.dropdown
									a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') My Account
									.dropdown-menu
										a.dropdown-item(href='/guest/profile') My Profile
										a.dropdown-item(href='/guest/messages') Messages
										a.dropdown-item(href='/guest/notification') Notification
										a.dropdown-item(href='/guest/reservation') Reservations
										hr
										a.dropdown-item(href='/logout') Logout
					ul.mobile-menu.navbar-nav.text-uppercase
						li
							a.page-scroll(href='#sliders', role='menuitem', tabindex='-1')
								| Home
						li
							a.page-scroll(href='#services', role='menuitem', tabindex='-1')
								| Services
						li
							a.page-scroll(href='#portfolio', role='menuitem', tabindex='-1')
								| Events
						li
							a.page-scroll(href='#contact', role='menuitem', tabindex='-1')
								| Contact
						li.page-scroll.dropdown
							a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true') My Account
							.dropdown-menu
								a.dropdown-item(href='#') My Profile
								a.dropdown-item(href='#') Messages
								a.dropdown-item(href='#') Notification
								a.dropdown-item(href='/guest/reservation') Reservations
								hr
								a.dropdown-item(href='/logout') Logout
						
		#paymenthistoryModal.modal.fade(tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
			.modal-dialog.modal-lg(role="document")
				.modal-content
					.modal-header(style='background:#802b00; color:white')
						h4.modal-title(style='background:#802b00; color:white') Reminder
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span.p-2(aria-hidden='true' style='background:#802b00; color:white') ×
					.modal-body#paymenthistoryBodyAppend
					.modal-footer
						button.btn.btn-outline.btn-secondary.pull-left#cancellButton(type='button', data-dismiss='modal') Close
						
		block main
		footer.footer
			.container
				
			#copyright
				.container
					.row
						.col-lg-12.col-md-12.col-xs-12
							p.copyright-text.text-center
								| All copyrights reserved © 2018 - Ina ng Lupang Pangako Parish
		a.back-to-top(href='#', style='display: none;')
			i.fa.fa-arrow-up
		#preloader(style='display: none;')
			#loader-1.loader
		script(src='/Helium/js/jquery-min.js')
		script(src="/js/jquery-ui.min.js")
		script(src='/Helium/js/popper.min.js')
		script(src='/Helium/js/bootstrap.min.js')
		script(src='/Helium/js/owl.carousel.min.js')
		script(src='/Helium/js/jquery.mixitup.js')
		script(src='/Helium/js/jquery.countTo.js')
		script(src='/Helium/js/jquery.nav.js')
		script(src='/Helium/js/scrolling-nav.js')
		script(src='/Helium/js/jquery.easing.min.js')
		script(src='/Helium/js/jquery.slicknav.js')
		script(src='/Helium/js/form-validator.min.js')
		script(src='/Helium/js/contact-form-script.js')
		script(src='/Helium/js/main.js')
		script(src='/js/loader.js')
		script(src='/js/moment.min.js')
		//- script(src='/js/timedropper.min.js')
		script(src="/js/calendar.js")
		script(src="/js/fullcalendar.min.js")
		script(src='/js/fileinput.js')
		script(src='/js/datatables.min.js')
		script(src='/js/dataTables.bootstrap4.min.js')
		script(src='/js/dataTables.responsive.min.js')
		script(src='/js/responsive.bootstrap4.min.js')
		script(src='/js/plugins/sortable.js')
		script(src='/js/form-wizard.js')
		script(src='/js/locales/fr.js')
		script(src='/js/locales/es.js')
		script(src='/themes/explorer-fa/theme.js')
		script(src='/themes/fa/theme.js')
		script(src='/js/sweetalert2.all.min.js')
		script(src='/js/jquery.form.js')
		script(src="/js/jquery.validate.js")
		script(src="/js/bootstrap-datetimepicker.min.js")
		//- script(src="/js/jspdf.js")
		script(src="/js/jspdf.min.js")
		script(src='/js/pdfmake.js')
		script(src='/js/vfs_fonts.js')
		script(src='/js/jquery.inputmask.bundle.js')
		script(type='text/javascript', src='/js/formValidation.js')
		script(type='text/javascript', src='/js/bootstrapformvalidation.js')
		script.

			$('.datepicker').datetimepicker({
					format: 'YYYY-MM-DD',
					icons: {
						time: "fa fa-clock-o",
						date: "fa fa-calendar",
						up: "fa fa-chevron-up",
						down: "fa fa-chevron-down",
						previous: 'fa fa-chevron-left',
						next: 'fa fa-chevron-right',
						today: 'fa fa-screenshot',
						clear: 'fa fa-trash',
						close: 'fa fa-remove'
				}
				});

				//date when you were baptized and confirmed
				$('.marriage').datetimepicker({
						format: 'YYYY-MM-DD',
						useCurrent: false,
						viewMode: 'years',
						icons: {
							time: "fa fa-clock-o",
							date: "fa fa-calendar",
							up: "fa fa-chevron-up",
							down: "fa fa-chevron-down",
							previous: 'fa fa-chevron-left',
							next: 'fa fa-chevron-right',
							today: 'fa fa-screenshot',
							clear: 'fa fa-trash',
							close: 'fa fa-remove'
					}
				});

				$('.dateandtimepicker').datetimepicker({
						icons: {
							time: "fa fa-clock-o",
							date: "fa fa-calendar",
							up: "fa fa-chevron-up",
							down: "fa fa-chevron-down",
							previous: 'fa fa-chevron-left',
							next: 'fa fa-chevron-right',
							today: 'fa fa-screenshot',
							clear: 'fa fa-trash',
							close: 'fa fa-remove'
					}
				});
				$('.datepicker1').datetimepicker({
						format: 'YYYY-MM-DD',
						icons: {
							time: "fa fa-clock-o",
							date: "fa fa-calendar",
							up: "fa fa-chevron-up",
							down: "fa fa-chevron-down",
							previous: 'fa fa-chevron-left',
							next: 'fa fa-chevron-right',
							today: 'fa fa-screenshot',
							clear: 'fa fa-trash',
							close: 'fa fa-remove'
					}
				});

				$('.timepicker1').datetimepicker({
					icons: {
						time: "fa fa-clock-o",
						date: "fa fa-calendar",
						up: "fa fa-chevron-up",
						down: "fa fa-chevron-down",
						previous: 'fa fa-chevron-left',
						next: 'fa fa-chevron-right',
						today: 'fa fa-screenshot',
						clear: 'fa fa-trash',
						close: 'fa fa-remove'
					}
				})

				// for Birthday
				let birthdayDate = moment();
				$('.birthday').datetimepicker({
					format: 'YYYY-MM-DD',
					maxDate: birthdayDate,
					useCurrent: false,
					viewMode: 'years',
					icons: {
							time: "fa fa-clock-o",
							date: "fa fa-calendar",
							up: "fa fa-chevron-up",
							down: "fa fa-chevron-down",
							previous: 'fa fa-chevron-left',
							next: 'fa fa-chevron-right',
							today: 'fa fa-screenshot',
							clear: 'fa fa-trash',
							close: 'fa fa-remove',
					},
				});

				$('.birthday').datepicker( "isDisabled" );

				let startTime = moment().hour(8)
				let endTime = moment().hour(21)

				$('.desiredTime').datetimepicker({
					format: 'LT',
					minDate: startTime,
					maxDate: endTime,
					useCurrent: "hour",
					stepping: 30,
					icons: {
						time: "fa fa-clock-o",
						date: "fa fa-calendar",
						up: "fa fa-chevron-up",
						down: "fa fa-chevron-down",
						previous: 'fa fa-chevron-left',
						next: 'fa fa-chevron-right',
						today: 'fa fa-screenshot',
						clear: 'fa fa-trash',
						close: 'fa fa-remove'
					}
				});



			$(document).on('click','.btn-next, .btn-previous',function(event){
				event.preventDefault();
				$('html, body').animate({
					scrollTop:$('.header-text').position().top},600);
				return false;
			});

			if(window.location.href=='http://localhost:3009/guest?loggedin'){
				$.post('/guest/balancechecking').done(data =>{
					console.log(data)

					$('#paymenthistoryBodyAppend').append(`
						<p>Hello, a friendly reminder to complete your transaction before the deadline. Thank you, God bless!</p>
							<div class="col-md-12">
								<div class="table-responsive">
									<table class="table table-hover dataTable fixed_header" >
										<thead class="text-primary">
											<th style ="text-align: left">Event Name</th>
											<th style ="text-align: left">Due Date</th>
											<th style ="text-align: right">Amount</th>
											<th style ="text-align: right">Balance</th>
										</thead>
										<tbody id='paymentsummary'></tbody>
									</table>
								</div>
							</div>
					`)
					for(i=0; i<data.details.length; i++){
								console.log('for')
								var duedate = moment(data.details[i].date_fullpaymentdeadline).format('MMMM DD, YYYY')
								$('#paymentsummary').append(`
									<tr>
										<td style ="text-align: left">${data.details[i].var_eventname}
										<td style ="text-align: left">${duedate}
										<td style ="text-align: right">₱${data.details[i].dbl_amount}
										<td style ="text-align: right">₱${data.details[i].dbl_balance}
									</tr>
								
								`)
					}
					$('#paymenthistoryModal').modal('show')
					$('#paymenthistoryModal').on('hidden.bs.modal',function(){
						$('#paymenthistoryBodyAppend').empty()
					})
				})
			}
			else{
				console.log('no checking')
			}

			$.post('/guest/schedulechecking').done(data =>{
				console.log('checking schedule')
				console.log(data)
			})
			
			$(document).ready(function() {
				$('.dataTable').DataTable( {
						responsive: {
								details: {
										display: $.fn.dataTable.Responsive.display.modal( {
												header: function ( row ) {
														var data = row.data();
														return 'Details for '+data[0]+' '+data[1];
												}
										} ),
										renderer: $.fn.dataTable.Responsive.renderer.tableAll( {
												tableClass: 'table'
										} )
								}
						}
				});
			});
		block addjs