doctype
html
head
	meta(charset='utf-8')
	//- meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
	title Parish Office	
	link(rel='shortcut icon', href='/imgchurch/favicon.ico', type='image/x-icon')
	link(rel='icon', href='/imgchurch/favicon.ico', type='image/x-icon')
	link(href='/css/loader.css', rel='stylesheet')
	link(href='/admin/style.css', rel='stylesheet')
	link(rel="stylesheet" href="/css/bootstrap-material-datetimepicker.css")
	link(rel='stylesheet', href='/css/magnific-popup.css')
	link(rel="stylesheet" href="/css/bootstrap-datetimepicker-solo.css")
	link(rel='stylesheet', href='/css/dataTables.bootstrap4.min.css')
	link(rel='stylesheet', href='/css/buttons.dataTables.min.css')
	link(rel='stylesheet', href='/css/buttons.dataTables.min.css')
	link(rel="stylesheet" href="/css/imageModal.css")
	link(rel="stylesheet" href="/css/jquery.toolbar.css")
	link(href='/css/formValidation.css', rel='stylesheet')
	link(rel='stylesheet', href='/css/fullcalendar.min.css')
	style.
		.shadow {
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

		.shadow2 {
			box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		}
			
		.shadow3 {
			box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
		}
		.addButton:hover {
			background-color: #5cb85c !important;
		}
		.deleteButton:hover {
			background-color: #c9302c !important;
		}
		.updateButton:hover {
			background-color: #5bc0de !important;
		}
		.viewButton:hover {
			background-color: #387ab6 !important;
		}
		.shadow {
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

		.shadow2 {
			box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		}

		.shadow3 {
			box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
		}
		.tableModal {
			font-family: arial, sans-serif;
			border-collapse: collapse;
			width: 100%;
		}
		.tdModal{
			border: 2px solid #dddddd;
			text-align: left;
			padding: 12px;
		}
body.app
	// @TOC
	// ===================================================
	//
		+ @Page Loader
		+ @App Content
		- #Left Sidebar
		> $Sidebar Header
		> $Sidebar Menu
		- #Main
		> $Topbar
		> $App Screen Content
	// @Page Loader
	// ===================================================
	#loader
		.spinner
	// @App Content
	// ===================================================
	div#wrapper
		// #Left Sidebar ====================
		.sidebar
			.sidebar-inner
				// ### $Sidebar Header ###
				.sidebar-logo
					.peers.ai-c.fxw-nw
						.peer.peer-greed
							a.sidebar-link.td-n(href='/secretariat')
								.peers.ai-c.fxw-nw
									.peer
										.logo.text-center.mt-3
											img.rounded-circle.shadow(src='/Helium/img/INLPP.png', alt='' style="width: 4rem")
									.peer.peer-greed
										h5.lh-1.mB-0.logo-text INLPP
						.peer
							.mobile-toggle.sidebar-toggle
								a.td-n(href='')
									i.ti-arrow-circle-left
				// ### $Sidebar Menu ###
				ul.sidebar-menu.scrollable.pos-r
					li.nav-item.mT-30.active
						a.sidebar-link(href='/secretariat')
							span.icon-holder
								i.c-blue-500.ti-dashboard
							span.title Dashboard
				
					li.nav-item
						a.sidebar-link(href='#')
							span.icon-holder
								i.c-deep-orange-500.ti-calendar
							span.title Calendar
					
					li.nav-item.dropdown
						a.dropdown-toggle(href='javascript:void(0);')
							span.icon-holder
								i.c-orange-500.ti-receipt
							span.title Applications
							span.arrow
								i.ti-angle-right
						ul.dropdown-menu
							li.nav-item.dropdown
								a.dropdown-toggle(href='javascript:void(0);')
									span.icon-holder
									span.title Baptism
									span.arrow
										i.ti-angle-right
								ul.dropdown-menu
									li
										a(href='/secretariat/transaction-regularbaptism') Regular Baptism
									li
										a(href='/secretariat/transaction-specialbaptism') Special Baptism
							li
								a(href='/secretariat/transaction-marriage') Marriage		
					li.nav-item.dropdown
						a.dropdown-toggle(href='javascript:void(0);')
							span.icon-holder
								i.c-deep-purple-500.ti-book
							span.title Blessing Request
							span.arrow
								i.ti-angle-right
						ul.dropdown-menu
							li
								a(href='/secretariat/transaction-anointing') Anointing of the sick
							li
								a(href='/secretariat/transaction-funeralmass') Funeral Mass
							li
								a(href='/secretariat/transaction-funeralservice') Funeral Service
							li
								a(href='/secretariat/transaction-houseblessing') House Blessing
					li.nav-item.dropdown
						a.dropdown-toggle(href='javascript:void(0);')
							span.icon-holder
								i.c-deep-purple-500.ti-write
							span.title Walk-in Application
							span.arrow
								i.ti-angle-right
						ul.dropdown-menu
							li
								a(href='/secretariat/walkin-baptism') Baptism
							li
								a(href='/secretariat/walkin-funeralblessing') Funeral Blesing
							li
								a(href='/secretariat/walkin-houseblessing') House Blessing
							li
								a(href='/secretariat/walkin-anointing') Anointing of the sick
							li
								a(href='/secretariat/walkin-marriage') Marriage
					
					li.nav-item
						a.sidebar-link(href='/secretariat/transaction-documentrequest')
							span.icon-holder
								i.c-teal-500.ti-files
							span.title Document Request
					li.nav-item
						a.sidebar-link(href='/secretariat/events')
							span.icon-holder
								i.c-deep-purple-500.ti-pencil-alt
							span.title Events
					//- li.nav-item
					//- 	a.sidebar-link(href='/secretariat/mass')
					//- 		span.icon-holder
					//- 			i.c-deep-orange-500.ti-bell
					//- 		span.title Mass Schedule
					li.nav-item
						a.sidebar-link(href='/secretariat/cancelled')
							span.icon-holder
								i.c-red-500.ti-close
							span.title Cancelled Transactions
					li.nav-item
						a.sidebar-link(href='/secretariat/records')
							span.icon-holder
								i.c-deep-black-500.ti-archive
							span.title Records
					li.nav-item.dropdown
						a.dropdown-toggle(href='javascript:void(0);')
							span.icon-holder
							span.title Files
							span.arrow
								i.ti-angle-right
						ul.dropdown-menu
							li.nav-item.dropdown
								a.dropdown-toggle#filesbutton(href='javascript:void(0);')
									span.icon-holder
										
									span.title All Files
									span.arrow
										i.ti-angle-right
								ul.dropdown-menu#cabinetappend
							li
								a.sidebar-link(href='/secretariat/receipts') Receipts

		// #Main ============================
		.page-container
			// ### $Topbar ###
			.header.navbar
				.header-container
					ul.nav-left
						li
							a#sidebar-toggle.sidebar-toggle(href='javascript:void(0);')
								i.ti-menu
						li.search-box
							a.search-toggle.no-pdd-right(href='javascript:void(0);')
								i.search-icon.ti-search.pdd-right-10
								i.search-icon-close.ti-close.pdd-right-10
						li.search-input
							input.form-control#searchbartext(type='text', placeholder='Search Voucher')
							a.btn.btn-primary#searchbutton(style='color: white; width: 50%; height: 15px') Search
					ul.nav-right
						li.notifications.dropdown
							span.counter.bgc-red#newnotif
							a.dropdown-toggle.no-after#notifbutton(href='', data-toggle='dropdown')
								i.ti-bell
							ul.dropdown-menu
								li.pX-20.pY-15.bdB
									i.ti-bell.pR-10
									span.fsz-sm.fw-600.c-grey-900 Notifications
								li#notifbox
									ul.ovY-a.pos-r.scrollable.lis-n.p-0.m-0.fsz-sm
										
								li.pX-20.pY-15.ta-c.bdT
									span
										a.c-grey-600.cH-blue.fsz-sm.td-n(href='')
											| View All Notifications 
											i.ti-angle-right.fsz-xs.mL-10
						li.notifications.dropdown
							span.counter.bgc-blue#newmessage
							a.dropdown-toggle.no-after#messagesbutton(href='', data-toggle='dropdown')
								i.ti-email
							ul.dropdown-menu
								li.pX-20.pY-15.bdB
									i.ti-email.pR-10
									span.fsz-sm.fw-600.c-grey-900 Emails
								li#messagebox
								
								li.pX-20.pY-15.ta-c.bdT
									span
										a.c-grey-600.cH-blue.fsz-sm.td-n(href='/secretariat/messages')
											| View All Email 
											i.fs-xs.ti-angle-right.mL-10
						li.dropdown
							a.dropdown-toggle.no-after.peers.fxw-nw.ai-c.lh-1(href='/logout')
								.peer
									span.fsz-sm.c-grey-900 Logout
						
			// ### $App Screen Content ###
			main.main-content.bgc-grey-100
				#mainContent
					block main
			// ### $App Screen Footer ###
			//- footer.bdT.ta-c.p-30.lh-0.fsz-sm.c-grey-600
			//- 	span
			//- 		| Copyright © 2017 Designed by 
			//- 		a(href='https://colorlib.com', target='_blank', title='Colorlib') Colorlib
			//- 		| . All rights reserved.
		#searchmodalmain.modal.fade(tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
			.modal-dialog.modal-lg(role="document")
				.modal-content
					.modal-header(style='background:#367587; color:white')
						h5.modal-title(style='background:#367587; color:white') Search Results
						button.close(type='button', data-dismiss='modal', aria-label='Close')
							span(aria-hidden='true' style='background:#367587; color:white') ×
					.modal-body#searchmodal
					.modal-footer
						button.btn.btn-outline.btn-secondary.pull-left#cancelButton(type='button', data-dismiss='modal') Close
	
script(src='/js/jquery.min.js' type='text/javascript')
script(src='/js/loader.js')
script(src='/admin/vendor.js')
script(src='/admin/bundle.js')
script(src='/js/moment.min.js')
script(src='/js/pdfmake.js')
script(src='/js/jquery.toolbar.min.js')
script(src='/js/vfs_fonts.js')
script(src='/js/sweetalert2.all.min.js')
script(src="/js/bootstrap-datetimepicker.min.js")
script(src='/js/jquery.magnific-popup.min.js')
script(src="/js/bootstrap-material-datetimepicker.js")
script(src="/js/imageModal.js")
script(src="/js/popupConfig.js")
script(src="/js/modal.js")
script(src="/js/util.js")
script(src="/js/datatables.min.js")
script(src="/js/dataTables.bootstrap4.min.js")
script(src="/js/dataTables.responsive.min.js")
script(src='/js/dataTables.buttons.min.js')
script(src='/js/buttons.flash.min.js')
script(src='/js/jszip.min.js')
script(src='/js/buttons.html5.min.js')
script(src='/js/buttons.print.min.js')
script(src='/js/tableexport.min.js')
script(src="/js/fullcalendar.min.js")
script(type='text/javascript', src='/js/formValidation.js')
script(type='text/javascript', src='/js/bootstrapformvalidation.js')
script.
	$('.actionButton').toolbar({
		content: '#toolbar-options',
		position: 'top',
		//- style: 'primary',
		event: 'click',
		hideOnClick: true
	});
	

	$.post('/secretariat/messagesButton').done(data =>{
		})
	$.post('/secretariat/notificationsButton').done(data =>{
		
		})
	$.post('/secretariat/checkeventstime').done(data =>{
		console.log(data)
		})
	$.post('/secretariat/getnotifcount').done(data =>{
		$('#newnotif').append(`${data.newnotif.newnotif}`)
		})
	$.post('/secretariat/getmessagecount').done(data =>{
		$('#newmessage').append(`${data.newmessage.newmessage}`)
	})
	$.post('/secretariat/schedulechecking').done(data =>{
				console.log('checking schedule')
				console.log(data)
			})

	$('#messagesbutton').click(function() {
		$('#messagesappend').empty()
			$.post('/secretariat/messagesButton').done(data =>{
				console.log(data)
				console.log('eyy')
				$('#messagebox').append(`
					<ul class="ovY-a pos-r scrollable lis-n p-0 m-0 fsz-sm" id='messagesappend'>
					</ul>
				`)
			for(var i=0; i< data.messages.length; i++){
				$('#messagesappend').append(`
					<li>
						<a class="peers fxw-nw td-n p-20 bdB c-grey-800 cH-blue bgcH-grey-100" href="#">
							<div class="peer mR-15"><img class="w-3r bdrs-50p" src="/img/team/4.jpg" alt="" /></div>
							<div class="peer peer-greed">
								<div>
									<div class="peers jc-sb fxw-nw mB-5">
										<div class="peer">
											<p class="fw-500 mB-0">${data.messages[i].var_userlname}, ${data.messages[i].var_userfname}</p>
										</div>
										<div class="peer"><small class="fsz-xs">${data.messages[i].datetime_sent}</small></div>
									</div><span class="c-grey-600 fsz-sm">${data.messages[i].text_message}</span></div>
							</div>
						</a>
					</li>
				`)
			}
			})
		});

	$('#notifbutton').click(function() {
		$('#notifappend').empty()
			$.post('/secretariat/notificationsButton').done(data =>{
				console.log(data)
				console.log('eyy')
				$('#notifbox').append(`
					<ul class="ovY-a pos-r scrollable lis-n p-0 m-0 fsz-sm" id='notifappend'>
					</ul>
				`)
			for(var i=0; i< data.notifications.length; i++){
				$('#notifappend').append(`
					<li>
						<a class="peers fxw-nw td-n p-20 bdB c-grey-800 cH-blue bgcH-grey-100" href="">
							<div class="peer mR-15"><img class="w-3r bdrs-50p" src="/img/team/4.jpg" alt="" /></div>
							<div class="peer peer-greed"><span><span class="fw-500">${data.notifications[i].var_notifdesc}</span></span>
								</span>
								<p class="m-0"><small class="fsz-xs">${data.notifications[i].datetime_received}</small></p>
							</div>
						</a>
					</li>
				`)
			}
			})
		});

	$('#filesbutton').click(function() {
		console.log('napindot na si files')
		$('#cabinetappend').empty()
			$.post('/secretariat/getcabinets').done(data =>{
				console.log(data)
				console.log('eyy')
				
			for(var i=0; i< data.cabinets.length; i++){
				$('#cabinetappend').append(`
					<li><a href="/secretariat/cabinets?id=${data.cabinets[i].int_cabinetID}">${data.cabinets[i].var_cabinetname}</a></li>
				`)
			}
			})
		});

	$('#searchbutton').click(function() {
		console.log($('#searchbartext').val())
		$('#searchmodal').empty()
		$.post('/secretariat/searchvoucher',{vouchercode: $('#searchbartext').val()}).done(data =>{
							//- <th>Account Name</th>
		$('#searchmodal').append(`
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-hover dataTable fixed_header" >
						<thead class="text-primary">
							<th>Service</th>
							<th>Deadline</th>
							<th>Total Amount</th>
							<th>Balance</th>
							
							
						</thead>
						<tbody id='paymentsummary'></tbody>
					</table>
				</div>
			</div>
		`)
		
			console.log('for')
			console.log(data)
			var duedate = moment(data.details.date_fullpaymentdeadline).format('MMMM DD, YYYY')
					//- <td >${data.details.var_userlname}, ${data.details.var_userlname}
			$('#paymentsummary').append(`
			
				<tr>
					<td>${data.details.var_eventname}
					<td>${duedate}
					<td>${data.details.dbl_amount}
					<td>${data.details.dbl_balance}
				</tr>
			`)
					//- <td class="actions">
					//- 	<button class="btn btn-info btn-sm viewButton" type="button" ">View</button>
					//- 	<button class="btn btn-success btn-sm updateButton mx-1" type="button" ">Edit</button>
					//- 	<button class="btn btn-danger btn-sm cancelButton" type="button">Cancel</button>
					//- 	&nbsp;
		
		$('#searchmodalmain').modal('show')
		$('#searchmodalmain').on('hidden.bs.modal',function(){
			$('#searchmodal').empty()
		})
		});
	})


block addjs
script(src="/js/jspdf.js")
script(src="/js/jspdf.min.js")